@model PersonaModel
<script>
    function onDatePickerChange(e) {
        var datePicker = e.sender;
        var selectedDate = datePicker.value();

        // Verificar si la fecha seleccionada es la fecha predeterminada
        if (selectedDate && selectedDate.getFullYear() == 1 && selectedDate.getMonth() == 0 && selectedDate.getDate() == 1) {
            datePicker.value(null); // Si es la fecha predeterminada, establecer el valor del DatePicker como nulo
        }
    }
    function EntidadDropDownChange() {
        var entidadDDlValue = $("#idEntidadED").data("kendoDropDownList").value();

        showLoading();
        $.ajax({
            url: "/Personas/Municipios_Drop",
            type: "POST",
            data: { entidadDDlValue: entidadDDlValue },
            success: function (data) {
                var municipiosDropDown = $("#idMunicipioED").data("kendoDropDownList");

                var idMunicipio = @((Model.PersonaDireccion.idMunicipio != null) ? Model.PersonaDireccion.idMunicipio : 0);
                console.log("MUN", idMunicipio)
                municipiosDropDown.dataSource.data(data);

                if (idMunicipio !== null && idMunicipio !== undefined &&
                    data.some(item => item.Value == idMunicipio.toString())) {
                    municipiosDropDown.value(idMunicipio.toString());
                }

                hideLoading();
            },
            error: function (xhr, status, error) {
                hideLoading();
            }
        });
    }


    function filterMunicipios() {
        return {
            entidadDDlValue: $("#idEntidadED").data("kendoDropDownList").value()
        };
    }
</script>
<div class="row align-items-center justify-content-between px-4 px-md-4 pt-3 pb-2">
    <div class="col-auto pe-0">
        <div class="row align-items-center justify-content-center justify-content-md-start">
            <div class="col-auto pe-0">
                <i class="iicon-editFisica h1 colorPrimary"></i>
            </div>
            <div class="col-auto my-3">
                <h2 class="m-0 h3"><b>Editar Persona</b></h2>
            </div>
        </div>
    </div>
    <div class="col-auto">
        <div class="row">
            <div class="col-auto my-3">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="bg-light py-1"></div>
    </div>
</div>
<form id="frmEditarPersona" class="row px-4 mb-4 align-items-end justify-content-center">
    @Html.HiddenFor(m=> m.idPersona)
    @Html.HiddenFor(m=> m.PersonaDireccion.idPersona)
    @Html.HiddenFor(m=> m.PersonaDireccion.idPersonasDirecciones)
    <div class="row my-2">
        <div class="col-md-4">
            <div class="controlForm">
                <label>Nombre <b>(obligatorio)</b>:</label>

                @(Html.Kendo().TextBoxFor(t => t.nombre)
                    .HtmlAttributes(new { style = "width: 100%; height:58px;", required = "required" })
                    )
            </div>
        </div>
        <div class="col-md-4">
            <div class="controlForm">
                <label>Apellido paterno:</label>
                @(Html.Kendo().TextBoxFor(t => t.apellidoPaterno)
                    .HtmlAttributes(new { style = "width: 100%; height:58px;" })
                    )
            </div>
        </div>
        <div class="col-md-4">
            <div class="controlForm">
                <label>Apellido materno:</label>
                @(Html.Kendo().TextBoxFor(t => t.apellidoMaterno)
                    .HtmlAttributes(new { style = "width: 100%; height:58px;" })
                    )
            </div>
        </div>

    </div>
    <div class="row my-2">
        <div class="col-md-4">
            <div class="controlForm">
                <label>Fecha de nacimiento <b>(obligatorio)</b>:</label>
                @(Html.Kendo().DatePickerFor(t => t.fechaNacimiento)
                    .Culture("es-ES")
                    .HtmlAttributes(new { style = "width: 100%;", required = "required" })

                    )
            </div>
        </div>
        <div class="col-md-4">
            <div class="controlForm">
                <label>CURP <b>(obligatorio)</b>:</label>
                @(Html.Kendo().TextBoxFor(t => t.CURP)
                    .HtmlAttributes(new { style = "width: 100%; height:58px;" })
                    )
            </div>
        </div>
        <div class="col-md-4">
            <div class="controlForm">
                <label>RFC:</label>
                @(Html.Kendo().TextBoxFor(t => t.RFC)
                    .HtmlAttributes(new { style = "width: 100%; height:58px;" })
                    )
            </div>
        </div>
    </div>
    <div class="row my-2">
        <div class="col-md-6">
            <div class="controlForm">
                <label>Género:</label>
                @(Html.Kendo().DropDownListFor(m => m.idGenero).Filter(FilterType.Contains)
                    .BindTo((SelectList)ViewBag.CatGeneros)
                    .OptionLabel("-- Seleccione --")
                    .HtmlAttributes(new { style = "width:100%;" }))
            </div>
        </div>
        <div class="col-md-6">
            <div class="controlForm">
                <label>Tipo persona:</label>
                @(Html.Kendo().DropDownListFor(m => m.idCatTipoPersona).Filter(FilterType.Contains)
                    .BindTo((SelectList)ViewBag.CatTipoPersona)
                    .OptionLabel("-- Seleccione --")
                    .HtmlAttributes(new { style = "width:100%;" }))
            </div>
        </div>
    </div>
    <div class="row my-2">
        <div class="col-md-4">
            <div class="controlForm">
                <label>No. de licencia:</label>
                @(Html.Kendo().TextBoxFor(t => t.numeroLicencia)
                    .HtmlAttributes(new { style = "width: 100%; height:58px;" })
                    )
            </div>
        </div>
        <div class="col-md-4">
            <div class="controlForm">
                <label>Tipo licencia:</label>
                @(Html.Kendo().DropDownListFor(m => m.idTipoLicencia).Filter(FilterType.Contains)
                    .BindTo((SelectList)ViewBag.CatTipoLicencia)
                    .OptionLabel("-- Seleccione --")
                    .HtmlAttributes(new { style = "width:100%;" }))
            </div>
        </div>
        <div class="col-md-4">
            <div class="controlForm">
                <label>Vigencia licencia:</label>
                @(Html.Kendo().DatePickerFor(t => t.vigenciaLicencia)
                    .Culture("es-ES")
                    .HtmlAttributes(new { style = "width: 100%;" })
                    .Value(Model.vigenciaLicencia != DateTime.MinValue ? Model.vigenciaLicencia : (DateTime?)null)
                    .Events(e => e
                    .Change("onDatePickerChange")
                    )
                    )
            </div>
        </div>
    </div>
    <div class="row my-2">
        <div class="col-md-4">
            <div class="controlForm">
                <label>Entidad:</label>
                @(Html.Kendo().DropDownListFor(m => m.PersonaDireccion.idEntidad).Filter(FilterType.Contains)
                    .DataTextField("Text")
                    .DataValueField("Value")
                    .OptionLabel("Selecciona una opción")
                    .Events(e => e.Change("EntidadDropDownChange"))
                    .DataSource(source =>
                    {
                        source.Read(read =>
                        {
                            read.Action("Entidades_Drop", "Personas");
                        });
                    })
                    .HtmlAttributes(new { style = "width:100%;", id = "idEntidadED" })
                    )
            </div>
        </div>
        <div class="col-md-4">
            <div class="controlForm">
                <label>Municipio:</label>
                @(Html.Kendo().DropDownListFor(m => m.PersonaDireccion.idMunicipio).Filter(FilterType.Contains)
                    .DataTextField("Text")
                    .DataValueField("Value")
                    .OptionLabel("Selecciona un Municipio")
                    .DataSource(source =>
                    {
                        source.Read(read =>
                        {
                            read.Action("Municipios_Drop", "Personas")
                    .Data("filterMunicipios");
                        });
                    })
                    .HtmlAttributes(new { style = "width:100%;", id = "idMunicipioED" }))
            </div>
        </div>
        <div class="col-md-4">
            <div class="controlForm">
                <label>Código postal <b>(obligatorio)</b>:</label>
                @(Html.Kendo().TextBoxFor(t => t.PersonaDireccion.codigoPostal)
                    .HtmlAttributes(new { style = "width: 100%; height:58px;", required = "required" })
                    )
            </div>
        </div>
    </div>
    <div class="row my-2">
        <div class="col-md-4">
            <div class="controlForm">
                <label>Colonia <b>(obligatorio)</b>:</label>
                @(Html.Kendo().TextBoxFor(t => t.PersonaDireccion.colonia)
                    .HtmlAttributes(new { style = "width: 100%; height:58px;", required = "required" })
                    )
            </div>
        </div>
        <div class="col-md-4">
            <div class="controlForm">
                <label>Calle <b>(obligatorio)</b>:</label>
                @(Html.Kendo().TextBoxFor(t => t.PersonaDireccion.calle)
                    .HtmlAttributes(new { style = "width: 100%; height:58px;", required = "required" })
                    )
            </div>
        </div>
        <div class="col-md-4">
            <div class="controlForm">
                <label>Número <b>(obligatorio)</b>:</label>
                @(Html.Kendo().TextBoxFor(t => t.PersonaDireccion.numero)
                    .HtmlAttributes(new { style = "width: 100%; height:58px;", required = "required" })
                    )
            </div>
        </div>
    </div>
    <div class="row my-2">
        <div class="col-md-6">
            <div class="controlForm">
                <label>Teléfono:</label>
                @(Html.Kendo().TextBoxFor(t => t.PersonaDireccion.telefono)
                    .HtmlAttributes(new
                    {
                        style = "width: 100%; height:58px;",
                        id = "telefono"
                    })
                    )
            </div>
        </div>
        <div class="col-md-6">
            <div class="controlForm">
                <label>Correo:</label>
                @(Html.Kendo().TextBoxFor(t => t.PersonaDireccion.correo)
                    .HtmlAttributes(new { style = "width: 100%; height:58px;" })
                    )
            </div>
        </div>
    </div>
</form>
<div class="row my-4">
    <div class="col-12 col-md-6 mx-md-auto">
        <div class="row justify-content-around">
            <div class="col-auto btnOutline my-2 mx-auto mx-xl-2 p-0">
                <button type="button" data-bs-dismiss="modal" aria-label="Close">
                    <h6 class="m-0 px-3"><b>Cerrar</b></h6>
                </button>
            </div>
            <div class="col-auto btnOutline btnOutlinePrimary my-2 mx-auto mx-xl-2 p-0">
                <div class="controlButton">
                    <button class="btnPrimary px-3" onclick="btnEditarPersona()">
                        <h5 class="m-0"><b>Guardar</b></h5>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function btnEditarPersona() {

        var validator = $("#frmEditarPersona").kendoValidator().data('kendoValidator');
        var idTelefono = $("#telefono");
        var idTelefonoValue = idTelefono.val();
        if (idTelefonoValue === null || idTelefonoValue === "") {
            idTelefono.prop("disabled", true);
        }
        idTelefono.off('blur');
        if (validator.validate()) {
            var formData = $("#frmEditarPersona").serialize();
            showLoading();
            $.ajax({
                url: '@Url.Action("ajax_EditarPersona","CapturaAccidentes")',
                type: 'POST',
                data: formData,
                success: function (result) {
                    console.log("DFDF",result)
                    var grid = $("#gridConductores").data("kendoGrid");

                    if (result && result.data) {
                        var dataArray = [result.data];
                        grid.dataSource.data(dataArray);
                    } else {
                        console.error("La respuesta no tiene la estructura esperada:", result);
                    }

                    $('#modalCrearPersona').modal('hide');
                    sitteg_success('Elemento guardado correctamente')
                    hideLoading();
                },
                error: function (xhr, status) {
                    var errmsg = xhr.responseText;
                    console.log(errmsg)
                    sitteg_warning('Lo sentimos, ha ocurrido un error.');
                    hideLoading();
                }
            });
        }
        else {
            idTelefono.prop("disabled", false);
            sitteg_info('Debe llenar los campos requeridos');
            return;
        }
    }


</script>