      @using static GuanajuatoAdminUsuarios.Utils.CatalogosEnums;
      @model GuanajuatoAdminUsuarios.Models.VehiculoModel
      @{
         bool disableInput = false;
    if (Model != null)
    {
        disableInput = Model.encontradoEn == (int)EstatusBusquedaVehiculo.Sitteg ? true : false;
    }
    //En caso de exitir un reporte de robo de REPUVE se asignan las variables para mostrar alerta
    string placaRoboRepuve="";
    string nivRoboRepuve="";
    string fechaRoboRepuve="";
    string fuenteRoboRepuve="";
    string averiguacionRoboRepuve="";
    string fechaAveriguacionRoboRepuve="";
    string agenteRoboRepuve="";

    if(Model.RepuveRobo!=null){
     placaRoboRepuve =Model.RepuveRobo.Placa;
     nivRoboRepuve = Model.RepuveRobo.Niv;
     fechaRoboRepuve = Model.RepuveRobo.Fecha ;
     fuenteRoboRepuve = Model.RepuveRobo.FuenteRobo;
     averiguacionRoboRepuve = Model.RepuveRobo.Averiguacion;
     fechaAveriguacionRoboRepuve = Model.RepuveRobo.FechaAveriguacion;
     agenteRoboRepuve = Model.RepuveRobo.AgenteMinisterioPublico;
    }
}
<script>
    function ChangeSubTipoServicio() {
        var idTipoServicio = $("#ddlCatTipoServicio").data("kendoDropDownList").value();
        var DivSubTipoServicio = $("#DivSubTipoServicio");

        if (idTipoServicio == 1 || idTipoServicio == 5)
            DivSubTipoServicio.css('display', 'block');
        else 
            DivSubTipoServicio.css('display', 'none');

        showLoading();
        $.ajax({
             url: '@Url.Action("GetSubtipoPorTipo_Drop","BusquedaVehiculoPropietario")',
            type: "POST",
            data: { idTipoServicio: idTipoServicio },
            success: function (data) {
                var SubTipoServicio = $("#ddlCatSubTipoServicio").data("kendoDropDownList");
                if (SubTipoServicio) 
                    SubTipoServicio.dataSource.data(data);
                console.log(data);
                hideLoading();
            },
            error: function (xhr, status, error) {
                hideLoading();
            }
        });
    }
	
    $("#ddlCatSubTipoServicio").on("change", function () {
        var value = $(this).val();
        console.log(value);
        $('#hdnidSubtipoServicio').val(value);
    });
</script>
       <section id="sectionCap" class="mx-md-3 mx-lg-4 mx-xl-5 bg-white boxShadow mt-3 mb-5 rounded">
    <div class="row align-items-center justify-content-between px-4 px-md-4 pt-3 pb-2">
        <div class="col-12 col-md-auto pe-0">
            <div class="row align-items-center justify-content-center justify-content-md-start">
                <div class="col-auto">
                    <div class="border border-2 border-dark rounded-circle">
                        <h5 class="m-0 numberCard d-flex align-items-center justify-content-center">
                            <b>1</b>
                        </h5>
                    </div>
                </div>
                <div class="col-auto p-0">
                    <i class="icon-car h1 colorPrimary"></i>
                </div>
                <div class="col-auto my-3">
                    <h2 class="m-0 h3"><b>Captura de vehículo</b></h2>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-7 col-xl-auto">
            <div class="row">
                <div class="col-auto btnOutline my-2 mx-auto mx-xl-2 p-0" onclick="cerrarModalV()">
                    @(Html.Kendo().Button()
                        .Name("editBusqueda")
                        .HtmlAttributes(new { @class = "btnPrimary" })
                        .Content("<h6 class=\"m-0\"><b>Cerrar</b></h6>"))
                </div>
            </div>
        </div>
    </div>
     <div class="row">
        <div class="col-8 pe-0">
            <div class="bgDanger py-1"></div>
        </div>
        <div class="col-4 ps-0">
            <div class="bg-light py-1"></div>
        </div>
    </div>
  @if (Model != null)
    {
        @if (Model.idVehiculo >0)
        {
            <div class="row">
                <div class="col-12 my-4">
                    <h5 class="px-4 colorSuccess d-flex align-items-center"><b class="d-flex align-items-center justify-content-center bgSuccess mb-1 me-2 rounded-circle px-1"><i style="font-size: 10px; padding: 7px 2px;" class="icon-correct text-white"></i></b><b>Vehículo capturado en Registro de Infracciones y Accidentes de Guanajuato</b></h5>
                      @if (Model.ReporteRobo == true)
                    {
                          <div class="row align-items-start"><div class="col-12 col-md-8 col-lg-8"><h5 class="px-4 colorDanger"><b class="text-white bgDanger mb-1 me-2 rounded-circle px-2 h6">i</b><b>El vehículo cuenta con reporte de robo en REPUVE</b><button class="btn" onclick="mostrarMensajeRobado();"><h5 class="colorPrimary"><b>[Ver]</b></h5></button></h5></div></div>
                    }
                    <h6 class="px-4 text-muted">El vehículo ya está capturado en la plataforma. Puede actualizar o corregir la información del vehículo.</h6>
                </div>
            </div>
        }
        else
        {
            <div class="row">
                <div class="col-12 my-4">
                    <h5 class="px-4 colorDanger d-flex align-items-center"><b class="text-white bgDanger mb-1 me-2 rounded-circle px-2 h6">i</b><b>Vehículo sin captura en Registro de Infracciones y Accidentes de Guanajuato</b></h5>
                      @if (Model.ReporteRobo == true)
                    {
                          <div class="row align-items-start"><div class="col-12 col-md-8 col-lg-8"><h5 class="px-4 colorDanger"><b class="text-white bgDanger mb-1 me-2 rounded-circle px-2 h6">i</b><b>El vehículo cuenta con reporte de robo en REPUVE</b><button class="btn" onclick="mostrarMensajeRobado();"><h5 class="colorPrimary"><b>[Ver]</b></h5></button></h5></div></div>
                    }
                     @if (Model.origenDatos!=null)
                        {
                         <h6 class="px-4"><b>Vehículo encontrado en el @Model.origenDatos</b></h6>
                        }
                    <h6 class="px-4 text-muted">Vehículo sin captura en la plataforma <b class="colorPrimary">Realiza o Completa</b> la captura de vehículo.</h6>
                </div>
            </div>
        }
    }

          <!-- ** Formulario de vehiculo ** -->
          <form id="frmCreateVehiculo" class="row px-4 mb-4 align-items-end">
        <div class="col-12 col-md-6 col-lg-3">
            <div class="controlForm my-3">
                <label>Entidad de registro <b>(obligatorio):</b></label>

                @(Html.Kendo().DropDownListFor(model => model.idEntidad).Filter(FilterType.Contains)
                    .DataTextField("Text")
                    .DataValueField("Value")
                    .OptionLabel("Seleccione Entidad...")
                    .HtmlAttributes(new { style = "width:100%;" })
                    .Filter(FilterType.Contains)
                    .DataSource(source =>
                    {
                        source.Read(read =>
                        {
                            read.Action("Entidades_Drop", "BusquedaVehiculoPropietario");
                        });
                    })
                    )
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
            <div class="controlForm my-3">
                <label>Placas:</label>
                @Html.CustomTextBoxFor(model => model.placas,"Ingresa Placa", disableInput)
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
            <div class="controlForm my-3">
                <label>Serie:</label>
                
                
                <!--@Html.CustomTextBoxFor(m => m.serie,"Ingresa Serie", disableInput)-->
                             @if(@disableInput){
                     <span class="k-widget k-textbox" style="width:100%;">
                 <input  type="text" style="width:100%;" value="@Model.serie" name="serie" id="serie" class="k-input k-state-disabled" />
             </span>

             }
             else{
                 <span class="k-widget k-textbox" style="width:100%;">
                 <input  type="text" style="width:100%;" value="@Model.serie" name="serie" id="serie" class="k-input" />
             </span>

             }


            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
            <div class="controlForm my-3">
                @(Html.Kendo().TextBoxFor(m => m.tarjeta)
                    .Label(l => l.Content("Tarjeta:"))
                    .Placeholder("Ingresa el número de la tarjeta")
                    .HtmlAttributes(new { style = "width: 100%" })
                    )
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
            <div class="controlForm my-3">
                <label>Color:</label>
                @(Html.Kendo().DropDownListFor(m => m.idColor).Filter(FilterType.Contains)
                    .DataTextField("Text")
                    .DataValueField("Value")
                    .OptionLabel("Seleccione Color...")
                    .HtmlAttributes(new { style = "width:100%;" })
                    .DataSource(source =>
                    {
                        source.Read(read =>
                        {
                            read.Action("Colores_Drop", "BusquedaVehiculoPropietario");
                        });
                    })
                    )
            </div>
        </div>

        <div class="col-12 col-md-4 col-lg-3 col-xl-2">
            <div class="controlForm my-3">
                <label>Vigencia de tarjeta:</label>
                @if (disableInput)
                {
                    @(Html.Kendo().DatePickerFor(m => m.vigenciaTarjeta).Format("dd/MM/yyyy")
                        .Value("")
                     //   .DateInput()
                        .Culture("es-ES")
                        .HtmlAttributes(new { style = "width: 100%", title = "datetimepicker" })
                        )
                }
                else
                {
                    @(Html.Kendo().DatePickerFor(m => m.vigenciaTarjeta).Format("dd/MM/yyyy")
                        .Value("")
                       // .DateInput()
                        .Culture("es-ES")
                        .HtmlAttributes(new { style = "width: 100%", title = "datetimepicker" })
                        )
                }

            </div>
        </div>

        <div class="col-12 col-md-4 col-lg-3 col-xl-2">
            <div class="controlForm my-3">
                <label>Marca <b>(obligatorio):</b></label>
                @if (Model.idMarcaVehiculo != 0 && Model.idSubmarca !=0)               
                {
                    @(Html.Kendo().DropDownListFor(m => m.idMarcaVehiculo).Filter(FilterType.Contains)
                        .DataTextField("Text")
                        .DataValueField("Value")
                        .OptionLabel("Seleccione Marca...")
                        .HtmlAttributes(new { style = "width:100%;", @readonly = "readonly", id = "ddlMarcas" })
                        .DataSource(source =>
                        {
                            source.Read(read =>
                            {
                                read.Action("Marcas_Drop", "BusquedaVehiculoPropietario");
                            });
                        })
                        )
                }
                else
                {
                    @(Html.Kendo().DropDownListFor(d => d.idMarcaVehiculo).Filter(FilterType.Contains)
                        .DataTextField("Text")
                        .DataValueField("Value")
                        .OptionLabel("Seleccione Marca...")
                        .HtmlAttributes(new { style = "width:100%;", id = "ddlMarcas" })
                        .DataSource(source =>
                        {
                            source.Read(read =>
                            {
                                read.Action("Marcas_Drop", "BusquedaVehiculoPropietario");
                            });
                        })
                        )
                }

            </div>
        </div>

        <div class="col-12 col-md-4 col-lg-3 col-xl-2">
            <div class="controlForm my-3">
                <label>Sub-Marca <b>(obligatorio):</b></label>
                @if (Model.idSubmarca != 0)               
                {
                    @*<div id="divSubmarca">
                @(Html.Kendo().DropDownListFor(f => f.idSubmarca)
                .OptionLabel("-- Seleccione --")
                .HtmlAttributes(new { style = "width:100%;", required = "required", @readonly = "readonly", })
                )

                </div>*@
                    @Html.HiddenFor(m=> m.idSubmarcaUpdated, new { @id = "hdnIdSubmarca" })

                    @(Html.Kendo().DropDownListFor(d => d.idSubmarca).Filter(FilterType.Contains)
                        .DataTextField("Text")
                        .DataValueField("Value")
                        .OptionLabel("Seleccione Sub-Marca...")
                        .HtmlAttributes(new { style = "width:100%;", @readonly = "readonly", id = "idSubmarca" })
                        .DataSource(source =>
                        {
                            source.Read(read =>
                            {
                                read.Action("SubMarcas_Drop", "BusquedaVehiculoPropietario");
                            });
                        })
                        )
                }
                else
                {

                    <div id="divSubmarca">
                        @Html.HiddenFor(m=> m.idSubmarca)
                        @(Html.Kendo().DropDownList()
                            .Name("ddlIdSubIn")
                            .OptionLabel(@Model.submarca)
                            .HtmlAttributes(new { style = "width:100%;" })
                            .Filter(FilterType.Contains)
                            )

                    </div>
                }

            </div>
        </div>

        <div class="col-12 col-md-5 col-lg-4 col-xl-3">
            <div class="controlForm my-3">
                <label>Tipo de vehículo <b>(obligatorio):</b></label>

                @if (Model.idTipoVehiculo != 0)
                {
                    @(Html.Kendo().DropDownListFor(d => d.idTipoVehiculo).Filter(FilterType.Contains)
                        .DataTextField("Text")
                        .DataValueField("Value")
                        .OptionLabel("Seleccione Tipo de vehículo...:")
                        .HtmlAttributes(new { style = "width:100%;", @readonly = "readonly" })
                        .DataSource(source =>
                        {
                            source.Read(read =>
                            {
                                read.Action("TiposVehiculo_Drop", "BusquedaVehiculoPropietario");
                            });
                        })
                        )
                }
                else
                {
                    @(Html.Kendo().DropDownListFor(d => d.idTipoVehiculo).Filter(FilterType.Contains)
                        .DataTextField("Text")
                        .DataValueField("Value")
                        .OptionLabel("Seleccione Tipo de vehículo...:")
                        .HtmlAttributes(new { style = "width:100%;" })
                        .DataSource(source =>
                        {
                            source.Read(read =>
                            {
                                read.Action("TiposVehiculo_Drop", "BusquedaVehiculoPropietario");
                            });
                        })
                        )
                }
            </div>
        </div>

        <div class="col-12 col-md-2 col-lg-3">
            <div class="controlForm my-3">
                <label>Modelo:</label>
                @Html.CustomTextBoxFor(model => model.modelo,"Ingresa Modelo", disableInput)

            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
            <div class="controlForm my-3">
                @(Html.Kendo().TextBoxFor(t => t.numeroEconomico)
                    .Label(l => l.Content("No. económico:"))
                    .Placeholder("Ingresa el número económico")
                    .HtmlAttributes(new { style = "width: 100%" })
                    )
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
            <div class="controlForm my-3">
                @(Html.Kendo().TextBoxFor(t => t.paisManufactura)
                    .Label(l => l.Content("Manufactura:"))
                    .Placeholder("Ingresa Manufactura")
                    .HtmlAttributes(new { style = "width: 100%" })
                    )
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
            <div class="controlForm my-3">
                @(Html.Kendo().TextBoxFor(t => t.motor)
                    .Label(l => l.Content("Motor:"))
                    .Placeholder("Ingresa Motor")
                    .HtmlAttributes(new { style = "width: 100%" })
                    )
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
            <div class="controlForm my-3">
                @(Html.Kendo().TextBoxFor(t => t.capacidad)
                    .Label(l => l.Content("Capacidad:"))
                    .Placeholder("Ingresa Capacidad")
                    .HtmlAttributes(new { style = "width: 100%" })
                    )
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
            <div class="controlForm my-3">
                @(Html.Kendo().TextBoxFor(t => t.poliza)
                    .Label(l => l.Content("Póliza:"))
                    .Placeholder("Ingresa Póliza")
                    .HtmlAttributes(new { style = "width: 100%" })
                    )
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
            <div class="controlForm my-3">
                @(Html.Kendo().TextBoxFor(t => t.otros)
                    .Label(l => l.Content("Otros:"))
                    .Placeholder("Ingresa Otros")
                    .HtmlAttributes(new { style = "width: 100%" })
                    )
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
            <div class="controlForm my-3">
                <label>Carga:</label>
                <div class="btnToggleActive">
                    @Html.HiddenFor(m => m.cargaInt, new { id = "idCarga" })
                    @(Html.Kendo().SwitchFor(m => m.carga)
                            .Messages(c => c.Checked("SI").Unchecked("NO"))
                            .HtmlAttributes(new { id = "cargaSwitch" })

                            )

                </div>
            </div>
        </div>

        @Html.HiddenFor(m=> m.idVehiculo, new { @id = "hdnIdVehiculo" })
        @Html.HiddenFor(m=> m.Persona.idPersona, new { @id = "ddlIdPersona" })
        @Html.HiddenFor(m=> m.Persona.idCatTipoPersona, new { @id = "ddlIdCatTipoPersona" })
        
     <input type="hidden" value="@Model.idCatTipoServicio" name="idCatTipoServicio" id="hdnIdCatTipoServicio">
     <input type="hidden" value="@Model.idSubtipoServicio" name="idSubtipoServicio" id="hdnidSubtipoServicio">
     
     @Html.HiddenFor(m=> m.encontradoEn, new { @id = "hdnEncontradoEn" })

    </form>
    </section>
    <section id="sec2" class="mx-md-3 mx-lg-4 mx-xl-5 bg-white boxShadow my-5 rounded">
    <div class="row align-items-center justify-content-between px-4 px-md-4 pt-3 pb-2">
        <div class="col-12 col-md-auto">
            <div class="row align-items-center justify-content-center justify-content-md-start">
                <div class="col-auto">
                    <div class="border border-2 border-dark rounded-circle">
                        <h5 class="m-0 numberCard d-flex align-items-center justify-content-center">
                            <b>2</b>
                        </h5>
                    </div>
                </div>
                <div class="col-auto p-0">
                    <i class="icon-data h1 colorPrimary"></i>
                </div>
                <div class="col-auto my-3">
                    <h2 class="m-0 h3"><b>Datos del vehículo</b></h2>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-5 pe-0">
            <div class="bgSuccess py-1"></div>
        </div>
        <div class="col-7 ps-0">
            <div class="bg-light py-1"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 my-4">
            <h5 class="px-4"><b>Datos complementarios</b></h5>
            <h6 class="px-4 text-muted">Completa los datos solicitados como tipo de servicio y el propietario.</h6>
        </div>
    </div>
    <div class="row align-items-end px-4">

        <div class="col-6 controlForm my-3" >
                <label>Tipo de Servicio:</label>
                @(Html.Kendo().DropDownListFor(d => d.idCatTipoServicio).Filter(FilterType.Contains)
                    .DataTextField("Text")
                    .DataValueField("Value")
                    .OptionLabel("Seleccione Tipo de Servicio...:")
                    .HtmlAttributes(new { style = "width:100%;", id = "ddlCatTipoServicio" })
                    .Events(e => e.Change("ChangeSubTipoServicio"))
                    .DataSource(source =>
                    {
                        source.Read(read =>
                        {
                            read.Action("TipoServicios_Drop", "BusquedaVehiculoPropietario");
                        });
                    })
                    )
        </div>
         @if (Model.showSubTipo == true)
            {
                <div class="col-6 controlForm my-3" id="DivSubTipoServicio" style="display:block">
                <label>Subtipo de Servicio:</label>
                @(
                Html.Kendo().DropDownListFor(d => d.idSubtipoServicio)
                                            .Filter(FilterType.Contains)

                            .DataTextField("Text")
                            .DataValueField("Value")
                            .OptionLabel("Seleccione Subtipo de Servicio...:")
                            .HtmlAttributes(new { style = "width:100%;", id = "ddlCatSubTipoServicio" })
                            .DataSource(source =>
                            {
                                source.Read(read =>
                                {
                                    read.Action("GetSubtipoPorTipo_Drop", "BusquedaVehiculoPropietario");
                                });
                            })
                            )
            </div>
            } else {
                <div class="col-6 controlForm my-3" id="DivSubTipoServicio" style="display:none">
                <label>Subtipo de Servicio:</label>
                @(
                Html.Kendo().DropDownListFor(d => d.idSubtipoServicio)
                                            .Filter(FilterType.Contains)

                            .DataTextField("Text")
                            .DataValueField("Value")
                            .OptionLabel("Seleccione Subtipo de Servicio...:")
                            .HtmlAttributes(new { style = "width:100%;", id = "ddlCatSubTipoServicio" })
                            .DataSource(source =>
                            {
                                source.Read(read =>
                                {
                                    read.Action("GetSubtipoPorTipo_Drop", "BusquedaVehiculoPropietario");
                                });
                            })
                            )
            </div>
            }   

                @if (Model.Persona.idPersona>0)
{
    if (Model.Persona.idCatTipoPersona == 1)
    {
        <div class="alert alert-warning" role="alert">
            <h4 class="alert-heading">Se encontraron datos de persona física</h4>
            <p class="mb-0">Ingresa a "Agregar Nueva Persona Física" para verificar y guardar los datos.</p>
        </div>
    }
    /*else if (Model.Persona.idCatTipoPersona == 2)
    {
        <div class="alert alert-warning" role="alert">
            <h4 class="alert-heading">Se encontraron datos de persona moral</h4>
            <p class="mb-0">Ingresa a "Agregar Nueva Persona Moral" para verificar y guardar los datos.</p>
        </div>
    }*/
}       
    </div>




    <section id="sec3" style="display:block">
         @if (Model.idTipoPersona.HasValue)
{
    if (Model.idTipoPersona == 1)
    {
        <div class="alert alert-warning" role="alert">
            <h4 class="alert-heading">Se encontraron datos de persona física</h4>
            <p class="mb-0">Ingresa a "Editar" para verificar y guardar los datos.</p>
        </div>
    }
    else if (Model.idTipoPersona == 2)
    {
        <div class="alert alert-warning" role="alert">
            <h4 class="alert-heading">Se encontraron datos de persona moral</h4>
            <p class="mb-0">Ingresa a "Agregar Nueva Persona Moral" para verificar y guardar los datos.</p>
        </div>
    }
}

        <div class="col-12 mt-4 controlForm px-4">
            <label>Tipo de propietario:</label>
        </div>
        <div>
            <nav class="tabCustom">
                <div class="nav nav-tabs row mx-0" id="nav-tab" role="tablist">
                    <button class="nav-link active col" id="person-moral-tab" data-bs-toggle="tab"
                        data-bs-target="#person-moral" type="button" role="tab" aria-controls="person-moral"
                        aria-selected="true">
                        <div class="row justify-content-center align-items-center px-3 py-2">
                            <div class="col-auto radioCustom p-0">
                                <div class="rounded-circle m-2"></div>
                            </div>
                            <div class="col-auto p-0">
                                <h5 class="m-0"><i class="icon-moral h4"></i> <b>Persona moral</b></h5>
                            </div>
                        </div>
                    </button>
                    <button class="nav-link col" id="person-fisica-tab" data-bs-toggle="tab"
                        data-bs-target="#person-fisica" type="button" role="tab" aria-controls="person-fisica"
                        aria-selected="false">
                        <div class="row justify-content-center align-items-center px-3 py-2">
                            <div class="col-auto radioCustom p-0">
                                <div class="rounded-circle m-2"></div>
                            </div>
                            <div class="col-auto p-0">
                                <h5 class="m-0"><i class="icon-fisica h4"></i> <b>Persona física</b></h5>
                            </div>
                        </div>
                    </button>
                    <button class="nav-link col" id="none-person-tab" data-bs-toggle="tab"
                    data-bs-target="#none-person" type="button" role="tab" aria-controls="none-person"
                    aria-selected="false">
                    <div class="row justify-content-center align-items-center px-3 py-2">
                    <div class="col-auto radioCustom p-0">
                    <div class="rounded-circle m-2"></div>
                    </div>
                    <div class="col-auto p-0">
                    <h5 class="m-0"><i class="icon-sinPropietario h4"></i> <b>Se ignora propietario</b></h5>
                    </div>
                    </div>
                    </button>
                </div>
            </nav>

        </div>
       
        <div class="tab-content" id="nav-tabContent">

            @*PERSONA MORAL*@
            <div class="tab-pane tabCustomConteiner fade show active" id="person-moral" role="tabpanel" aria-labelledby="person-moral-tab">
                <div class="row px-4 mt-4 pb-4 align-items-end">
                    <form id="frmSearchPersonaMoral" class="row px-4 mb-4 align-items-end" method="post">
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="controlForm my-3">

                                @(Html.Kendo().TextBoxFor(t => t.PersonaMoralBusquedaModel.RFCBusqueda)
                                    .Label(l => l.Content("RFC:"))
                                    .Placeholder("Ingresa el RFC del propietario o empresa")
                                    .HtmlAttributes(new { style = "width: 100%" })
                                    )
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="controlForm my-3">

                                @(Html.Kendo().TextBoxFor(t => t.PersonaMoralBusquedaModel.RazonSocial)
                                    .Label(l => l.Content("Nombre:"))
                                    .Placeholder("Ingresa el nombre del propietario o empresa")
                                    .HtmlAttributes(new { style = "width: 100%" })
                                    )

                            </div>
                        </div>
                        <div class="col-12 col-md-6 mx-md-auto col-lg-4 mx-lg-0 ">
                            <div class="controlButton my-3">
                                <button class="btnPrimary" type="button" onclick="submitSearchPersonaMoral()">  <h5 class="m-0"><b>Buscar</b></h5></button>
                            </div>
                        </div>

                    </form>
                        <div class="row px-4 py-5 align-items-end">
                    <div class="col-12 col-md-10 mx-md-auto text-center">
                        <h3><b>Aún no has realizado ninguna búsqueda</b></h3>
                        <h4>Realiza la búsqueda con el RFC o nombre de la persona moral</h4>
                        <div class="row ">
                            <div class="col-12 col-md-8 mx-md-auto col-lg-5 ">
                                <div class="btnOutline btnOutlinePrimary my-3">
                                    <button onclick="abrirModalPersonaMoral()">
                                        <h5 class="m-0"><i class="me-2 icon-addMoral"></i><b>Agregar nueva persona moral</b></h5>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="tabCustomEnd"></div>
                    </div>
                </div>
            </div>

            @*PERSONA FISICA*@
            <div class="tab-pane tabCustomConteiner fade" id="person-fisica" role="tabpanel" aria-labelledby="person-fisica-tab">
                <div class="row px-4 mt-4 pb-4 align-items-end">
                              	@await Component.InvokeAsync("BusquedaPersonaFisica",new{config=new GuanajuatoAdminUsuarios.Models.Components.BusquedaPersonaFisicaConfig(),persona=Model.Persona})
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="tabCustomEnd">
                        </div>
                    </div>
                </div>

            </div>


            @*SE IGNORA*@
            <div class="tab-pane tabCustomConteiner fade" id="none-person" role="tabpanel"
                aria-labelledby="none-person-tab">
                <div class="row px-4 mt-4 pb-4 align-items-end">
                    <div class="col-12 col-md-10 mx-md-auto text-center">
                        <h3><b>Se utiliza cuando se tiene una infracción o accidente</b></h3>
                            <h4 class="fw-normal">y se desconoce el propietario o conductor</h4>
                    </div>

                </div>

            </div>

        </div>
    </section>
</section>

    <div id="PersonaMoralLocalizada" style="display:none">
    <partial name="_ListPersonasMorales" model="Model.PersonaMoralBusquedaModel.PersonasMorales" />
</div>


@*PERSONA MORAL*@
<div id="personaMoralContainer"></div>
<div class="modal fade modalCustom" id="modalUpdateMoral"  aria-labelledby="updateMoralLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl boxShadow modal-dialog-centered">
        <div class="modal-content">

            <section class=" bg-white rounded">
                <div class="row align-items-center justify-content-between px-4 px-md-4 pt-3 pb-2">
                    <div class="col-auto pe-0">
                        <div class="row align-items-center justify-content-center justify-content-md-start">
                            <div class="col-auto pe-0">
                                <i class="icon-editMoral h1 colorPrimary"></i>
                            </div>
                            <div class="col-auto my-3">
                                <h2 class="m-0 h3"><b>Editar persona moral</b></h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="row">
                            <div class="col-auto my-3">
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="bg-light py-1"></div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-12 my-4">
                        <h5 class="px-4"><b>Datos de persona moral</b></h5>
                        <h6 class="px-4 text-muted">Completa los datos obligatorios para guardar.</h6>
                    </div>
                </div>

                @*//Modal*@
                <div class="modal-body" id="ModalBodyUpdateMoral">
                </div>


            </section>
        </div>
    </div>
</div>
<div class="row justify-content-center">
  <div class="col-auto btnOutline btnOutlinePrimary my-2 mx-auto mx-xl-2 p-0">
                    <div class="controlButton" onclick="submitCreateVehiculo()">
                        @(Html.Kendo().Button()
                            .Name("saveMoral")
                            .HtmlAttributes(new { @class = "btnPrimary px-5" })
                            .Content("<h5 class=\"m-0\"><b>Finalizar captura</b></h5>"))
                    </div>
                </div>
  </div>

@*Modal de confirmación para salir de la ventana*@


  <div class="modal fade" id="confirmacionModalV"  aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ¿Está seguro de que desea cerrar la ventana y perder la información ingresada?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Aceptar</button>
                <button type="button" class="btn btn-secondary" id="confirmarCerrarV" onclick="cancelarConfirmacionV()">Cancelar</button>
            </div>
        </div>
    </div>
</div>
    <script>
            var vehiculoControlsValidate = [];
          $(document).ready(function() {
                    var esRobado = "@Model.ReporteRobo";
        //Si el vehículo tiene reporte de robo se muestra mensaje
        if (esRobado == "True") {
            setTimeout(() => { mostrarMensajeRobado() }, 400);
        }
    @if (Model.idVehiculo == 0) {
        <text>
        Swal.fire({
        icon: "info",
                title: "Vehículo no registrado en RIAG",
                text: "¡Vehículo sin captura en el Registro de Infracciones y Accidentes de Guanajuato!",
                showCancelButton: true,
                showConfirmButton: false,
                cancelButtonText: "Cerrar",
            });
        </text>
    }
    //Se agregan campos requeridos de vehiculo
    vehiculoControlsValidate.push({ 'controlName': 'idEntidad', 'isDropDown': true });
     vehiculoControlsValidate.push({ 'controlName': 'ddlMarcas', 'isDropDown': true });
     vehiculoControlsValidate.push({ 'controlName': 'idSubmarca', 'isDropDown': true });
     vehiculoControlsValidate.push({ 'controlName': 'idTipoVehiculo', 'isDropDown': true });
      

        //Se agrega a los controles requeridos el evento de perdida de foco para remover el estilo de requerido
        addOnLostFocusRequiredControls(vehiculoControlsValidate);

$("#ddlCatTipoServicio").on("change", function () {
        var value = $(this).val();
        $('#hdnIdCatTipoServicio').val(value);

    });
     $("#ddlMarcas").on("change", function () {
        var value = $(this).val();
        _set_combo_catalog("CatSubmarcasByFilter", value, "idSubmarca", "false", "divSubmarca", "");
        $('#idSubmarca').kendoDropDownList();

    });

     $('#ddlIdPersona').on('onPersonaSeleccionadaTrigger', function (event, data) {
            if (data.idPersona === '' || data.idPersona == 0 || data.idPersona === undefined)
                $('#ddlIdPersona').val('');
            else {
                 $('#ddlIdPersona').val(data.idPersona);
                }
        });

    $('#mensajeBuscandoPersonaFisica').hide();
        buscarPersonasFisicas();
        });

        function buscarPersonasFisicas() {
        //showLoading();
         $('#mensajeBuscandoPersonaFisica').show();
        $.ajax({
            url: '@Url.Action("BuscarPersonasFiscas","BusquedaVehiculoPropietario")',
            type: 'POST',
            success: function (result) {
                 $('#mensajeBuscandoPersonaFisica').hide();
                $("#personasFisicasInf").html(result);
               // hideLoading();
            },error: function () {
                $('#mensajeBuscandoPersonaFisica').hide();
                sitteg_warning("Ocurrio un error al procesar su solicitud.");
                hideLoading();
            }
        });
    }
   function mostrarMensajeRobado() {
        Swal.fire({
            icon: "error",
            title: "Vehículo con REPORTE DE ROBO",
            html: `PLACA: ${"@placaRoboRepuve"}<br>NIV: ${"@nivRoboRepuve"}<br>FECHA: ${"@fechaRoboRepuve"}<br>AVERIGUACION: ${"@averiguacionRoboRepuve"}<br>FECHA DE AVERIGUACION: ${"@fechaAveriguacionRoboRepuve"}<br>FUENTE DE ROBO: ${"@fuenteRoboRepuve"}<br>AGENTE: ${"@agenteRoboRepuve"}`
        });
    }
    function submitSearchPersonaMoral() {
        var Mydata = $("#frmSearchPersonaMoral").serialize();
        showLoading();
        $.ajax({
            url: '@Url.Action("BuscarPersonaMoral")',
            type: 'POST',
            data: Mydata,
            success: function (result) {
                document.getElementById("sec3").style.display = "none";
                document.getElementById("PersonaMoralLocalizada").style.display = "block";
                $("#PersonaMoralLocalizada").html(result);
                var grid = $("#gridPersonasMorales").data("kendoGrid");
                grid.refresh();
                hideLoading();
            },error: function () {
                sitteg_warning("Ocurrio un error al procesar su solicitud.");
                hideLoading();
            }
        });
    }
       function abrirModalPersonaMoral(){
        $.ajax({
            url: '@Url.Action("MostrarPersonaMoral","BusquedaVehiculoPropietario")',
            type: 'GET',
            data: {},
            success: function (result) {
                $('#personaMoralContainer').html(result);
                $('#addMoral').modal('show');
             },
            error: function (xhr, textStatus, errorThrown) {
                console.error("Error en la solicitud AJAX:", textStatus, errorThrown);
            }
    });
    }

    function submitCreateVehiculo() {
        if (!isControlsValidWithFocus(vehiculoControlsValidate).isValid) {
            sitteg_warning('Hacen falta datos o existen datos incorrectos, favor de verificar.');
            return;
        }
    var idPersona = $("#ddlIdPersona").val() ;

    //Se valida que se haya seleccionado una persona
     /*if ($("#ddlIdPersona").val() == '') {
            sitteg_info('Debes seleccionar una Persona');
            return;
        }*/
         var carga = $("#cargaSwitch").prop("checked");
        $("#idCarga").val(carga ? 1 : 0);
         var idTipoSer = $('#hdnIdCatTipoServicio').val();

    
 //Se validan los campos del formulario
        

            var formData = $("#frmCreateVehiculo").serialize();
            var idVeh = $('#hdnIdVehiculo').val();
            showLoading();
            $.ajax({
                url: '@Url.Action("CrearEditarVehiculo","BusquedaVehiculoPropietario")',
                type: 'POST',
                data: formData,
                success: function (result) {
                    sitteg_success('Elemento guardado correctamente')
                        if (result.success || result.crearVehiculo) {
                            console.log("success");
                            $('#IdVehiculoAsignado').val(result.data);
                            $('#IdVehiculoAsignado').change();
                            $('#vehiculoModal').modal('hide');
                            $('#agregarVehiculoModal').modal('hide');
                            $('.modal-backdrop').remove();

                             try{
                                $('#modalVehiculos').modal('hide');
                                 console.log("mostrara info vehiculo");
                                mostrarInfoVehiculo();
                            } catch (error) {
                                console.error(error);
                            }

                        } else {
                             sitteg_warning('Lo sentimos, ha ocurrido un error favor de report');
                        }
                        hideLoading();
                    },
                error: function (xhr, status) {
                    var errmsg = xhr.responseText;
                    sitteg_warning('Lo sentimos, ha ocurrido un error.Comuníquese con su mesa de ayuda');
                    hideLoading();
                }
            });
    }

    function cerrarModalV() {
         $('#confirmacionModalV').modal('show');
          // Maneja el clic en el botón "Aceptar" dentro del modal de confirmación
          $('#confirmarCerrar').on('click', function () {
         $('#confirmacionModalV').modal('hide');
                 // Cierra la ventana
        });
    }
    function cerrarModalFisica(){
   $('#addFisico').modal('hide');
 
}
function cancelarConfirmacionV(){
   $('#confirmacionModalV').modal('hide');
 
}
    </script>