@model GuanajuatoAdminUsuarios.Models.MotivosInfraccionModel

            <section class=" bg-white rounded">
                <div class="row align-items-center justify-content-between px-4 px-md-4 pt-3 pb-2">
                    <div class="col-auto pe-0">
                        <div class="row align-items-center justify-content-center justify-content-md-start">
                            <div class="col-auto pe-0">
                                <i class="icon-addInfracion h1 colorPrimary"></i>
                            </div>
                            <div class="col-auto my-3">
                                <h2 class="m-0 h3"><b>Agregar motivo de infracción</b></h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="row">
                            <div class="col-auto my-3">
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="bg-light py-1"></div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-12 col-lg-6 my-4">
                        <h5 class="px-4"><b>Datos de motivo de infracción</b></h5>
                        <h6 class="px-4 text-muted">Completa los datos obligatorios para guardar.</h6>
                    </div>
                </div>
                <form id="MotivosForm" class="row px-4 mb-4 align-items-end justify-content-center">
                    <div class="col-12 col-md-6">
                        <div class="controlForm my-3">
                            @(Html.Kendo().TextBoxFor(t=>t.Nombre)
                                .Label(l => l.Content("Motivo de infracción <b>(obligatorio)</b>:"))
                                .Placeholder("Ingresa el nombre del motivo de infracción")
                                .HtmlAttributes(new { style = "width: 100%" })
                                )

                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="controlForm my-3">
                            @(Html.Kendo().TextBoxFor(c=>c.CalificacionMinima)
                                .Label(l => l.Content("Calificación mínima <b>(obligatorio)</b>:"))
                                .Placeholder("Mínima")
                                .HtmlAttributes(new { style = "width: 100%", type = "number" })
                                )

                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="controlForm my-3">
                               @(Html.Kendo().TextBoxFor(c => c.CalificacionMaxima)
                                .Label(l => l.Content("Calificación máxima <b>(obligatorio)</b>:"))
                                .Placeholder("Máxima")
                                .HtmlAttributes(new { style = "width: 100%", type = "number" })
                                )

                        </div>
                    </div>
                    <div class="col-12">
                        <div class="controlForm my-3">
                            <span>
                                @(Html.Kendo().TextAreaFor(t=>t.Fundamento)
                                    .Label(label => label.Content("Fundamento <b>(obligatorio)</b>:"))
                                    .Placeholder("Ingresa el fundamento de la infracción.")
                                    .Rows(3)
                                    .MaxLength(200)
                                    .HtmlAttributes(new { style = "width: 100%" })
                                    )
                            </span>
                        </div>
                    </div>

                </form>
                <div class="row my-4">
                    <div class="col-12 col-md-6 mx-md-auto">
                        <div class="row justify-content-around">
                            <div class="col-auto btnOutline my-2 mx-auto mx-xl-2 p-0">
                                <button type="button" data-bs-dismiss="modal" aria-label="Close">
                                    <h6 class="m-0 px-3"><b>Cerrar</b></h6>
                                </button>
                            </div>
                            <div class="col-auto btnOutline btnOutlinePrimary my-2 mx-auto mx-xl-2 p-0">
                                <div class="controlButton">
                                    <button class="btnPrimary px-3" onclick="submitMotivoInfraccion()">
                                        <h5 class="m-0"><b>Guardar</b></h5>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </section>   

    <script>
        function submitMotivoInfraccion() {

            var Mydata = $("#MotivosForm").serialize();
            console.log(Mydata);
            $('#addMotivo').modal('hide');
            $('body').removeClass('model-open');
            $('.modal-backdrop').remove();
            $.ajax({
                url: '@Url.Action("CreatePartialMotivoModal")',
                type: 'POST',
                data: Mydata,
                success: function (result) {
                    $("#tablaMotivosInfraccion").html(result);
                }
            });
        }

    </script>
