@model CatMotivosInfraccionModel
@*RazorCoder*@
@{
    @inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;
    var listaIdsPermitidosJson = @HttpContextAccessor.HttpContext.Session.GetString("IdsPermitidos").ToString();
    var autorizaciones = @HttpContextAccessor.HttpContext.Session.GetString("Autorizaciones").ToString();
}

<script>
    $(document).ready(function () {
        var access = @listaIdsPermitidosJson;
        if (access != undefined && access != '') {
            if (!access.toString().includes(localStorage.getItem("menuId"))) {
                Swal.fire({
                    icon: "error",
                    title: "¡EL usuario no tiene acceso a esta opción!"
                });
                setTimeout(() => {
                    window.location.href = "/Principal";
                }, 200);
            }
        } else {
            Swal.fire({
                icon: "error",
                title: "¡EL usuario no tiene acceso a esta opción!"
            });
            setTimeout(() => {
                window.location.href = "/Principal";
            }, 200);
        }
    });

    function submitSearch() {
        var Mydata = $("#formBuscarMotivo").serialize();
        console.log(Mydata);
        showLoading();
        $.ajax({
            url: '@Url.Action("ajax_BuscarMotivos")',
            type: 'POST',
            data: Mydata,
            success: function (result) {
                $("#tablaMotivosInfraccion").html(result);
                hideLoading();
                // $("#frmSearch")[0].reset();
            },
            error: function (error) {
                sitteg_warning('Sucedió un error, intente mas tarde...');
                hideLoading();
            }
        });
    }


    function onDropDownChange() {
        var selectedValue = $("#ddlVigencia").data("kendoDropDownList").value();
        console.log("Valor seleccionado: " + selectedValue);

        // Ocultar el div con el id "elementosFechas" si el valor seleccionado no es el valor por defecto
        if (selectedValue !== "") {
            $("#elementosFecha").hide();
        } else {
            $("#elementosFecha").show();
        }
    }
</script>
<div class="mainContainer bg-light">

    <div class="row minH100">

        <section class="mx-md-3 mx-lg-4 mx-xl-5 bg-white boxShadow my-5 rounded">
            <div class="row align-items-center justify-content-between px-4 px-md-4 pt-3 pb-2">
                <div class="col-12 col-md-6 col-lg-5 col-xl-auto">
                    <div class="row align-items-center justify-content-center justify-content-md-start">
                        <div class="col-auto">
                            <i class="icon-infracion h1 colorPrimary"></i>
                        </div>
                        <div class="col-auto my-3">
                            <h2 class="m-0 h3"><b>Catálogo de motivos de infracción</b></h2>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-7 col-xl-auto">
                    <div class="row">
                        <div class="col-auto btnOutline btnOutlinePrimary my-2 mx-auto mx-xl-2 p-0">
                            <button href="#" id="btnNuevoMotivo" onclick="mostrarModal()">
                                <h6 class="m-0 d-flex align-items-center"><i class="icon-addInfracion h5 mb-0 me-2"></i><b>Agregar nuevo motivo de infracción</b></h6>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="bg-light py-1"></div>
                </div>
            </div>
             <form id="formBuscarMotivo" class="row px-4 mb-4 align-items-end" method="post">

            <div class="col-12 col-md-6 col-lg-4">
                <div class="controlForm mb-3">
                    <span>
                        @(Html.Kendo().TextBoxFor(t => t.Nombre)
                            .Label(l => l.Content("Nombre:"))
                            .Placeholder("Ingresa el nombre")
                            .HtmlAttributes(new { style = "width: 100%", Id = "txtPlacas" })
                            )
                    </span>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
                <div class="controlForm mb-3">
                    @(Html.Kendo().TextBoxFor(t => t.Fundamento)
                        .Label(l => l.Content("Fundamento:"))
                        .Placeholder("Ingresa fundamento")
                        .HtmlAttributes(new { style = "width: 100%", Id = "txtFundamento" })
                        )

                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="controlForm mb-3">
                    <label>Vigencia:</label>
                @(Html.Kendo().DropDownListFor(d => d.IdVigencia).Filter(FilterType.Contains)
                            .DataTextField("Text")
                            .DataValueField("Value")
                            .HtmlAttributes(new { style = "width:50%;", Id = "ddlVigencia" })
                            .OptionLabel("Todos")
                            .BindTo(new List<SelectListItem>
                        {
                        new SelectListItem { Text = "Vigentes", Value = "1" },
                        new SelectListItem { Text = "No vigentes", Value = "2" }
                        })
                            .Events(e => e.Change("onDropDownChange"))
                                )

                </div>
            </div>
                <div class="row px-2.2 mb-4 align-items-end" id="elementosFecha">
                    <div class="col-12 col-md-5">
                        <div class="controlForm mb-3">
                            <label>Inicio de vigencia desde:</label>
                            @(Html.Kendo().DatePickerFor(t => t.InicioVigenciaDesde).Max(DateTime.Now)
                                .Format("dd/MM/yyyy")
                                .Culture("es-ES")
                                .HtmlAttributes(new { style = "width: 100%", title = "datepicker", id = "inicioVigenciaDesde" })
                                )
                        </div>
                    </div>

                    <div class="col-12 col-md-5">
                        <div class="controlForm mb-3">
                            <label>Inicio de vigencia hasta:</label>
                            @(Html.Kendo().DatePickerFor(t => t.InicioVigenciaHasta)
                                .Format("dd/MM/yyyy")
                                .Culture("es-ES")
                                .HtmlAttributes(new { style = "width: 100%", title = "datepicker", id = "inicioVigenciaHasta" })
                                )
                        </div>
                    </div>

                    <div class="col-12 col-md-5">
                        <div class="controlForm mb-3">
                            <label>Fin de vigencia desde:</label>
                            @(Html.Kendo().DatePickerFor(t => t.FinVigenciaDesde)
                                .Format("dd/MM/yyyy")
                                .Culture("es-ES")
                                .HtmlAttributes(new { style = "width: 100%", title = "datepicker", id = "FinVigenciaDesde" })
                                )
                        </div>
                    </div>

                    <div class="col-12 col-md-5">
                        <div class="controlForm mb-3">
                            <label>Fin de vigencia hasta:</label>
                            @(Html.Kendo().DatePickerFor(t => t.FinVigenciaHasta)
                                .Format("dd/MM/yyyy")
                                .Culture("es-ES")
                                .HtmlAttributes(new { style = "width: 100%", title = "datepicker", id = "FinVigenciaHasta" })
                                )
                        </div>
                    </div>
                </div>

          </form>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="controlButton my-3">
                    <button id="btnBuscarMotivos" class="btnPrimary" type="button" onclick="submitSearch()">  <h5 class="m-0"><b>Buscar</b></h5></button>
                </div>
            </div>
            <div class="row justify-content-between mb-1 titleCustom">
                <div class="col-12 col-md-auto mt-4 mb-2">
                    <h5 class="px-4"><b>Listado de motivos infracción</b></h5>
                    <h6 class="px-4 text-muted">Edita o inactiva los motivos de infracción.</h6>
                </div>
            </div>
          
            <div class="row">
                <div class="col-12 mb-4 px-4 rounded gridCustom">
                       <div class="row">
                             <div id="tablaMotivosInfraccion">
                                <partial name="_ListaMotivosInfraccion" model="Model.ListMotivosInfraccion" />
                             </div>
                       </div>
                 </div>
            </div>

                        
    <div class="modal fade modalCustom" id="addMotivo"  aria-labelledby="addMotivoLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl boxShadow modal-dialog-centered">
            <div class="modal-content">
               <div class="modal-body" id="addMotivoBody">

                </div>
            </div>
        </div>
    </div>

<!--////////////////////////////////////////////////////////////////////////////////////EDITAAR/////////////////////////////////////////////////////////////////////////////////////
    //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
-->

    <div class="modal fade modalCustom" id="editMotivoInfracion"  aria-labelledby="addMotivoLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg boxShadow modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body" id="editarMotivoBody">

                </div>
            </div>
        </div>
    </div>

<!--////////////////////////////////////////////////////////////////////////////////////ELIMINAR/////////////////////////////////////////////////////////////////////////////////////
    //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
-->

    <div class="modal fade modalCustom" id="eliminarMotivoInfraccion"  aria-labelledby="addMotivoLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg boxShadow modal-dialog-centered">
            <div class="modal-content">
                 <div class="modal-body" id="ModalBodyEliminarMotivo">

                 </div>
            </div>
        </div>
    </div>
                            </div>
                        </div>
                    </div>
            </section>
        </div>
    </div>

@*<script src="~/jquery-ajax-unobtrusive/dist/jquery.unobtrusive-ajax.min.js"></script>*@
<script>
    function mostrarModal() {
        $.ajax({
            url: '@Url.Action("AgregarMotivoParcial")',
            type: 'POST',
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            success: function (data) {
                $('#addMotivoBody').html(data);
                $('#addMotivo').modal('show');
            }
        });
    }
    $(document).ready(function () {
        var datePicker = $("#inicioVigenciaDesde").data("kendoDatePicker");
        datePicker.value(null);
    });

    $(document).ready(function () {
        var datePicker = $("#inicioVigenciaHasta").data("kendoDatePicker");
        datePicker.value(null);
    });
    $(document).ready(function () {
        var datePicker = $("#FinVigenciaDesde").data("kendoDatePicker");
        datePicker.value(null);
    });

    $(document).ready(function () {
        var datePicker = $("#FinVigenciaHasta").data("kendoDatePicker");
        datePicker.value(null);
    });
      $(document).ready(function () {
        hideShowElements();

        $("#ddlVigencia").change(function () {
            console.log("Dropdown cambiado");
            hideShowElements();
        });

        function hideShowElements() {
            var selectedValue = $("#ddlVigencia").val();
            console.log("VAL", selectedValue)
            if (selectedValue === "1" || selectedValue === "2") {
                $("#elementosFechas").hide();
            }else{
            $("#elementosFechas").show();
            }          
        }
</script>
