@model GuanajuatoAdminUsuarios.Models.RegistroReciboPagoModel

<div class="px-4 mb-4 align-items-end mt-1">
    <h1>Registro de recibo de pago</h1>
    <hr />

    @if (Model != null)
    {

        <p><b>Folio:</b> @(Model.FolioInfraccion ?? "-")</p>
        <p><b>Monto Calificacion:</b> $@(Model.Monto.HasValue ? Model.Monto.ToString() : "-")</p>


    }
</div>

  <form id ="reciboPagoForm" class="row px-4 mb-4 align-items-end">
      @Html.HiddenFor(m=>m.IdInfraccion)

    <div class="col-12 col-md-6">
        <div class="controlForm my-3">
            @(Html.Kendo().TextBoxFor(m=>m.ReciboPago)
                .Label(l => l.Content("Recibo:"))
                .Placeholder("Ingresa el número del recibo")
                .HtmlAttributes(new { style = "width: 100%" })
                )

        </div>
        <div id="mensajeServicio" class="error-message" style="color:green"></div>
        <div id="mensajeError" class="success-message" style="color:red"></div>
    </div>
    
    <div class="col-12 col-md-6">
        <div class="controlButton my-3">
            <button type="button" onclick="comprobarRecibo($('#ReciboPago').val())" class='btnPrimary'>
                <h5 class="m-0"><i class='icon-data m-0'></i>&nbsp;&nbsp; <b>Comprobar Recibo</b></h5>
            </button>
        </div>
    </div>

    <div class="col-12 col-md-2">
        <div class="controlForm my-3">
            @(Html.Kendo().TextBoxFor(m=>m.Monto)
                .Label(l => l.Content("Monto:"))
                .Placeholder("monto Pagado")
                .Value("$" + Model.Monto)
                .HtmlAttributes(new { style = "width: 100%", @readonly = "readonly" })
                )

        </div>
    </div>
    <div class="col-12 col-md-5">
        <div class="controlForm my-3">
            <label>Fecha:</label>
            @(Html.Kendo().DateTimePickerFor(t => t.FechaPago)
                .Label(l => l.Content("Fecha de pago:"))
                .HtmlAttributes(new { style = "width: 100%", @readonly = "readonly" })
                )
        </div>
    </div>

    <div class="col-12 col-md-5">
        <div class="controlForm my-3">
            @(Html.Kendo().TextBoxFor(m=>m.LugarPago)
                .Label(l => l.Content("Lugar de pago:"))
                .Placeholder("Lugar de pago")
                .HtmlAttributes(new { style = "width: 100%", @readonly = "readonly" })
                )
        </div>
    </div>
</form>
<div class="row px-4 mb-4 align-items-center">
    <div class="col-12 col-md-6 col-lg-4 col-xl-3">
        <div class="btnOutline my-3" id="botnCancelar" style="display: block;" onclick="cerrarModal()">
            @(Html.Kendo().Button()
                .Name("Cerrar")
                .HtmlAttributes(new { @class = "btnOutline" })
                .Content("<h5 class=\"m-0\"><b>Cancelar</b></h5>"))
        </div>
    </div>

   <div class="col-12 col-md-6 col-lg-4 col-xl-3">
        <div class="controlButton my-3" id="botnGuardar" style="display: block;" onclick="guardarReciboPago()">
            @(Html.Kendo().Button()
                .Name("GuardarPago")
            .HtmlAttributes(new { @class = "btnPrimary"}) 
            .Content("<h5 class=\"m-0\"><b>Guardar</b></h5>"))
        </div>

    </div>

</div>
<script>
    function guardarReciboPago() {
        showLoading();
        $.ajax({
            url: '/RegistroReciboPago/GuardarReciboPago',
            type: 'POST',
            data: {
                IdInfraccion: $("#IdInfraccion").val(),
                ReciboPago: $("#ReciboPago").val(),
                Monto: $("#Monto").val(),
                FechaPago: $("#FechaPago").val(),
                LugarPago: $("#LugarPago").val()
            },
            success: function (result) {
                sitteg_success("Información guardada correctamente ");
                $('#modalComprobacion').modal('hide');
                hideLoading();

            },
            error: function (error) {
                sitteg_warning("!Sucedio un error, intente mas tarde...");
                hideLoading();
            }
        });
    }

    function comprobarRecibo(reciboValue) {
        showLoading();
        var id = window.idInfrac
        $.ajax({
            url: '/RegistroReciboPago/ConsultarDocumento',
            type: 'POST',
            data: { recibo: reciboValue,idInfracc :id },
            success: function (response) {
                console.log("RES", response);
                if(response === null){
                    $('#mensajeError').text("Ha ocurrido un error en el servicio intente mas tarde");
                }
                else if (response.hasError) {
                    $('#mensajeError').text(response.message);
                } else {
                    var wType = response.MT_ConsultarDocumento_res.result.WTYPE;
                    var wMessage = response.MT_ConsultarDocumento_res.result.WMESSAGE;
                    if (wType === "E") {
                        if(wMessage!= undefined || wMessage != null || wMessage != ""){
                            $('#mensajeError').text(wMessage);
                        }else{
                            $('#mensajeError').text("No se pudo verificar el recibo de pago, revise que el número este completo y sea correcto");
                        }
                        
                    } else if (wType === "S") {
                        $('#mensajeError').text("");
                        $('#mensajeServicio').text(wMessage);
                        document.getElementById("botnGuardar").style.display = "block";
                        var fechaPago = response.result.MT_ConsultarDocumento_res.result.FECHA_PAGO;
                        var importe = response.result.MT_ConsultarDocumento_res.result.IMPORTE;

                        $('#FechaPago').data("kendoDateTimePicker").value(new Date(fechaPago));
                        $('#Monto').data("kendoTextBox").value(importe);
                    } else {
                        // Mostrar mensaje específico cuando el servicio no responda
                        $('#mensajeError').text("El servicio no está respondiendo en este momento. Por favor, intenta más tarde.");
                    }
                }
                hideLoading();
            },
            error: function (response) {
                console.error('Error en la llamada AJAX:', response);
                hideLoading();
                $('#mensajeError').text("Ha ocurrido un error en la comunicación con el servidor. Por favor, verifica tu conexión y vuelve a intentar.");
            }
        });
    }

    function cerrarModal(){
        $('#modalComprobacion').modal('hide');
    }
</script>