@model GuanajuatoAdminUsuarios.Models.PersonaModel
<script>
    function EntidadDropDownChange() {
        var entidadDDlValue = $("#PersonaDireccion_idEntidad").data("kendoDropDownList").value();
        showLoading();
        $.ajax({
            url: "/Personas/Municipios_Drop",
            type: "POST",
            data: { entidadDDlValue: entidadDDlValue },
            success: function (data) {
                 var municipiosDropDown = $("#PersonaDireccion_idMunicipio").data("kendoDropDownList");
    
                var idMunicipio = @((Model.PersonaDireccion.idMunicipio != null) ? Model.PersonaDireccion.idMunicipio : 0);
                      municipiosDropDown.dataSource.data(data);

                // Establece el valor de idMunicipio si está presente en los nuevos datos
                if (idMunicipio !== null && idMunicipio !== undefined &&
                    data.some(item => item.Value == idMunicipio.toString())) {
                    municipiosDropDown.value(idMunicipio.toString());
                }

                hideLoading();
            },
            error: function (xhr, status, error) {
                hideLoading();
            }
        });
    }
</script>
<div class="modal fade modalCustom" id="addFisico" aria-labelledby="addFisicoLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl boxShadow modal-dialog-centered">
        <div class="modal-content">
            <section class=" bg-white rounded">
                <div class="row align-items-center justify-content-between px-4 px-md-4 pt-3 pb-2">
                    <div class="col-auto pe-0">
                        <div class="row align-items-center justify-content-center justify-content-md-start">
                            <div class="col-auto pe-0">
                                <i class="icon-addFisica h1 colorPrimary"></i>
                            </div>
                            <div class="col-auto my-3">
                                <h2 class="m-0 h3"><b>Agregar persona física</b></h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="row">
                            <div class="col-auto my-3">
                                <button type="button" onclick="cerrarModalFisica()">X</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="bg-light py-1"></div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-12 my-4">
                        <h5 class="px-4"><b>Datos de persona física</b></h5>
                        <h6 class="px-4 text-muted">Completa los datos obligatorios para guardar.</h6>
                    </div>
                </div>
                <form id="personaFisicaForm" class="row px-4 mb-4 align-items-end">
                    @Html.HiddenFor(m=> m.idPersona, new { @id = "idPersona" })
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="controlForm mb-3">
                            @(Html.Kendo().TextBoxFor(t => t.nombre)
                                .Label(l => l.Content("Nombre(s) <b>(obligatorio)</b>:"))
                                .Placeholder("Ingresa el nombre(s)")
                                .HtmlAttributes(new { style = "width: 100%" })
                                @*.HtmlAttributes(new { style = "width: 100%", required = "required" })*@
                                )

                        </div>
                        @*<div id="errorContainerPersona_nombreFisico" class="error-container"></div>*@
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="controlForm my-3">
                            @(Html.Kendo().TextBoxFor(t => t.apellidoPaterno)
                                .Label(l => l.Content("Apellido paterno:"))
                                .Placeholder("Ingresa el apellido paterno")
                                .HtmlAttributes(new { style = "width: 100%" })
                                )

                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="controlForm my-3">
                            @(Html.Kendo().TextBoxFor(t => t.apellidoMaterno)
                                .Label(l => l.Content("Apellido materno:"))
                                .Placeholder("Ingresa el apellido materno")
                                .HtmlAttributes(new { style = "width: 100%" })
                                )

                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="controlForm mb-3">
                            @(Html.Kendo().TextBoxFor(t => t.RFC)
                                .Label(l => l.Content("RFC:"))
                                .Placeholder("Ingresa un RFC válido")
                                .HtmlAttributes(new { style = "width: 100%" })
                                )

                        </div>
                        @*<div id="errorContainerPersona_RFCFisico" class="error-container"></div>*@
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="controlForm mb-3">
                            @(Html.Kendo().TextBoxFor(t => t.CURP)
                                .Label(l => l.Content("CURP:"))
                                .Placeholder("Ingresa un CURP válido")
                                .HtmlAttributes(new { style = "width: 100%" })
                                )
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="controlForm mb-3">
                            <label>Fecha de nacimiento:</label>
                            <span>
                                @(Html.Kendo().DatePickerFor(t => t.fechaNacimiento)
                                    .Culture("es-ES")
                                    .Format("dd/MM/yyyy")
                                    )
                            </span>
                        </div>
                        @*<div id="errorContainerPersona_fechaNacimiento" class="error-container"></div>*@
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="controlForm mb-3">
                            <label>Sexo (obligatorio):</label>
                            <div class="btnToggleActive">
                                @Html.HiddenFor(m => m.idGenero, new { id = "idGenero" })
                                @(Html.Kendo().SwitchFor(m => m.generoBool)
                                    .Messages(c => c.Checked("<span>Hombre</span>").Unchecked("<span>Mujer</span>"))
                                    .HtmlAttributes(new { id = "generoSwitch" })
                                    )
                            </div>
                        </div>
                    </div>



                    <div class="col-12 my-5">
                        <div class="bg-light pt-1 mx-1"></div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="controlForm mb-3">
                            @(Html.Kendo().TextBoxFor(t => t.PersonaDireccion.telefono)
                                .Label(l => l.Content("Teléfono:"))
                                .Placeholder("Ingresa un Teléfono")
                                .HtmlAttributes(new { style = "width: 100%" })
                                )

                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="controlForm mb-3">
                            @(Html.Kendo().TextBoxFor(t => t.PersonaDireccion.correo)
                                .Label(l => l.Content("Correo electrónico:"))
                                .Placeholder("Ingresa un correo electrónico:")
                                .HtmlAttributes(new { style = "width: 100%" })
                                )

                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="controlForm my-3">
                            <label>Entidad (obligatorio):</label>
                            <span>
                                @(Html.Kendo().DropDownListFor(d =>
                                    d.PersonaDireccion.idEntidad).Filter(FilterType.Contains)
                                    .DataTextField("Text")
                                    .DataValueField("Value")
                                    .OptionLabel("Seleccione Entidad...")
                                    .HtmlAttributes(new { style = "width:100%;" })
                                   .Events(e => e.Change("EntidadDropDownChange"))
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action("Entidades_Drop", "BusquedaVehiculoPropietario");
                                        });
                                    })
                                    )
                            </span>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="controlForm my-3">
                            @(Html.Kendo().TextBoxFor(t => t.PersonaDireccion.colonia)
                                .Label(l => l.Content("Colonia (obligatorio:"))
                                .Placeholder("Ingresa una colonia")
                                .HtmlAttributes(new { style = "width: 100%" })
                                @*.HtmlAttributes(new { style = "width: 100%", required = "required" })*@
                                )

                        </div>
                        @*<div id="errorContainerPersona_PersonaDireccion_coloniaFisico"
                        class="error-container"></div>*@
                    </div>

                    <div class="col-12 col-md-6 col-lg-6">
                        <div class="controlForm my-3">
                            @(Html.Kendo().TextBoxFor(t => t.PersonaDireccion.calle)
                                .Label(l => l.Content("Calle (obligatorio):"))
                                .Placeholder("Ingresa una calle")
                                .HtmlAttributes(new { style = "width: 100%" })
                                )

                        </div>
                        @*<div id="errorContainerPersona_calleFisico" class="error-container"></div>*@
                    </div>
                    <div class="col-12 col-md-6 col-lg-2">
                        <div class="controlForm my-3">
                            @(Html.Kendo().TextBoxFor(t => t.PersonaDireccion.numero)
                                .Label(l => l.Content("Número (obligatorio):"))
                                .Placeholder("Ingresa un número exterior")
                                .HtmlAttributes(new { style = "width: 100%" })
                                @*.HtmlAttributes(new { style = "width: 100%", required = "required" })*@
                                )

                        </div>
                        @*<div id="errorContainerPersona_PersonaDireccion_numeroFisico" class="error-container"></div>*@
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div id="divMunicipio" class="controlForm my-3">
                            <label>Municipio (obligatorio):</label>
                            <div id="divMunicipioLista">
                                @(Html.Kendo().DropDownListFor(d =>
                                    d.PersonaDireccion.idMunicipio).Filter(FilterType.Contains)
                                    .DataTextField("Text")
                                    .DataValueField("Value")
                                    .OptionLabel("Seleccione Municipio...")
                                    .HtmlAttributes(new { style = "width:100%;" })
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action("Municipios_Drop", "BusquedaVehiculoPropietario");
                                        });
                                    })
                                    )
                            </div>
                        </div>
                    </div>


                    <div class="col-12 my-5">
                        <div class="bg-light pt-1 mx-1"></div>
                    </div>



                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="controlForm my-3">
                            @(Html.Kendo().TextBoxFor(t => t.numeroLicencia)
                                .Label(l => l.Content("No. Licencia:"))
                                .Placeholder("Ingresa un número de licencia:")
                                .HtmlAttributes(new { style = "width: 100%" })
                                )

                        </div>
                    </div>



                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="controlForm my-3">
                            <label>Tipo de licencia:</label>
                            <span>
                                @(Html.Kendo().DropDownListFor(t => t.idTipoLicencia).Filter(FilterType.Contains)
                                    .Label(l => l.Content("Tipo de Licencia:"))
                                    .DataTextField("Text")
                                    .DataValueField("Value")
                                    .OptionLabel("Selecciona el tipo de licencia")
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action("TipoLicencias_Drop", "BusquedaVehiculoPropietario");
                                        });
                                    })
                                    .HtmlAttributes(new { style = "width:100%;" })
                                    )
                            </span>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="controlForm my-3">
                            <label>Fecha de vencimiento:</label>
                            <span>
                                @(Html.Kendo().DatePickerFor(t => t.vigenciaLicencia)
                                    .Culture("es-ES")
                                    .Format("dd/MM/yyyy"))

                            </span>
                        </div>
                    </div>

                </form>
                <div class="row my-4">
                    <div class="col-12 col-md-6 mx-md-auto">
                        <div class="row justify-content-around">
                            <div class="col-auto btnOutline my-2 mx-auto mx-xl-2 p-0">
                                <button type="button" onclick="cerrarModalFisica()">
                                    <h6 class="m-0 px-3"><b>Cerrar</b></h6>
                                </button>
                            </div>
                            <div class="col-auto btnOutline btnOutlinePrimary my-2 mx-auto mx-xl-2 p-0">
                                <div class="controlButton" onClick="submitCreatePersonaFisica()"
                                    data-bs-dismiss="modal_v" aria-label="Close">
                                    @(Html.Kendo().Button()
                                        .Name("AddFisico")
                                        .HtmlAttributes(new { @class = "btnPrimary px-3" })
                                        .Content("<h5 class=\"m-0\"><b>Guardar ajustes</b></h5>"))
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

            </section>
        </div>
    </div>
</div>
<script>
    var personaFisicaControlsValidate = [];
    $(document).ready(function () {
        //Se agregan las validaciones de campos
        personaFisicaControlsValidate.push({ 'controlName': 'nombre', 'isInput': true });
        personaFisicaControlsValidate.push({ 'controlName': 'PersonaDireccion_telefono', 'isInput': true, 'validators': ['phoneValidator'] });
        personaFisicaControlsValidate.push({ 'controlName': 'PersonaDireccion_correo', 'isInput': true, 'validators': ['emailValidator'] });
        personaFisicaControlsValidate.push({ 'controlName': 'PersonaDireccion_idEntidad', 'isDropDown': true });
        personaFisicaControlsValidate.push({ 'controlName': 'PersonaDireccion_colonia', 'isInput': true });
        personaFisicaControlsValidate.push({ 'controlName': 'PersonaDireccion_calle', 'isInput': true });
        personaFisicaControlsValidate.push({ 'controlName': 'PersonaDireccion_numero', 'isInput': true });
        personaFisicaControlsValidate.push({ 'controlName': 'PersonaDireccion_idMunicipio', 'isDropDown': true });
        //Se agrega a los controles requeridos el evento de perdida de foco para remover el estilo de requerido
        addOnLostFocusRequiredControls(personaFisicaControlsValidate);

          var entidadDDlValue = $("#PersonaDireccion_idEntidad").data("kendoDropDownList").value();
          if(entidadDDlValue!=undefined){
            EntidadDropDownChange();
          }

        /*$("#PersonaDireccion_idEntidad").on("change", function () {
            var value = $(this).val();
            _set_combo_catalog("CatMunicipiosByEntidad", value, "PersonaDireccion_idMunicipio", "false", "divMunicipioLista", "");
            $('#PersonaDireccion_idMunicipio').kendoDropDownList();

        });*/
    });

    
    function submitCreatePersonaFisica() {
        //Se validan los campos del formulario
        if (!isControlsValidWithFocus(personaFisicaControlsValidate).isValid) {
            sitteg_warning('Hacen falta datos o existen datos incorrectos, favor de verificar.');
            return;
        }


        var generoBool = $("#generoSwitch").prop("checked");
        $("#idGenero").val(generoBool ? 1 : 2);

        var Mydata = $("#personaFisicaForm").serialize();
        showLoading();
        $.ajax({
            url: '@Url.Action("CrearPersonaFisica", "BusquedaVehiculoPropietario")',
            type: 'POST',
            data: Mydata,
            success: function (result) {
                hideLoading();
                cargaListaPersonasRiagEncontradas(result.data);
                $('#addFisico').modal('hide');
           
            },
            error: function (xhr, textStatus, errorThrown) {
                console.error("Error en la solicitud AJAX:", textStatus, errorThrown);
                hideLoading();
            }
        });
    }

    function cerrarModalFisica(){
        $('#confirmacionModal').modal('show');
          // Maneja el clic en el botón "Aceptar" dentro del modal de confirmación
          $('#confirmarCerrar').on('click', function () {
         $('#confirmacionModal').modal('hide');
            $('#addFisico').modal('hide');
        });
       
 
}
</script>