@model GuanajuatoAdminUsuarios.Models.CancelarInfraccionModel

<script>

    function cancelarInfraccion() {
        var folio = $("#folio_infraccion").val();
        $.when(guardarCancelacion()).then(cancelarFinanzas(folio));

    }

    function guardarCancelacion() {


        var Mydata = $("#cancelarInfraccionForm").serialize();

        $.ajax({
            url: '@Url.Action("IniciarCancelacion", "CancelarInfraccion")',
            type: 'POST',
            data: Mydata,
            success: function (result) {  
                sitteg_info('Se ha actualizado la información'); 
            },
            error: function (error) { 
                sitteg_warning('Sucedió un error, intente mas tarde...');
            }
        });
    }

    function cancelarFinanzas(folio_infraccion){

        $.ajax({
            url: '/CancelarInfraccion/AnulacionDocumento',
            type: 'POST',
            data: { folio_infraccion: folio_infraccion },
            success: function (response) { 

                var wType = response.MT_AnulacionDocumento_res.result.WTYPE;
                var wMessage = response.MT_AnulacionDocumento_res.result.WMESSAGE;
                var wDoctoCancel = response.MT_AnulacionDocumento_res.result.DOCTO_CANCEL;

                console.log(response);

                if (wType === "E") { 

                    sitteg_warning('No se pudo cancelar en Finanzas. ' + wMessage + '.');
                    

                } else if (wType === "S") { 

                    sitteg_success('Infracción cancelada en Finanzas. ' + wMessage);
                   
                }
                 
            },
            error: function (response) {
                console.error('Error en la llamada AJAX:', response);
            }
        });
    }

</script>

    <div class="col-12 col-md-6">

    @if (Model != null)
    {
        <input type="hidden" id="folio_infraccion" value="@Model.FolioInfraccion"/>
        <div>
         <div class="col-12 col-md-auto mt-4 mb-2">
            <h5 class="px-4"><b>Datos de revocación del folio:</b> @Model.FolioInfraccion</h5>       
          </div>
            <div class="row">
                <div class="col-md-6">
                <h6 class="px-4 text-muted"><b>Folio:</b>@Model.FolioInfraccion</h6>
                <h6 class="px-4 text-muted"><b>Fecha:</b>@Model.FechaInfraccion</h6>
                <h6 class="px-4 text-muted"><b>Placas:</b>@Model.Placas</h6>
                <h6 class="px-4 text-muted"><b>Serie:</b>@Model.Serie</h6>
            </div>
            <div class="col-md-6">
                <h6 class="px-4 text-muted"><b>Conductor:</b>@Model.Conductor</h6>
                <h6 class="px-4 text-muted"><b>Propietario:</b>@Model.Propietario</h6>
                <h6 class="px-4 text-muted"><b>Estatus:</b>@Model.descEstatusProceso</h6>
                </div>
            </div>
     </div>
      
    }
 <form id="cancelarInfraccionForm" class="row px-4 mb-4 align-items-end justify-content-center">

        <div class="controlForm my-3">
            @Html.HiddenFor(m=>m.IdInfraccion)
            @(Html.Kendo().TextBoxFor(m=>m.OficioRevocacion)
                .Label(l => l.Content("Oficio de Revocación <b>(obligatorio)</b>:"))
                .Placeholder("Ingresa oficio de revocación")
                )

        </div>
    </form>

    <div class="col-auto btnOutline btnOutlinePrimary my-2 mx-auto mx-xl-2 p-0">
        <div class="controlButton">
            <button class="btnPrimary px-3" onclick="cancelarInfraccion()">
                <h5 class="m-0"><b>Guardar</b></h5>
            </button>
        </div>
    </div>
    
</div>

