@model GuanajuatoAdminUsuarios.Models.BusquedaPersonaModel
@{
    var headerAlign = Model.IsModal ? "align-items-center justify-content-between" : "align-items-end justify-content-end";
}
<script>
function buscarPersonaFisica(){
        var licenciaBusqueda = $("#NumeroLicenciaBusqueda").val().trim();
        var rfcBusqueda = $("#RFCBusqueda").val().trim();
        var curpBusqueda = $("#CURPBusqueda").val().trim();
        var nombreBusqueda = $("#NombreBusqueda").val().trim();
        var apellidoPaternoBusqueda = $("#ApellidoPaternoBusqueda").val().trim();
   

        if (licenciaBusqueda !== "") {
            if (licenciaBusqueda.length < 10) {
                sitteg_warning("El número de licencia debe tener al menos 10 caracteres.");
                return;
            }
        }
        if (rfcBusqueda !== "") {
            if (rfcBusqueda.length < 10) {
                sitteg_warning("El RFC debe tener al menos 10 caracteres.");
                return;
            }
        }
        if (curpBusqueda !== "") {
            if (curpBusqueda.length < 10) {
                sitteg_warning("El CURP debe tener al menos 10 caracteres.");
                return;
            }
        }
        if ((nombreBusqueda !== "" || apellidoPaternoBusqueda !== "") &&
            (nombreBusqueda.length < 3 || apellidoPaternoBusqueda.length < 3)) {
            sitteg_warning("El nombre y el apellido paterno deben tener al menos 3 caracteres.");
            return;
        }

        mostrarMensajeBuscando('Buscando personas en RIAG...');
       resetPersonasContainer();
        var formData = $("#buscarPersonaFisicaForm").serialize();

        $.ajax({
          url: '@Url.Action("BuscarPersonaFisicaWithPaginado","BusquedaVehiculoPropietario")',
            type: 'POST',
            data: formData,
            success: function (response) {
                resetMensajeBuscando();
                if (!response.encontrada) {
                    resetMensajeBuscando();
                    buscaEnLicencias()
                    return;
                }
                cargaListaPersonasRiagEncontradas(response.result);              
            },
            error: function (error) {
                sitteg_warning('Ocurrió un error en la búsqueda.');
                resetMensajeBuscando();
            }
        });
    }

     function cargaListaPersonasRiagEncontradas(model){
         resetPersonasContainer();
        mostrarMensajeBuscando('Cargando personas de RIAG...');
         $.ajax({
          url: '@Url.Action("MostrarListaPersonasRiagEncontradas","BusquedaVehiculoPropietario")',
            type: 'POST',
            data: model,
            success: function (response) {
                $("#listadoPersonasContainer").fadeIn();
                 $("#listadoPersonasRiagContainer").html(response);
                  $("#listadoPersonasRiagContainer").show();
                  resetMensajeBuscando();
              
            },
            error: function (error) {
                sitteg_warning('Ocurrió un error en la búsqueda.');
                resetMensajeBuscando();
            }
        });
    }

    function cargaListaPersonasLicenciasEncontradas(model){
         resetPersonasContainer();
        mostrarMensajeBuscando('Cargando personas de Licencias...');
         $.ajax({
          url: '@Url.Action("MostrarListaPersonasLicenciasEncontradas","BusquedaVehiculoPropietario")',
            type: 'POST',
            data: model,
            success: function (response) {
                $("#listadoPersonasContainer").fadeIn();
                 $("#listadoPersonasLicenciasContainer").html(response);
                 $("#listadoPersonasLicenciasContainer").show();
                resetMensajeBuscando();
            },
            error: function (error) {
                sitteg_warning('Ocurrió un error en la búsqueda.');
                resetMensajeBuscando();
            }
        });
    }

     function buscaEnLicencias() {
       mostrarMensajeBuscando('Buscando personas en Licencias...');
         resetPersonasContainer();
        var formData = $("#buscarPersonaFisicaForm").serialize();
        $.ajax({
            url: '@Url.Action("BuscarPersonasEnLicencias","BusquedaVehiculoPropietario")',
            type: 'POST',
            data: formData,
            success: function (response) {
                    resetMensajeBuscando();
                    if (response.length >0) {
                        cargaListaPersonasLicenciasEncontradas({ListadoPersonas:response});
                    }
                    else {
                        mostrarMensajeBuscando('No se encontraron personas con los datos introducidos, intenta con otros o agrega a la persona');
                }
            },
            error: function (error) {
                sitteg_warning('Ocurrió un error en la búsqueda.');
                resetMensajeBuscando();
            }
        });

    }
     function mostrarMensajeBuscando(mensaje){
     $('#divMensajeBuscando').show();
     $('#spanMensajeBuscando').html(`<b>${mensaje}</b>`);
    }

    function resetMensajeBuscando(){
     $('#divMensajeBuscando').hide();
     $('#spanMensajeBuscando').html('');
    }

    function resetPersonasContainer(){
        $("#listadoPersonasContainer").fadeOut();
        $("#listadoPersonasLicenciasContainer").html('');
        $("#listadoPersonasRiagContainer").html('');
    }
</script>

<section class="bg-white boxShadow rounded">
    <div class="row @headerAlign px-4 px-md-4 pt-3 pb-2">
        @if (Model.IsModal)
        {
            <div class="col-12 col-md-6 col-lg-7 col-xl-auto">
            <div class="row">
                <div class="col-auto btnOutline my-2 mx-auto mx-xl-2 p-0" onclick="cerrarModalConductor()">
                    @(
                            Html.Kendo().Button()
                                .Name("backAccidentes3")
                                .HtmlAttributes(new { @class = "px-5" })
                                .Content("<h6 class=\"m-0\"><i class=\"icon-back me-2\" data-bs-dismiss=\"modal\" aria - label = \"Close\" ></i><b>Regresar</b></h6>")
                            )
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-auto">
            <div class="row align-items-center justify-content-center justify-content-md-start">
                <div class="col-auto p-0">
                    <i class="icon-oficial h1 colorPrimary"></i>
                </div>
                <div class="col-auto my-3">
                    <h2 class="m-0 h3"><b>Personas</b></h2>
                </div>
            </div>
        </div>
        }
        <div class="col-12 col-md-6 col-lg-7 col-xl-auto">
            <div class="row">
                <div class="col-auto btnOutline btnOutlinePrimary my-2 mx-auto mx-xl-2 p-0">
                    <button href="#" id="btnCrearPersona" onclick="btnModalCrearPersona()">
                        <h6 class="m-0 d-flex align-items-center"><i class="icon-addConcecionario h2 mb-0 me-2"></i><b>Agregar nueva persona</b></h6>
                    </button>
                </div>

            </div>
        </div>
    </div>
    <form id="buscarPersonaFisicaForm">
        <div class="row px-4 mt-4 pb-4 align-items-end">
            <div class="col-12 col-md-6 col-lg-3">
                <div class="controlForm my-3">
                    @(Html.Kendo().TextBoxFor(t => t.NumeroLicenciaBusqueda)
                        .Label(l => l.Content("No. de licencia:"))
                        .Placeholder("Ingresa el número de licencia válido")
                        .HtmlAttributes(new { style = "width: 100%" })
                        )
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="controlForm my-3">
                    @(Html.Kendo().TextBoxFor(t => t.CURPBusqueda)
                        .Label(l => l.Content("CURP:"))
                        .Placeholder("Ingresa el CURP del propietario")
                        .HtmlAttributes(new { style = "width: 100%" })
                        )
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="controlForm my-3">
                    @(Html.Kendo().TextBoxFor(t => t.RFCBusqueda)
                        .Label(l => l.Content("RFC:"))
                        .Placeholder("Ingresa el RFC del propietario")
                        .HtmlAttributes(new { style = "width: 100%" })
                        )

                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3">
                <div class="controlForm my-3">
                    @(Html.Kendo().TextBoxFor(t => t.NombreBusqueda)
                        .Label(l => l.Content("Nombre(s):"))
                        .Placeholder("Ingresa el nombre(s) del propietario")
                        .HtmlAttributes(new { style = "width: 100%" })
                        )

                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="controlForm my-3">
                    @(Html.Kendo().TextBoxFor(t => t.ApellidoPaternoBusqueda)
                        .Label(l => l.Content("Apellido paterno:"))
                        .Placeholder("Ingresa el apellido paterno")
                        .HtmlAttributes(new { style = "width: 100%" })
                        )

                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="controlForm my-3">
                    @(Html.Kendo().TextBoxFor(t => t.ApellidoMaternoBusqueda)
                        .Label(l => l.Content("Apellido materno:"))
                        .Placeholder("Ingresa el apellido materno")
                        .HtmlAttributes(new { style = "width: 100%" })
                        )

                </div>
            </div>
                <div class="col-12 col-md-6 mx-md-auto col-lg-3 mx-lg-0">
        <div class="controlButton my-3">
                @(Html.Kendo().Button()
                    .Name("buscarOtroConductor")
                    .HtmlAttributes(new {type = "button", @class = "btnPrimary" })
                     .Events(ev => ev.Click("buscarPersonaFisica"))
                    .Content("<h5 class=\"m-0\"><b>Buscar</b></h5>"))
        </div>
    </div>
        </div>
    </form>
    <div class="row">
        <div class="col-12">
            <div class="bg-light py-1"></div>
        </div>
    </div>
           <div id="divMensajeBuscando" class="col-md-10 my-2 py-3">
                        <span id="spanMensajeBuscando"></span>
            </div>
        @*Table*@
        <div id="listadoPersonasContainer">
            <div id="listadoPersonasLicenciasContainer"></div>
            <div id="listadoPersonasRiagContainer"></div>
       </div>
    <div id="resultadoLicencia" style="display: none;">
        <p>Nombre: <span id="nombreSpan"></span></p>
        <label for="tipoLicenciaDropdown">Tipo de Licencia:</label>
        <select id="tipoLicenciaDropdown">
            <!-- Aquí se agregarán las opciones del dropdown -->
        </select>
        <br>
        <p>Fecha de Expedición: <span id="fechaExpedicionSpan"></span></p>
        <p>Fecha de Vigencia: <span id="fechaVigenciaSpan"></span></p>
        <div class="col-12 col-md-6 mx-md-auto col-lg-3 mx-lg-0">
            <div class="controlButton my-3">
                <div class="controlButton my-3" onclick="guardarRegistro()">
                    @(Html.Kendo().Button()
                        .Name("seleccionarLicencia")
                        .HtmlAttributes(new { @class = "btnPrimary" })
                        .Content("<h5 class=\"m-0\"><b>Seleccionar</b></h5>"))
                </div>
            </div>
        </div>
    </div>
</section>
<div id="modalLicencias" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Contenido del modal se llenará con la función mostrarModal -->
        </div>
    </div>
</div>
<div id="modalLicenciasList" class="modal">
    <div class="modal-dialog modal-xl boxShadow modal-dialog-centered">
        <div class="modal-content">
            
                <partial name="_ListaPersonasEnLicencias"   model="Model.PersonaModel" />
            
            <!-- Contenido del modal se llenará con la función mostrarModal -->
        </div>
    </div>
</div>
<div class="modal fade modalCustom" id="modalEditarPersona" aria-labelledby="modalEditarPersona" aria-hidden="true">
    <div class="modal-dialog modal-xl boxShadow modal-dialog-centered">
        <div class="modal-content">
            <div class="row align-items-center justify-content-between px-4 px-md-4 pt-3 pb-2">
                <div class="col-auto pe-0">
                    <div class="row align-items-center justify-content-center justify-content-md-start">
                        <div class="col-auto pe-0">
                            <i class="icon-addConcecionario h1 colorPrimary"></i>
                        </div>
                        <div class="col-auto my-3">
                            <h2 class="m-0 h3"><b>Editar Persona</b></h2>
                        </div>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="row">
                        <div class="col-auto my-3">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="bg-light py-1"></div>
                </div>
            </div>
            <div class="modal-body" id="modalBodyEditarPersona">
            </div>
        </div>
    </div>
    <div class="modal fade modalCustom" id="detalleLicencias"  aria-labelledby="detalleLicenciasLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body" id="ModalBodyDetalleLicencias">
                </div>
            </div>
        </div>
    </div>
</div>
@if (Model.IsModal)
{
    <div class="modal fade" id="confirmacionModal"  aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ¿Está seguro de que desea cerrar la ventana y perder la información ingresada?
            </div>
            <div class="modal-footer">
                <button type="button" onclick="cerrarModalPer()">Aceptar</button>
                <button type="button" class="btn btn-secondary" id="confirmarCerrar">Cancelar</button>
            </div>
        </div>
    </div>
</div>
}

<script>
    $(document).ready(function () {
       
        $("#modalCrearPersona").on("show.bs.modal shown.bs.modal", function (e) {
            $("body").removeClass("modal-open").find(".modal-backdrop").remove();
        });
        $("#modalCrearPersona").on('hide.bs.modal', function () {
            $('#modalBodyEditarPersona').html('');
        });

        $("#modalEditarPersona").on("show.bs.modal shown.bs.modal", function (e) {
            $("body").removeClass("modal-open").find(".modal-backdrop").remove();
        });
        $("#modalEditarPersona").on('hide.bs.modal', function () {
            $('#modalBodyEditarPersona').html('');
        });
        
        $("#modalLicenciasList").on("show.bs.modal shown.bs.modal", function (e) {
            $("body").removeClass("modal-open").find(".modal-backdrop").remove();
        });
    });

    function btnModalCrearPersona() {
        $.ajax({
            url: '@Url.Action("ajax_ModalCrearPersona","Infracciones")',
            type: 'GET',
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            success: function (data) {
                $('#modalBodyCrearPersona').html(data);
                $('#modalCrearPersona').modal('show');
            }
        });
    }
    function btnModalEditarPersona(id) {
        showLoading();
        $.ajax({
            url: '@Url.Action("ajax_ModalEditarPersona","Personas")',
            type: 'GET',
            data: { id: id },
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            success: function (value) {
                $('#modalBodyEditarPersona').html(value);
                $('#modalEditarPersona').modal({ backdrop: 'static', keyboard: false });
                $('#modalEditarPersona').modal('show');
                hideLoading();
            }, error: function () {
                sitteg_warning("Ocurrio un error al procesar su solicitud.");
                hideLoading();
            }
        });
    }
 function guadarPersonaLicenciasEnRiag() {
        var grid = $("#gridPersonasLicencia").data("kendoGrid");
        var selectedRowData = grid.dataItem(grid.select());
        alert(selectedRowData);
        const tipoLicenciaMapping = {
                "TIPO A  CHOFER AUTOMOVILISTA": 1,
                "TIPO B CHOFER SERVICIO PÚBLICO": 2,
                "TIPO C  Chofer Servicio de Carga": 3,
                "TIPO D -MOTOCICLISTA": 4,
                "PERMISO A -AUTOMOVIL-": 6,
                "PERMISO D -MOTOCICLETA-": 7,
                "NO APLICA": 8,
                "TIPO A": 1,
                "TIPO B": 2,
                "TIPO C": 3,
                "TIPO D": 4,
                "PERMISO A": 6,
                "PERMISO D": 7,
                "A-AUTOMOVILISTA": 1,
                "B-CHOFER DE SERVICIO PÚBLICO": 2,
                "C-CHOFER DE SERVICIO DE CARGA": 3,
                "D-MOTOCICLISTA": 4,
                "PA-PERMISO AUTOMOVILISTA": 6,
                "PD-PERMISO MOTOCICLISTA": 7,

            };
           
            const tipoLicenciaNumero = tipoLicenciaMapping[selectedRowData.tipoLicencia] || 0;
           
            selectedRowData.idTipoLicencia = tipoLicenciaNumero;
     
            var fd = new FormData();
            fd.append("nombre", selectedRowData.nombre);
            fd.append("apellidoPaterno", selectedRowData.apellidoPaterno);
            fd.append("apellidoMaterno", selectedRowData.apellidoMaterno);
            fd.append("CURP", selectedRowData.CURP);
            fd.append("RFC", selectedRowData.RFC);
            fd.append("numeroLicencia", selectedRowData.numeroLicencia);
            fd.append("tipoLicencia", tipoLicenciaNumero);
           fd.append("idGenero", selectedRowData.idGenero);
           fd.append("fechaNacimiento", selectedRowData.fechaNacimiento);
           fd.append("fechaVigencia", selectedRowData.vigenciaLicencia);

            mostrarMensajeBuscando('Guardando persona en RIAG...');
        
            $.ajax({
                type: 'POST',
                  url: '@Url.Action("GuardaPersonaLicenciasEnRiag","BusquedaVehiculoPropietario")',
                  contentType: false, // Not to set any content header
                    processData: false, // Not to process data
                 data: fd,
                 success: function (result) {
                    sitteg_success('Persona registrada exitosamente')
                    resetMensajeBuscando();
                    var model ={ListadoPersonas:[result.data]};
                    console.log(model);
                     cargaListaPersonasRiagEncontradas(mode);
                 },
                 error: function (error) {
                     sitteg_warning('Error al guardar persona');
                     resetMensajeBuscando();
                     resetPersonasContainer();
                 }
            });
        }
   


   
   
    function cerrarModalP() {
        $('#confirmacionModal').modal('show');

        $('#confirmarCerrar').on('click', function () {
            $('#confirmacionModal').modal('hide');
            window.close(); 
        });
    }
    function cerrarModalConductor() {
        $('#agregarConductorModal').modal('hide');

    }
    function cerrarModalPer(){
     $('#modalCrearPersona').modal('hide');
     $('#confirmacionModal').modal('hide');

    }
</script>