@model PersonaModel
<script>
    $(document).ready(function () {
        hideLoading();
        var datePicker = $("#vigenciaLicencia").data("kendoDatePicker");
        $('#vigenciaLicencia').removeAttr("required");
    });
</script>

<form id="frmCrearPersona" class="row px-4 mb-4 align-items-end justify-content-center">
    @Html.HiddenFor(m=> m.idPersona)
    <div class="row my-2">
        <div class="col-md-4">
            <div class="controlForm">
                @(Html.Kendo().TextBoxFor(t => t.nombre)
                    .Label(l => l.Content("Nombre <b>(obligatorio)</b>:"))
                    .HtmlAttributes(new { style = "width: 100%; height:58px;", required = "required" })
                    )
            </div>
        </div>
        <div class="col-md-4">
            <div class="controlForm">
                @(Html.Kendo().TextBoxFor(t => t.apellidoPaterno)
                    .Label(l => l.Content("Apellido paterno:"))
                    .HtmlAttributes(new { style = "width: 100%; height:58px;"})
                    )
            </div>
        </div>
        <div class="col-md-4">
            <div class="controlForm">
                @(Html.Kendo().TextBoxFor(t => t.apellidoMaterno)
                    .Label(l => l.Content("Apellido materno:"))
                    .HtmlAttributes(new { style = "width: 100%; height:58px;"})
                    )
            </div>
        </div>
        
    </div>
    <div class="row my-2">
        <div class="col-md-4">
            <div class="controlForm">
                <label>Fecha de nacimiento <b>(obligatorio)</b>:</label>
                @(Html.Kendo().DatePickerFor(t => t.fechaNacimiento)
                    .HtmlAttributes(new { style = "width: 100%;", required = "required" })
                    .Culture("es-ES")
                    )
            </div>
        </div>
        <div class="col-md-4">
            <div class="controlForm">
                @(Html.Kendo().TextBoxFor(t => t.CURP)
                    .Label(l => l.Content("CURP:"))
                    .HtmlAttributes(new { style = "width: 100%; height:58px;"})
                    )
            </div>
        </div>
        <div class="col-md-4">
            <div class="controlForm">
                @(Html.Kendo().TextBoxFor(t => t.RFC)
                    .Label(l => l.Content("RFC :"))
                    .HtmlAttributes(new { style = "width: 100%; height:58px;",  })
                    )
            </div>
        </div>
    </div>
    <div class="row my-2">
        <div class="col-md-6">
            <div class="controlForm">
                <label>Género <b>(obligatorio)</b>:</label>
                @(Html.Kendo().DropDownListFor(m => m.idGenero).Filter(FilterType.Contains)
                    .BindTo((SelectList)ViewBag.CatGeneros)
                    .OptionLabel("-- Seleccione --")
                    .HtmlAttributes(new { style = "width:100%;", required = "required" }))
            </div>
        </div>
        <div class="col-md-6">
            <div class="controlForm">
                <label>Tipo persona:</label>
                @(Html.Kendo().DropDownListFor(m => m.idCatTipoPersona).Filter(FilterType.Contains)
                    .BindTo((SelectList)ViewBag.CatTipoPersona)
                    .OptionLabel("-- Seleccione --")
                    .HtmlAttributes(new { style = "width:100%;", id = "tipoPersona" }))
            </div>
        </div>
    </div>
    <div class="row my-2">
        <div class="col-md-4">
            <div class="controlForm">
                @(Html.Kendo().TextBoxFor(t => t.numeroLicencia)
                    .Label(l => l.Content("Número licencia:"))
                    .HtmlAttributes(new { style = "width: 100%; height:58px;" })
                    )
            </div>
        </div>
        <div class="col-md-4">
            <div class="controlForm">
                <label>Tipo licencia:</label>
                @(Html.Kendo().DropDownListFor(m => m.idTipoLicencia).Filter(FilterType.Contains)
                    .BindTo((SelectList)ViewBag.CatTipoLicencia)
                    .OptionLabel("-- Seleccione --")
                    .HtmlAttributes(new { style = "width:100%;" }))
            </div>
        </div>
        <div class="col-md-4">
            <div class="controlForm">
                <label>Vigencia licencia:</label>
                @(Html.Kendo().DatePickerFor(t => t.vigenciaLicencia)
                        .Culture("es-ES")
                        .Value((DateTime?)null)
                        .HtmlAttributes(new { style = "width: 100%;", id="vigencia" })
                    )
            </div>
        </div>
    </div>
    <div class="row my-2">
        <div class="col-md-4">
            <div class="controlForm">
                <label>Entidad:</label>
                @(Html.Kendo().DropDownListFor(m => m.PersonaDireccion.idEntidad).Filter(FilterType.Contains)
                    .DataTextField("Text")
                    .DataValueField("Value")
                    .OptionLabel("Selecciona una opción")
                    .Events(e => e.Change("EntidadDropDownChange"))
                    .DataSource(source =>
                    {
                        source.Read(read =>
                        {
                            read.Action("Entidades_Drop", "Personas");
                        });
                    })
                    .HtmlAttributes(new { style = "width:100%;",id="idEntidad" })
                    )
            </div>
        </div>
        <div class="col-md-4">
            <div class="controlForm">
                <label>Municipio:</label>
                @(Html.Kendo().DropDownListFor(m => m.PersonaDireccion.idMunicipio).Filter(FilterType.Contains)
                    .DataTextField("Text")
                    .DataValueField("Value")
                    .OptionLabel("Selecciona un Municipio")
                    .DataSource(source =>
                    {
                        source.Read(read =>
                        {
                            read.Action("Municipios_Drop", "Personas");
                        });
                    })
                    .HtmlAttributes(new { style = "width:100%;",id="idMunicipio" }))
                
            </div>
        </div>
        <div class="col-md-4">
            <div class="controlForm">
                @(Html.Kendo().TextBoxFor(t => t.PersonaDireccion.codigoPostal)
                    .Label(l => l.Content("Código postal <b>(obligatorio)</b>:"))
                    .HtmlAttributes(new { style = "width: 100%; height:58px;", required = "required" })
                    )
            </div>
        </div>
    </div>
    <div class="row my-2">
        <div class="col-md-4">
            <div class="controlForm">
                @(Html.Kendo().TextBoxFor(t => t.PersonaDireccion.colonia)
                    .Label(l => l.Content("Colonia <b>(obligatorio)</b>:"))
                    .HtmlAttributes(new { style = "width: 100%; height:58px;", required = "required" })
                    )
            </div>
        </div>
        <div class="col-md-4">
            <div class="controlForm">
                @(Html.Kendo().TextBoxFor(t => t.PersonaDireccion.calle)
                    .Label(l => l.Content("Calle <b>(obligatorio)</b>:"))
                    .HtmlAttributes(new { style = "width: 100%; height:58px;", required = "required" })
                    )
            </div>
        </div>
        <div class="col-md-4">
            <div class="controlForm">
                @(Html.Kendo().TextBoxFor(t => t.PersonaDireccion.numero)
                    .Label(l => l.Content("Número <b>(obligatorio)</b>:"))
                    .HtmlAttributes(new { style = "width: 100%; height:58px;", required = "required" })
                    )
            </div>
        </div>
    </div>
    <div class="row my-2">
        <div class="col-md-6">
            <div class="controlForm">
                @(Html.Kendo().TextBoxFor(t => t.PersonaDireccion.telefono)
                    .Label(l => l.Content("Teléfono:"))
                    .HtmlAttributes(new { style = "width: 100%; height:58px;", id = "telefono", onkeypress = "return validarNumero(event)" })
                    )
                <div id="errorTelefono" style="color: red;"></div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="controlForm">
                @(Html.Kendo().TextBoxFor(t => t.PersonaDireccion.correo)
                    .Label(l => l.Content("Correo:"))
                    .HtmlAttributes(new { style = "width: 100%; height:58px;", data_email = "true", data_email_msg = "El correo electrónico no es válido." })
                    .Placeholder("Ingrese su correo electrónico")
                    )

            </div>
        </div>
    </div>
</form>
<div class="row my-4">
    <div class="col-12 col-md-6 mx-md-auto">
        <div class="row justify-content-around">
       
            <div class="col-auto btnOutline my-2 mx-auto mx-xl-2 p-0">
                <button type="button" data-bs-dismiss="modal" aria-label="Close">
                    <h6 class="m-0 px-3"><b>Cerrar</b></h6>
                </button>
            </div>
            <div class="col-auto btnOutline btnOutlinePrimary my-2 mx-auto mx-xl-2 p-0">
                <div class="controlButton">
                    <button class="btnPrimary px-3" onclick="btnCrearPersona()">
                        <h5 class="m-0"><b>Guardar</b></h5>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


    <script>
        function validarNumero(event) {
            var charCode = (event.which) ? event.which : event.keyCode;

            if (charCode > 31 && (charCode < 48 || charCode > 57) && charCode !== 8 && charCode !== 46) {
                mostrarError("Solo se permiten números.");
                event.preventDefault();
                return false;
            }

            ocultarError();
            return true;
        }

    function mostrarError(mensaje) {
        $("#errorTelefono").text(mensaje);
    }

    function ocultarError() {
        $("#errorTelefono").text("");
    }



    function EntidadDropDownChange() {
        var entidadDDlValue = $("#idEntidad").data("kendoDropDownList").value();

        showLoading();
        $.ajax({
            url: "/Personas/Municipios_Drop",
            type: "POST",
            data: { entidadDDlValue: entidadDDlValue },
            success: function (data) {
                var MunicipiosDropDown = $("#idMunicipio").data("kendoDropDownList");
                MunicipiosDropDown.dataSource.data(data);
                hideLoading();
            },
            error: function (xhr, status, error) {
                hideLoading();
            }
        });
    }

    function btnCrearPersona() {
        var validator = $("#frmCrearPersona").kendoValidator().data('kendoValidator');
        var idTelefono = $("#telefono");
        var idTelefonoValue = idTelefono.val();
        var idTipoPersona = $("#tipoPersona");
        var idTipoPersonaValue = idTipoPersona.val();
        var Vigencia = $("#vigencia");
        var vigenciaValue = Vigencia.val();

        if (idTelefonoValue === null || idTelefonoValue === "") {
            idTelefono.prop("disabled", true);
        }
        idTelefono.off('blur');

        if (idTipoPersonaValue === null || idTipoPersonaValue === "") {
            idTipoPersona.prop("disabled", true);
        }
        idTipoPersona.off('blur');

        if (vigenciaValue === null || vigenciaValue === "") {
            Vigencia.prop("disabled", true);
        }
        Vigencia.off('blur');
        var controlsValidate = [];
        var isValid = true;

        controlsValidate.push({ 'controlName': 'nombre' });
        controlsValidate.push({ 'controlName': 'fechaNacimiento' });
        controlsValidate.push({ 'controlName': 'PersonaDireccion_codigoPostal' });
        controlsValidate.push({ 'controlName': 'PersonaDireccion_colonia' });
        controlsValidate.push({ 'controlName': 'PersonaDireccion_calle' });
        controlsValidate.push({ 'controlName': 'PersonaDireccion_numero' });

        // INPUTS
        if (!isControlsValid(controlsValidate)) { isValid = false; }

        // DROP DOWN LIST
        controlsValidate = [];
        controlsValidate.push({ 'controlName': 'idGenero' });
        if (!isControlsValidDropDown(controlsValidate)) { isValid = false; }

        if (!isValid) {
            sitteg_warning('Hacen falta datos o existen datos incorrectos, favor de verificar.');
            return;
        }

        if (isValid) {
            var formData = $("#frmCrearPersona").serialize();
            showLoading();
            $.ajax({
                url: '@Url.Action("ajax_CrearPersona","Personas")',
                type: 'POST',
                data: formData,
                success: function (result) {
                    $('#modalCrearPersona').modal('hide');
                    var grid = $("#gridPersonas").data("kendoGrid");

                    if (typeof result === "object") {
                        // Limpia el DataSource del grid
                        grid.dataSource.data([]);
                        grid.dataSource.add(result);
                        grid.refresh();
                    } else {
                        console.error("El resultado no es un objeto válido:", result);
                    }
                    hideLoading();
                },
                error: function (xhr, status) {
                    var errmsg = xhr.responseText;
                    console.log(errmsg)
                    sitteg_warning('Lo sentimos, ha ocurrido un error.');
                    hideLoading();
                }
            });
        }
        else {
            idTelefono.prop("disabled", false);
            idTipoPersona.prop("disabled", false);
            Vigencia.prop("disabled", false);
            sitteg_info('Debe llenar los campos requeridos');
            return;
        }
    }
function completarConLicencia() {
    var formData = $("#frmCrearPersona").serialize();

    var searchParams = new URLSearchParams(formData);

    var numeroLicencia = searchParams.get('numeroLicencia');

    if (numeroLicencia.trim() !== "") {
        showLoading();
        $.ajax({
            type: "POST",
            url: "/Personas/BusquedaPorLicencia",
            data: { numeroLicencia: numeroLicencia },
            success: function (result) {
                console.log(result);
                hideLoading();
            },
            error: function (error) {
                console.error(error);
                hideLoading();
            }
        });
    } else {
        alert("El número de licencia es obligatorio.");
    }
}
    $(document).ready(function () {
        var datePicker = $("#fechaNacimiento").data("kendoDatePicker");
        datePicker.value(null);
    });
    $(document).ready(function () {
        var datePicker = $("#vigencia").data("kendoDatePicker");
        datePicker.value(null);
    });


    $(document).ready(function () {
        $('#vigencia').removeAttr("required");
    });


</script>
