@*model List<PersonaModel>*@
    @model GuanajuatoAdminUsuarios.Models.PersonaModel


@{
}

<div class="mainContainer bg-light">
    <section class="mx-md-3 mx-lg-4 mx-xl-5 bg-white boxShadow my-5 rounded">
        <div class="row align-items-center justify-content-between px-4 px-md-4 pt-3 pb-2">
            <div class="col-12 col-md-auto">
                <div class="row align-items-center justify-content-center justify-content-md-start">
                    <div class="col-auto p-0">
                        <i class="icon-oficial h1 colorPrimary"></i>
                    </div>
                    <div class="col-auto my-3">
                        <h2 class="m-0 h3"><b>Personas</b></h2>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-7 col-xl-auto">
                <div class="row">
                    <div class="col-auto btnOutline btnOutlinePrimary my-2 mx-auto mx-xl-2 p-0">
                        <button href="#" id="btnCrearPersona" onclick="btnModalCrearPersona()">
                            <h6 class="m-0 d-flex align-items-center"><i class="icon-addConcecionario h2 mb-0 me-2"></i><b>Agregar nueva persona</b></h6>
                        </button>
                    </div>

                </div>
            </div>
        </div>
            <form id="buscarConductorForm">
                <div class="row px-4 mt-4 pb-4 align-items-end">
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="controlForm my-3">
                            @(Html.Kendo().TextBoxFor(t => t.numeroLicenciaBusqueda)
                                .Label(l => l.Content("No. de licencia:"))
                                .Placeholder("Ingresa el número de licencia valido")
                                .HtmlAttributes(new { style = "width: 100%" })
                                )
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="controlForm my-3">
                            @(Html.Kendo().TextBoxFor(t => t.CURPBusqueda)
                                .Label(l => l.Content("CURP:"))
                                .Placeholder("Ingresa el CURP del propietario")
                                .HtmlAttributes(new { style = "width: 100%" })
                                )
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="controlForm my-3">
                            @(Html.Kendo().TextBoxFor(t => t.RFCBusqueda)
                                .Label(l => l.Content("RFC:"))
                                .Placeholder("Ingresa el RFC del propietario")
                                .HtmlAttributes(new { style = "width: 100%" })
                                )

                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="controlForm my-3">
                            @(Html.Kendo().TextBoxFor(t => t.nombreBusqueda)
                                .Label(l => l.Content("Nombre(s):"))
                                .Placeholder("Ingresa el nombre(s) del propietario")
                                .HtmlAttributes(new { style = "width: 100%" })
                                )

                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="controlForm my-3">
                            @(Html.Kendo().TextBoxFor(t => t.apellidoPaternoBusqueda)
                                .Label(l => l.Content("Apellido paterno:"))
                                .Placeholder("Ingresa el apellido paterno")
                                .HtmlAttributes(new { style = "width: 100%" })
                                )

                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="controlForm my-3">
                        @(Html.Kendo().TextBoxFor(t => t.apellidoMaternoBusqueda)
                                .Label(l => l.Content("Apellido materno:"))
                                .Placeholder("Ingresa el apellido materno")
                                .HtmlAttributes(new { style = "width: 100%" })
                                )

                        </div>
                    </div>
                </div>
            </form>
            <div class="col-12 col-md-6 mx-md-auto col-lg-3 mx-lg-0">
                <div class="controlButton my-3">
                    <div class="controlButton my-3" onclick="buscarConductor()">
                        @(Html.Kendo().Button()
                            .Name("buscarOtroConductor")
                            .HtmlAttributes(new { @class = "btnPrimary" })
                            .Content("<h5 class=\"m-0\"><b>Buscar</b></h5>"))
                    </div>
                </div>
            </div>
        <div class="row">
            <div class="col-12">
                <div class="bg-light py-1"></div>
            </div>
        </div>
        <div class="row justify-content-between mb-1 titleCustom">
            <div class="col-12 col-md-auto mt-4 mb-2">
                <h5 class="px-4"><b>Listado de Personas</b></h5>
                <h6 class="px-4 text-muted">Edita las personas que lo requieran.</h6>
            </div>
        </div>
       
       
        @*Table*@
        <div id="listadoPersonas">
            <partial name="_ListadoPersonas" model="Model" />
        </div>
     
    </section>
</div>


<div class="modal fade modalCustom" id="modalCrearPersona" aria-labelledby="modalCrearPersona" aria-hidden="true">
    <div class="modal-dialog modal-xl boxShadow modal-dialog-centered ">
        <div class="modal-content">
            <div class="row align-items-center justify-content-between px-4 px-md-4 pt-3 pb-2">
                <div class="col-auto pe-0">
                    <div class="row align-items-center justify-content-center justify-content-md-start">
                        <div class="col-auto pe-0">
                            <i class="icon-addConcecionario h1 colorPrimary"></i>
                        </div>
                        <div class="col-auto my-3">
                            <h2 class="m-0 h3"><b>Agregar Persona</b></h2>
                        </div>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="row">
                        <div class="col-auto my-3">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="bg-light py-1"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 my-4">
                    <h5 class="px-4"><b>Datos de persona</b></h5>
                    <h6 class="px-4 text-muted">Completa los datos obligatorios para guardar.</h6>
                </div>
            </div>
            <div class="modal-body" id="modalBodyCrearPersona">
            </div>
        </div>
    </div>
</div>

<div class="modal fade modalCustom" id="modalEditarPersona" aria-labelledby="modalEditarPersona" aria-hidden="true">
    <div class="modal-dialog modal-xl boxShadow modal-dialog-centered">
        <div class="modal-content">
            <div class="row align-items-center justify-content-between px-4 px-md-4 pt-3 pb-2">
                <div class="col-auto pe-0">
                    <div class="row align-items-center justify-content-center justify-content-md-start">
                        <div class="col-auto pe-0">
                            <i class="icon-addConcecionario h1 colorPrimary"></i>
                        </div>
                        <div class="col-auto my-3">
                            <h2 class="m-0 h3"><b>Editar Persona</b></h2>
                        </div>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="row">
                        <div class="col-auto my-3">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="bg-light py-1"></div>
                </div>
            </div>
            <div class="modal-body" id="modalBodyEditarPersona">
            </div>
        </div>
    </div>
  
</div>



<script>
   
    $(document).ready(function () {
        $("#modalCrearPersona").on("show.bs.modal shown.bs.modal", function (e) {
            $("body").removeClass("modal-open").find(".modal-backdrop").remove();
        });
        $("#modalCrearPersona").on('hide.bs.modal', function () {
            $('#modalBodyEditarPersona').html('');
        });

        $("#modalEditarPersona").on("show.bs.modal shown.bs.modal", function (e) {
            $("body").removeClass("modal-open").find(".modal-backdrop").remove();
        });
        $("#modalEditarPersona").on('hide.bs.modal', function () {
            $('#modalBodyEditarPersona').html('');
        });
    });

    function btnModalCrearPersona() {
        $.ajax({
            url: '@Url.Action("ajax_ModalCrearPersona")',
            type: 'GET',
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            success: function (data) {
                $('#modalBodyCrearPersona').html(data);
                $('#modalCrearPersona').modal({backdrop: 'static', keyboard: false});
                $('#modalCrearPersona').modal('show');
            }
        });
    }
    function btnModalEditarPersona(id) {
        $.ajax({
            url: '@Url.Action("ajax_ModalEditarPersona")',
            type: 'GET',
            data: { id: id },
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            success: function (value) {
                $('#modalBodyEditarPersona').html(value);
                $('#modalEditarPersona').modal({ backdrop: 'static', keyboard: false });
                $('#modalEditarPersona').modal('show');
            }
        });
    }

     function buscarConductor() {
        var Mydata = $("#buscarConductorForm").serialize();
        console.log(Mydata);
        $.ajax({
            url: '/Personas/BuscarPorParametro',
            type: 'POST',
            data: Mydata,
            success: function (response) {
                console.log("Response:", response);
                if (response.length === 0) {
                    sitteg_warning("La búsqueda no arrojó resultados.");
                } else {
                    window.location.href = "/Personas/DetalleLicencia";

                }
            },
            error: function (error) {
                sitteg_warning('Ocurrió un error en la búsqueda.');
                console.log(error);
            }
        });
    }

</script>