@model TransitoTransporteBusquedaModel
@{
    @inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;
    var listaIdsPermitidosJson = @HttpContextAccessor.HttpContext.Session.GetString("IdsPermitidos").ToString();
    var autorizaciones = @HttpContextAccessor.HttpContext.Session.GetString("Autorizaciones").ToString();
}

<script>
    $(document).ready(function () {
        var access = @listaIdsPermitidosJson;
        var auth = @autorizaciones;
        console.log(auth);

        if (access != undefined && access != '') {
            if (!access.toString().includes(localStorage.getItem("menuId"))) {
                Swal.fire({
                    icon: "error",
                    title: "¡El usuario no tiene acceso a esta opción!"
                });
                setTimeout(function () {
                    window.location.href = "/Principal";
                }, 200);
            } else {
                //IMPRIMIR
                if (!auth.toString().includes("203")) {
                    $("#btnExcelTransito").prop('disabled', true).css({ "opacity": "0.3" });
                    $("#btnPDFTransito").prop('disabled', true).css({ "opacity": "0.3" });
                }
                if (!auth.toString().includes("202")) {
                    $("#btnBuscar").prop('disabled', true).css({ "opacity": "0.3" });
                }
            }
        } else {
            Swal.fire({
                icon: "error",
                title: "¡El usuario no tiene acceso a esta opción!"
            });
            setTimeout(function () {
                window.location.href = "/Principal";
            }, 200);
        }
    });
</script>


<script>
        function submitSearch() {
            var Mydata = $("#frmSearch").serialize();
            //console.log(Mydata);
            showLoading();
            $.ajax({
                url: '@Url.Action("ajax_BuscarTransito")',
                type: 'POST',
                data: Mydata,
                success: function (result) {
                    $("#listadoTransitoTransporte").html(result);
                    hideLoading();
                   // $("#frmSearch")[0].reset();
            },
            error: function (error) {
                sitteg_warning('Sucedió un error, intente mas tarde...');
                hideLoading();
            }
            });
        }


        function downLoadPdfFiltered() {

            var data = {
                Placas: $('#txtPlacas').val(),
                FolioSolicitud: $('#txtFolioSolicitud').val(),
                FolioInfraccion: $('#txtFolioInfraccion').val(),
                Propietario: $('#txtPropietario').val(),
                NumeroEconomico: $('#txtNumeroEconomico').val(),
                IdDelegacion: parseInt($('#txtDelegacion').val()),
                IdPension: $('#txtPension').val(),
                IdEstatus: $('#txtEstatus').val(),
                IdDependenciaGenera: $('#txtDependenciaGenera').val(),
                IdDependenciaTransito: $('#txtDependenciaTransito').val(),
                IdDependenciaNoTransito: $('#txtDependenciaNoTransito').val(),
                FechaIngreso: $('#start').val(),
                FechaIngresoFin: $('#end').val()
            };
            var json = JSON.stringify(data);
            window.location = '/TransitoTransporte/CreatePdf?data=' + json;
     
        }

    </script>


<div class="mainContainer bg-light">
    <section class="mx-md-3 mx-lg-4 mx-xl-5 bg-white boxShadow my-5 rounded">
        <div class="row align-items-center justify-content-between px-4 px-md-4 pt-3 pb-2">
            <div class="col-12 col-md-6 col-lg-5 col-xl-auto">
                <div class="row align-items-center justify-content-center justify-content-md-start">
                    <div class="col-auto">
                        <i class="icon-research h1 colorPrimary"></i>
                    </div>
                    <div class="col-auto my-3">
                        <h2 class="m-0 h3"><b>Tránsito/Transporte</b></h2>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-12">
                <div class="bg-light py-1"></div>
            </div>
        </div>
        <div class="col-12 col-md-auto mt-4 mb-2">
            <h5 class="px-4"><b>Búsqueda Tránsito/Transporte</b></h5>
            <h6 class="px-4 text-muted">Realiza una búsqueda personalizada de Tránsito/Transporte.</h6>
        </div>
        <form id="frmSearch" class="row px-4 mb-4 align-items-end" method="post">

            <div class="col-12 col-md-6 col-lg-4">
                <div class="controlForm mb-3">
                    <span>
                        @(Html.Kendo().TextBoxFor(t => t.Placas)
                            .Label(l => l.Content("Placas:"))
                            .Placeholder("Ingresa placas")
                            .HtmlAttributes(new { style = "width: 100%", Id = "txtPlacas" })
                            )
                    </span>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
                <div class="controlForm mb-3">
                    @(Html.Kendo().TextBoxFor(t => t.FolioSolicitud)
                        .Label(l => l.Content("Folio de Solicitud:"))
                        .Placeholder("Ingresa folio de solicitud")
                        .HtmlAttributes(new { style = "width: 100%", Id = "txtFolioSolicitud" })
                        )

                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
                <div class="controlForm mb-3">
                    @(Html.Kendo().TextBoxFor(t => t.FolioInfraccion)
                        .Label(l => l.Content("Folio de Infracción:"))
                        .Placeholder("Ingresa folio de infracción:")
                        .HtmlAttributes(new { style = "width: 100%", Id = "txtFolioInfraccion" })
                        )
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
                <div class="controlForm mb-3">
                    @(Html.Kendo().TextBoxFor(t => t.Propietario)
                        .Label(l => l.Content("Propietario del Vehículo:"))
                        .Placeholder("Ingresa propietario del vehículo:")
                        .HtmlAttributes(new { style = "width: 100%", Id = "txtPropietario" })
                        )
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
                <div class="controlForm mb-3">
                    @(Html.Kendo().TextBoxFor(t => t.NumeroEconomico)
                        .Label(l => l.Content("No. Económico:"))
                        .Placeholder("Ingresa No. Económico")
                        .HtmlAttributes(new { style = "width: 100%", Id = "txtNumeroEconomico" })
                        )
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
                <div class="controlForm mb-3">
                    <label>Delegación/Oficina:</label>
                    <span>
                        @(Html.Kendo().DropDownListFor(d => d.IdDelegacion).Filter(FilterType.Contains)
                            .DataTextField("Text")
                            .DataValueField("Value")
                            .OptionLabel("Seleccione Delegación...")
                            .HtmlAttributes(new { style = "width:100%;", Id = "txtDelegacion" })
                            .Filter(FilterType.Contains)
                            .DataSource(source =>
                            {
                                source.Read(read =>
                                {
                                    read.Action("Delegacion_Read", "TransitoTransporte");
                                });
                            }))
                    </span>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
                <div class="controlForm mb-3">
                    <label>Pensión:</label>
                    <span>
                        @(Html.Kendo().DropDownListFor(d => d.IdPension).Filter(FilterType.Contains)
                            .DataTextField("Text")
                            .DataValueField("Value")
                            .OptionLabel("Seleccione Pensión...")
                            .HtmlAttributes(new { style = "width:100%;", Id = "txtPension" })
                            .Filter(FilterType.Contains)
                            .DataSource(source =>
                            {
                                source.Read(read =>
                                {
                                    read.Action("Pension_Read", "TransitoTransporte");
                                });
                            }))
                    </span>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
                <div class="controlForm mb-3">
                    <label>Estatus:</label>
                    <span>
                        @(Html.Kendo().DropDownListFor(d => d.IdEstatus).Filter(FilterType.Contains)
                            .DataTextField("Text")
                            .DataValueField("Value")
                            .OptionLabel("Seleccione Estatus...")
                            .HtmlAttributes(new { style = "width:100%;", Id = "txtEstatus" })
                            .Filter(FilterType.Contains)
                            .DataSource(source =>
                            {
                                source.Read(read =>
                                {
                                    read.Action("Estatus_Read", "TransitoTransporte");
                                });
                            }))
                    </span>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
                <div class="controlForm mb-3">
                    <label>TTO_TTE/Otras:</label>
                    <span>
                        @(Html.Kendo().DropDownListFor(d => d.IdDependenciaGenera).Filter(FilterType.Contains)
                            .DataTextField("Text")
                            .DataValueField("Value")
                            .OptionLabel("Todas")
                            .HtmlAttributes(new { style = "width:100%;", Id = "txtDependenciaGenera" })
                            .Filter(FilterType.Contains)
                            .Events(e => e.Change("OnChange"))
                            .BindTo(new List<SelectListItem>
                            
                        {
                        new SelectListItem { Text = "Tránsito/Transporte", Value = "1" },
                        new SelectListItem { Text = "Otras", Value = "0" }
                        })
                            )
                    </span>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-6" id="dataDep">
                <div class="controlForm mb-3">
                    <label>Dependencia(TTO_TTE):</label>
                    <span>
                        @(Html.Kendo().DropDownListFor(d => d.IdDependenciaTransito).Filter(FilterType.Contains)
                            .DataTextField("Text")
                            .DataValueField("Value")
                            .OptionLabel("Todas")
                            .HtmlAttributes(new { style = "width:100%;", Id = "txtDependenciaTransito" })
                            .Filter(FilterType.Contains)
                            .BindTo(new List<SelectListItem>
                        {
                        new SelectListItem { Text = "De Movilidad", Value = "1" },
                        new SelectListItem { Text = "De Tránsito", Value = "0" }
                        })
                            )
                    </span>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-6" id="dataEnv">
                <div class="controlForm mb-3">
                    <label>Dependencia Envía:</label>
                    <span>
                        @(Html.Kendo().DropDownListFor(d => d.IdDependenciaNoTransito).Filter(FilterType.Contains)
                            .DataTextField("Text")
                            .DataValueField("Value")
                            .OptionLabel("Seleccione Dependencia Envía...")
                            .HtmlAttributes(new { style = "width:100%;", Id = "txtDependenciaNoTransito" })
                            .Filter(FilterType.Contains)
                            .DataSource(source =>
                            {
                                source.Read(read =>
                                {
                                    read.Action("DependenciaEnvia_Read", "TransitoTransporte");
                                });
                            }))
                    </span>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3">
                <div class="controlForm mb-3">
                    <label>Fecha de Ingreso:</label>
                    @(Html.Kendo().DatePickerFor(t => t.FechaIngreso).Max(DateTime.Now)
                        .Format("dd/MM/yyyy")
                        .Culture("es-ES")

                        .HtmlAttributes(new { style = "width: 100%", title = "datepicker", id = "start" })
                        )

                    @*@(Html.Kendo().DatePickerFor(t => t.FechaIngreso)
                    .Value(DateTime.Now)
                    .HtmlAttributes(new { style = "width: 100%", title = "datetimepicker" })
                    .DateInput()
                    )*@
                </div>
            </div>



            <div class="col-12 col-md-6 col-lg-3">
                <div class="controlForm mb-3">
                    <label>Fecha Hasta:</label>

                    @(Html.Kendo().DatePickerFor(t => t.FechaIngresoFin).Max(DateTime.Now)
                        .Format("dd/MM/yyyy")
                        .Culture("es-ES")
                        .HtmlAttributes(new { style = "width: 100%", title = "datepicker", id = "end" })
                        )

                    @* @(Html.Kendo().DatePickerFor(t => t.FechaLiberacion)
                    .Value(DateTime.Now)
                    .HtmlAttributes(new { style = "width: 100%", title = "datetimepicker" })
                    .DateInput()
                    )*@
                </div>
            </div>


            <div class="col-12 col-md-6 col-lg-3">
                <div class="controlButton my-3">
                    <button id="btnBuscar" class="btnPrimary" type="button" onclick="submitSearch()">  <h5 class="m-0"><b>Buscar</b></h5></button>

                    @* @(Html.Kendo().Button()
                    .Name("BuscarVehiculo")
                    .HtmlAttributes(new { @class = "btnPrimary" })
                    .Content("<h5 class=\"m-0\"><b>Buscar</b></h5>"))*@
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3">
                <div  class=" btnOutline btnOutlinePrimary controlButton my-3">
                    <button id="btnPDFTransito" class=" " type="button" onclick="downLoadPdfFiltered()">  <h5 class="m-0"><i class='icon-data m-0'></i>&nbsp;&nbsp<b>Reporte</b></h5></button>

                    @*<button type="button" class='btnPrimary'>@Html.ActionLink("Reporte",  "CreatePdf","TransitoTransporte", new{Placas=Model.Placas}, new {@class="m-0"})</button>*@

                </div>
            </div>

        </form>
        @*//Aqui*@


        <div id="listadoTransitoTransporte">
            <partial name="_ListadoTransitoTransporte" model="Model.ListTransitoTransporte" />
        </div>
    </section>
</div>
<script>


    function OnChange(data){
        var val = data.sender.element.context.value
        var Dep = document.getElementById("dataDep")
        var Env = document.getElementById("dataEnv")
        console.log(val+"")

        if(val==="1"){
            $(Dep).removeClass("d-none")
            $(Env).addClass("d-none")

            var test = $("#txtDependenciaNoTransito").data("kendoDropDownList");
            test.text(test.options.optionLabel);
            test.element.val(-1);
            test.selectedIndex = -1;
            test._oldIndex = 0;

        }
        else if(val==="0"){
            console.log(val+"--")

            var test = $("#txtDependenciaTransito").data("kendoDropDownList");
            test.text(test.options.optionLabel);
            test.element.val(-1);
            test.selectedIndex = -1;
            test._oldIndex = 0;

            $(Dep).addClass("d-none")
            $(Env).removeClass("d-none")            
        }
        else{
            $(Dep).removeClass("d-none")
            $(Env).removeClass("d-none")
        }
    }

    $(document).ready(function () {
        var datePicker = $("#end").data("kendoDatePicker");
        datePicker.value(null);
    });

    $(document).ready(function () {
        var datePicker = $("#start").data("kendoDatePicker");
        datePicker.value(null);
    });
    $(document).ready(function () {
        var auth = @autorizaciones; 
        var grid = $("#Grid").data("kendoGrid");

        if (!auth.toString().includes("203")) {
            grid.hideColumn(9);
        }

        if (!auth.toString().includes("206")) {
            grid.hideColumn(11);
        }

        if (!auth.toString().includes("205")) {
            grid.hideColumn(12);
        }
    });

</script>
