@model LiberacionVehiculoModel

@*<div class="row">
    <div class="col-12">
        <div class="bg-light py-1"></div>
    </div>

</div>*@
<div class="col-12 col-md-6 col-lg-12">
        <div class="controlForm mb-3">
            <span>
            @Html.DisplayFor(m => m.fullName,new {@class="control-label"})
                @*@(Html.Kendo().TextBoxFor(m=>m.IdPension)
                .Label(l => l.Content("ID:"))
                .HtmlAttributes(new { style = "width: 100%", @readonly = "readonly", type = "text" })
                )*@
            </span>
        </div>
    </div>

<div class="row px-4 mb-4 align-items-end justify-content-center">
    <div class="col-12 col-md-6 col-lg-4">
        <div class="controlForm mb-3">
            <label>ID:</label>
            <span>
                @Html.DisplayFor(m => m.IdDeposito,new {@class="control-label"})
                @*@(Html.Kendo().TextBoxFor(m=>m.IdPension)
                .Label(l => l.Content("ID:"))
                .HtmlAttributes(new { style = "width: 100%", @readonly = "readonly", type = "text" })
                )*@
            </span>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
        <div class="controlForm mb-3">
            <label>Fecha:</label>
            <span>
                @Html.DisplayFor(m => m.FechaIngreso,new {@class="control-label"})
            </span>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
        <div class="controlForm mb-3">
            <label>Pension:</label>
            <span>
                @Html.DisplayFor(m => m.pension,new {@class="control-label"})
            </span>
        </div>
    </div>


    <div class="col-12 col-md-6 col-lg-4">
        <div class="controlForm mb-3">
            <label>Marca:</label>
            <span>
                @Html.DisplayFor(m => m.marcaVehiculo,new {@class="control-label"})
            </span>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
        <div class="controlForm mb-3">
            <label>Folio:</label>
            <span>
                @Html.DisplayFor(m => m.Folio,new {@class="control-label"})
            </span>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
        <div class="controlForm mb-3">
            <label>Carretera:</label>
            <span>
                Carretera
            </span>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
        <div class="controlForm mb-3">
            <label>Serie:</label>
            <span>
                @Html.DisplayFor(m => m.Serie,new {@class="control-label"})
            </span>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
        <div class="controlForm mb-3">
            <label>Sub Marca:</label>
            <span>
                @Html.DisplayFor(m => m.nombreSubmarca,new {@class="control-label"})
            </span>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
        <div class="controlForm mb-3">
            <label>Tramo:</label>
            <span>
                @Html.DisplayFor(m => m.tramo,new {@class="control-label"})
            </span>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
        <div class="controlForm mb-3">
            <label>Placas:</label>
            <span>
                @Html.DisplayFor(m => m.Placa,new {@class="control-label"})
            </span>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
        <div class="controlForm mb-3">
            <label>Color:</label>
            <span>
                @Html.DisplayFor(m => m.Color,new {@class="control-label"})
            </span>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
        <div class="controlForm mb-3">
            <label>Kilómetro:</label>
            <span>
                @Html.DisplayFor(m => m.Km,new {@class="control-label"})
            </span>
        </div>
    </div>

</div>
@* enctype="multipart/form-data"
      asp-controller="LiberacionVehiculo" asp-action="UpdateLiberacion"
      method="post"*@
<form class="row px-4 mb-4 align-items-end justify-content-center"
      method="post"
      id="UpdateForm">
    <div class="row align-items-end">
        <div class="col-12 col-lg-6 my-4">
            <h5 class="px-4"><b>Datos:</b></h5>
        </div>
    </div>
    @Html.HiddenFor(m=>m.IdDeposito,new { id="hdnIdDeposito"})
    <div class="col-12 col-md-6 col-lg-4">
        <div class="controlForm mb-3">
            <label><b>*</b>Acreditación de Propiedad:</label>
            <span>
                <input type="file" name="ImageAcreditacionPropiedad" id="ImageAcreditacionPropiedad" required>
                @*@Html.TextBoxFor(m => m.AcreditacionPropiedad, new { type = "file" ,@class = "btnPrimary px-3",id="ImageOne"})*@
            </span>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
        <div class="controlForm mb-3">
            <label><b>*</b>Acreditación de Personalidad:</label>
            <span>
                <input type="file" name="ImageAcreditacionPersonalidad" id="ImageAcreditacionPersonalidad" required>
                @*@Html.TextBoxFor(m => m.AcreditacionPersonalidad, new { type = "file" ,@class = "btnPrimary px-3"})*@
            </span>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
        <div class="controlForm mb-3">
            <label><b>*</b>Recibo de Infracción:</label>
            <span>
                <input type="file" name="ImageReciboPago" id="ImageReciboPago" required>
                @*@Html.TextBoxFor(m => m.ReciboPago, new { type = "file" ,@class = "btnPrimary px-3"})*@
            </span>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-6">
        <div class="controlForm mb-3">
            <label>Observaciones:</label>
            <span>
                @(Html.Kendo().TextBoxFor(m => m.Observaciones)

                    .HtmlAttributes(new { style = "width: 100%", type = "text", id = "txtObservaciones" })
                    )
            </span>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-6">
        <div class="controlForm mb-3">
            <label><b>*</b>Nombre de quien Autoriza:</label>
            <span>
                @(Html.Kendo().TextBoxFor(m => m.Autoriza)
                    .HtmlAttributes(new { style = "width: 100%", type = "text", id = "txtAutoriza", required = "required" })
                    )
            </span>
        </div>
    </div>
    <div class="row my-4">
        <div class="col-12 col-md-6 mx-md-auto">
            <div class="row justify-content-around">
                <div class="col-auto btnOutline my-2 mx-auto mx-xl-2 p-0">
                    <button type="button" data-bs-dismiss="modal" aria-label="Close">
                        <h6 class="m-0 px-3"><b>Cerrar</b></h6>
                    </button>
                </div>
                <div class="col-auto btnOutline btnOutlinePrimary my-2 mx-auto mx-xl-2 p-0">
                    <div class="controlButton">
                        @*<button type="submit" class="btn btn-success"><h5 class="m-0"><b>Guardar</b></h5></button>*@
                        @*  @(Html.Kendo().Button()
                        .Name("EditVehiculo")
                        .HtmlAttributes(new { @class = "btnPrimary px-3" })
                        .Content("<h5 class=\"m-0\"><b>Guardar ajustes</b></h5>"))*@
                        <button class="btnPrimary px-3" onclick="submitVehiculo()"><h5 class="m-0"><b>Guardar</b></h5></button>

                    </div>
                </div>
            </div>
        </div>


    </div>


</form>


<script>

    function submitVehiculo() {
        if ($("#UpdateForm")[0].checkValidity()) {

            var data = {
                IdDeposito: $('#hdnIdDeposito').val(),
                Observaciones: $('#txtObservaciones').val(),
                Autoriza: $('#txtAutoriza').val()
            };

            var formData = new FormData();

            formData.append("data", JSON.stringify(data));

            var fileOne = document.getElementById('ImageAcreditacionPropiedad').files[0];
            formData.append("ImageAcreditacionPropiedad", fileOne);

            var fileTwo = document.getElementById('ImageAcreditacionPersonalidad').files[0];
            formData.append("ImageAcreditacionPersonalidad", fileTwo);

            var fileThree = document.getElementById('ImageReciboPago').files[0];
            formData.append("ImageReciboPago", fileThree);
            $('#modalUpdateLiberacion').modal('hide');
            $('body').removeClass('model-open');
            $('.modal-backdrop').remove();
            $.ajax({
                type: "POST",
                url: '@Url.Action("UpdateLiberacion")',
                data: formData,
                contentType: false,
                processData: false,
                dataType: "json",
                async: false,
                success: function (result) {
                    alert("Se ha Actualizado la Información");
                    //$("#listadoLiberacionVehiculos").html(result);

                },
                error: function (error) {
                    alert("!Sucedio um error, intente mas tarde...");
                }
            });
        }
        else {
            $("#UpdateForm")[0].reportValidity()
        }
    }


</script>
