@model GuanajuatoAdminUsuarios.Models.OficialesModel
@{
    var delegaciones = (SelectList)ViewBag.Delegaciones;

}




<div class="row">
    <div class="col-md-12">
        <form id="ProductForm" novalidate class="needs-validation">


            @(Html.Kendo().DropDownListFor(d => d.IdDelegacion)
                .DataTextField("Delegacion")
                .DataValueField("IdDelegacion")
                .OptionLabel("---Seleccione Category---")
              
                
                )

            @(Html.Kendo().TextBoxFor(t => t.Nombre)
                .HtmlAttributes(new { placeholder = "Nombre", required = "required", validationmessage = "Enter Category Name" })
                .Label(l => l.Content("Nombre"))
                )

            @(Html.Kendo().TextBoxFor(t => t.ApellidoPaterno)
                .HtmlAttributes(new { placeholder = "Apellido Paterno", required = "required", validationmessage = "Enter Category Name" })
                .Label(l => l.Content("Apellido Paterno"))
                )

            @(Html.Kendo().TextBoxFor(t => t.ApellidoMaterno)
                .HtmlAttributes(new { placeholder = "Apellido Materno", required = "required", validationmessage = "Enter Category Name" })
                .Label(l => l.Content("Apellido Materno"))
                )

        </form>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a href='@Url.Action("IndexModal")' class="btn btn-default">Cancelar</a>
                <button class="btn btn-success" onclick="submitProduct()">Guardar</button>
            </div>
        </div>


    </div>
</div>

<script>
    function submitProduct() {

        var Mydata = $("#ProductForm").serialize();
        console.log(Mydata);
        $('#addDependencia').modal('hide');
        $('body').removeClass('model-open');
        $('.modal-backdrop').remove();
        $.ajax({
            url: '@Url.Action("CreatePartialModal")',
            type: 'POST',
            data: Mydata,
            success: function (result) {
                $("#tablaDependencias").html(result);
            }
        });
    }

</script>
