@model GuanajuatoAdminUsuarios.Models.OficialesModel
@{
}


<div class="row">
    <div class="col-md-10">
        <h2>Eliminar Categoria</h2>
    </div>
    <br />
    <div class="col-md-2">
        @Html.ActionLink("Cancelar","Index",null,new{@class="btn btn-info"})
    </div>
</div>
<hr />
<br />

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("Delete", "Oficiales"))
        {
            @Html.HiddenFor(m=>m.IdOficial)
            ;

            @(Html.Kendo().TextBoxFor(t => t.Rango)
                .HtmlAttributes(new
                {
                    placeholder = "Rango",
                    required = "required",
                    validationmessage = "Introduzca un rango",
                    @readonly = "readonly"
                })
                .Label(l => l.Content("Rango <b>(obligatorio)</b>:"))
                )
            <br />  <br />
            @(Html.Kendo().TextBoxFor(t => t.Nombre)
                .HtmlAttributes(new
                {
                    placeholder = "RanNombrego",
                    required = "required",
                    validationmessage = "Introduzca un nombre",
                    @readonly = "readonly"
                })
                .Label(l => l.Content("Nombre <b>(obligatorio)</b>:"))
                )
            <br />  <br />
             @(Html.Kendo().TextBoxFor(t => t.ApellidoPaterno)
                .HtmlAttributes(new
                {
                    placeholder = "Apellido Paterno",
                    required = "required",
                    validationmessage = "Introduzca un Apellido Paterno",
                    @readonly = "readonly"
                })
                .Label(l => l.Content("Apellido Paterno <b>(obligatorio)</b>:"))
                )
            <br />  <br />
            @(Html.Kendo().TextBoxFor(t => t.ApellidoMaterno)
                .HtmlAttributes(new
                {
                    placeholder = "Apellido Materno",
                    required = "required",
                    validationmessage = "Introduzca un Apellido Materno",
                    @readonly = "readonly"
                })
                .Label(l => l.Content("Apellido Materno <b>(obligatorio)</b>:"))
                )
            <br />  <br />


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <a href='@Url.Action("Index")' class="btn btn-default">Cancelar</a>
                    <button type="submit" class="btn btn-success">Guardar</button>
                </div>
            </div>

        }

    </div>
</div>