﻿@using static GuanajuatoAdminUsuarios.Utils.CatalogosEnums;
@model VehiculoModel

@{
    var dateVigencia = Model.vigenciaTarjeta;
    var myAttributes = new { disabled = "", style = "width:100%;" };
    if (Model != null)
    {
        myAttributes = Model.encontradoEn == (int)EstatusBusquedaVehiculo.Sitteg ? new { disabled = "disabled", style = "width:100%;" } : new { disabled = "", style = "width:100%;" };
    }

    bool disableInput = false;
    if (Model != null)
    {
        disableInput = Model.encontradoEn == (int)EstatusBusquedaVehiculo.Sitteg ? true : false;
    }


    ViewBag.serie = Model.serie;
}
<script>
     function EntidadDDChangeAccFis() {
        var entidadDDlValue = $("#Persona_PersonaDireccion_idEntidadFisico").data("kendoDropDownList").value();


        $.ajax({
            url: "/CapturaAccidentes/Municipios_Por_Entidad",
            type: "POST",
            data: { entidadDDlValue: entidadDDlValue },
            success: function (data) {
                var MunicipiosDropDown = $("#Persona_PersonaDireccion_idMunicipioFisico").data("kendoDropDownList");
                MunicipiosDropDown.dataSource.data(data);
            },
            error: function (xhr, status, error) {
            }
        });
    }
 function EntidadDropDownChangeAcc() {
        var entidadDDlValue = $("#Persona_PersonaDireccion_idEntidad").data("kendoDropDownList").value();
        $.ajax({
            url: "/CapturaAccidentes/Municipios_Por_Entidad",
            type: "POST",
            data: { entidadDDlValue: entidadDDlValue },
            success: function (data) {
                var MunicipiosDropDown = $("#Persona_PersonaDireccion_idMunicipio").data("kendoDropDownList");
                MunicipiosDropDown.dataSource.data(data);
            },
            error: function (xhr, status, error) {
            }
        });
    }
    </script>
<section id="sectionCap" class="bg-white boxShadow  mt-2 mb-3 rounded">
    <div class="row align-items-center justify-content-between px-4 px-md-4 pt-3 pb-2">
        <div class="col-12 col-md-auto pe-0">
            <div class="row align-items-center justify-content-center justify-content-md-start">
                <div class="col-auto">
                    <div class="border border-2 border-dark rounded-circle">
                        <h5 class="m-0 numberCard d-flex align-items-center justify-content-center">
                            <b>1</b>
                        </h5>
                    </div>
                </div>
                <div class="col-auto p-0">
                    <i class="icon-car h1 colorPrimary"></i>
                </div>
                <div class="col-auto my-3">
                    <h2 class="m-0 h3"><b>Captura de vehículos</b></h2>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-7 col-xl-auto">
            <div class="row">
                <div class="col-auto btnOutline my-2 mx-auto mx-xl-2 p-0" onclick="cerrarModalV()">
                    @(Html.Kendo().Button()
                        .Name("editBusqueda")
                        .HtmlAttributes(new { @class = "btnPrimary" })
                        .Content("<h6 class=\"m-0\"><b>Cerrar</b></h6>"))
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-8 pe-0">
            <div class="bgDanger py-1"></div>
        </div>
        <div class="col-4 ps-0">
            <div class="bg-light py-1"></div>
        </div>
    </div>

    @if (Model != null)
    {
        @if (Model.encontradoEn == (int)EstatusBusquedaVehiculo.Sitteg)
        {
            <div class="row">
                <div class="col-12 my-4">
                    <h5 class="px-4 colorSuccess d-flex align-items-center"><b class="d-flex align-items-center justify-content-center bgSuccess mb-1 me-2 rounded-circle px-1"><i style="font-size: 10px; padding: 7px 2px;" class="icon-correct text-white"></i></b><b>Vehículo registrado en Registro Estatal de Infracciones y Accidentes</b></h5>
                    <h6 class="px-4 text-muted">El vehículo ya está registrado en la plataforma. Puede actualizar o corregir la información del vehículo.</h6>
                </div>
            </div>
        }
        else
        {
            <div class="row">
                <div class="col-12 my-4">
                    <h5 class="px-4 colorDanger d-flex align-items-center"><b class="text-white bgDanger mb-1 me-2 rounded-circle px-2 h6">i</b><b>Vehículo sin registro en Registro Estatal de Infracciones y Accidentes</b></h5>
                    <h6 class="px-4 text-muted">Vehículo no registrado en la plataforma <b class="colorPrimary">Realiza o Completa</b> la captura de vehículo.</h6>
                </div>
            </div>
        }
    }

    <form id="frmCreateVehiculo" class="row px-4 mb-4 align-items-end">

        <div class="col-12 col-md-6 col-lg-3">
            <div class="controlForm my-3">
                <label>Entidad de registro <b>(obligatorio):</b></label>

                @(Html.Kendo().DropDownListFor(d => d.idEntidad)
                    .DataTextField("Text")
                    .DataValueField("Value")
                    .OptionLabel("Seleccione Entidad...")
                    .HtmlAttributes(new { style = "width:100%;" })
                                        .Filter(FilterType.Contains)

                    .DataSource(source =>
                    {
                        source.Read(read =>
                        {
                            read.Action("Entidades_Read", "Vehiculos");
                        });
                    })
                    )
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
            <div class="controlForm my-3">
                <label>Placas:</label>
                @Html.CustomTextBoxFor(model => model.placas,"Ingresa Placa", disableInput)
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
            <div class="controlForm my-3">
                <label>Serie:  </label>
             <!--   @Html.CustomTextBoxFor(model => model.serie,"Ingresa Serie", disableInput)-->

             @if(@disableInput){
                     <span class="k-widget k-textbox" style="width:100%;">
                 <input  type="text" style="width:100%;" value="@Model.serie" name="serie" id="serie" class="k-input k-state-disabled" />
             </span>

             }
             else{
                 <span class="k-widget k-textbox" style="width:100%;">
                 <input  type="text" style="width:100%;" value="@Model.serie" name="serie" id="serie" class="k-input" />
             </span>

             }
             
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
            <div class="controlForm my-3">
                @(Html.Kendo().TextBoxFor(t => t.tarjeta)
                    .Label(l => l.Content("Tarjeta:"))
                    .Placeholder("Ingresa el número de la tarjeta")
                    .HtmlAttributes(new { style = "width: 100%" })
                    )
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
            <div class="controlForm my-3">
                <label>Color:</label>
                @(Html.Kendo().DropDownListFor(d => d.idColor)
                    .DataTextField("Text")
                    .DataValueField("Value")
                    .OptionLabel("Seleccione Color...")
                    .HtmlAttributes(new { style = "width:100%;" })
                                        .Filter(FilterType.Contains)

                    .DataSource(source =>
                    {
                        source.Read(read =>
                        {
                            read.Action("Colores_Read", "Vehiculos");
                        });
                    })
                    )
            </div>
        </div>

        <div class="col-12 col-md-4 col-lg-3 col-xl-2">
            <div class="controlForm my-3">
                <label>Vigencia de tarjeta:</label>
                @if (disableInput)
                {
                    @(Html.Kendo().DatePickerFor(t => t.vigenciaTarjeta).Format("dd/MM/yyyy")
                        .Value(dateVigencia)
                        .DateInput()
                        .HtmlAttributes(new { style = "width: 100%", title = "datetimepicker" })
                        .Value("")
                        )
                }
                else
                {
                    @(Html.Kendo().DatePickerFor(t => t.vigenciaTarjeta).Format("dd/MM/yyyy")
                        //.Value(dateVigencia)
                        .DateInput()
                        .HtmlAttributes(new { style = "width: 100%", title = "datetimepicker" })
                        .Value("")
                        )
                }

            </div>
        </div>

        <div class="col-12 col-md-4 col-lg-3 col-xl-2">
            <div class="controlForm my-3">
                <label>Marca <b>(obligatorio):</b></label>
                @if (disableInput)
                {
                    @(Html.Kendo().DropDownListFor(d => d.idMarcaVehiculo)
                        .DataTextField("Text")
                        .DataValueField("Value")
                        .OptionLabel("Seleccione Marca...")
                        .HtmlAttributes(new { style = "width:100%;", @readonly = "readonly" })
                                            .Filter(FilterType.Contains)

                        .DataSource(source =>
                        {
                            source.Read(read =>
                            {
                                read.Action("Marcas_Read", "Vehiculos");
                            });
                        })
                        )
                }
                else
                {
                    @(Html.Kendo().DropDownListFor(d => d.idMarcaVehiculo)
                                        .Filter(FilterType.Contains)

                        .DataTextField("Text")
                        .DataValueField("Value")
                        .OptionLabel("Seleccione Marca...")
                        .HtmlAttributes(new { style = "width:100%;", id = "ddlMarcas" })
                        .Filter(FilterType.Contains)
                        .DataSource(source =>
                        {
                            source.Read(read =>
                            {
                                read.Action("Marcas_Read", "Vehiculos");
                            });
                        })
                        )
                }

            </div>
        </div>

        <div class="col-12 col-md-4 col-lg-3 col-xl-2">
            <div class="controlForm my-3">
                <label>Sub-Marca <b>(obligatorio):</b></label>
                @if (disableInput)
                {
                    @*<div id="divSubmarca">
                @(Html.Kendo().DropDownListFor(f => f.idSubmarca)
                .OptionLabel("-- Seleccione --")
                .HtmlAttributes(new { style = "width:100%;", required = "required", @readonly = "readonly", })
                )

                </div>*@
                    @Html.HiddenFor(m=> m.idSubmarcaUpdated, new { @id = "hdnIdSubmarca" })

                    @(Html.Kendo().DropDownListFor(d => d.idSubmarca)
                                        .Filter(FilterType.Contains)

                        .DataTextField("Text")
                        .DataValueField("Value")
                        .OptionLabel("Seleccione Sub-Marca...")
                        .HtmlAttributes(new { style = "width:100%;", @readonly = "readonly", id = "ddlidSubmarcaDisabled" })
                        .DataSource(source =>
                        {
                            source.Read(read =>
                            {
                                read.Action("SubMarcas_Read", "Vehiculos");
                            });
                        })
                        )
                }
                else
                {

                    <div id="divSubmarca">
                        @Html.HiddenFor(m=> m.idSubmarca)
                        @(Html.Kendo().DropDownList()
                            .Name("ddlIdSubIn")
                            .OptionLabel(@Model.submarca)
                                                .Filter(FilterType.Contains)

                            .Filter(FilterType.Contains)
                            .HtmlAttributes(new { style = "width:100%;" })
                            )

                    </div>
                }

            </div>
        </div>

        <div class="col-12 col-md-5 col-lg-4 col-xl-3">
            <div class="controlForm my-3">
                <label>Tipo de vehículo <b>(obligatorio):</b></label>

                @if (disableInput)
                {
                    @(Html.Kendo().DropDownListFor(d => d.idTipoVehiculo)
                        .DataTextField("Text")
                        .DataValueField("Value")
                        .OptionLabel("Seleccione Tipo de vehículo...:")
                        .HtmlAttributes(new { style = "width:100%;", @readonly = "readonly" })
                                            .Filter(FilterType.Contains)

                        .DataSource(source =>
                        {
                            source.Read(read =>
                            {
                                read.Action("TiposVehiculo_Read", "Vehiculos");
                            });
                        })
                        )
                }
                else
                {
                    @(Html.Kendo().DropDownListFor(d => d.idTipoVehiculo)
                        .DataTextField("Text")
                        .DataValueField("Value")
                        .OptionLabel("Seleccione Tipo de vehículo...:")
                        .HtmlAttributes(new { style = "width:100%;" })
                         .Filter(FilterType.Contains)
                        .DataSource(source =>
                        {
                            source.Read(read =>
                            {
                                read.Action("TiposVehiculo_Read", "Vehiculos");
                            });
                        })
                        )
                }
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
            <div class="controlForm my-3">
                <label>Modelo:</label>
                @Html.CustomTextBoxFor(model => model.modelo,"Ingresa Modelo", disableInput)

            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
            <div class="controlForm my-3">
                @(Html.Kendo().TextBoxFor(t => t.numeroEconomico)
                    .Label(l => l.Content("No. económico:"))
                    .Placeholder("Ingresa el número económico")
                    .HtmlAttributes(new { style = "width: 100%" })
                    )
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
            <div class="controlForm my-3">
                @(Html.Kendo().TextBoxFor(t => t.paisManufactura)
                    .Label(l => l.Content("Manufactura:"))
                    .Placeholder("Ingresa Manufactura")
                    .HtmlAttributes(new { style = "width: 100%" })
                    )
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
            <div class="controlForm my-3">
                @(Html.Kendo().TextBoxFor(t => t.motor)
                    .Label(l => l.Content("Motor:"))
                    .Placeholder("Ingresa Motor")
                    .HtmlAttributes(new { style = "width: 100%" })
                    )
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
            <div class="controlForm my-3">
                @(Html.Kendo().TextBoxFor(t => t.capacidad)
                    .Label(l => l.Content("Capacidad:"))
                    .Placeholder("Ingresa Capacidad")
                    .HtmlAttributes(new { style = "width: 100%" })
                    )
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
            <div class="controlForm my-3">
                @(Html.Kendo().TextBoxFor(t => t.poliza)
                    .Label(l => l.Content("Póliza:"))
                    .Placeholder("Ingresa Póliza")
                    .HtmlAttributes(new { style = "width: 100%" })
                    )
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
            <div class="controlForm my-3">
                @(Html.Kendo().TextBoxFor(t => t.otros)
                    .Label(l => l.Content("Otros:"))
                    .Placeholder("Ingresa Otros")
                    .HtmlAttributes(new { style = "width: 100%" })
                    )
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
            <div class="controlForm my-3">
                <label>Carga:</label>
                @Html.HiddenFor(m => m.cargaInt, new { id = "idCarga" })
                @(Html.Kendo().SwitchFor(m => m.carga)
                    .Messages(c => c.Checked("Si").Unchecked("No"))
                    .HtmlAttributes(new { style = "transform: scale(1.2);", id = "cargaSwitch" })

                    )
            </div>
        </div>

        @Html.HiddenFor(m=> m.idVehiculo, new { @id = "hdnIdVehiculo" })
        @Html.HiddenFor(m=> m.Persona.idPersona, new { @id = "ddlIdPersona" })
        @Html.HiddenFor(m=> m.Persona.idCatTipoPersona, new { @id = "ddlIdCatTipoPersona" })
        @Html.HiddenFor(m=> m.idCatTipoServicio, new { @id = "hdnIdCatTipoPersona" })
        @Html.HiddenFor(m=> m.encontradoEn, new { @id = "hdnEncontradoEn" })

    </form>

</section>

<section id="sec2" class=" bg-white boxShadow my-5 rounded">
    <div class="row align-items-center justify-content-between px-4 px-md-4 pt-3 pb-2">
        <div class="col-12 col-md-auto">
            <div class="row align-items-center justify-content-center justify-content-md-start">
                <div class="col-auto">
                    <div class="border border-2 border-dark rounded-circle">
                        <h5 class="m-0 numberCard d-flex align-items-center justify-content-center">
                            <b>2</b>
                        </h5>
                    </div>
                </div>
                <div class="col-auto p-0">
                    <i class="icon-data h1 colorPrimary"></i>
                </div>
                <div class="col-auto my-3">
                    <h2 class="m-0 h3"><b>Datos del vehículo</b></h2>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-5 pe-0">
            <div class="bgSuccess py-1"></div>
        </div>
        <div class="col-7 ps-0">
            <div class="bg-light py-1"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 my-4">
            <h5 class="px-4"><b>Datos complementarios</b></h5>
            <h6 class="px-4 text-muted">Completa los datos solicitados como tipo de servicio y el propietario.</h6>
        </div>
    </div>
    <div class="row px-4 align-items-end">

        <div class="col-12 col-md-6 col-lg-4">
            <div class="controlForm my-3">
                <label>Tipo de Servicio:</label>
                @(Html.Kendo().DropDownListFor(d => d.idCatTipoServicio)
                                    .Filter(FilterType.Contains)

                    .DataTextField("Text")
                    .DataValueField("Value")
                    .OptionLabel("Seleccione Tipo de Servicio...:")
                    .HtmlAttributes(new { style = "width:100%;", id = "ddlCatTipoServicio" })
                    .DataSource(source =>
                    {
                        source.Read(read =>
                        {
                            read.Action("TipoServicios_Read", "Vehiculos");
                        });
                    })
                    )
            </div>
        </div>

    </div>


    <section id="sec3" style="display:block">
        <div class="col-12 col-md-8"></div>
        <div class="col-12 mt-4 controlForm">
            <label>Tipo de propietario:</label>
        </div>
        <div>
            <nav class="tabCustom">
                <div class="nav nav-tabs row mx-0" id="nav-tab" role="tablist">
                    <button class="nav-link active col" id="person-moral-tab" data-bs-toggle="tab" data-bs-target="#person-moral" type="button" role="tab" aria-controls="person-moral" aria-selected="true">
                        <div class="row justify-content-center align-items-center px-3 py-2">
                            <div class="col-auto radioCustom p-0">
                                <div class="rounded-circle m-2"></div>
                            </div>
                            <div class="col-auto p-0">
                                <h5 class="m-0"><i class="icon-moral h4"></i> <b>Persona moral</b></h5>
                            </div>
                        </div>
                    </button>
                    <button class="nav-link col" id="person-fisica-tab" data-bs-toggle="tab" data-bs-target="#person-fisica" type="button" role="tab" aria-controls="person-fisica" aria-selected="false">
                        <div class="row justify-content-center align-items-center px-3 py-2">
                            <div class="col-auto radioCustom p-0">
                                <div class="rounded-circle m-2"></div>
                            </div>
                            <div class="col-auto p-0">
                                <h5 class="m-0"><i class="icon-fisica h4"></i> <b>Persona física</b></h5>
                            </div>
                        </div>
                    </button>
                    @*<button class="nav-link col" id="none-person-tab" data-bs-toggle="tab" data-bs-target="#none-person" type="button" role="tab" aria-controls="none-person" aria-selected="false">
                    <div class="row justify-content-center align-items-center px-3 py-2">
                    <div class="col-auto radioCustom p-0">
                    <div class="rounded-circle m-2"></div>
                    </div>
                    <div class="col-auto p-0">
                    <h5 class="m-0"><i class="icon-sinPropietario h4"></i> <b>Se ignora propietario</b></h5>
                    </div>
                    </div>
                    </button>*@
                </div>
            </nav>


        </div>

        <div class="tab-content" id="nav-tabContent">

            @*PERSONA MORAL*@
            <div class="tab-pane tabCustomConteiner fade show active" id="person-moral" role="tabpanel" aria-labelledby="person-moral-tab">
                <div class="row px-4 mt-4 pb-4 align-items-end">

                    <form id="frmSearchPersonaMoral" class="row px-4 mb-4 align-items-end" method="post">
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="controlForm my-3">

                                @(Html.Kendo().TextBoxFor(t => t.PersonaMoralBusquedaModel.RFCBusqueda)
                                    .Label(l => l.Content("RFC:"))
                                    .Placeholder("Ingresa el RFC del propietario o empresa")
                                    .HtmlAttributes(new { style = "width: 100%" })
                                    )
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="controlForm my-3">

                                @(Html.Kendo().TextBoxFor(t => t.PersonaMoralBusquedaModel.RazonSocial)
                                    .Label(l => l.Content("Nombre:"))
                                    .Placeholder("Ingresa el nombre del propietario o empresa")
                                    .HtmlAttributes(new { style = "width: 100%" })
                                    )

                            </div>
                        </div>
                        <div class="col-12 col-md-6 mx-md-auto col-lg-4 mx-lg-0 ">
                            <div class="controlButton my-3">
                                <button class="btnPrimary" type="button" onclick="submitSearchPersonaMoral()">  <h5 class="m-0"><b>Buscar</b></h5></button>

                            </div>
                        </div>

                    </form>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="tabCustomEnd"></div>
                    </div>
                </div>
                <div class="row px-4 py-5 align-items-end bg-light">
                    <div class="col-12 col-md-10 mx-md-auto text-center">
                        <h3><b>Aún no has realizado ninguna búsqueda</b></h3>
                        <h4>Realiza la búsqueda con el RFC o nombre de la persona moral</h4>
                        <div class="row ">
                            <div class="col-12 col-md-8 mx-md-auto col-lg-5 ">
                                <div class="btnOutline btnOutlinePrimary my-3">
                                    <button data-bs-toggle="modal" data-bs-target="#addMoral">
                                        <h5 class="m-0"><i class="me-2 icon-addMoral"></i><b>Agregar nueva persona moral</b></h5>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

            @*PERSONA FISICA*@
            <div class="tab-pane tabCustomConteiner fade" id="person-fisica" role="tabpanel" aria-labelledby="person-fisica-tab">
                <div class="row px-4 mt-4 pb-4 align-items-end">

                    <div id="personasFisicasAcc">
                    </div>

                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="tabCustomEnd">
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>


</section>


<div id="PersonaMoralLocalizada" style="display:none">
    <partial name="_ListPersonasMorales" model="Model.PersonaMoralBusquedaModel.PersonasMorales" />
</div>


<div class="modal fade modalCustom" id="addMoral" aria-labelledby="addMoralLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl boxShadow modal-dialog-centered">
        <div class="modal-content">

            <section class=" bg-white rounded">
                <div class="row align-items-center justify-content-between px-4 px-md-4 pt-3 pb-2">
                    <div class="col-auto pe-0">
                        <div class="row align-items-center justify-content-center justify-content-md-start">
                            <div class="col-auto pe-0">
                                <i class="icon-addMoral h1 colorPrimary"></i>
                            </div>
                            <div class="col-auto my-3">
                                <h2 class="m-0 h3"><b>Agregar persona moral</b></h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="row">
                            <div class="col-auto my-3">
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="bg-light py-1"></div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-12 my-4">
                        <h5 class="px-4"><b>Datos de persona moral</b></h5>
                        <h6 class="px-4 text-muted">Completa los datos obligatorios para guardar.</h6>
                    </div>
                </div>
                <form id="frmCreateMoral" class="row px-4 mb-4 align-items-end">

                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="controlForm mb-3">
                            @(Html.Kendo().TextBoxFor(t => t.Persona.RFC)
                                .Label(l => l.Content("RFC:"))
                                .Placeholder("Ingresa RFC")
                                .HtmlAttributes(new { style = "width: 100%" })
                                )
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="controlForm my-3">
                            @(Html.Kendo().TextBoxFor(t => t.Persona.nombre)
                                .Label(l => l.Content("Nombre <b>(obligatorio)</b>:"))
                                .Placeholder("Ingresa Nombre")
                                .HtmlAttributes(new { style = "width: 100%", required = "required" })
                                )
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="controlForm my-3">
                            @(Html.Kendo().TextBoxFor(t => t.Persona.PersonaDireccion.telefono)
                                .Label(l => l.Content("Teléfono:"))
                                .Placeholder("Ingresa Teléfono")
                                .HtmlAttributes(new { style = "width: 100%" })
                                )
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="controlForm my-3">
                            @(Html.Kendo().TextBoxFor(t => t.Persona.PersonaDireccion.correo)
                                .Label(l => l.Content("Correo electrónico:"))
                                .Placeholder("Ingresa correo electrónico")
                                .HtmlAttributes(new { style = "width: 100%" })
                                )

                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="controlForm my-3">

                            <label>Entidad:</label>
                            <span>
                                @(Html.Kendo().DropDownListFor(d => d.Persona.PersonaDireccion.idEntidad)
                                    .DataTextField("Text")
                                    .DataValueField("Value")
                                    .OptionLabel("Seleccione Entidad...")
                                    .Filter(FilterType.Contains)
                                    .Events(e => e.Change("EntidadDropDownChangeAcc"))
                                    .HtmlAttributes(new { style = "width:100%;" })
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action("Entidades_Read", "CapturaAccidentes");
                                        });
                                    })
                                    )
                            </span>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="controlForm my-3">
                            <label>Municipio:</label>
                            <span>
                                @(Html.Kendo().DropDownListFor(d => d.Persona.PersonaDireccion.idMunicipio)
                                    .DataTextField("Text")
                                    .DataValueField("Value")
                                    .OptionLabel("Seleccione Municipio...")
                                    .HtmlAttributes(new { style = "width:100%;" })
                                                        .Filter(FilterType.Contains)

                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action("Municipios_Por_Entidad", "CapturaAccidentes");
                                        });
                                    })
                                    )

                            </span>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="controlForm my-3">
                            @(Html.Kendo().TextBoxFor(t => t.Persona.PersonaDireccion.colonia)
                                .Label(l => l.Content("Colonia <b>(obligatorio)</b>:"))
                                .Placeholder("Ingresa colonia")
                                .HtmlAttributes(new { style = "width: 100%", required = "required" })
                                )
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="controlForm my-3">
                            @(Html.Kendo().TextBoxFor(t => t.Persona.PersonaDireccion.calle)
                                .Label(l => l.Content("Calle <b>(obligatorio)</b>:"))
                                .Placeholder("Ingresa calle")
                                .HtmlAttributes(new { style = "width: 100%" })
                                )

                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="controlForm my-3">

                            @(Html.Kendo().TextBoxFor(t => t.Persona.PersonaDireccion.numero)
                                .Label(l => l.Content("Número <b>(obligatorio)</b>:"))
                                .Placeholder("Ingresa número")
                                .HtmlAttributes(new { style = "width: 100%" })
                                )
                        </div>
                    </div>



                </form>
                <div class="row my-4">
                    <div class="col-12 col-md-6 mx-md-auto">
                        <div class="row justify-content-around">
                            <div class="col-auto btnOutline my-2 mx-auto mx-xl-2 p-0">
                                <button type="button" data-bs-dismiss="modal" aria-label="Close">
                                    <h6 class="m-0 px-3"><b>Cerrar</b></h6>
                                </button>
                            </div>
                            <div class="col-auto btnOutline btnOutlinePrimary my-2 mx-auto mx-xl-2 p-0">
                                <div class="controlButton" onClick="submitCreateMoral()" @* data-bs-dismiss="modal"*@ aria-label="Close">
                                    @(Html.Kendo().Button()
                                        .Name("AddMoral")
                                        .HtmlAttributes(new { @class = "btnPrimary px-3" })
                                        .Content("<h5 class=\"m-0\"><b>Guardar ajustes</b></h5>"))
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </section>
        </div>
    </div>
</div>

<div class="modal fade modalCustom" id="modalUpdateMoral" aria-labelledby="updateMoralLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl boxShadow modal-dialog-centered">
        <div class="modal-content">

            <section class=" bg-white rounded">
                <div class="row align-items-center justify-content-between px-4 px-md-4 pt-3 pb-2">
                    <div class="col-auto pe-0">
                        <div class="row align-items-center justify-content-center justify-content-md-start">
                            <div class="col-auto pe-0">
                                <i class="icon-editMoral h1 colorPrimary"></i>
                            </div>
                            <div class="col-auto my-3">
                                <h2 class="m-0 h3"><b>Editar persona moral</b></h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="row">
                            <div class="col-auto my-3">
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="bg-light py-1"></div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-12 my-4">
                        <h5 class="px-4"><b>Datos de persona moral</b></h5>
                        <h6 class="px-4 text-muted">Completa los datos obligatorios para guardar.</h6>
                    </div>
                </div>

                @*//Modal*@
                <div class="modal-body" id="ModalBodyUpdateMoral">
                </div>


            </section>
        </div>
    </div>
</div>
<div class="modal fade modalCustom" id="addFisico" aria-labelledby="addFisicoLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl boxShadow modal-dialog-centered">
        <div class="modal-content">

            <section class=" bg-white rounded">
                <div class="row align-items-center justify-content-between px-4 px-md-4 pt-3 pb-2">
                    <div class="col-auto pe-0">
                        <div class="row align-items-center justify-content-center justify-content-md-start">
                            <div class="col-auto pe-0">
                                <i class="icon-addFisica h1 colorPrimary"></i>
                            </div>
                            <div class="col-auto my-3">
                                <h2 class="m-0 h3"><b>Agregar persona física</b></h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="row">
                            <div class="col-auto my-3">
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="bg-light py-1"></div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-12 my-4">
                        <h5 class="px-4"><b>Datos de persona física</b></h5>
                        <h6 class="px-4 text-muted">Completa los datos obligatorios para guardar.</h6>
                    </div>
                </div>
                <form id="personaFisicaForm" class="row px-4 mb-4 align-items-end">
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="controlForm mb-3">
                            @(Html.Kendo().TextBoxFor(t => t.Persona.nombreFisico)
                                .Label(l => l.Content("Nombre(s) <b>(obligatorio)</b>:"))
                                .Placeholder("Ingresa el nombre(s)")
                                .HtmlAttributes(new { style = "width: 100%", required = "required"})
                                )

                        </div>
                        <div id="errorContainerPersona_nombreFisico" class="error-container"></div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="controlForm my-3">
                            @(Html.Kendo().TextBoxFor(t => t.Persona.apellidoPaternoFisico)
                                .Label(l => l.Content("Apellido paterno:"))
                                .Placeholder("Ingresa el apellido paterno")
                                .HtmlAttributes(new { style = "width: 100%" })
                                )

                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="controlForm my-3">
                            @(Html.Kendo().TextBoxFor(t => t.Persona.apellidoMaternoFisico)
                                .Label(l => l.Content("Apellido materno:"))
                                .Placeholder("Ingresa el apellido materno")
                                .HtmlAttributes(new { style = "width: 100%" })
                                )

                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="controlForm mb-3">
                            @(Html.Kendo().TextBoxFor(t => t.Persona.RFCFisico)
                                .Label(l => l.Content("RFC :"))
                                .Placeholder("Ingresa un RFC valido")
                                .HtmlAttributes(new { style = "width: 100%" })
                                )

                        </div>
                          <div id="errorContainerPersona_RFCFisico" class="error-container"></div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="controlForm mb-3">
                            @(Html.Kendo().TextBoxFor(t => t.Persona.CURPFisico)
                                .Label(l => l.Content("CURP:"))
                                .Placeholder("Ingresa un CURP valido")
                                .HtmlAttributes(new { style = "width: 100%" })
                                )
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="controlForm mb-3">
                            <label>Fecha de nacimiento <b>(obligatorio)</b></label>
                            <span>
                                @(Html.Kendo().DatePickerFor(t => t.Persona.fechaNacimiento)
                                    .Format("dd/MM/yyyy")
                                   .HtmlAttributes(new { style = "width: 100%", required = "required" })
                                    )
                            </span>
                        </div>
                         <div id="errorContainerPersona_fechaNacimiento" class="error-container"></div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="controlForm">
                            <label>Sexo <b>(obligatorio)</b></label>
                        </div>
                        @Html.HiddenFor(m => m.Persona.idGenero, new { id = "idGenero" })
                        @(Html.Kendo().SwitchFor(m => m.Persona.generoBool)
                            .Messages(c => c.Checked("<span style='font-size: 6px;'>Hombre</span>").Unchecked("<span style='font-size: 6px;'>Mujer</span>"))
                            .HtmlAttributes(new { style = "transform: scale(1.6);", id = "generoSwitch",required = "required" })
                            )
                    </div>



                    <div class="col-12 my-5">
                        <div class="bg-light pt-1 mx-1"></div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="controlForm mb-3">
                            @(Html.Kendo().TextBoxFor(t => t.Persona.PersonaDireccion.telefonoFisico)
                                .Label(l => l.Content("Teléfono:"))
                                .Placeholder("Ingresa un Teléfono")
                                .HtmlAttributes(new { style = "width: 100%" })
                                )

                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="controlForm mb-3">
                            @(Html.Kendo().TextBoxFor(t => t.Persona.PersonaDireccion.correoFisico)
                                .Label(l => l.Content("Correo electrónico:"))
                                .Placeholder("Ingresa un correo electrónico:")
                                .HtmlAttributes(new { style = "width: 100%" })
                                )

                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="controlForm my-3">
                            <label>Entidad:</label>
                            <span>
                                @(Html.Kendo().DropDownListFor(d => d.Persona.PersonaDireccion.idEntidadFisico)
                                    .DataTextField("Text")
                                    .DataValueField("Value")
                                    .OptionLabel("Seleccione Entidad...")
                                    .HtmlAttributes(new { style = "width:100%;" })
                                    .Filter(FilterType.Contains)
                                   .Events(e => e.Change("EntidadDDChangeAccFis"))
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action("Entidades_Read", "CapturaAccidentes");
                                        });
                                    })
                                    )
                            </span>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="controlForm my-3">
                            @(Html.Kendo().TextBoxFor(t => t.Persona.PersonaDireccion.coloniaFisico)
                                .Label(l => l.Content("Colonia <b>(obligatorio)</b>:"))
                                .Placeholder("Ingresa una colonia")
                                .HtmlAttributes(new { style = "width: 100%", required = "required" })
                                )

                        </div>
                       <div id="errorContainerPersona_PersonaDireccion_coloniaFisico" class="error-container"></div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-6">
                        <div class="controlForm my-3">
                            @(Html.Kendo().TextBoxFor(t => t.Persona.PersonaDireccion.calleFisico)
                                .Label(l => l.Content("Calle <b>(obligatorio)</b>:"))
                                .Placeholder("Ingresa una calle")
                                .HtmlAttributes(new { style = "width: 100%", required = "required" })
                                )

                        </div>
                         <div id="errorContainerPersona_calleFisico" class="error-container"></div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-2">
                        <div class="controlForm my-3">
                            @(Html.Kendo().TextBoxFor(t => t.Persona.PersonaDireccion.numeroFisico)
                                .Label(l => l.Content("Número <b>(obligatorio)</b>:"))
                                .Placeholder("Ingresa un número interior")
                                .HtmlAttributes(new { style = "width: 100%", required = "required" })
                                )

                        </div>
                        <div id="errorContainerPersona_PersonaDireccion_numeroFisico" class="error-container"></div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="controlForm my-3">
                            <label>Municipio:</label>
                            <span>
                                @(Html.Kendo().DropDownListFor(d => d.Persona.PersonaDireccion.idMunicipioFisico)
                                    .DataTextField("Text")
                                    .DataValueField("Value")
                                    .OptionLabel("Seleccione Municipio...")
                                    .HtmlAttributes(new { style = "width:100%;" })
                                                        .Filter(FilterType.Contains)

                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action("Municipios_Por_Entidad", "CapturaAccidentes");
                                        });
                                    })
                                    )
                            </span>
                        </div>
                    </div>


                    <div class="col-12 my-5">
                        <div class="bg-light pt-1 mx-1"></div>
                    </div>



                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="controlForm my-3">
                            @(Html.Kendo().TextBoxFor(t => t.Persona.numeroLicenciaFisico)
                                .Label(l => l.Content("No. Licencia:"))
                                .Placeholder("Ingresa un número de licencia:")
                                .HtmlAttributes(new { style = "width: 100%" })
                                )

                        </div>
                    </div>



                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="controlForm my-3">
                            <label>Tipo de licencia:</label>
                            <span>
                                @(Html.Kendo().DropDownListFor(t => t.Persona.idTipoLicencia)
                                    .Label(l => l.Content("Tipo de Licencia:"))
                                    .DataTextField("Text")
                                    .DataValueField("Value")
                                    .OptionLabel("Selecciona el tipo de licencia")
                                                        .Filter(FilterType.Contains)

                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action("TipoLicencias_Drop", "Vehiculos");
                                        });
                                    })
                                    .HtmlAttributes(new { style = "width:100%;" })
                                    )
                            </span>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="controlForm my-3">
                            <label>Fecha de vencimiento:</label>
                            <span>
                                @(Html.Kendo().DatePickerFor(t => t.Persona.vigenciaLicencia).Format("dd/MM/yyyy")
                                    .DateInput()
                                    )

                            </span>
                        </div>
                    </div>

                </form>
                <div class="row my-4">
                    <div class="col-12 col-md-6 mx-md-auto">
                        <div class="row justify-content-around">
                            <div class="col-auto btnOutline my-2 mx-auto mx-xl-2 p-0">
                                <button type="button" data-bs-dismiss="modal_v" aria-label="Close">
                                    <h6 class="m-0 px-3"><b>Cerrar</b></h6>
                                </button>
                            </div>
                            <div class="col-auto btnOutline btnOutlinePrimary my-2 mx-auto mx-xl-2 p-0">
                                <div class="controlButton" onClick="submitCreatePersonaFisica()" data-bs-dismiss="modal_v" aria-label="Close">
                                    @(Html.Kendo().Button()
                                        .Name("AddFisico")
                                        .HtmlAttributes(new { @class = "btnPrimary px-3" })
                                        .Content("<h5 class=\"m-0\"><b>Guardar ajustes</b></h5>"))
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

            </section>
        </div>
    </div>
</div>

<div class="modal fade" id="confirmacionModal" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ¿Está seguro de que desea cerrar la ventana y perder la información ingresada?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Aceptar</button>
                <button type="button" class="btn btn-secondary" id="confirmarCerrar">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {
         @if (ViewBag.ReporteRobo == true)
        {
		<text>
		sitteg_error('El vehículo cuenta con reporte de robo')
		</text>
        }

        


        buscarPersonasFisicas();
    });

    function buscarPersonasFisicas() {

        $.ajax({
            url: '@Url.Action("ajax_BuscarPersonasFiscas")',
            type: 'POST',
            success: function (result) {
                $("#personasFisicasAcc").html(result);
            }
        });
    }

    $("#ddlMarcas").on("change", function () {
        var value = $(this).val();
        _set_combo_catalog("CatSubmarcasByFilter", value, "idSubmarca", "false", "divSubmarca", "");
        $('#idSubmarca').kendoDropDownList();

    });

    //$("#idSubmarca").on("change", function () {
    //    var value = $(this).val();
    //    console.log(value);
    //    $('#hdnIdSubmarca').val(value);

    //});

    $("#ddlCatTipoServicio").on("change", function () {
        var value = $(this).val();
        console.log(value);
        $('#hdnIdCatTipoPersona').val(value);

    });
function submitCreateMoral() {
    var validator = $("#frmCreateMoral").kendoValidator().data('kendoValidator');
    
    var idTelefono = $("#Persona_PersonaDireccion_telefono");
    var idTelefonoValue = idTelefono.val();
    
    if (idTelefonoValue === null || idTelefonoValue === "") {
        idTelefono.prop("disabled", true);
    }

    idTelefono.off('blur');


    $("#idCatTipoServicio").prop("disabled",true)


    if (validator.validate()) {
        var formData = $("#frmCreateMoral").serialize();

        $.ajax({
            url: '@Url.Action("ajax_CrearPersonaMoral")',
            type: 'POST',
            data: formData,
            success: function (result) {
                sitteg_success('Elemento guardado correctamente');
                window.setTimeout(function () {
                    document.getElementById("sec3").style.display = "none";
                    document.getElementById("PersonaMoralLocalizada").style.display = "block";
                    $("#PersonaMoralLocalizada").html(result);
                    $('#addMoral').modal('hide');
                    sitteg_success('Elemento guardado correctamente');
                }, 500);
            },
            error: function (xhr, status) {
                var errmsg = xhr.responseText;
                console.log(errmsg);
                sitteg_warning('Lo sentimos, ha ocurrido un error.');
            }
        });
    } else {
        idTelefono.prop("disabled", false);
        $("#idCatTipoServicio").prop("disabled",false)

        sitteg_info('Debe llenar los campos requeridos');
        return;
    }
}


    function submitSearchPersonaMoral() {
        var Mydata = $("#frmSearchPersonaMoral").serialize();
        console.log(Mydata);
        $.ajax({
            url: '@Url.Action("ajax_BuscarPersonaMoral")',
            type: 'POST',
            data: Mydata,
            success: function (result) {
                document.getElementById("sec3").style.display = "none";
                document.getElementById("PersonaMoralLocalizada").style.display = "block";
                $("#PersonaMoralLocalizada").html(result);
                var grid = $("#gridPersonasMoralesAC").data("kendoGrid");
                grid.refresh();
            }
        });
    }

    function submitCreatePersonaFisica() {
    var nombreValue = $("#Persona_nombreFisico").val();
    var RFCValue = $("#Persona_RFCFisico").val();
    var coloniaValue = $("#Persona_PersonaDireccion_coloniaFisico").val();           
    var calleValue = $("#Persona_PersonaDireccion_calleFisico").val();            
     var numeroValue = $("#Persona_PersonaDireccion_numeroFisico").val();
    var fechaNacimientoValue = $("#Persona_fechaNacimiento").data("kendoDatePicker").value();
     $('.error-container').empty();

    if (!nombreValue  || !coloniaValue || !calleValue || !numeroValue || !fechaNacimientoValue) {
        if (!nombreValue) {
            asignarMensajeError("errorContainerPersona_nombreFisico", "Este campo es obligatorio.");
        }

        if (!coloniaValue) {
            asignarMensajeError("errorContainerPersona_PersonaDireccion_coloniaFisico", "Este campo es obligatorio.");
        }
        if (!calleValue) {
            asignarMensajeError("errorContainerPersona_calleFisico", "Este campo es obligatorio.");
        }
        if (!numeroValue) {
            asignarMensajeError("errorContainerPersona_PersonaDireccion_numeroFisico", "Este campo es obligatorio.");
        }
        if (!fechaNacimientoValue) {
            asignarMensajeError("errorContainerPersona_fechaNacimiento", "Este campo es obligatorio.");
        }

        return;
    }

    var generoBool = $("#generoSwitch").prop("checked");
    $("#idGenero").val(generoBool ? 1 : 0);

    var Mydata = $("#personaFisicaForm").serialize();

    $.ajax({
        url: '@Url.Action("ajax_CrearPersonaFisica")',
        type: 'POST',
        data: Mydata,
        success: function (result) {
            console.log(result);
            $("#personasFisicasAcc").html(result);

            $('#addFisico').modal('hide');
        },
        error: function (xhr, textStatus, errorThrown) {
            console.error("Error en la solicitud AJAX:", textStatus, errorThrown);
        }
    });
}
function asignarMensajeError(contenedorErrorId, mensaje) {
    $('<div class="error-message">' + mensaje + '</div>').appendTo("#" + contenedorErrorId).css('color', 'red');
}

    function submitCreateVehiculo() {
        var carga = $("#cargaSwitch").prop("checked");
        $("#idCarga").val(carga ? 1 : 0);

        var validator = $("#frmCreateVehiculo").kendoValidator().data('kendoValidator');
        validator.validate();

        if ($("#ddlIdPersona").val() == '') {
            sitteg_info('Debe seleccionar una Persona');
            return;
        }

        if (validator.validate()) {

            var formData = $("#frmCreateVehiculo").serialize();
            var idVeh = $('#hdnIdVehiculo').val();
            console.log("Id vehiculo: ", idVeh)
               console.log("dtaa: ", formData)

            $.ajax({
                url: '@Url.Action("ajax_CrearVehiculo_Ejemplo")',
                type: 'POST',
                data: formData,
                success: function (result) {
                    console.log("hd", result)
                    sitteg_success('Elemento guardado correctamente')
                    $('#VehiculoServiceModal').modal('hide');
                    //$('#agregarVehiculoModal').modal('hide');
                    var grid = $("#gridPrevioVehiculo").data("kendoGrid");
                    grid.dataSource.data(result.data);
                    grid.refresh();
                },
                error: function (xhr, status) {
                    var errmsg = xhr.responseText;
                    console.log(errmsg)
                    sitteg_warning('Lo sentimos, ha ocurrido un error.Comuníquese con su mesa de ayuda');
                }
            });
        }
        else {
            sitteg_info('Debe llenar los campos requeridos');
            return;
        }

    }
    function cerrarModalV() {
        $('#confirmacionModal').modal('show');

        $('#confirmarCerrar').on('click', function () {
            $('#confirmacionModal').modal('hide');
            window.close(); 
        });
    }

    $(document).ready(function () {
        var datePicker = $("#Persona_vigenciaLicencia").data("kendoDatePicker");
        datePicker.value(null);
    });

    $(document).ready(function () {
        var datePicker = $("#vigenciaTarjeta").data("kendoDatePicker");
        var dateVigencia = datePicker.value();

        if (dateVigencia !== null && dateVigencia.getTime() === new Date(1, 0, 1).getTime()) {
            datePicker.value(null);
        }
    });
       
</script>