@model GuanajuatoAdminUsuarios.Models.CapturaAccidentesModel

<div class="modal-dialog modal-lg boxShadow modal-dialog-centered">
    <div class="modal-content">
        <section class=" bg-white rounded"> 
    <div class="row align-items-center justify-content-between px-4 px-md-4 pt-3 pb-2">
        <div class="col-12 col-md-auto">
            <div class="row align-items-center justify-content-center justify-content-md-start">
                <div class="col-auto">
                    <div class="border border-2 border-dark rounded-circle">
                        <h5 class="m-0 numberCard d-flex align-items-center justify-content-center">
                            <b>2</b>
                        </h5>
                    </div>
                </div>
                <div class="col-auto p-0">
                    <i class="icon-car h1 colorPrimary"></i>
                </div>
                <div class="col-auto my-3">
                    <h2 class="m-0 h3"><b>Vehículos involucrados</b></h2>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-7 col-xl-auto">
            <div class="row">
                <div class="col-auto btnOutline my-2 mx-auto mx-xl-2 p-0">
                    @(Html.Kendo().Button()
                        .Name("backVehiculo")
                        .HtmlAttributes(new { @class = "px-5" })
                        .Content("<h6 class=\"m-0\"><i class=\"icon-back me-2\"></i><b>Regresar</b></h6>"))
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-5 pe-0">
            <div class="bgSuccess py-1"></div>
        </div>
        <div class="col-7 ps-0">
            <div class="bg-light py-1"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 my-4">
            <h5 class="px-4"><b>Datos del vehículo</b></h5>
            <h6 class="px-4 text-muted">Completa los datos solicitados como tipo de servicio y el propietario.</h6>
        </div>
    </div>
    <div class="row px-4 align-items-end">
        <div class="col-12 mt-4 controlForm">
            <label>Tipo de búsqueda:</label>
        </div>
    </div>
    <nav class="tabCustom">
        <div class="nav nav-tabs row mx-0" id="nav-tab" role="tablist">
            <button class="nav-link active col" id="placa-vehiculo-tab" data-bs-toggle="tab" data-bs-target="#placa-vehiculo" type="button" role="tab" aria-controls="placa-vehiculo" aria-selected="true">
                <div class="row justify-content-center align-items-center px-3 py-2">
                    <div class="col-auto radioCustom p-0">
                        <div class="rounded-circle m-2"></div>
                    </div>
                    <div class="col-auto p-0">
                        <h5 class="m-0"><i class="icon-placa h4"></i> <b>Placa del vehículo</b></h5>
                    </div>
                </div>
            </button>
            <button class="nav-link col" id="serie-vehiculo-tab" data-bs-toggle="tab" data-bs-target="#serie-vehiculo" type="button" role="tab" aria-controls="serie-vehiculo" aria-selected="false">
                <div class="row justify-content-center align-items-center px-3 py-2">
                    <div class="col-auto radioCustom p-0">
                        <div class="rounded-circle m-2"></div>
                    </div>
                    <div class="col-auto p-0">
                        <h5 class="m-0"><i class="icon-fisica h4"></i> <b>No. de serie del vehículo</b></h5>
                    </div>
                </div>
            </button>
            <button class="nav-link col" id="folio-G-01-tab" data-bs-toggle="tab" data-bs-target="#folio-G-01" type="button" role="tab" aria-controls="folio-G-01" aria-selected="false">
                <div class="row justify-content-center align-items-center px-3 py-2">
                    <div class="col-auto radioCustom p-0">
                        <div class="rounded-circle m-2"></div>
                    </div>
                    <div class="col-auto p-0">
                        <h5 class="m-0"><i class="icon-data h4"></i> <b>Folio de formato G-01</b></h5>
                    </div>
                </div>
            </button>

        </div>
    </nav>
    <form id="buscarVehiculoForm">

        <div class="tab-content" id="nav-tabContent">

            <div class="tab-pane tabCustomConteiner fade show active" id="placa-vehiculo" role="tabpanel" aria-labelledby="placa-vehiculo-tab">
                <div class="row px-4 mt-4 pb-4 align-items-end">
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="controlForm my-3">
                                 @(Html.Kendo().TextBoxFor(t => t.Placa)
                                .Label(l => l.Content("Placa del vehículo:"))
                                .Placeholder("Ingresa la placa del vehículo")
                                .HtmlAttributes(new { style = "width: 100%" })
                                )
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="tabCustomEnd"></div>
                    </div>
                </div>
            </div>
            <div class="tab-pane tabCustomConteiner fade" id="serie-vehiculo" role="tabpanel" aria-labelledby="serie-vehiculo-tab">
                <div class="row px-4 mt-4 pb-4 align-items-end">
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="controlForm my-3">
                            @(Html.Kendo().TextBoxFor(t => t.Serie)
                                .Label(l => l.Content("Número de serie del vehículo:"))
                                .Placeholder("Ingresa el número de serie del vehículo")
                                .HtmlAttributes(new { style = "width: 100%" })
                                )
                        </div>
                    </div>

                </div>
            </div>
        <div class="row">
            <div class="col-12">
                <div class="tabCustomEnd"></div>
            </div>
        </div>
        <div class="tab-pane tabCustomConteiner fade" id="folio-G-01" role="tabpanel" aria-labelledby="folio-G-01-tab">
            <div class="row px-4 mt-4 pb-4 align-items-end">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="controlForm my-3">
                        @(Html.Kendo().TextBox()
                            .Name("folio")
                            .Label(l => l.Content("Número de folio de formato G-01:"))
                            .Placeholder("Ingresa el número de folio G-01")
                            .HtmlAttributes(new { style = "width: 100%" })
                            )
                    </div>
                </div>
            </div>
        </div>
       </div>
                <div class="row">
                    <div class="col-12">
                        <div class="tabCustomEnd"></div>
                    </div>
                </div>
    </form>
            <div class="col-12 col-md-6 mx-md-auto col-lg-4 mx-lg-0 ">
                <div class="controlButton my-3" onclick="busquedaVehiculo()">
                    @(Html.Kendo().Button()
                        .Name("buscar")
                        .HtmlAttributes(new { @class = "btnPrimary" })
                        .Content("<h5 class=\"m-0\"><b>Buscar</b></h5>"))
                </div>
            </div>
     <div id="listadoDetalleVehiculo">
        <partial name="_ListaDetalleVehiculo" model="Model" />
     </div>
</section>
</div>
</div>

<script>
    function busquedaVehiculo() {
        var formData = $("#buscarVehiculoForm").serialize();

        $.ajax({
            url: '@Url.Action("BuscarVehiculo")',
            type: 'POST',
            data: formData,
            success: function (response) {
                console.log("Response:", response);
                var grid = $("#gridPrevioVehiculo").data("kendoGrid");
                grid.dataSource.data(response);
            },
            error: function (error) {
                var errorMessage = error.responseText || "Ocurrió un error, inténtelo nuevamente más tarde.";
                sitteg_warning(errorMessage);
            }
        });
    }


</script>