@model GuanajuatoAdminUsuarios.Models.CapturaAccidentesModel
<section class=" bg-white rounded">
    <div class="row align-items-center justify-content-between px-4 px-md-4 pt-3 pb-2">
        <div class="col-12 col-md-auto">
            <div class="row align-items-center justify-content-center justify-content-md-start">
                <div class="col-auto">
                    <div class="border border-2 border-dark rounded-circle">
                        <h5 class="m-0 numberCard d-flex align-items-center justify-content-center">
                            <b>3</b>
                        </h5>
                    </div>
                </div>
                <div class="col-auto p-0">
                    <i class="icon-conductor h1 colorPrimary"></i>
                </div>
                <div class="col-auto my-3">
                    <h2 class="m-0 h3"><b>Conductor</b></h2>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-7 col-xl-auto">
            <div class="row">
                <div class="col-auto btnOutline my-2 mx-auto mx-xl-2 p-0" onclick="regresarModalVehiculo()">
                    @(Html.Kendo().Button()
                        .Name("backSearchConductor")
                        .HtmlAttributes(new { @class = "px-5" })
                        .Content("<h6 class=\"m-0\"><i class=\"icon-back me-2\"></i><b>Regresar</b></h6>"))
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-5 pe-0">
            <div class="bgSuccess py-1"></div>
        </div>
        <div class="col-7 ps-0">
            <div class="bg-light py-1"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 my-4">
            <h5 class="px-4"><b>Datos de conductor</b></h5>
            <h6 class="px-4 text-muted">Selecciona entre el propietario o búsqueda / nuevo conductor </h6>
        </div>
    </div>
    <div class="row px-4 align-items-end">
        <div class="col-12 mt-4 controlForm">
            <label>Conductor del vehículo:</label>
        </div>
    </div>
    <div>
        <nav class="tabCustom">
            <div class="nav nav-tabs row mx-0" id="nav-tab" role="tablist">
                <button class="nav-link active col" id="propietario-conductor-tab" data-bs-toggle="tab" data-bs-target="#propietario-conductor" type="button" role="tab" aria-controls="person-moral" aria-selected="true">
                    <div class="row justify-content-center align-items-center px-3 py-2">
                        <div class="col-auto radioCustom p-0">
                            <div class="rounded-circle m-2"></div>
                        </div>
                        <div class="col-auto p-0">
                            <h5 class="m-0"><i class="icon-propietario h4"></i> <b>Propietario</b></h5>
                        </div>
                    </div>
                </button>
                <button class="nav-link col" id="busqueda-conductor-tab" data-bs-toggle="tab" data-bs-target="#busqueda-conductor" type="button" role="tab" aria-controls="busqueda-conductor" aria-selected="false">
                    <div class="row justify-content-center align-items-center px-3 py-2">
                        <div class="col-auto radioCustom p-0">
                            <div class="rounded-circle m-2"></div>
                        </div>
                        <div class="col-auto p-0">
                            <h5 class="m-0"><i class="icon-fisica h4"></i> <b>Búsqueda de conductor</b></h5>
                        </div>
                    </div>
                </button>
                <button class="nav-link col" id="none-person-tab" data-bs-toggle="tab" data-bs-target="#none-person" type="button" role="tab" aria-controls="none-person" aria-selected="false">
                    <div class="row justify-content-center align-items-center px-3 py-2">
                        <div class="col-auto radioCustom p-0">
                            <div class="rounded-circle m-2"></div>
                        </div>
                        <div class="col-auto p-0">
                            <h5 class="m-0"><i class="icon-sinPropietario h4"></i> <b>Se ignora conductor</b></h5>
                        </div>
                    </div>
                </button>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane tabCustomConteiner fade show active" id="propietario-conductor" role="tabpanel" aria-labelledby="propietario-conductor-tab">
                <div class="row px-4 mt-3 pb-2 align-items-end">
                    <div class="col-12 mt-4">
                        <h5 class="px-4"><b>Datos de conductor</b></h5>
                        <h6 class="px-4 text-muted">Selecciona entre el propietario o búsqueda / nuevo conductor </h6>
                    </div>
                </div>
                <div class="row px-4 align-items-end">
                    <div class="col">
                        <div class="controlForm mb-3 mt-1">
                            <label class="text-muted">Tipo de propietario:</label>
                            <label>@Model.TipoPersona</label>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="controlForm mb-3 mt-1">
                            <label class="text-muted">Nombre:</label>
                            <label>@Model.IdAccidente </label>

                            <label>@Model.Propietario </label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="controlForm mb-3 mt-1">
                            <label class="text-muted">RFC:</label>
                            <label>@Model.RFC</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="controlForm mb-3 mt-1">
                            <label class="text-muted">CURP:</label>
                            <label>@Model.CURP</label>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="controlForm mb-3 mt-1">
                            <label class="text-muted">Fecha de nacimiento:</label>
                            <label>@(Model.fechaNacimiento != null ? Model.fechaNacimiento.Value.ToString("dd/MM/yyyy") : "-")</label>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="controlForm mb-3 mt-1">
                            <label class="text-muted">Sexo:</label>
                            <label>@Model.Genero</label>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="controlForm mb-3 mt-1">
                            <label class="text-muted">Teléfono:</label>
                            <label>@Model.Telefono</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="controlForm mb-3 mt-1">
                            <label class="text-muted">Correo electrónico:</label>
                            <label>@Model.Correo</label>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="controlForm mb-3 mt-1">
                            <label class="text-muted">Modelo:</label>
                            <label>@Model.Modelo</label>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="controlForm mb-3 mt-1">
                            <label class="text-muted">Entidad:</label>
                            <label>@Model.Entidad</label>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="controlForm mb-3 mt-1">
                            <label class="text-muted">Colonia:</label>
                            <label>@Model.Colonia</label>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="controlForm mb-3 mt-1">
                            <label class="text-muted">Calle:</label>
                            <label>@Model.Calle</label>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="controlForm mb-3 mt-1">
                            <label class="text-muted">Número:</label>
                            <label>@Model.Numero</label>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="controlForm mb-3 mt-1">
                            <label class="text-muted">Municipio:</label>
                            <label>@Model.Municipio</label>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="controlForm mb-3 mt-1">

                            <label class="text-muted">Vigencia Licencia:</label>
                            <label>
                                @((Model.vigenciaLicencia != new DateTime(1900, 1, 1) && Model.vigenciaLicencia != DateTime.MinValue)
                                    ? Model.vigenciaLicencia.ToString("dd/MM/yyyy")
                                    : "-")
                            </label>



                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="controlForm mb-3 mt-1">
                            <label class="text-muted">Tipo de licencia:</label>
                            <label>@Model.TipoLicencia</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="controlForm mb-3 mt-1">
                            <label class="text-muted">Fecha de vencimiento:</label>
                            <label>
                                @((Model.vigenciaLicencia != new DateTime(1900, 1, 1) && Model.vigenciaLicencia != DateTime.MinValue)
                                    ? Model.vigenciaLicencia.ToString("dd/MM/yyyy")
                                    : "-")
                            </label>
                        </div>
                    </div>
                </div>
                <form id="propietarioConductorForm">
                    @Html.HiddenFor(m => m.IdPersona)
                    @Html.HiddenFor(m => m.IdVehiculo, new { @id = "IdVehiculoH" })
                </form>
                <div class="row justify-content-center mb-3">
                    <div class="col-11 col-md-auto">
                        <div class="controlButton my-3" onclick="guardarVehiculoConductor()">
                            @(Html.Kendo().Button()
                                .Name("PropietarioConductor")
                                .HtmlAttributes(new { @class = "btnPrimary" })
                                .Content("<h5 class=\"m-0\"><b>Seleccionar al propietario como conductor</b></h5>"))
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="tabCustomEnd"></div>
                    </div>
                </div>
                <div class="row px-4 py-5 align-items-end bg-light">
                    <div class="col-12 col-md-10 mx-md-auto text-center">
                        <h3><b>Aún no se carga propietario al vehículo en la plataforma del Registro Estatal de Infracciones y Accidentes</b></h3>
                        <h4 class="fw-normal">Registra un propietario o busca un conductor</h4>
                        <div class="row ">
                            <div class="col-12 col-md-8 mx-md-auto col-lg-5 ">
                                <div class="btnOutline btnOutlinePrimary my-3">
                                    <button onclick="mostrarModalCapturarConductor()">
                                        <h5 class="m-0"><i class="me-2 icon-addConductor"></i><b>Agregar un conductor nuevo</b></h5>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="tab-pane tabCustomConteiner fade" id="busqueda-conductor" role="tabpanel" aria-labelledby="busqueda-conductor-tab">
                <form id="otroConductorForm">
                    <div class="row px-4 mt-4 align-items-end">
                        <div class="col-12 col-md-6 col-lg-3">
                            <div class="controlForm my-3">
                                @(Html.Kendo().TextBoxFor(t => t.numeroLicenciaBusqueda)
                                            .Label(l => l.Content("No. de licencia:"))
                                            .Placeholder("Ingresa el número de licencia valido")
                                            .HtmlAttributes(new { style = "width: 100%" })
                                            )
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-3">
                            <div class="controlForm my-3">
                                @(Html.Kendo().TextBoxFor(t => t.curpBusqueda)
                                        .Label(l => l.Content("CURP:"))
                                        .Placeholder("Ingresa el CURP del propietario")
                                        .HtmlAttributes(new { style = "width: 100%" })
                                        )
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-3">
                            <div class="controlForm my-3">
                                @(Html.Kendo().TextBoxFor(t => t.rfcBusqueda)
                                        .Label(l => l.Content("RFC:"))
                                        .Placeholder("Ingresa el RFC del propietario")
                                        .HtmlAttributes(new { style = "width: 100%" })
                                        )

                            </div>
                        </div>

                        <div class="col-12 col-md-6 col-lg-3">
                            <div class="controlForm my-3">
                                @(Html.Kendo().TextBoxFor(t=>t.nombreBusqueda)
                                        .Label(l => l.Content("Nombre(s):"))
                                        .Placeholder("Ingresa el nombre(s) del propietario")
                                        .HtmlAttributes(new { style = "width: 100%" })
                                        )

                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-3">
                            <div class="controlForm my-3">
                                @(Html.Kendo().TextBoxFor(t => t.apellidoPaternoBusqueda)
                                        .Label(l => l.Content("Apellido paterno:"))
                                        .Placeholder("Ingresa el apellido paterno")
                                        .HtmlAttributes(new { style = "width: 100%" })
                                        )

                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-3">
                            <div class="controlForm my-3">
                                @(Html.Kendo().TextBoxFor(t => t.apellidoMaternoBusqueda)
                                        .Label(l => l.Content("Apellido materno:"))
                                        .Placeholder("Ingresa el apellido materno")
                                        .HtmlAttributes(new { style = "width: 100%" })
                                        )

                            </div>
                        </div>
                    </div>
                </form>
                <div class="col-12 col-md-6 mx-md-auto col-lg-3 mx-lg-0">
                    <div class="px-4 row">
                        <div class="controlButton my-3" onclick="buscarConductor()">
                            @(Html.Kendo().Button()
                                    .Name("buscarOtroConductor")
                                    .HtmlAttributes(new { @class = "btnPrimary" })
                                    .Content("<h5 class=\"m-0\"><b>Buscar</b></h5>"))
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="tabCustomEnd"></div>
                    </div>
                </div>
            </div>
            <div class="tab-pane tabCustomConteiner fade" id="none-person" role="tabpanel" aria-labelledby="none-person-tab">
                <div class="row px-4 my-4 py-5 align-items-end">
                    <div class="col-12 col-md-10 mx-md-auto text-center">
                        <h3><b>Se utiliza cuando se tiene una infracción o accidente</b></h3>
                        <h4 class="fw-normal">y se desconoce el propietario o conductor</h4>
                        <div class="row ">
                            <div class="col-12 col-md-8 mx-md-auto col-lg-5 ">
                                <form id="sinConductorForm">
                                    @Html.HiddenFor(m => m.IdVehiculo)
                                </form>
                                <div class="controlButton my-3" onclick="sinConductor()">
                                    @(Html.Kendo().Button()
                                            .Name("conductorNone")
                                            .HtmlAttributes(new { @class = "btnPrimary" })
                                            .Content("<h5 class=\"m-0\"><b>Finalizar captura</b></h5>"))
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="tabCustomEnd"></div>
                    </div>
                </div>
            </div>
        </div>
            <div id="ListadoConducutores">
                <partial name="_ListdoConductores" model="Model" />
            </div>
            
            <div class="row px-4 py-5 align-items-end bg-light">
                <div class="col-12 col-md-10 mx-md-auto text-center">
                    <h3><b>Aún no has realizado ninguna búsqueda</b></h3>
                    <h4 class="fw-normal">Realiza la búsqueda del conductor</h4>
                    <div class="row ">
                        <div class="col-12 col-md-8 mx-md-auto col-lg-5 ">
                            <div class="btnOutline btnOutlinePrimary my-3">
                                <button onclick="mostrarModalCapturarConductor()">
                                    <h5 class="m-0"><i class="me-2 icon-addConductor"></i><b>Agregar un conductor nuevo</b></h5>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>
  <!--MODAL CAPTURAR CONDUCTOR EN SITTEG-->
     <div class="modal fade modalCustom" id="capturarConductorModal" aria-labelledby="capturarConductorLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document"">
            <div class="modal-content">
                <div class="modal-body" id="ModalBodyCapturarConductor">
                </div>
            </div>
        </div>
    </div>

    <div id="modalLicencias" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Contenido del modal se llenará con la función mostrarModal -->
            </div>
        </div>
    </div>
    <script>


        window.IdVehiculo="@Model.IdVehiculo"



 function mostrarModalCapturarConductor() {

        $.ajax({
            url: '@Url.Action("ModalCapturaConductor")',
            type: 'POST',
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            success: function (data) {
                $('#ModalBodyCapturarConductor').html(data);
                $('#capturarConductorModal').modal('show');
            }
        });
    }
    function guardarVehiculoConductor() {
        var formData = $("#propietarioConductorForm").serialize();
        $.ajax({
            url: '@Url.Action("ActualizarConConductor")',
            type: 'POST',
            data: formData,
            success: function (response) {
            sitteg_success("Se ha agregado al propietario como conductor");
                $('#modalAgregarConductor').modal('hide');
                $('.modal-backdrop').remove();
                abrirModalDetalles();
               
            },
            error: function (error) {
                var errorMessage = error.responseText || "Ocurrió un error, inténtelo nuevamente más tarde.";
                sitteg_warning(errorMessage);
            }
        });
    }
     function sinConductor() {

        var formData = $("#sinConductorForm").serialize();
        $.ajax({
            url: '@Url.Action("ActualizarConConductor")',
            type: 'POST',
            data: formData,
            success: function (response) {
                sitteg_success("Se desconoce al conductor");
                $('#modalAgregarConductor').modal('hide');
                $('.modal-backdrop').remove();
                abrirModalDetalles();

            },
            error: function (error) {
                var errorMessage = error.responseText || "Ocurrió un error, inténtelo nuevamente más tarde.";
                sitteg_warning(errorMessage);
            }
        });
    }
     function abrirModalDetalles() {
            $.ajax({
            url: '@Url.Action("ModalAgregarComplemeto")',
                type: 'POST',
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (data) {
                    $('#modalComplementoVehiculo').modal('show');
                $('#ModalBodymodalComplementoVehiculo').html(data);
                }
            });
        }

    //function buscarConductor() {
    //    var Mydata = $("#otroConductorForm").serialize();
    //    console.log(Mydata);
    //    $.ajax({
    //        url: '/CapturaAccidentes/BuscarConductor',
    //        type: 'POST',
    //        data: Mydata,
    //        success: function (response) {
    //            console.log("Response:", response);
    //            if (response.length === 0) {
    //                sitteg_warning("La búsqueda no arrojó resultados.");
    //            } else {
    //                var grid = $("#gridConductores").data("kendoGrid");
    //                grid.dataSource.data(response);

    //            }
    //        },
    //        error: function (error) {
    //            sitteg_warning('Ocurrió un error en la búsqueda.');
    //            console.log(error);
    //        }
    //    });
    //}

    function regresarModalVehiculo(IdPersona){

        $.ajax({
            url: '@Url.Action("RegresarModalVehiculo", "CapturaAccidentes")',
            type: 'POST',
            data: { IdPersona: IdPersona },
            success: function (data) {
                $('#modalAgregarConductor').modal('hide');
                $('.modal-backdrop').remove();
                $('#modalAgregarConductor').modal('show');
                $('#ModalBodyAgregarConductor').html(data);
            },
            error: function (error) {
                console.log("ERROR", error);
            }
        });
    }
    function buscarConductor() {
        var grid = $("#gridConductores").data("kendoGrid");
        grid.dataSource.data([]);
        var Mydata = $("#otroConductorForm").serialize();
        $.ajax({
            url: '/Personas/BuscarPorParametro',
            type: 'POST',
            data: Mydata,
            success: function (response) {
                if (response.tipo == "success") {
                    mostrarModal(response.datos);
                } else if (response.encontrada != undefined) {
                    if (response.encontrada == false) {
                        // sitteg_warning("No se pudieron obtener resultados.");
                    }
                } else if (response.tipo == "warning") {
                    sitteg_warning("No se pudieron obtener resultados, verifique los datos ingresados.");
                }

                var personasList = response.data;
                var grid = $("#gridConductores").data("kendoGrid");
                grid.dataSource.data(personasList);

                if (personasList.length === 0) {
                    sitteg_warning("La búsqueda no arrojó resultados.");
                    grid.dataSource.data([]);
                }
            },
            error: function (error) {
                sitteg_warning('Ocurrió un error en la búsqueda.');
            }
        });
    }
    function mostrarModal(jsonData) {
        const modal = document.getElementById('modalLicencias');

        const modalContent = `
                <div class="modal-header">
                    <h5 class="modal-title">Datos encontrados en el sistema de licencias</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p><strong>Nombre:</strong> ${jsonData.nombre}</p>
                    <p><strong>Apellido Paterno:</strong> ${jsonData.primer_apellido}</p>
                    <p><strong>Apellido Materno:</strong> ${jsonData.segundo_apellido}</p>
                    <p><strong>Tipo de Licencia:</strong> ${jsonData.tipolicencia}</p>
                    <p><strong>Número de Licencia:</strong> ${jsonData.num_licencia}</p>
                    <p><strong>Fecha de Expedición:</strong> ${jsonData.fecha_inicio_vigencia}</p>
                    <p><strong>Fecha de Vigencia:</strong> ${jsonData.fecha_termino_vigencia}</p>
                </div>
              <div class="modal-footer">
                <button type="button" id="cerrarModalBtn" class="btn btn-secondary controlButton" data-dismiss="modal">Cerrar</button>
                <button type="button" id="guardarEnBaseDeDatosBtn" class="btn btn-primary controlButton">Guardar en Base de Datos</button>
              </div>
            `;

        modal.querySelector('.modal-content').innerHTML = modalContent;
        const cerrarModalBtn = document.getElementById('cerrarModalBtn');
        cerrarModalBtn.addEventListener('click', () => {
            $('#modalLicencias').modal('hide');
        });

        const guardarEnBaseDeDatosBtn = document.getElementById('guardarEnBaseDeDatosBtn');
        guardarEnBaseDeDatosBtn.addEventListener('click', () => {
            const tipoLicenciaMapping = {
                "TIPO A  CHOFER AUTOMOVILISTA": 1,
                "TIPO B CHOFER SERVICIO PÚBLICO": 2,
                "TIPO C  Chofer Servicio de Carga": 3,
                "TIPO D -MOTOCICLISTA": 4,
                "PERMISO A -AUTOMOVIL-": 6,
                "PERMISO D -MOTOCICLETA-": 7,
                "NO APLICA": 8,
                "TIPO A": 1,
                "TIPO B": 2,
                "TIPO C": 3,
                "TIPO D": 4,
                "PERMISO A": 6,
                "PERMISO D": 7,
                "A-AUTOMOVILISTA": 1,
                "B-CHOFER DE SERVICIO PÚBLICO": 2,
                "C-CHOFER DE SERVICIO DE CARGA": 3,
                "D-MOTOCICLISTA": 4,
                "PA-PERMISO AUTOMOVILISTA": 6,
                "PD-PERMISO MOTOCICLISTA": 7,

                // Puedes agregar más mapeos aquí si es necesario
            };
            const tipoLicenciaNumero = tipoLicenciaMapping[jsonData.tipolicencia] || 0; // 0 o valor predeterminado si no hay coincidencia
            jsonData.id_tipo_licencia = tipoLicenciaNumero;
            var idVehiculo = $("#IdVehiculoH").val();
            $.ajax({
                type: 'POST',
                url: '/CapturaAccidentes/guardaDesdeServicio', // Reemplaza con la URL correcta
                data:  jsonData ,
                success: function (response) { 
                    $('#modalLicencias').modal('hide');
                    var personasList = [response];
                    var grid = $("#gridConductores").data("kendoGrid");
                    grid.dataSource.data(result);
                },
                error: function (error) {
                    sitteg_warning('Error al guardar en la base de datos:');
                }
            });
        });

        $('#modalLicencias').modal('show');
    }

</script>