@model GuanajuatoAdminUsuarios.Models.CapturaAccidentesModel

<script>
	function buscarConductor() {
		var Mydata = $("#buscarInvolucradoForm").serialize();
		$.ajax({
			url: '/CapturaAccidentes/BuscarPorParametro',
			type: 'POST',
			data: Mydata,
			success: function (response) {
				if (response.tipo == "success") {
					// Crear instancia del modelo con los datos recibidos
					mostrarModal(response.datos);

				} else {
					// Mostrar los resultados de personas encontradas en la búsqueda
					if (response.encontrada == false) {
						sitteg_warning("No se pudieron obtener resultados, verifique los datos ingresados.");
					} else {
						if (response.data != null || response.data != undefined) {
							var personasList = response.data;
							var grid = $("#gridInvolucradosPrevio").data("kendoGrid");
							grid.dataSource.data(personasList);

							if (personasList.length === 0) {
								sitteg_warning("La búsqueda no arrojó resultados.");
							}
						} else {
							sitteg_warning("La búsqueda no arrojó resultados.");
						}
					}
				}
			},
			error: function (error) {
				sitteg_warning('Ocurrió un error en la búsqueda.');
			}
		});
	}

	function mostrarModal(jsonData) {
		const modal = document.getElementById('modalLicencias');

		const modalContent = `
						<div class="modal-header">
							<h5 class="modal-title">Datos encontrados en el sistema de licencias</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<p><strong>Nombre:</strong> ${jsonData.nombre}</p>
							<p><strong>Apellido Paterno:</strong> ${jsonData.primer_apellido}</p>
							<p><strong>Apellido Materno:</strong> ${jsonData.segundo_apellido}</p>
							<p><strong>Tipo de Licencia:</strong> ${jsonData.tipolicencia}</p>
							<p><strong>Número de Licencia:</strong> ${jsonData.num_licencia}</p>
							<p><strong>Fecha de Expedición:</strong> ${jsonData.fecha_inicio_vigencia}</p>
							<p><strong>Fecha de Vigencia:</strong> ${jsonData.fecha_termino_vigencia}</p>
						</div>
					  <div class="modal-footer">
						<button type="button" id="cerrarModalBtn" class="btn btn-secondary controlButton" data-dismiss="modal">Cerrar</button>
						<button type="button" id="guardarEnBaseDeDatosBtn" class="btn btn-primary controlButton">Guardar en Base de Datos</button>
					  </div>
					`;

		modal.querySelector('.modal-content').innerHTML = modalContent;
		const cerrarModalBtn = document.getElementById('cerrarModalBtn');
		cerrarModalBtn.addEventListener('click', () => {
			$('#modalLicencias').modal('hide');
		});

		const guardarEnBaseDeDatosBtn = document.getElementById('guardarEnBaseDeDatosBtn');
		guardarEnBaseDeDatosBtn.addEventListener('click', () => {
			const tipoLicenciaMapping = {
				"TIPO A  CHOFER AUTOMOVILISTA": 1,
				"TIPO B CHOFER SERVICIO PÚBLICO": 2,
				"TIPO C  Chofer Servicio de Carga": 3,
				"TIPO D -MOTOCICLISTA": 4,
				"PERMISO A -AUTOMOVIL-": 6,
				"PERMISO D -MOTOCICLETA-": 7,
				"NO APLICA": 8,
				"TIPO A": 1,
				"TIPO B": 2,
				"TIPO C": 3,
				"TIPO D": 4,
				"PERMISO A": 6,
				"PERMISO D": 7,
				"A-AUTOMOVILISTA": 1,
				"B-CHOFER DE SERVICIO PÚBLICO": 2,
				"C-CHOFER DE SERVICIO DE CARGA": 3,
				"D-MOTOCICLISTA": 4,
				"PA-PERMISO AUTOMOVILISTA": 6,
				"PD-PERMISO MOTOCICLISTA": 7,

				// Puedes agregar más mapeos aquí si es necesario
			};
			const tipoLicenciaNumero = tipoLicenciaMapping[jsonData.tipolicencia] || 0;
			jsonData.id_tipo_licencia = tipoLicenciaNumero;
			var idVehiculo = $("#IdVehiculoH").val();
			$.ajax({
				type: 'POST',
				url: '/CapturaAccidentes/guardaDesdeServicio',
				data: jsonData,
				success: function (response) {
					$('#modalLicencias').modal('hide');
					var personasList = [response];
					var grid = $("#gridInvolucradosPrevio").data("kendoGrid");
					grid.dataSource.data(personasList);

				},
				error: function (error) {
					sitteg_warning('Error al guardar en la base de datos:');
				}
			});
		});

		$('#modalLicencias').modal('show');
	}

	function onRowSelect(e) {
		var selectedRow = this.select();
		var dataItem = this.dataItem(selectedRow);
		var idPersona = dataItem.idPersonaInvolucrado;
		$('#idPersonaInput').val(idPersona);

		var nombre = dataItem.nombre
		var apellidoPaterno = dataItem.apellidoPaterno
		var apellidoMaterno = dataItem.apellidoMaterno
		var CURP = dataItem.CURP
		var fechaNacimiento = dataItem.fechaNacimiento.split('T')[0]
		var dat = fechaNacimiento.split("-")
		fechaNacimiento = dat[2] + "/" + dat[1] + "/" + dat[0]
		var RFC = dataItem.RFC

		var nombreCompleto = nombre + " " + apellidoPaterno + " " + apellidoMaterno;
		$('#gridVehiculosInvolucrados').data('idPersona', idPersona);

		document.getElementById("nombreModal").innerText = nombreCompleto;
		document.getElementById("curpModal").innerText = CURP;
		document.getElementById("fechaNacimientoModal").innerText = fechaNacimiento;
		document.getElementById("rfcModal").innerText = RFC;

		$('#buscarInvolucradoModal').modal('hide');
		$('body').removeClass('model-open');
		$('.modal-backdrop').remove();
		$('#sinBuqueda').hide();
		$('#involucradoSeleccionado').show();

	}

	function involucardoNoVehiculo() {
		var grid = $("#gridInvolucradosPrevio").data("kendoGrid");
		var selectedItem = grid.dataItem(grid.select());
		var idPersona = selectedItem.idPersonaInvolucrado;
		$('#idPersonaInput').val(idPersona);

		var nombre = dataItem.nombre
		var apellidoPaterno = dataItem.apellidoPaterno
		var apellidoMaterno = dataItem.apellidoMaterno
		var CURP = dataItem.CURP
		var fechaNacimiento = convertDate(dataItem.fechaNacimiento);
		fechaNacimiento = fechaNacimiento == "01/01/0001" ? "" : fechaNacimiento;
		var RFC = dataItem.RFC

		var nombreCompleto = nombre + " " + apellidoPaterno + " " + apellidoMaterno;
		$('#gridVehiculosInvolucrados').data('idPersona', idPersona);

		document.getElementById("nombreModal").innerText = nombreCompleto;
		document.getElementById("curpModal").innerText = CURP;
		document.getElementById("fechaNacimientoModal").innerText = fechaNacimiento;
		document.getElementById("rfcModal").innerText = RFC;

		$('#buscarInvolucradoModal').modal('hide');
		$('body').removeClass('model-open');
		$('.modal-backdrop').remove();
		$('#sinBuqueda').hide();
		$('#involucradoSeleccionado').show();

	}
	function mostrarModalCapturarConductor() {

		$.ajax({
			url: '@Url.Action("ModalCapturaConductor")',
			type: 'POST',
			contentType: "application/json; charset=utf-8",
			dataType: "html",
			success: function (data) {
				$('#ModalBodyCapturarConductor').html(data);
				$('#capturarConductorModal').modal('show');
			}
		});
	}
</script>
<!--SECCION INVOLUCRADOS-->
<div class="row align-items-center justify-content-between px-4 px-md-4 pt-3 pb-2">
	<div class="col-md-12 col-md-auto">
		<div class="row align-items-center justify-content-center justify-content-md-start">
			<div class="col-auto">
				<div class="border border-2 border-dark rounded-circle">
					<h5 class="m-0 numberCard d-flex align-items-center justify-content-center">
						<b>3</b>
					</h5>
				</div>
			</div>
			<div class="col-auto p-0">
				<i class="icon-involucrado h1 colorPrimary"></i>
			</div>
			<div class="col-md-9 my-3">
				<h2 class="m-0 h3"><b>Involucrados</b></h2>
			</div>

			<div class="col-auto">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
			
		</div>
	</div>

</div>
<div class="row">
	<div class="col-5 pe-0">
		<div class="bgSuccess py-1"></div>
	</div>
	<div class="col-7 ps-0">
		<div class="bg-light py-1"></div>
	</div>
</div>
<div class="row">
	<div class="col-12 my-4">
		<h5 class="px-4"><b>Datos de los involucrados</b></h5>
		<h6 class="px-4 text-muted">Selecciona entre búsqueda / nuevo persona </h6>
	</div>
</div>
<div class="row px-4 align-items-end">
	<div class="col-12 mt-4 controlForm">
		<label>Involucrado de accidente:</label>
	</div>
</div>
<div>
	<nav class="tabCustom">
		<div class="nav nav-tabs row mx-0" id="nav-tab" role="tablist">
			<button class="nav-link col active" id="busqueda-involucrado-tab" data-bs-toggle="tab" data-bs-target="#busqueda-involucrado" type="button" role="tab" aria-controls="busqueda-involucrado" aria-selected="true">
				<div class="row justify-content-center align-items-center px-3 py-2">
					<div class="col-auto radioCustom p-0">
						<div class="rounded-circle m-2"></div>
					</div>
					<div class="col-auto p-0">
						<h5 class="m-0"><i class="icon-fisica h4"></i> <b>Búsqueda de involucrado</b></h5>
					</div>
				</div>
			</button>
			<button class="nav-link col" id="none-involucrado-tab" data-bs-toggle="tab" data-bs-target="#none-involucrado" type="button" role="tab" aria-controls="none-involucrado" aria-selected="false">
				<div class="row justify-content-center align-items-center px-3 py-2">
					<div class="col-auto radioCustom p-0">
						<div class="rounded-circle m-2"></div>
					</div>
					<div class="col-auto p-0">
						<h5 class="m-0"><i class="icon-sinPropietario h4"></i> <b>Se ignora involucrado</b></h5>
					</div>
				</div>
			</button>
		</div>
	</nav>
	<div class="tab-content" id="nav-tabContent">
		<div class="tab-pane tabCustomConteiner fade show active" id="busqueda-involucrado" role="tabpanel" aria-labelledby="busqueda-involucrado-tab">
			<form id="buscarInvolucradoForm">
				<div class="row px-4 mt-4 pb-4 align-items-end">
					<div class="col-12 col-md-6 col-lg-3">
						<div class="controlForm my-3">
							@(Html.Kendo().TextBoxFor(t => t.numeroLicencia)
								.Label(l => l.Content("No. de licencia:"))
								.Placeholder("Ingresa el número de licencia valido")
								.HtmlAttributes(new { style = "width: 100%" })
								)
						</div>
					</div>
					<div class="col-12 col-md-6 col-lg-3">
						<div class="controlForm my-3">
							@(Html.Kendo().TextBoxFor(t => t.CURP)
								.Label(l => l.Content("CURP:"))
								.Placeholder("Ingresa el CURP del propietario")
								.HtmlAttributes(new { style = "width: 100%" })
								)
						</div>
					</div>
					<div class="col-12 col-md-6 col-lg-3">
						<div class="controlForm my-3">
							@(Html.Kendo().TextBoxFor(t => t.RFC)
								.Label(l => l.Content("RFC:"))
								.Placeholder("Ingresa el RFC del propietario")
								.HtmlAttributes(new { style = "width: 100%" })
								)

						</div>
					</div>
					<div class="col-12 col-md-6 col-lg-3">
					</div>
					<div class="col-12 col-md-6 col-lg-3">
						<div class="controlForm my-3">
							@(Html.Kendo().TextBoxFor(t => t.nombre)
								.Label(l => l.Content("Nombre(s):"))
								.Placeholder("Ingresa el nombre(s) del propietario")
								.HtmlAttributes(new { style = "width: 100%" })
								)

						</div>
					</div>
					<div class="col-12 col-md-6 col-lg-3">
						<div class="controlForm my-3">
							@(Html.Kendo().TextBoxFor(t => t.apellidoPaterno)
								.Label(l => l.Content("Apellido paterno:"))
								.Placeholder("Ingresa el apellido paterno")
								.HtmlAttributes(new { style = "width: 100%" })
								)

						</div>
					</div>
					<div class="col-12 col-md-6 col-lg-3">
						<div class="controlForm my-3">
							@(Html.Kendo().TextBoxFor(t => t.apellidoMaterno)
								.Label(l => l.Content("Apellido materno:"))
								.Placeholder("Ingresa el apellido materno")
								.HtmlAttributes(new { style = "width: 100%" })
								)

						</div>
					</div>
				</div>
			</form>
			<div class="row">
				<div class="col-12">
					<div class="tabCustomEnd"></div>
				</div>
				<div class="col-12 col-md-6 mx-md-auto col-lg-3 mx-lg-0 ">
					<div class="controlButton my-3">
						<div class="controlButton my-3">
							<button onclick="buscarInvolucrado()" class="btnPrimary" id="buscarInvolucrado" type="button"><h5 class="m-0"><b>Buscar</b></h5></button>
						</div>
					</div>
				</div>
			</div>
			<div class="row px-4 py-5 align-items-end bg-light">
                <div class="col-12 col-md-10 mx-md-auto text-center">
                    <partial name="_InfoPrevioInvolucrados" model="ViewBag.ModeInvolucrado" />

                    <div class="row ">
                        <div class="col-12 col-md-8 mx-md-auto col-lg-5 ">
                            <div class="btnOutline btnOutlinePrimary my-3">
								<button data-bs-toggle="modal" data-bs-target="#addConductor" onclick="mostrarModalCapturarConductor()">
                                    <h5 class="m-0"><i class="me-2 icon-addInvolucrado"></i><b>Agregar un nuevo involucrado</b></h5>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
		</div>

		<div class="tab-pane tabCustomConteiner fade" id="none-involucrado" role="tabpanel" aria-labelledby="none-involucrado-tab">
			<div class="row px-4 my-4 py-5 align-items-end">
				<div class="col-12 col-md-10 mx-md-auto text-center">
					<h3><b>Se utiliza cuando se tiene una infracción o accidente</b></h3>
					<h4 class="fw-normal">y se desconoce el involucrado</h4>
					<div class="row ">
						<div class="col-12 col-md-8 mx-md-auto col-lg-5 ">
							<div class="controlButton my-3">
								<button class="btnPrimary" name="conductorNone" id="conductorNone" type="button"><h5 class="m-0"><b>Finalizar captura</b></h5></button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<div class="tabCustomEnd"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade modalCustom" id="capturarConductorModal" aria-labelledby="capturarConductorLabel" aria-hidden="true">
		<div class="modal-dialog modal-xl" role="document">
			<div class="modal-content">
				<div class="modal-body" id="ModalBodyCapturarConductor">
				</div>
			</div>
		</div>
	</div>
</div>
<div id="modalLicencias" class="modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<!-- Contenido del modal se llenará con la función mostrarModal -->
		</div>
	</div>
</div>