@model GuanajuatoAdminUsuarios.Models.CapturaAccidentesModel

<section class=" bg-white rounded">
    <div class="row align-items-center justify-content-between px-4 px-md-4 pt-3 pb-2">
        <div class="col-auto pe-0">
            <div class="row align-items-center justify-content-center justify-content-md-start">
                <div class="col-auto pe-0">
                    <i class="icon-deleteOpciones h1 colorDanger"></i>
                </div>
                <div class="col-auto my-3">
                    <h2 class="m-0 h3"><b>Eliminar involucrado</b></h2>
                </div>
            </div>
        </div>
        <div class="col-auto">
            <div class="row">
                <div class="col-auto my-3">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="bg-light py-1"></div>
        </div>

    </div>
    <div class="row">
        <div class="col-12 text-center my-4">
            <h3><b>Eliminar registro de involucrado de este accidente</b></h3>
        </div>
    </div>
    <form id="eliminaInvolucradoForm">
        <div class="row justify-content-center mb-5">
            <div class="col-10 col-md-5 mt-1">
                @Html.HiddenFor(t => t.IdAccidente)
                @Html.HiddenFor(t => t.IdVehiculoInvolucrado)
                @Html.HiddenFor(t => t.IdPropietarioInvolucrado)

                <h5 class="px-4"><b></b></h5>
            </div>
        </div>
    </form>
    <div class="row my-4">
        <div class="col-12">
            <div class="row justify-content-around">
                <div class="col-auto btnOutline my-2 mx-auto mx-xl-2 p-0">
                    <button type="button" data-bs-dismiss="modal" aria-label="Close">
                        <h6 class="m-0 px-3"><b>No eliminar</b></h6>
                    </button>
                </div>
                <div class="col-auto btnOutline btnOutlinePrimary my-2 mx-auto mx-xl-2 p-0">
                    <div class="controlButton" onclick="EliminarInvolucrado()">
                        @(Html.Kendo().Button()
                                        .Name("deletCausa")
                                        .HtmlAttributes(new { @class = "btnPrimary px-3" })
                                        .Content("<h5 class=\"m-0 px-3\"><b>Eliminar</b></h5>"))
                    </div>
                </div>
            </div>
        </div>


    </div>
</section>
   <script>

    function EliminarInvolucrado() {

        var Mydata = $("#eliminaInvolucradoForm").serialize();
        $.ajax({
            url: '@Url.Action("EliminarInvolucradoAccidente")',
            type: 'POST',
            data: Mydata,
            success: function (data) {

                $("#gridVehiculosInvolucrados").data("kendoGrid").dataSource.data(data);
                sitteg_success("Se ha modificado la información");
                $('#mostrarEliminarModal').modal('hide');
                $('modal-body').removeClass('model-open');
                $('.modal-backdrop').remove();


            },
            error: function (error) {
                sitteg_warning("!Sucedio un error, intente mas tarde...");
            }
        });
    }

</script>