@model PersonaModel
<script>
	function EntidadDropDownChange() {
		var entidadDDlValue = $("#idEntidadFisico").data("kendoDropDownList").value();

		showLoading();
		$.ajax({
			url: "/CapturaAccidentes/Municipios_Por_Entidad",
			type: "POST",
			data: { entidadDDlValue: entidadDDlValue },
			success: function (data) {
				var MunicipiosDropDown = $("#idMunicipioFisico").data("kendoDropDownList");
				MunicipiosDropDown.dataSource.data(data);
				hideLoading();
			},
			error: function (xhr, status, error) {
				hideLoading();
			}
		});
	}
	function cerrarCaptura(){
		$('#capturarConductorModal').modal('hide');

	}
</script>
<form id="frmCrearPersonaV" class="row px-4 mb-4 align-items-end justify-content-center">
	@Html.HiddenFor(m => m.idPersona)
	<div class="row my-2">
		<div class="col-md-4">
			<div class="controlForm">
				<label>Nombre <b>(obligatorio):</b></label>
				@(Html.Kendo().TextBoxFor(t => t.nombre)
					.HtmlAttributes(new { style = "width: 100%; height:58px;" })
					)
			</div>
		</div>
		<div class="col-md-4">
			<div class="controlForm">
				<label>Apellido paterno:</label>
				@(Html.Kendo().TextBoxFor(t => t.apellidoPaterno)
					.HtmlAttributes(new { style = "width: 100%; height:58px;"})
					)
			</div>
		</div>
		<div class="col-md-4">
			<div class="controlForm">
				<label>Apellido materno:</label>
				@(Html.Kendo().TextBoxFor(t => t.apellidoMaterno)
					.HtmlAttributes(new { style = "width: 100%; height:58px;"})
					)
			</div>
		</div>

	</div>
	<div class="row my-2">
		<div class="col-md-4">
			<div class="controlForm">
				<label>Fecha de nacimiento <b>(obligatorio)</b>:</label>
				@(Html.Kendo().DatePickerFor(t => t.fechaNacimiento)
.Culture("es-ES")
					.HtmlAttributes(new { style = "width: 100%;" })
					)
			</div>
		</div>
		<div class="col-md-4">
			<div class="controlForm">
				<label>CURP </b></label>
				@(Html.Kendo().TextBoxFor(t => t.CURP)
					.HtmlAttributes(new { style = "width: 100%; height:58px;" })
					)
			</div>
		</div>
		<div class="col-md-4">
			<div class="controlForm">
				<label>RFC:</label>
				@(Html.Kendo().TextBoxFor(t => t.RFC)
					.HtmlAttributes(new { style = "width: 100%; height:58px;" })
					)
			</div>
		</div>
	</div>
	<div class="row my-2">
		<div class="col-md-6">
			<div class="controlForm">
				<label>Género <b>(obligatorio)</b>:</label>
				@(Html.Kendo().DropDownListFor(m => m.idGenero)
					//.BindTo((SelectList)ViewBag.CatGeneros)
					.DataTextField("Text")
					.DataValueField("Value")
					.DataSource(s =>
					s.Read(r => r.Action("test", "CapturaAccidentes"))
					)
					.Filter(FilterType.StartsWith)
					.OptionLabel("-- Seleccione --")
					.HtmlAttributes(new { style = "width:100%;"}))
			</div>
		</div>
		<div class="col-md-6">
			<div class="controlForm">
				<label>Tipo persona <b>(obligatorio):</label>
				@(Html.Kendo().DropDownListFor(m => m.idCatTipoPersona)
					.BindTo((SelectList)ViewBag.CatTipoPersona)
					.Value("1")
					.OptionLabel("-- Seleccione --")
					.HtmlAttributes(new { style = "width:100%;", @readonly = "readonly", id = "tipoPersona" }))
			</div>
		</div>
	</div>
	<div class="row my-2">
		<div class="col-md-4">
			<div class="controlForm">
				<label>No. de licencia:</label>
				@(Html.Kendo().TextBoxFor(t => t.numeroLicencia)
					.HtmlAttributes(new { style = "width: 100%; height:58px;" })
					)
			</div>
		</div>
		<div class="col-md-4">
			<div class="controlForm">
				<label>Tipo licencia:</label>
				@(Html.Kendo().DropDownListFor(m => m.idTipoLicencia)
					.BindTo((SelectList)ViewBag.CatTipoLicencia)
					.Filter(FilterType.Contains)
					.OptionLabel("-- Seleccione --")
					.HtmlAttributes(new { style = "width:100%;" }))
			</div>
		</div>
		<div class="col-md-4">
			<div class="controlForm">
				<label>Vigencia licencia:</label>
				@(Html.Kendo().DatePickerFor(t => t.vigenciaLicencia)
.Culture("es-ES")
					.HtmlAttributes(new { style = "width: 100%;", id="vigencia" })
					)
			</div>
		</div>
	</div>
	<div class="row my-2">
		<div class="col-md-4">
			<div class="controlForm">
				<label>Entidad:</label>
				@(Html.Kendo().DropDownListFor(m => m.PersonaDireccion.idEntidad)
					.Filter(FilterType.Contains)
					.DataTextField("Text")
					.DataValueField("Value")
					.OptionLabel("Selecciona una opción")
					.Events(e => e.Change("EntidadDropDownChange"))
					.DataSource(source =>
					{
						source.Read(read =>
						{
							read.Action("Entidades_Drop", "CapturaAccidentes");
						});
					})
					.HtmlAttributes(new { style = "width:100%;", id = "idEntidadFisico" })
					)
			</div>
		</div>
		<div class="col-md-4">
			<div class="controlForm">
				<label>Municipio:</label>
				@(Html.Kendo().DropDownListFor(m => m.PersonaDireccion.idMunicipio)
					.Filter(FilterType.Contains)
					.DataTextField("Text")
					.DataValueField("Value")
					.OptionLabel("Selecciona un Municipio")
					.DataSource(source =>
					{
						source.Read(read =>
						{
							read.Action("Municipios_Por_Entidad", "CapturaAccidentes");
						});
					})
					.HtmlAttributes(new { style = "width:100%;", id = "idMunicipioFisico" }))
			</div>
		</div>
		<div class="col-md-4">
			<div class="controlForm">
				@(Html.Kendo().TextBoxFor(t => t.PersonaDireccion.codigoPostal)
					.Label(l => l.Content("Código postal:"))
					.HtmlAttributes(new { style = "width: 100%; height:58px;" })
					)
			</div>
		</div>
	</div>
	<div class="row my-2">
		<div class="col-md-4">
			<div class="controlForm">
				@(Html.Kendo().TextBoxFor(t => t.PersonaDireccion.colonia)
					.Label(l => l.Content("Colonia: <b>(obligatorio)</b>:"))
					.HtmlAttributes(new { style = "width: 100%; height:58px;" })
					)
			</div>
		</div>
		<div class="col-md-4">
			<div class="controlForm">
				@(Html.Kendo().TextBoxFor(t => t.PersonaDireccion.calle)
					.Label(l => l.Content("Calle: <b>(obligatorio)</b>:"))
					.HtmlAttributes(new { style = "width: 100%; height:58px;"})
					)
			</div>
		</div>
		<div class="col-md-4">
			<div class="controlForm">
				@(Html.Kendo().TextBoxFor(t => t.PersonaDireccion.numero)
					.Label(l => l.Content("Número: <b>(obligatorio)</b>:"))
					.HtmlAttributes(new { style = "width: 100%; height:58px;"})
					)
			</div>
		</div>
	</div>
	<div class="row my-2">
		<div class="col-md-6">
			<div class="controlForm">
				@(Html.Kendo().TextBoxFor(t => t.PersonaDireccion.telefono)
					.Label(l => l.Content("Teléfono:"))
					.HtmlAttributes(new { style = "width: 100%; height:58px;", id = "telefono", onkeypress = "return validarNumero(event)" })
					)
				@*<div id="errorTelefono" style="color: red;"></div>*@
			</div>
		</div>
		<div class="col-md-6">
			<div class="controlForm">
				@(Html.Kendo().TextBoxFor(t => t.PersonaDireccion.correo)
					.Label(l => l.Content("Correo:"))
					.HtmlAttributes(new { style = "width: 100%; height:58px;"})
					)
			</div>
		</div>
	</div>
</form>
<div class="row my-4">
	<div class="col-12 col-md-6 mx-md-auto">
		<div class="row justify-content-around">
			<div class="col-auto btnOutline my-2 mx-auto mx-xl-2 p-0">
				<button type="button" onclick="cerrarCaptura()">
					<h6 class="m-0 px-3"><b>Cerrar</b></h6>
				</button>
			</div>
			<div class="col-auto btnOutline btnOutlinePrimary my-2 mx-auto mx-xl-2 p-0">
				<div class="controlButton">
					<button type="button" class="btnPrimary px-3" onclick="btnCrearPersona()">
						<h5 class="m-0"><b>Guardar</b></h5>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>


<script>
	$(document).ready(function () {
		var datePicker = $("#vigenciaLicencia").data("kendoDatePicker");
		//datePicker.value(null);
	});

	$(document).ready(function () {
		$('#vigenciaLicencia').removeAttr("required");
	});
	function validarNumero(event) {
		var charCode = (event.which) ? event.which : event.keyCode;

		if (charCode > 31 && (charCode < 48 || charCode > 57) && charCode !== 8 && charCode !== 46) {
			mostrarError("Solo se permiten números.");
			event.preventDefault();
			return false;
		}

		ocultarError();
		return true;
	}

	function mostrarError(mensaje) {
		$("#errorTelefono").text(mensaje);
	}

	function ocultarError() {
		$("#errorTelefono").text("");
	}

	function btnCrearPersona() {
		//var validator = $("#frmCrearPersonaV").kendoValidator().data('kendoValidator');
		$("#vigenciaLicencia").prop("disabled", true);

		var controlsValidate = [];
		var isValid = true;

		controlsValidate.push({ 'controlName': 'nombre' });
		controlsValidate.push({ 'controlName': 'fechaNacimiento' });
		//controlsValidate.push({ 'controlName': 'PersonaDireccion_codigoPostal' });
		controlsValidate.push({ 'controlName': 'PersonaDireccion_colonia' });
		controlsValidate.push({ 'controlName': 'PersonaDireccion_calle' });
		controlsValidate.push({ 'controlName': 'PersonaDireccion_numero' });

		// INPUTS
		if (!isControlsValid(controlsValidate)) { isValid = false; }

		// DROP DOWN LIST
		controlsValidate=[];
		controlsValidate.push({ 'controlName': 'idGenero' });
		controlsValidate.push({ 'controlName': 'tipoPersona' });
		if (!isControlsValidDropDown(controlsValidate)) { isValid = false; }


		if (!isValid) {
			sitteg_warning('Hacen falta datos o existen datos incorrectos, favor de verificar.');
			return;
		}

		//validator.validate();
		//if (validator.validate()) {
			var formData = $("#frmCrearPersonaV").serialize();
			showLoading();
			$.ajax({
				url: '@Url.Action("ajax_CrearPersona","CapturaAccidentes")',
				type: 'POST',
				data: formData,
				success: function (result) {
					$('#capturarConductorModal').modal('hide');
					var grid = $("#gridConductores").data("kendoGrid");

					if (typeof result === "object") {
						grid.dataSource.data([]);
						grid.dataSource.add(result);
						grid.refresh();
					} else {
						console.error("El resultado no es un objeto válido:", result);
					}
					hideLoading();
				},
				error: function (xhr, status) {
					var errmsg = xhr.responseText;
					sitteg_warning('Lo sentimos, ha ocurrido un error.');
					hideLoading();
				}
			});
		//}
		//else {
		//	$("#vigenciaLicencia").prop("disabled", false);
		//	sitteg_info('Debe llenar los campos requeridos');
		//	return;
		//}
	}

</script>
