@model GuanajuatoAdminUsuarios.Models.DatosAccidenteModel
@{
    bool esSoloLectura = ViewBag.EsSoloLectura ?? false;
}
<div class="mainContainer bg-light">
<form id="detalleAccidenteForm">
    <section class="mx-md-3 mx-lg-4 mx-xl-5 bg-white boxShadow my-5 rounded">
        <div class="row align-items-center justify-content-between px-4 px-md-4 pt-3 pb-2">
            <div class="col-12 col-md-6 col-lg-5 col-xl-auto">
                <div class="row align-items-center justify-content-center justify-content-md-start">
                    <div class="col-auto">
                        <div class="border border-2 border-dark rounded-circle">
                            <h5 class="m-0 numberCard d-flex align-items-center justify-content-center">
                                <b>1</b>
                            </h5>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="icon-danoAccidente h1 colorPrimary"></i>
                    </div>
                    <div class="col-auto my-3">
                        <h2 class="m-0 h3"><b>Daños materiales del accidente</b></h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-8 pe-0">
                <div class="bgSuccess py-1"></div>
            </div>
            <div class="col-4 ps-0">
                <div class="bg-light py-1"></div>
            </div>
        </div>
        <div class="row justify-content-between align-items-end mb-1">
            <div class="col-12 col-md-auto mt-4 mb-2">
                <h5 class="px-4"><b>Daños del accidente</b></h5>
                <h6 class="px-4 text-muted">Da de alta los daños del accidente.</h6>
            </div>
        </div>
           <div class="row px-4 mb-4 align-items-end">
            <div class="col-12 col-md-6 col-lg-3">
                <div class="controlForm my-3">
                        @(Html.Kendo().TextBoxFor(t => t.montoCamino)
                                .Label(l => l.Content("Daños al camino:"))
                                .Placeholder("Ingresa el monto al que ascienden los daños al camino")
                                .Enable(!ViewBag.EsSoloLectura)
                                .HtmlAttributes(new { style = "width: 100%" })
                                )

                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="controlForm my-3">
                        @(Html.Kendo().TextBoxFor(t => t.montoCarga)
                                .Label(l => l.Content("Daños a la carga:"))
                                .Placeholder("Ingresa el monto al que ascienden los daños a la carga")
                                .Enable(!ViewBag.EsSoloLectura)
                                .HtmlAttributes(new { style = "width: 100%" })
                                )

                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="controlForm my-3">
                        @(Html.Kendo().TextBoxFor(t => t.montoPropietarios)
                                .Label(l => l.Content("Daños a propietarios:"))
                                .Placeholder("Ingresa el monto al que ascienden los daños a los propietarios")
                                    .Enable(!ViewBag.EsSoloLectura)
                                .HtmlAttributes(new { style = "width: 100%" })
                                )

                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3">
                <div class="controlForm my-3">
                        @(Html.Kendo().TextBoxFor(t => t.montoOtros)
                                .Label(l => l.Content("Otros daños:"))
                                .Placeholder("Ingresa el monto al que ascienden los daños bajo el concepto de otros")
                                    .Enable(!ViewBag.EsSoloLectura)
                                .HtmlAttributes(new { style = "width: 100%" })
                                )

                </div>
            </div>

        </div>
    </section>
     <section class="mx-md-3 mx-lg-4 mx-xl-5 bg-white boxShadow my-5 rounded">
        <div class="row align-items-center justify-content-between px-4 px-md-4 pt-3 pb-2">
            <div class="col-12 col-md-6 col-lg-5 col-xl-auto">
                <div class="row align-items-center justify-content-center justify-content-md-start">
                    <div class="col-auto">
                        <div class="border border-2 border-dark rounded-circle">
                            <h5 class="m-0 numberCard d-flex align-items-center justify-content-center">
                                <b>2</b>
                            </h5>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="icon-infracion h1 colorPrimary"></i>
                    </div>
                    <div class="col-auto my-3">
                        <h2 class="m-0 h3"><b>Infracciones</b></h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-8 pe-0">
                <div class="bgSuccess py-1"></div>
            </div>
            <div class="col-4 ps-0">
                <div class="bg-light py-1"></div>
            </div>
        </div>
        <div class="row justify-content-between align-items-end mb-1">
            <div class="col-12 col-md-auto mt-4 mb-2">
                <h5 class="px-4"><b>Listado de infracciones del accidente</b></h5>
                <h6 class="px-4 text-muted">Da de alta las infracciones del accidente.</h6>
            </div>
            <div class="col-12 col-lg-auto text-center">
                <div class="btnOutline btnOutlinePrimary px-4 my-3">
                    <button onclick="mostrarModalAgregarInfraccion()" @(ViewBag.EsSoloLectura ? "disabled" : "")>
                        <h5 class="m-0"><i class="me-2 icon-addInfracion"></i><b>Agregar infracción</b></h5>
                    </button>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-12 my-4 px-4 rounded">
                <!--TABLALISTA INFRACCIONEES-->
                <partial name="_ListaInfraccionesAccidente" model="Model" esSoloLectura="@ViewBag.EsSoloLectura" />


            </div>
        </div>
    </section>

    <section class="mx-md-3 mx-lg-4 mx-xl-5 bg-white boxShadow my-5 rounded">
        <div class="row align-items-center justify-content-between px-4 px-md-4 pt-3 pb-2">
            <div class="col-12 col-md-6 col-lg-5 col-xl-auto">
                <div class="row align-items-center justify-content-center justify-content-md-start">
                    <div class="col-auto">
                        <div class="border border-2 border-dark rounded-circle">
                            <h5 class="m-0 numberCard d-flex align-items-center justify-content-center">
                                <b>3</b>
                            </h5>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="icon-infracion h1 colorPrimary"></i>
                    </div>
                    <div class="col-auto my-3">
                        <h2 class="m-0 h3"><b>Daños materiales de los vehículos</b></h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-8 pe-0">
                <div class="bgSuccess py-1"></div>
            </div>
            <div class="col-4 ps-0">
                <div class="bg-light py-1"></div>
            </div>
        </div>
        <div class="row justify-content-between align-items-end mb-1">
            <div class="col-12 col-md-auto mt-4 mb-2">
                <h5 class="px-4"><b>Listado de daños en los vehículos</b></h5>
                <h6 class="px-4 text-muted">Da de alta los daños en los vehículos.</h6>
            </div>
        </div>
        <div class="row ">
            <div class="col-12 my-4 px-4 rounded">
            </div>
            <!--TABLA VEHICULOS INV PARA DAÑOS-->
            <div id="tablaConMonto">
                    <partial name="_ListaVehiculosDaños" model="Model" esSoloLectura="@ViewBag.EsSoloLectura" />
            </div>
        </div>

    </section>
    <section class="mx-md-3 mx-lg-4 mx-xl-5 bg-white boxShadow my-5 rounded pb-1">
        <div class="row align-items-center justify-content-between px-4 px-md-4 pt-3 pb-2">
            <div class="col-12 col-md-auto">
                <div class="row align-items-center justify-content-center justify-content-md-start">
                    <div class="col-auto">
                        <div class="border border-2 border-dark rounded-circle">
                            <h5 class="m-0 numberCard d-flex align-items-center justify-content-center">
                                <b>4</b>
                            </h5>
                        </div>
                    </div>
                    <div class="col-auto p-0">
                        <i class="icon-accidentes h1 colorPrimary"></i>
                    </div>
                    <div class="col-auto my-3">
                        <h2 class="m-0 h3"><b>Complemento de accidente</b></h2>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-10 pe-0">
                <div class="bgSuccess py-1"></div>
            </div>
            <div class="col-2 ps-0">
                <div class="bg-light py-1"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mt-4">
                <h5 class="px-4"><b>Datos de complementarios del accidente</b></h5>
                <h6 class="px-4 text-muted">
                    Da de alta los datos complementarios del accidente
                </h6>
            </div>
        </div>
        <div class="row justify-content-between mb-1">
            <div class="col-12 col-lg-6 mt-4 mb-2">
                <h5 class="px-4"><b>Ubicación</b></h5>
            </div>
        </div>
        <div class="row px-4 mb-4 align-items-end mb-4">

            <div class="col-12 col-md-6 col-lg-3">
                <div class="controlForm my-3">
                        @(Html.Kendo().TextBoxFor(t => t.Latitud)
                                .Label(l => l.Content("Latitud:"))
                                .Placeholder("Ingresa la latitud donde ocurrió el accidente.")
                                .HtmlAttributes(new { style = "width: 100%", type = "number" })
                                    .Enable(!esSoloLectura)
                                    )


                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="controlForm my-3">
                        @(Html.Kendo().TextBoxFor(t => t.Longitud)
                                .Label(l => l.Content("Longitud:"))
                                .Placeholder("Ingresa la longitud donde ocurrió el accidente.")
                                .HtmlAttributes(new { style = "width: 100%", type = "number" })
                                .Enable(!ViewBag.EsSoloLectura)
                                )

                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="controlForm mb-3">
                    <label>Certificado de:</label>
                    <span>
                            @(Html.Kendo().DropDownListFor(t => t.IdCertificado)
                                        .DataTextField("Text")
                                        .DataValueField("Value")
                                        .OptionLabel("Selecciona una opción")
                                        .Filter(FilterType.Contains)

                                        .DataSource(source =>
                                        {
                                            source.Read(read =>
                                            {
                                                read.Action("Hospitales_Drop", "CapturaAccidentes");
                                            });
                                        })
                                        .HtmlAttributes(new { style = "width:100%;" })
                                        .Enable(!ViewBag.EsSoloLectura)
                                        )
                    </span>
                </div>
            </div>
            <div class="row justify-content-center mt-4">
                <div class="col-11">
                    <div class="bg-light pt-1"></div>
                </div>
            </div>
            <div class="col-12">
                <h5><b>Elementos</b></h5>
                <label class="label">Seleccione uno o varios elementos que se encontraron en el accidente:</label>
            </div>

                <div class="row">
                    <div class="col-6 col-md-4">
                        <div class="controlForm mb-3">
                            <label>Armas</label>
                            <div class="btnToggleActive">
                                @(Html.Kendo().SwitchFor(t => t.ArmasBool)
                                        .Name("armasSwitch")
                                        .Messages(c => c.Checked("Si").Unchecked("No"))
                                        .HtmlAttributes(new { data_valor = 1 }))
                            </div>
                        </div>

                        <div class="controlForm mb-3">
                            <label>Drogas</label>
                            <div class="btnToggleActive">
                                @(Html.Kendo().SwitchFor(t => t.DrogasBool)
                                        .Name("drogasSwitch")
                                        .Messages(c => c.Checked("Si").Unchecked("No"))
                                        .HtmlAttributes(new { data_valor = 1 }))
                            </div>
                        </div>
                         <div class="controlForm mb-3">
                            <label>Valores</label>
                            <div class="btnToggleActive">
                                @(Html.Kendo().SwitchFor(t => t.ValoresBool)
                                 .Name("valoresSwitch")
                                 .Messages(c => c.Checked("Si").Unchecked("No"))
                                 .HtmlAttributes(new { data_valor = 1 }))
                            </div>
                        </div>
                        <div class="controlForm mb-3">
                            <label>Prendas</label>
                            <div class="btnToggleActive">
                                @(Html.Kendo().SwitchFor(t => t.PrendasBool)
                                        .Name("prendasSwitch")
                                        .Messages(c => c.Checked("Si").Unchecked("No"))
                                        .HtmlAttributes(new { data_valor = 1 }))
                            </div>
                        </div>
                        <div class="controlForm mb-3">
                            <label>Otros</label>
                            <div class="btnToggleActive">
                                @(Html.Kendo().SwitchFor(t => t.OtrosBool)
                                        .Name("otrosSwitch")
                                        .Messages(c => c.Checked("Si").Unchecked("No"))
                                        .HtmlAttributes(new { data_valor = 1 }))
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div id="campoArmasTexto" style="visibility: hidden;" class="controlForm mb-3">
                            <label for="ArmasTextBox">Descripción de armas</label>
                            @(Html.Kendo().TextBoxFor(t => t.ArmasTexto)
                                    .HtmlAttributes(new { style = "width: 40%", id = "ArmasTexto" })
                                    .Enable(!ViewBag.EsSoloLectura)
                                    )
                        </div>
                        <div id="campoDrogasTexto" style="visibility: hidden;" class="controlForm mb-3">
                            <label for="DrogasTextBox">Descripción de drogas</label>
                            @(Html.Kendo().TextBoxFor(t => t.DrogasTexto)
                                    .HtmlAttributes(new { style = "width: 40%", id = "DrogasTexto" })
                                    .Enable(!ViewBag.EsSoloLectura)
                                    )
                        </div>
                        <div id="campoValoresTexto" style="visibility: hidden;" class="controlForm mb-3">
                            <label for="ValoresTextBox">Descripción de valores</label>
                            @(Html.Kendo().TextBoxFor(t => t.ValoresTexto)
                                    .HtmlAttributes(new { style = "width: 40%", id = "ValoresTexto" })
                                    .Enable(!ViewBag.EsSoloLectura)
                                    )
                        </div>
                        <div id="campoPrendasTexto" style="visibility: hidden;" class="controlForm mb-3">
                            <label for="PrendasTextBox">Descripción de prendas</label>
                            @(Html.Kendo().TextBoxFor(t => t.PrendasTexto)
                                    .HtmlAttributes(new { style = "width: 40%", id = "PrendasTexto" })
                                    .Enable(!ViewBag.EsSoloLectura)
                                    )
                        </div>
                        <div id="campoTexto" style="visibility: hidden;" class="controlForm mb-3">
                            <label for="OtrosTextBox">Descripción de otros</label>
                            @(Html.Kendo().TextBoxFor(t => t.OtrosTexto)
                                    .HtmlAttributes(new { style = "width: 40%", id = "OtrosTexto" })
                                        .Enable(!ViewBag.EsSoloLectura)
                                    )
                        </div>
                    </div>
                </div>                     
            <div class="col-12 col-md-6 col-lg-3">
                <div class="controlForm my-3">
                        @(Html.Kendo().TextBoxFor(t => t.entregaObjetos)
                                .Label(l => l.Content("Entrega de objetos:"))
                                .Placeholder("Ingresa los objetos que se entregaron")
                                .HtmlAttributes(new { style = "width: 100%" })
                                 .Enable(!ViewBag.EsSoloLectura)
                                )

                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="controlForm my-3">
                        @(Html.Kendo().TextBoxFor(t => t.entregaOtros)
                                .Label(l => l.Content("Entrega otros:"))
                                .Placeholder("Ingresa la entrega de otros conceptos")
                                .HtmlAttributes(new { style = "width: 100%" })
                                    .Enable(!ViewBag.EsSoloLectura)
                                )

                </div>
            </div>
        </div>
    </section>
            <section class="mx-md-3 mx-lg-4 mx-xl-5 bg-white boxShadow my-5 rounded pb-1">
                <div class="row align-items-center justify-content-between px-4 px-md-4 pt-3 pb-2">
                    <div class="col-12 col-md-auto">
                        <div class="row align-items-center justify-content-center justify-content-md-start">
                            <div class="col-auto">
                                <div class="border border-2 border-dark rounded-circle">
                                    <h5 class="m-0 numberCard d-flex align-items-center justify-content-center">
                                        <b>5</b>
                                    </h5>
                                </div>
                            </div>
                            <div class="col-auto p-0">
                                <i class="icon-involucrado h1 colorPrimary"></i>
                            </div>
                            <div class="col-auto my-3">
                                <h2 class="m-0 h3"><b>Involucrados</b></h2>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="row">
                    <div class="col-8 pe-0">
                        <div class="bgSuccess py-1"></div>
                    </div>
                    <div class="col-4 ps-0">
                        <div class="bg-light py-1"></div>
                    </div>
                </div>
                <div class="row justify-content-between mb-1">
                    <div class="col-12 col-lg-6 mt-4 mb-2">
                        <h5 class="px-4"><b>Listado de búsqueda</b></h5>
                        <h6 class="px-4 text-muted">Selecciona un involucrado para continuar.</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 px-4 rounded mb-4">
                        <div id="tablaConFechaYHora">
                            <partial name="_ListaInvolucradosFechaYHora" model="Model" esSoloLectura="@ViewBag.EsSoloLectura"/>
                        </div>
                    </div>
                </div>
                <div class="row px-4">
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="controlForm mb-3">
                            <label>Convenio</label>
                            <div class="btnToggleActive">
                                @(Html.Kendo().SwitchFor(t => t.convenioBool)

                                        .Name("convenioSwitch")
                                        .Checked(Model.EstadoConvenio == 1)
                                        .Messages(c => c.Checked("Si").Unchecked("No"))
                                        .HtmlAttributes(new { data_valor = 1 })
                                        )
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="controlForm mb-3">

                        <div id="convenioTexto" style="visibility: hidden;">
                            @(Html.Kendo().TextBoxFor(t => t.observacionesConvenio)
                                    .Label(l => l.Content("Observaciones de convenio:"))
                                    .Placeholder("Ingresa las observaciones")
                                        .HtmlAttributes(new { style = "width: 100%", id = "observacionesConvenio" })
                                    .Enable(!ViewBag.EsSoloLectura)
                                    )
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row px-4 mb-4">
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="controlForm mb-3">
                            <label>A disposición de:</label>
                            <span>
                            @(Html.Kendo().DropDownListFor(t => t.IdAutoridadDisposicion)
                                    .DataTextField("Text")
                                    .DataValueField("Value")
                                    .OptionLabel("Selecciona una opción")
                                .Filter(FilterType.Contains)

                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action("Disposicion_Drop", "CapturaAccidentes");
                                        });
                                    })
                                    .HtmlAttributes(new { style = "width:100%;" })
                                    .Enable(!ViewBag.EsSoloLectura)
                                    )
                            </span>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="controlForm mb-3">
                            <label>Entregado a:</label>
                            <span>
                            @(Html.Kendo().DropDownListFor(t => t.IdAutoridadEntrega)
                                    .DataTextField("Text")
                                    .DataValueField("Value")
                                    .OptionLabel("Selecciona una opción")
                                .Filter(FilterType.Contains)

                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action("Entrega_Drop", "CapturaAccidentes");
                                        });
                                    })
                                    .HtmlAttributes(new { style = "width:100%;" })
                                    .Enable(!ViewBag.EsSoloLectura)
                                    )
                            </span>
                        </div>
                    </div>
                </div>


            </section>
        <div class="row justify-content-center mt-4">
            <div class="col-11">
                <div class="bg-light pt-1"></div>
            </div>
        </div>
        <div class="row justify-content-between mb-1">
            <div class="col-12 col-lg-6 mt-4 mb-2">
                <h5 class="px-4"><b>Competencia ministerial</b></h5>
            </div>
        </div>
        <div class="row px-4 mb-4 align-items-end">

            <div class="col-12 col-md-6 col-lg-4">
                <div class="controlForm my-3">
                    @(Html.Kendo().TextBoxFor(t => t.consignacionHechos)
                            .Label(l => l.Content("Procede la consignación de los hechos:"))
                            .Placeholder("Ingresa el nombre de quien procede la consignación de los hechos")
                            .HtmlAttributes(new { style = "width: 100%", })
                             .Enable(!ViewBag.EsSoloLectura)
                            )

        </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="controlForm mb-3">
                    <label>Entidad:</label>
                    <span>
                        @(Html.Kendo().DropDownListFor(t => t.IdEntidadCompetencia)
                                    .DataTextField("Text")
                                    .DataValueField("Value")
                                .Filter(FilterType.Contains)

                                    .OptionLabel("Selecciona una opción")
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action("Entidades_Drop", "CapturaAccidentes");
                                        });
                                    })
                                    .HtmlAttributes(new { style = "width:100%;" })
                                    .Enable(!ViewBag.EsSoloLectura)
                                    )
                    </span>
                </div>

            </div>
          <div class="col-12 col-md-6 col-lg-4">
            <div class="controlForm mb-3">
                <label>Ciudad de:</label>
                <span>
                        @(Html.Kendo().DropDownListFor(t => t.IdCiudad)
                                    .Filter(FilterType.Contains)

                                .DataTextField("Text")
                                .DataValueField("Value")
                                .OptionLabel("Selecciona una opción")
                                .DataSource(source =>
                                {
                                    source.Read(read =>
                                    {
                                        read.Action("Municipios_Drop", "CapturaAccidentes");
                                    });
                                })
                                .HtmlAttributes(new { style = "width:100%;" })
                                .Enable(!ViewBag.EsSoloLectura)
                                )
                </span>
            </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-11">
                <div class="bg-light pt-1"></div>
            </div>
        </div>
        <div class="row justify-content-between mb-1">
            <div class="col-12 col-lg-6 mt-4 mb-2">
                <h5 class="px-4"><b>Consignación</b></h5>
            </div>
        </div>
        <div class="row px-4 mb-4 align-items-end">
            <div class="col-12 col-md-6 col-lg-3">
                <div class="controlForm mb-3">
                    <label>Elabora consignación:</label>
                    <span>
                        @(Html.Kendo().DropDownListFor(t => t.IdElaboraConsignacion)
                                .Filter(FilterType.Contains)

                                    .DataTextField("Text")
                                    .DataValueField("Value")
                                    .OptionLabel("Selecciona una opción")
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                    read.Action("Oficiales_Drop", "CapturaAccidentes");
                                        });
                                    })
                                    .HtmlAttributes(new { style = "width:100%;" })
                                    .Enable(!ViewBag.EsSoloLectura)
                                    )
                    </span>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="controlForm my-3">
                    @(Html.Kendo().TextBoxFor(t => t.numeroOficio)
                            .Label(l => l.Content("Número de oficio:"))
                            .Placeholder("Ingresa el número de oficio")
                            .HtmlAttributes(new { style = "width: 100%" })
                            .Enable(!ViewBag.EsSoloLectura)
                            )

                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="controlForm mb-3">
                    <label>Agencia de ministerio que recibe:</label>
                    <span>
                        @(Html.Kendo().DropDownListFor(t => t.IdAgenciaMinisterio)
                            .Filter(FilterType.Contains)

                                .DataTextField("Text")
                                .DataValueField("Value")
                                .OptionLabel("Selecciona una opción")
                                .DataSource(source =>
                                {
                                    source.Read(read =>
                                    {
                                    read.Action("AgMinisterioDelegacion_Drop", "CapturaAccidentes");
                                    });
                                })
                                .HtmlAttributes(new { style = "width:100%;" })
                                .Enable(!ViewBag.EsSoloLectura)
                                )
                    </span>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="controlForm mb-3">
                    <label>Recibe en ministerio:</label>
                    <span>
                        @(Html.Kendo().TextBoxFor(t => t.RecibeMinisterio)
                                .Placeholder("Ingresa el nombre de quien recibe en ministerio")
                                .HtmlAttributes(new { style = "width: 100%", })
                               .Enable(!ViewBag.EsSoloLectura)
                                )

                    </span>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-11">
                <div class="bg-light pt-1"></div>
            </div>
        </div>
        <div class="row justify-content-between mb-1">
            <div class="col-12 col-lg-6 mt-4 mb-2">
                <h5 class="px-4"><b>Validación de partes</b></h5>
            </div>
        </div>
        <div class="row px-4 mb-4 align-items-end">
            <div class="row my-3 mb-4">
            <div class="col-12 col-md-6 mx-md-auto">
                <div class="row justify-content-around">
                    <div class="col-auto btnOutline btnOutlinePrimary my-2 mx-auto mx-xl-2 p-0">
                         <button class="controlButton" type="button" id="cambiarContenidoButton" @(ViewBag.EsSoloLectura ? "disabled" : "")>Listar Todos</button>
                    </div>
                </div>
            </div>
        </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="controlForm mb-3">
                    <label>Elabora:</label>
                    <span>
                        @(Html.Kendo().DropDownListFor(t => t.IdElabora)
                                .Filter(FilterType.Contains)

                                    .DataTextField("Text")
                                    .DataValueField("Value")
                                    .OptionLabel("Selecciona una opción")
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action("Oficiales_Drop", "CapturaAccidentes");
                                        });
                                    })
                                    .HtmlAttributes(new { style = "width:100%;" })
                                    .Enable(!ViewBag.EsSoloLectura)
                                    )
                    </span>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="controlForm mb-3">
                    <label>Supervisor:</label>
                    <span>
                        @(Html.Kendo().DropDownListFor(t => t.IdSupervisa)
                                    .DataTextField("Text")
                                    .DataValueField("Value")
                                    .OptionLabel("Selecciona una opción")
                                .Filter(FilterType.Contains)

                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action("Oficiales_Drop", "CapturaAccidentes");
                                        });
                                    })
                                    .HtmlAttributes(new { style = "width:100%;" })
                                    .Enable(!ViewBag.EsSoloLectura)
                                    )
                    </span>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="controlForm mb-3">
                    <label>Autoriza:</label>
                    <span>
                        @(Html.Kendo().DropDownListFor(t => t.IdAutoriza)
                                    .DataTextField("Text")
                                    .DataValueField("Value")
                                    .OptionLabel("Selecciona una opción")
                                .Filter(FilterType.Contains)

                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action("Oficiales_Drop", "CapturaAccidentes");
                                        });
                                    })
                                    .HtmlAttributes(new { style = "width:100%;" })
                                .Enable(!ViewBag.EsSoloLectura)
                                    )
                    </span>
                </div>
            </div>
        </div>
</form>


        <div class="row my-3 mb-4">
            <div class="col-12 col-md-6 mx-md-auto">
                <div class="row justify-content-around">
                    <div class="col-auto btnOutline btnOutlinePrimary my-2 mx-auto mx-xl-2 p-0">
                    <div id="botnEnvio" class="controlButton" onclick="enviarDatos()" style="@(esSoloLectura ? "display:none;" : "")" >
                        @(Html.Kendo().Button()
                            .Name("Finalizar")
                                .HtmlAttributes(new { @class = "btnPrimary px-5" })
                                .Content("<h5 class=\"m-0\"><b>Finalizar captura</b></h5>"))
                        </div>
                    <div id="botnReturn" class="controlButton" onclick="regresarBusqueda()" style="@(esSoloLectura ? "" : "display:none;")">
                        @(Html.Kendo().Button()
                            .Name("Finalizar")
                                .HtmlAttributes(new { @class = "btnPrimary px-5" })
                                .Content("<h5 class=\"m-0\"><b>Regresar a busqueda</b></h5>"))
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal fade modalCustom" id="agregarInfraccionModal" aria-labelledby="agregarInfraccionLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-body" id="ModalBodyAgregarInfraccion">
                    </div>
                </div>
            </div>
        </div>
</div>
<script>

    function mostrarModalAgregarInfraccion() {
        event.preventDefault();
        $.ajax({
            url: '@Url.Action("ModalInfraccionesVehiculos")',
            type: 'POST',
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            success: function (data) {
                $('#ModalBodyAgregarInfraccion').html(data);
                $('#agregarInfraccionModal').modal('show');
            }
        });
    }

    function enviarDatos() {

        var datosFormulario = $("#detalleAccidenteForm").serialize();

        var armasValue = $("#armasSwitch").prop("checked") ? 1 : 0;
        var drogasValue = $("#drogasSwitch").prop("checked") ? 1 : 0;
        var valoresValue = $("#valoresSwitch").prop("checked") ? 1 : 0;
        var prendasValue = $("#prendasSwitch").prop("checked") ? 1 : 0;
        var otrosValue = $("#otrosSwitch").prop("checked") ? 1 : 0;
        var convenioValue =$("#convenioSwitch").prop("checked") ? 1 : 0;
     showLoading();
        $.ajax({
            url: '@Url.Action("InsertarDatos")',
            type: 'POST',
            data: datosFormulario + '&armasValue=' + armasValue + '&drogasValue=' + drogasValue + '&valoresValue=' + valoresValue + '&prendasValue=' + prendasValue + '&otrosValue=' + otrosValue + '&convenioValue=' + convenioValue,
            success: function (result) {
                sitteg_success("Se ha concluido el registro del accidente");
                window.location.href = "/CapturaAccidentes/Index";
                hideLoading();
            },
            error: function (error) {
              sitteg_warning("!Sucedio un error, intente mas tarde...");  
              hideLoading();
            }
        });
    }



    $("#cambiarContenidoButton").click(function (event) {
        event.preventDefault(); 
        showLoading();
        $.ajax({
            url: '@Url.Action("CambiosDDLOficiales", "CapturaAccidentes")',
            type: 'GET',
            success: function (data) {
                $("#IdElabora").data("kendoDropDownList").dataSource.data(data);
                $("#IdSupervisa").data("kendoDropDownList").dataSource.data(data);
                $("#IdAutoriza").data("kendoDropDownList").dataSource.data(data);
                $("#IdElaboraConsignacion").data("kendoDropDownList").dataSource.data(data);

                hideLoading();
            }, error: function () {
                sitteg_warning("Ocurrio un error al procesar su solicitud.");
                hideLoading();
            }
        });
    });


    $(document).ready(function () {
            var switchElementA = $("#armasSwitch").data("kendoSwitch");
            var campoArmasTexto = $("#campoArmasTexto");

            switchElementA.bind("change", function () {
                if (switchElementA.check()) {
                campoArmasTexto.css("visibility", "visible");
                } else {
                campoArmasTexto.css("visibility", "hidden");
                }
            });
        });

           $(document).ready(function () {
            var switchElementD = $("#drogasSwitch").data("kendoSwitch");
            var campoDrogasTexto = $("#campoDrogasTexto");

            switchElementD.bind("change", function () {
                if (switchElementD.check()) {
                    campoDrogasTexto.css("visibility", "visible");
                } else {
                campoDrogasTexto.css("visibility", "hidden");
                }
            });
        });

    $(document).ready(function () {
        var switchElementV = $("#valoresSwitch").data("kendoSwitch");
        var campoValoresTexto = $("#campoValoresTexto");

        switchElementV.bind("change", function () {
            if (switchElementV.check()) {
                campoValoresTexto.css("visibility", "visible");
            } else {
                campoValoresTexto.css("visibility", "hidden");
            }
        });
    });


     $(document).ready(function () {
            var switchElementP = $("#prendasSwitch").data("kendoSwitch");
            var campoPrendasTexto = $("#campoPrendasTexto");

            switchElementP.bind("change", function () {
                if (switchElementP.check()) {
                    campoPrendasTexto.css("visibility", "visible");
                } else {
                    campoPrendasTexto.css("visibility", "hidden");
                }
            });
        });

        $(document).ready(function () {
            var switchElementO = $("#otrosSwitch").data("kendoSwitch");
            var campoTexto = $("#campoTexto");

            switchElementO.bind("change", function () {
                if (switchElementO.check()) {
                    campoTexto.css("visibility", "visible");
                } else {
                    campoTexto.css("visibility", "hidden");
                }
            });
        });

    $(document).ready(function () {
        var switchElementConv = $("#convenioSwitch").data("kendoSwitch");
        var convenioTexto = $("#convenioTexto");

        switchElementConv.bind("change", function () {
            if (switchElementConv.check()) {
                convenioTexto.css("visibility", "visible");
            } else {
                convenioTexto.css("visibility", "hidden");
            }
        });
    });

    $(document).ready(function () {
        verificarCamposDeTexto();

        $("#armasSwitch").change(function () {
            verificarCamposDeTexto();
        });

        function verificarCamposDeTexto() {
            var $campoArmasTexto = $("#campoArmasTexto");
            var $armasTexto = $("#ArmasTexto");

            var switchEstado = $("#armasSwitch").is(":checked");

            var textoNoVacio = $armasTexto.val().trim() !== "";

            if (textoNoVacio || switchEstado) {
                $campoArmasTexto.css("visibility", "visible");
            } else {
                $campoArmasTexto.css("visibility", "hidden");
            }
        }
    });

    $(document).ready(function () {
        verificarCamposDeTexto();

        $("#drogasSwitch").change(function () {
            verificarCamposDeTexto();
        });

        function verificarCamposDeTexto() {
            var $campoDrogasTexto = $("#campoDrogasTexto");
            var $drogasTexto = $("#DrogasTexto");

            var switchEstadoD = $("#drogasSwitch").is(":checked");

            var textoNoVacioD = $drogasTexto.val().trim() !== "";

            if (textoNoVacioD || switchEstadoD) {
                $campoDrogasTexto.css("visibility", "visible");
            } else {
                $campoDrogasTexto.css("visibility", "hidden");
            }
        }
    });


     $(document).ready(function () {
        verificarCamposDeTexto();

        $("#valoresSwitch").change(function () {
            verificarCamposDeTexto();
        });

        function verificarCamposDeTexto() {
            var $campoValoresTexto = $("#campoValoresTexto");
            var $valoresTexto = $("#ValoresTexto");

            var switchEstadoV = $("#valoresSwitch").is(":checked");

            var textoNoVacioV = $valoresTexto.val().trim() !== "";

            if (textoNoVacioV || switchEstadoV) {
                $campoValoresTexto.css("visibility", "visible");
            } else {
                $campoValoresTexto.css("visibility", "hidden");
            }
        }
    });

     $(document).ready(function () {
        verificarCamposDeTexto();

        $("#prendasSwitch").change(function () {
            verificarCamposDeTexto();
        });

        function verificarCamposDeTexto() {
            var $campoPrendasTexto = $("#campoPrendasTexto");
            var $prendasTexto = $("#PrendasTexto");

            var switchEstadoP = $("#prendasSwitch").is(":checked");

            var textoNoVacioP = $prendasTexto.val().trim() !== "";

            if (textoNoVacioP || switchEstadoP) {
                $campoPrendasTexto.css("visibility", "visible");
            } else {
                $campoPrendasTexto.css("visibility", "hidden");
            }
        }
    });

    $(document).ready(function () {
        verificarCamposDeTexto();

        $("#otrosSwitch").change(function () {
            verificarCamposDeTexto();
        });

        function verificarCamposDeTexto() {
            var $campoOtrosTexto = $("#campoTexto");
            var $otrosTexto = $("#OtrosTexto");

            var switchEstadoO = $("#otrosSwitch").is(":checked");

            var textoNoVacioO = $otrosTexto.val().trim() !== "";

            if (textoNoVacioO || switchEstadoO) {
                $campoOtrosTexto.css("visibility", "visible");
            } else {
                $campoOtrosTexto.css("visibility", "hidden");
            }
        }
    });
    $(document).ready(function () {
        verificarCamposDeTexto();

        $("#convenioSwitch").change(function () {
            verificarCamposDeTexto();
        });

        function verificarCamposDeTexto() {
            var $campoconvenioTexto = $("#convenioTexto");
            var $convenioTexto = $("#observacionesConvenio");

            var switchEstadoConv = $("#convenioSwitch").is(":checked");

            var textoNoVacioConv = $convenioTexto.val().trim() !== "";

            if (textoNoVacioConv || switchEstadoConv) {
                $campoconvenioTexto.css("visibility", "visible");
            } else {
                $campoconvenioTexto.css("visibility", "hidden");
            }
        }
    });


    $(document).ready(function () {
        var esSoloLectura = @(ViewBag.EsSoloLectura ? "true" : "false");

        var switchInstance = $("#otrosSwitch").data("kendoSwitch");
        var switchDrogas = $("#drogasSwitch").data("kendoSwitch");
        var switchArmas = $("#armasSwitch").data("kendoSwitch");
        var switchValores = $("#valoresSwitch").data("kendoSwitch");
        var switchPrendas = $("#prendasSwitch").data("kendoSwitch"); 
        var switchConvenio = $("#convenioSwitch").data("kendoSwitch");
        // Establece el switch en modo solo lectura
        if (esSoloLectura) {
            switchInstance.readonly();
            switchDrogas.readonly();
            switchArmas.readonly();
            switchValores.readonly();
            switchPrendas.readonly();
            switchConvenio.readonly();

        }
    });

    function regresarBusqueda(){
        window.location.href = '/BusquedaEspecialAccidentes/Index' 

    }
          /*  switchElementD.bind("change", function () {
                if (switchElementD.check()) {
                    campoDrogasTexto.show();
                } else {
                campoDrogasTexto.hide();
                }
            });
        });

       $(document).ready(function () {
            var switchElementV = $("#valoresSwitch").data("kendoSwitch");
            var campoValoresTexto = $("#campoValoresTexto");

            switchElementV.bind("change", function () {
                if (switchElementV.check()) {
                    campoValoresTexto.show();
                } else {
                campoValoresTexto.hide();
                }
            });
        });

     $(document).ready(function () {
            var switchElementP = $("#prendasSwitch").data("kendoSwitch");
            var campoPrendasTexto = $("#campoPrendasTexto");

            switchElementP.bind("change", function () {
                if (switchElementP.check()) {
                    campoPrendasTexto.show();
                } else {
                    campoPrendasTexto.hide();
                }
            });
        });

        $(document).ready(function () {
            var switchElementO = $("#otrosSwitch").data("kendoSwitch");
            var campoTexto = $("#campoTexto");

            switchElementO.bind("change", function () {
                if (switchElementO.check()) {
                    campoTexto.show();
                } else {
                    campoTexto.hide();
                }
            });
        });*/
</script>





