
<head>
        <script>

            function busqueda() {
                console.log("busqueda");
                document.getElementById("tablaBusqueda").style.display = "block";
            document.getElementById("tablaBusqueda1").style.display = "block";

            }
            </script>
            </head>

<div class="mainContainer bg-light">
    <section class="mx-md-3 mx-lg-4 mx-xl-5 bg-white boxShadow my-5 rounded">
        <div class="row align-items-center justify-content-between px-4 px-md-4 pt-3 pb-2">
            <div class="col-12 col-md-6 col-lg-5 col-xl-auto">
                <div class="row align-items-center justify-content-center justify-content-md-start">
                    <div class="col-auto">
                        <i class="icon-edit-car h1 colorPrimary"></i>
                    </div>
                    <div class="col-auto my-3">
                        <h2 class="m-0 h3"><b>Vehículos</b></h2>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-7 col-xl-auto">
                <div class="row">
                    <!--div class="col-auto btnOutline btnOutlinePrimary my-2 mx-auto mx-xl-2 p-0">
                        <button>
                            <h6 class="m-0 d-flex align-items-center"><i class="icon-addCar h5 mb-0 me-2"></i><b>Alta de vehículo sistema</b></h6>
                        </button>
                    </div-->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="bg-light py-1"></div>
            </div>
        </div>
        <div class="col-12 col-md-auto mt-4 mb-2">
            <h5 class="px-4"><b>Búsqueda del vehículo</b></h5>
            <h6 class="px-4 text-muted">Filtros de búsqueda para localizar el vehículo. Se pueden combinar filtros, por ejemplo se puede combinar marca Ford con color Negro.</h6>
        </div>
        <div class="row px-4 mb-4 align-items-end">
            <div class="col-12 col-md-6 col-lg-3">
                <div class="controlForm mb-3">
                    <label>Entidad de registro</label>
                    <span>
                        @(Html.Kendo().DropDownList()
                                      .Name("entidad")
                                      .DataTextField("")
                                      .DataValueField("")
                                      .HtmlAttributes(new { style = "width:100%;" })
                                      .Filter(FilterType.Contains)
                                      .DataSource(source => source
                                          .Read(read => read.Action("GetProducts", "Home"))
                                      )
                                )
                    </span>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="controlForm my-3">
                    @(Html.Kendo().TextBox()
                                .Name("placas")
                                .Label(l => l.Content("Placas"))
                                .Placeholder("Ingresa el número de placa del vehículo")
                                .HtmlAttributes(new { style = "width: 100%" })
                            )

                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="controlForm my-3">
                    @(Html.Kendo().TextBox()
                                .Name("serie")
                                .Label(l => l.Content("Serie:"))
                                .Placeholder("Ingresa el número de serie valido")
                                .HtmlAttributes(new { style = "width: 100%" })
                            )
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="controlForm my-3">
                    @(Html.Kendo().TextBox()
                                .Name("tarjeta")
                                .Label(l => l.Content("Tarjeta:"))
                                .Placeholder("Ingresa el número de la tarjeta")
                                .HtmlAttributes(new { style = "width: 100%" })
                            )

                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-3 col-xl-2">
                <div class="controlForm my-3">
                    @(Html.Kendo().TextBox()
                                .Name("marca")
                                .Label(l => l.Content("Marca:"))
                                .Placeholder("Ingresa una marca")
                                .HtmlAttributes(new { style = "width: 100%" })
                            )

                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-3 col-xl-2">
                <div class="controlForm my-3">
                    @(Html.Kendo().TextBox()
                                .Name("sub-marca")
                                .Label(l => l.Content("Sub-Marca:"))
                                .Placeholder("Ingresa la sub-marca")
                                .HtmlAttributes(new { style = "width: 100%" })
                            )

                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-3 col-xl-2">
                <div class="controlForm my-3">
                    @(Html.Kendo().TextBox()
                                .Name("tipo")
                                .Label(l => l.Content("Tipo de vehículo:"))
                                .Placeholder("Ingresa el tipo de vehículo")
                                .HtmlAttributes(new { style = "width: 100%" })
                            )

                </div>
            </div>
            <div class="col-12 col-md-2 col-lg-1 col-xl-1">
                <div class="controlForm my-3">
                    @(Html.Kendo().TextBox()
                                .Name("modelo")
                                .Label(l => l.Content("Modelo:"))
                                .Placeholder(" Año")
                                .HtmlAttributes(new { style = "width: 100%" })
                            )

                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-2 col-xl-2">
                <div class="controlForm my-3">
                    <label>Color:</label>
                    <span>
                        @(Html.Kendo().DropDownList()
                                      .Name("color")
                                      .DataTextField("")
                                      .DataValueField("")
                                      .HtmlAttributes(new { style = "width:100%;" })
                                      .Filter(FilterType.Contains)
                                      .DataSource(source => source
                                          .Read(read => read.Action("GetProducts", "Home"))
                                      )
                                )
                    </span>

                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 col-xl-3">
                <div class="controlButton my-3" onclick="busqueda()">
                    @(Html.Kendo().Button()
                    .Name("BuscarVehiculo")
                    .HtmlAttributes(new { @class = "btnPrimary" })
                    .Content("<h5 class=\"m-0\"><b>Buscar</b></h5>"))
                </div>

            </div>



        </div>
        
        
        <div id="tablaBusqueda" class="row justify-content-between mb-1 titleCustom" style="display:none">
            <div class="col-12 col-md-auto mt-4 mb-2">
                <h5 class="px-4"><b>Listado de vehículo</b></h5>
                <h6 class="px-4 text-muted">Edita los datos de vehículo.</h6>
            </div>
        </div><br /><br /><br /><br />
        <div id="tablaBusqueda1" class="row" style="display:none; padding:30px">
            <div id="grid" class="col-12 mb-4 px-4 rounded gridCustom">


                <!--kendo-grid name="grid" height="450">
                    <datasource type="DataSourceTagHelperType.Custom" custom-type="odata" page-size="5">
                        <transport>
                            <read url="https://demos.telerik.com/kendo-ui/service/Northwind.svc/Orders" />
                        </transport>

                    </datasource>
                    <sortable enabled="true" />

                    <pageable button-count="5" refresh="true" page-sizes="new int[] { 5, 10, 20 }">
                    </pageable>
                    <columns>
                        <column field="ShipName" title="Entidad" width="90" />
                        <column field="ShipName" title="Placas" width="90" />
                        <column field="ShipName" title="Serie" width="90" />
                        <column field="ShipName" title="Marca" width="90" />
                        <column field="ShipName" title="Sub-Marca" width="90" />
                        <column field="ShipName" title="Tipo de vehículo" width="90" />
                        <column field="ShipName" title="Modelo" width="90" />
                        <column field="ShipName" title="Color" width="90" />
                        <column field="ShipName" title="Propietario" width="90" />
                        <column field="ShipName" title="Estado en sistema" width="90" />
                        <column template="<button data-bs-toggle=modal data-bs-target=\#editVehiculo class='w-100 btn'><h6 class='m-0 colorPrimary'><i class='icon-edit me-2'></i><b>Editar</b></h6></button>" width="100" />
                    </columns>
                    <toolbar>
                        <toolbar-button name="search"></toolbar-button>
                    </toolbar>
                </!--kendo-grid-->


            </div>

            <script>
                $(document).ready(function () {
      $("#grid").kendoGrid({
          sortable: true,
          groupable: true,
                    toolbar: ["search"],
          search: {
                    fields: [
                            { name: "entidad", operator: "contains" },
                            { name: "placas", operator: "contains" },
                            { name: "marca", operator: "contains" },
                            { name: "submarca", operator: "contains" },
                            { name: "tipo", operator: "contains" },
                            { name: "modelo", operator: "contains" },
                            { name: "color", operator: "contains" },
                            { name: "propietario", operator: "contains" },
                    ]
                },
        dataSource: {
          data: {
            "items" :[
              {
                "entidad": "Guanajuato",
                "placas": "GTD7308",
								"serie": "ASD3456SDF6789DFG",
                "marca": "Nissan",
                "submarca": "Sentra",
                "tipo": "Sedan",
                "modelo": "2006",
                "color": "Azul",
                "propietario": "Lourdes Ramirez Garcia",
              },
              {
                "entidad": "Guanajuato",
                "placas": "GTD7301",
								"serie": "ASD3456SDF6789DFG",
                "marca": "Honda",
                "submarca": "Civic",
                "tipo": "Sedan",
                "modelo": "2006",
                "color": "Azul",
                "propietario": "Ximena Lara Perez",
              }
,
              {
                "entidad": "Guanajuato",
                "placas": "GTD7302",
								"serie": "ASD3456SDF6789DFG",
                "marca": "Honda",
                "submarca": "Accord",
                "tipo": "Sedan",
                "modelo": "2006",
                "color": "Azul",
                "propietario": "Roberto Mejia Alcantara",
              }
            ]
          },
          schema: {
            data: "items"
          }
        },
        columns: [
          {
            field: "entidad",
            title: "Entidad"
          },
          {   field: "placas",
           title: "Placas",
          },
          {   field: "serie",
           title: "Serie",
          },
          {   field: "marca",
           title: "Marca",
          },
          {   field: "submarca",
           title: "Submarca",
          },
          {   field: "tipo",
           title: "Tipo",
          },
          {   field: "modelo",
           title: "Modelo",
          },
          {   field: "color",
           title: "Color",
          },
          {   field: "propietario",
           title: "Propietario",
          }
        ]
                    });
                });
    </script>

        </div>



    </section>

</div>
    
    <!-- Modal -->





    <div class="modal fade modalCustom" id="editVehiculo" tabindex="-1" aria-labelledby="editVehiculo" aria-hidden="true">
        <div class="modal-dialog modal-xl boxShadow modal-dialog-centered">
            <div class="modal-content">

                <section class=" bg-white rounded">
                    <div class="row align-items-center justify-content-between px-4 px-md-4 pt-3 pb-2">
                        <div class="col-auto pe-0">
                            <div class="row align-items-center justify-content-center justify-content-md-start">
                                <div class="col-auto pe-0">
                                    <i class="icon-edit-car h1 colorPrimary"></i>
                                </div>
                                <div class="col-auto my-3">
                                    <h2 class="m-0 h3"><b>Editar vehículo</b></h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <div class="row">
                                <div class="col-auto my-3">
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="bg-light py-1"></div>
                        </div>

                    </div>
                    <div class="row align-items-end">
                        <div class="col-12 col-lg-6 my-4">
                            <h5 class="px-4"><b>Datos del vehículo</b></h5>
                            <h6 class="px-4 text-muted">Completa los datos obligatorios para guardar.</h6>
                        </div>
                        <div class="col-12 col-lg-6 my-4">
                            <div class="row justify-content-center">
                                <div class="btnToggle col-8">
                                    <div style="z-index:0" class="position-relative d-flex align-items-center">
                                        <input class="toggle toggle-left" id="activo" name="toggle-state" value="false"
                                               type="radio" checked="" />
                                        <label class="btn" for="activo">Activo</label>
                                        <input class="toggle toggle-right" id="inactivo" name="toggle-state" value="true"
                                               type="radio" />
                                        <label class="btn" for="inactivo">Inactivo</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <form class="row px-4 mb-4 align-items-end justify-content-center">
                        <div class="col-12 col-md-6 col-lg-3">
                            <div class="controlForm mb-3">
                                <label>Entidad de registro <b>(obligatorio)</b></label>
                                <span>
                                    @(Html.Kendo().DropDownList()
                                      .Name("entidadEdit")
                                      .DataTextField("")
                                      .DataValueField("")
                                      .HtmlAttributes(new { style = "width:100%;" })
                                      .Filter(FilterType.Contains)
                                      .DataSource(source => source
                                          .Read(read => read.Action("GetProducts", "Home"))
                                      )
                                )
                                </span>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-3">
                            <div class="controlForm my-3">
                                @(Html.Kendo().TextBox()
                                .Name("placasEdit")
                                .Label(l => l.Content("Placas"))
                                .Placeholder("Ingresa el número de placa del vehículo")
                                .HtmlAttributes(new { style = "width: 100%" })
                            )

                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-3">
                            <div class="controlForm my-3">
                                @(Html.Kendo().TextBox()
                                .Name("serieEdit")
                                .Label(l => l.Content("Serie:"))
                                .Placeholder("Ingresa el número de serie valido")
                                .HtmlAttributes(new { style = "width: 100%" })
                            )
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-3">
                            <div class="controlForm my-3">
                                @(Html.Kendo().TextBox()
                                .Name("tarjetaEdit")
                                .Label(l => l.Content("Tarjeta:"))
                                .Placeholder("Ingresa el número de la tarjeta")
                                .HtmlAttributes(new { style = "width: 100%" })
                            )

                            </div>
                        </div>
                        <div class="col-12 col-md-4 col-lg-3 col-xl-2">
                            <div class="controlForm my-3">
                                @(Html.Kendo().TextBox()
                                .Name("vigenciaEdit")
                                .Label(l => l.Content("Vigencia de tarjeta:"))
                                .Placeholder("Ingresa la vigencia")
                                .HtmlAttributes(new { style = "width: 100%" })
                            )

                            </div>
                        </div>
                        <div class="col-12 col-md-4 col-lg-3 col-xl-2">
                            <div class="controlForm my-3">
                                @(Html.Kendo().TextBox()
                                .Name("marcaEdit")
                                .Label(l => l.Content("Marca <b>(obligatorio)</b>:"))
                                .Placeholder("Ingresa una marca")
                                .HtmlAttributes(new { style = "width: 100%" })
                            )

                            </div>
                        </div>
                        <div class="col-12 col-md-4 col-lg-3 col-xl-2">
                            <div class="controlForm my-3">
                                @(Html.Kendo().TextBox()
                                .Name("sub-marcaEdit")
                                .Label(l => l.Content("Sub-Marca <b>(obligatorio)</b>:"))
                                .Placeholder("Ingresa la sub-marca")
                                .HtmlAttributes(new { style = "width: 100%" })
                            )

                            </div>
                        </div>
                        <div class="col-12 col-md-5 col-lg-3 col-xl-3">
                            <div class="controlForm my-3">
                                @(Html.Kendo().TextBox()
                                .Name("tipoEdit")
                                .Label(l => l.Content("Tipo de vehículo <b>(obligatorio)</b>:"))
                                .Placeholder("Ingresa el tipo de vehículo")
                                .HtmlAttributes(new { style = "width: 100%" })
                            )

                            </div>
                        </div>
                        <div class="col-12 col-md-2 col-lg-2 col-xl-1">
                            <div class="controlForm my-3">
                                @(Html.Kendo().TextBox()
                                .Name("modeloEdit")
                                .Label(l => l.Content("Modelo:"))
                                .Placeholder(" Año")
                                .HtmlAttributes(new { style = "width: 100%" })
                            )

                            </div>
                        </div>
                        <div class="col-12 col-md-5 col-lg-3 col-xl-2">
                            <div class="controlForm my-3">
                                <label>Color:</label>
                                <span>
                                    @(Html.Kendo().DropDownList()
                                      .Name("colorEdit")
                                      .DataTextField("")
                                      .DataValueField("")
                                      .HtmlAttributes(new { style = "width:100%;" })
                                      .Filter(FilterType.Contains)
                                      .DataSource(source => source
                                          .Read(read => read.Action("GetProducts", "Home"))
                                      )
                                )
                                </span>

                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                            <div class="controlForm my-3">
                                @(Html.Kendo().TextBox()
                                .Name("economicoEdit")
                                .Label(l => l.Content("No. económico:"))
                                .Placeholder("Ingresa el no. económico")
                                .HtmlAttributes(new { style = "width: 100%" })
                            )

                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-3 col-xl-3">
                            <div class="controlForm my-3">
                                @(Html.Kendo().TextBox()
                                .Name("manufacturaEdit")
                                .Label(l => l.Content("Manufactura:"))
                                .Placeholder("Ingresa el pais de manufactura")
                                .HtmlAttributes(new { style = "width: 100%" })
                            )

                            </div>
                        </div>
                    </form>
                    <div class="row my-4">
                        <div class="col-12 col-md-6 mx-md-auto">
                            <div class="row justify-content-around">
                                <div class="col-auto btnOutline my-2 mx-auto mx-xl-2 p-0">
                                    <button type="button" data-bs-dismiss="modal" aria-label="Close">
                                        <h6 class="m-0 px-3"><b>Cerrar</b></h6>
                                    </button>
                                </div>
                                <div class="col-auto btnOutline btnOutlinePrimary my-2 mx-auto mx-xl-2 p-0">
                                    <div class="controlButton">
                                        @(Html.Kendo().Button()
                                                .Name("EditVehiculo")
                                                .HtmlAttributes(new { @class = "btnPrimary px-3" })
                                                .Content("<h5 class=\"m-0\"><b>Guardar ajustes</b></h5>"))
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </section>
            </div>
        </div>
    </div>



