@model MotivoInfraccionModel

<form id="frmCrearMotivos" class="row px-4 mb-4 align-items-end justify-content-center">
    @Html.HiddenFor(m=> m.idInfraccion, new { id = "hndIdInfraccion"}) 
    <div class="row my-4">
        <div class="col-12 col-md-4">
            <div class="controlForm">
                <label>Concepto <b>(obligatorio)</b>:</label>
                @(Html.Kendo().DropDownListFor(m => m.idConcepto).Filter(FilterType.Contains)
                    .BindTo((SelectList)ViewData["CatConcepto"])
                    .OptionLabel("-- Seleccione --")
                    .HtmlAttributes(new { style = "width:100%;", id = "ddlConcepto" }))
            </div>
        </div>
        <div class="form-group col-md-4">
            <div class="controlForm">
                <label>Subconcepto <b>(obligatorio)</b>:</label>
                <div id="divSubConcepto">
                    @(Html.Kendo().DropDownListFor(m => m.IdSubConcepto).Filter(FilterType.Contains)
                        .OptionLabel("-- Seleccione --")
                        .HtmlAttributes(new { style = "width:100%;" }))
                </div>
            </div>
        </div>
        <div class="form-group col-md-4">
            <div class="controlForm">
                <label>Motivo:</label>
                <div id="divCatMotivo">
                    @(Html.Kendo().DropDownListFor(m => m.idCatMotivoInfraccion).Filter(FilterType.Contains)
                        .OptionLabel("-- Seleccione --")
                        .HtmlAttributes(new { style = "width:100%;" }))
                </div>
            </div>
        </div>
    </div>
    <div class="row my-4">
        <div class="form-group col-md-4">
            <div class="controlForm">
                @(Html.Kendo().TextBoxFor(t => t.calificacionMinima)
                    .Label(l => l.Content("Calificación mínima <b>(obligatorio)</b>:"))
                    .HtmlAttributes(new { style = "width: 100%; height:58px;", id = "calificacionMinima", disabled="disabled" })
                    )
            </div>
        </div>
        <div class="form-group col-md-4">
            <div class="controlForm">
                @(Html.Kendo().TextBoxFor(t => t.calificacionMaxima)
                    .Label(l => l.Content("Calificación máxima <b>(obligatorio)</b>:"))
                    .HtmlAttributes(new { style = "width: 100%; height:58px;", id = "calificacionMaxima", disabled = "disabled" })
                    )
            </div>
        </div>
        <div class="form-group col-md-4">
            <div class="controlForm">
                @(Html.Kendo().IntegerTextBoxFor(t => t.calificacion)
                    .Label(l => l.Content("Calificación <b>(obligatorio)</b>:"))
                    .Events(e => e.Change("onChange"))
                    .HtmlAttributes(new { style = "width: 100%; height:58px;"})
                    )
            </div>
        </div>
    </div>
</form>

<div class="row my-4">
    <div class="col-12 col-md-6 mx-md-auto">
        <div class="row justify-content-around">
            <div class="col-auto btnOutline my-2 mx-auto mx-xl-2 p-0">
                <button type="button" data-bs-dismiss="modal" aria-label="Close">
                    <h6 class="m-0 px-3"><b>Cerrar</b></h6>
                </button>
            </div>
            <div class="col-auto btnOutline btnOutlinePrimary my-2 mx-auto mx-xl-2 p-0">
                <div class="controlButton">
                    <button class="btnPrimary px-3" onclick="btnCrearMotivos()">
                        <h5 class="m-0"><b>Guardar</b></h5>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<script>



    function btnCrearMotivos() {



        var validator = $("#frmCrearMotivos").kendoValidator().data('kendoValidator');
        //validator.validate();
        var controlsValidate = [];
        var isValid = true;

        controlsValidate.push({ 'controlName': 'calificacionMinima' });
        controlsValidate.push({ 'controlName': 'calificacionMaxima' });
        controlsValidate.push({ 'controlName': 'calificacion' });

        // INPUTS
        if (!isControlsValid(controlsValidate)) { isValid = false; }


        // DROP DOWN LIST
        controlsValidate = [];
        controlsValidate.push({ 'controlName': 'ddlConcepto' });
        controlsValidate.push({ 'controlName': 'IdSubConcepto' });
        if (!isControlsValidDropDown(controlsValidate)) { isValid = false; }


        if (!isValid) {
            sitteg_warning('Hacen falta datos o existen datos incorrectos, favor de verificar.');
            return;
        }

        //if (validator.validate()) {
            var idInfraccion = $("#idInfraccion").val();
            $("#hndIdInfraccion").val(idInfraccion);
            var formData = $("#frmCrearMotivos").serialize();
            formData = formData + '&calificacionMinima=' + $("#calificacionMinima").val() + '&calificacionMaxima=' + $("#calificacionMaxima").val();
            console.log(formData);
            showLoading();
            $.ajax({
                url: '@Url.Action("ajax_CrearMotivos")',
                type: 'POST',
                data: formData,
                success: function (result) {
                $("#listadoMotivos").html(result);
                    $('#modalCrearMotivo').modal('hide');
                    sitteg_success('Elemento guardado correctamente')
                    hideLoading();
                },
                error: function (xhr, status) {
                    var errmsg = xhr.responseText;
                    console.log(errmsg)
                    sitteg_warning('Lo sentimos, ha ocurrido un error.');
                    hideLoading();
                }
            });
        //}
        //else {
        //    sitteg_info('Debe llenar los campos requeridos');
        //    return;
        //}
    }


    $("#ddlConcepto").on("change", function () {
        var value = $(this).val();
        var ddlIdSubConcepto = $("#IdSubConcepto").data("kendoDropDownList");
        var ddlidCatMotivoInfraccion = $("#idCatMotivoInfraccion").data("kendoDropDownList");
        if (ddlIdSubConcepto != undefined){
            ddlIdSubConcepto.dataSource.data([]);
        }
            
        if (ddlidCatMotivoInfraccion != undefined) {
            ddlidCatMotivoInfraccion.dataSource.data([]);
        }

        var functionName = "_on_change_SubConcepto";
        _set_combo_catalog("CatSubConceptoInfraccion", value, "IdSubConcepto", "false", "divSubConcepto", functionName);
    });

    function _on_change_SubConcepto() {
        var value = $("#IdSubConcepto").val(); 
        if (value == "") {
            $("#idCatMotivoInfraccion option[value!='']").remove();
        }
        else { 
            var functionName = "_on_change_Motivo";
            _set_combo_catalog("CatMotivosInfraccion", value, "idCatMotivoInfraccion", "false", "divCatMotivo", functionName);
            $('#idCatMotivoInfraccion').kendoDropDownList();
        }
    }
    
    function _on_change_Motivo() {
        var min = 0;
        var max = 0;
        var value = $("#idCatMotivoInfraccion").val();
        var txtMin = $("#calificacionMinima").data("kendoTextBox");
        var txtMax = $("#calificacionMaxima").data("kendoTextBox");
         showLoading();
        $.ajax({
            url: '@Url.Action("BuscarMotivoByID","MotivosInfraccion")',
            type: 'GET',
            data: { idCatMotivoInfraccion: value }, 
            success: function (result) {
                min = result.CalificacionMinima;
                max = result.CalificacionMaxima; 
                 
                txtMin.value(min);
                txtMax.value(max);
                 hideLoading();
            },
            error: function (xhr, status) {
                var errmsg = xhr.responseText;
                console.log(errmsg)
                sitteg_warning('Lo sentimos, ha ocurrido un error.'+errmsg);
                hideLoading();
            }
        });
    }
     

</script>