@model PersonaModel


<div class="row my-4 px-4">
    <div class="form-group col-md-6">
        <div class="controlForm">
            <label>Nombre:</label>&nbsp;@Model.nombreCompleto
        </div>
    </div>
    <div class="form-group col-md-6">
        <div class="controlForm">
            <label>Tipo de persona:</label>&nbsp;@Model.tipoPersona
        </div>
    </div>
</div>

<div class="row my-4 px-4">
    <div class="form-group col-md-3">
        <div class="controlForm">
            <label>CURP:</label>
            <p>@Model.CURP</p>
        </div>
    </div>
    <div class="form-group col-md-3">
        <div class="controlForm">
            <label>RFC:</label>
            <p>@Model.RFC</p>
        </div>
    </div>
    <div class="form-group col-md-3">
        <div class="controlForm">
            <label>SEXO:</label>&nbsp;@Model.genero
        </div>
    </div>
    <div class="form-group col-md-3">
        <div class="controlForm">
            <label>Fecha nacimiento:</label>
            <p>@Model.fechaNacimiento.ToString("yyyy-MM-dd")</p>
        </div>
    </div>
</div>

<div class="row my-4 px-4">
    <div class="form-group col-md-3">
        <div class="controlForm">
            <label>Municipio:</label>
            <p>@Model.PersonaDireccion.municipio</p>
        </div>
    </div>
    <div class="form-group col-md-3">
        <div class="controlForm">
            <label>Entidad:</label>
            <p>@Model.PersonaDireccion.entidad</p>
        </div>
    </div>
    <div class="form-group col-md-3">
        <div class="controlForm">
            <label>Calle:</label>
            <p>@Model.PersonaDireccion.calle</p>
        </div>
    </div>
    <div class="form-group col-md-3">
        <div class="controlForm">
            <label>Número:</label>
            <p>@Model.PersonaDireccion.numero</p>
        </div>
    </div>
</div>
<div class="row my-4 px-4">
    <div class="form-group col-md-4">
        <div class="controlForm">
            <label>Colonia:</label>
            <p>@Model.PersonaDireccion.colonia</p>
        </div>
    </div>
    <div class="form-group col-md-4">
        <div class="controlForm">
            <label>Teléfono:</label>
            <p>@Model.PersonaDireccion.telefono</p>
        </div>
    </div>
    <div class="form-group col-md-4">
        <div class="controlForm">
            <label>Correo:</label>
            <p>@Model.PersonaDireccion.correo</p>
        </div>
    </div>
</div>
<div class="row my-4 px-4">
    <div class="form-group col-md-4">
        <div class="controlForm">
            <label>Tipo licencia:</label>
            <p>@Model.tipoLicencia</p>
        </div>
    </div>
    <div class="form-group col-md-4">
        <div class="controlForm">
            <label>Licencia:</label>
            <p>@Model.numeroLicencia</p>
        </div>
    </div>
    <div class="form-group col-md-4">
        <div class="controlForm">
            <label>Vegencia licencia:</label>
            <p>@Model.vigenciaLicencia.ToShortDateString()</p>
        </div>
    </div>
</div>