@model PersonaModel

<div>
<form id="frmEditarConductor">

    @Html.HiddenFor(m=> m.idPersona)

    <div class="row my-4 px-4">
        <div class="form-group col-md-3">
            <div class="controlForm">
                @(Html.Kendo().TextBoxFor(t => t.nombreCompleto)
                    .Label(l => l.Content("Nombre: "))
                    .Placeholder("Ingresa el nombre")
                    .Enable(false)
                    .HtmlAttributes(new { style = "width: 100%" })
                    )
            </div>
        </div>
        <div class="form-group col-md-3">
            <div class="controlForm">
                @(Html.Kendo().TextBoxFor(t => t.tipoPersona)
                    .Label(l => l.Content("Tipo Persona:"))
                    .Placeholder("Ingresa número")
                    .Enable(false)
                    .HtmlAttributes(new { style = "width: 100%" })
                    )
            </div>
        </div>

    </div>

    <div class="row my-4 px-4">
        <div class="form-group col-md-3">
            <div class="controlForm">
                @(Html.Kendo().TextBoxFor(t => t.CURP)
                    .Label(l => l.Content("CURP: "))
                    .Placeholder("Ingresa el CURP")
                    //.Enable(!ViewBag.EsSoloLectura)
                    .HtmlAttributes(new { style = "width: 100%" })
                    )
            </div>
        </div>
        <div class="form-group col-md-3">
            <div class="controlForm">
                @(Html.Kendo().TextBoxFor(t => t.RFC)
                    .Label(l => l.Content("RFC:"))
                    .Placeholder("Ingresa el RFC")
                    //.Enable(!ViewBag.EsSoloLectura)
                    .HtmlAttributes(new { style = "width: 100%" })
                    )
            </div>
        </div>
        <div class="form-group col-md-3">
            <div class="controlForm">
                @(Html.Kendo().TextBoxFor(t => t.genero)
                    .Label(l => l.Content("SEXO: "))
                    .Placeholder("Ingresa el SEXO")
                    .Enable(false)
                    .HtmlAttributes(new { style = "width: 100%" })
                    )
            </div>
        </div>
        <div class="form-group col-md-3">
            <div class="controlForm">
                <label>Fecha Nacimiento:</label>
                @(Html.Kendo().DateTimePickerFor(t => t.fechaNacimiento).Max(DateTime.Now)
                                                .Label(l => l.Content("Fecha Nacimiento:"))
                                                .Format("dd/MM/yyyy")
                                                //.Enable(!ViewBag.EsSoloLectura)
                                                .HtmlAttributes(new { style = "width: 100%", required = "required" })
                                                )
            </div>
        </div>

    </div>

    <div class="row my-4 px-4">
        <div class="form-group col-md-3">
            <div class="controlForm">
                @(Html.Kendo().TextBoxFor(t => t.PersonaDireccion.entidad)
                    .Label(l => l.Content("Entidad:"))
                    .Placeholder("Ingresa la entidad")
                    .Enable(false)
                    .HtmlAttributes(new { style = "width: 100%" })
                    )
            </div>
        </div>
        <div class="form-group col-md-3">
            <div class="controlForm">
                @(Html.Kendo().TextBoxFor(t => t.PersonaDireccion.municipio)
                    .Label(l => l.Content("Municipio: "))
                    .Placeholder("Ingresa el Municipio")
                    .Enable(false)
                    .HtmlAttributes(new { style = "width: 100%" })
                    )
                
    
            </div>
        </div>
        <div class="form-group col-md-3">
            <div class="controlForm">
                @(Html.Kendo().TextBoxFor(t => t.PersonaDireccion.calle)
                    .Label(l => l.Content("Calle: "))
                    .Placeholder("Ingresa la calle")
                    //.Enable(!ViewBag.EsSoloLectura)
                    .HtmlAttributes(new { style = "width: 100%" })
                    )
            </div>
        </div>
        <div class="form-group col-md-3">
            <div class="controlForm">
                @(Html.Kendo().TextBoxFor(t => t.PersonaDireccion.numero)
                    .Label(l => l.Content("Número:"))
                    .Placeholder("Ingresa el número")
                    //.Enable(!ViewBag.EsSoloLectura)
                    .HtmlAttributes(new { style = "width: 100%" })
                    )
            </div>
        </div>

    </div>

    <div class="row my-4 px-4">
        <div class="form-group col-md-3">
            <div class="controlForm">
                @(Html.Kendo().TextBoxFor(t => t.PersonaDireccion.colonia)
                    .Label(l => l.Content("Colonia: "))
                    .Placeholder("Ingresa la colonia")
                    //.Enable(!ViewBag.EsSoloLectura)
                    .HtmlAttributes(new { style = "width: 100%" })
                    )
            </div>
        </div>
        <div class="form-group col-md-3">
            <div class="controlForm">
                @(Html.Kendo().TextBoxFor(t => t.PersonaDireccion.telefono)
                    .Label(l => l.Content("Teléfono:"))
                    .Placeholder("Ingresa el teléfono")
                    //.Enable(!ViewBag.EsSoloLectura)
                    .HtmlAttributes(new { style = "width: 100%" })
                    )
            </div>
        </div>
        <div class="form-group col-md-3">
            <div class="controlForm">
                @(Html.Kendo().TextBoxFor(t => t.PersonaDireccion.correo)
                    .Label(l => l.Content("Correo: "))
                    .Placeholder("Ingresa el correo")
                    //.Enable(!ViewBag.EsSoloLectura)
                    .HtmlAttributes(new { style = "width: 100%" })
                    )
            </div>
        </div>


    </div>

    <div class="row my-4 px-4">
        <div class="form-group col-md-3">
            <div class="controlForm">
                @(Html.Kendo().TextBoxFor(t => t.tipoLicencia)
                    .Label(l => l.Content("Tipo Licencia: "))
                    .Placeholder("Ingresa la licencia")
                    .Enable(false)
                    .HtmlAttributes(new { style = "width: 100%" })
                    )
            </div>
        </div>
        <div class="form-group col-md-3">
            <div class="controlForm">
                @(Html.Kendo().TextBoxFor(t => t.numeroLicencia)
                    .Label(l => l.Content("Licencia:"))
                    .Placeholder("Ingresa la Licencia")
                    //.Enable(!ViewBag.EsSoloLectura)
                    .HtmlAttributes(new { style = "width: 100%" })
                    )
            </div>
        </div>
        <div class="form-group col-md-3">
            <div class="controlForm">
                <label>Vigencia Licencia:</label>
                @(Html.Kendo().DateTimePickerFor(t => t.vigenciaLicencia)
                                                .Label(l => l.Content("Vigencia Licencia:"))
                                                .Format("dd/MM/yyyy")
                                                //.Enable(!ViewBag.EsSoloLectura)
                                                .HtmlAttributes(new { style = "width: 100%", required = "required" })
                                                )
            </div>
        </div>


    </div>

</form>
</div>





