@model InfraccionesModel

<div class="mainContainer bg-light">
    <section class="mx-md-3 mx-lg-4 mx-xl-5 bg-white boxShadow my-5 rounded">
        <div class="row align-items-center justify-content-between px-4 px-md-4 pt-3 pb-2">
            <div class="col-12 col-md-auto">
                <div class="row align-items-center justify-content-center justify-content-md-start">
                    <div class="col-auto">
                        <div class="border border-2 border-dark rounded-circle">
                            <h5 class="m-0 numberCard d-flex align-items-center justify-content-center">
                                <b>1</b>
                            </h5>
                        </div>
                    </div>
                    <div class="col-auto p-0">
                        <i class="icon-infracion h1 colorPrimary"></i>
                    </div>
                    <div class="col-auto my-3">
                        <h2 class="m-0 h3"><b>Infracción</b></h2>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-5 pe-0">
                <div class="bgSuccess py-1"></div>
            </div>
            <div class="col-7 ps-0">
                <div class="bg-light py-1"></div>
            </div>
        </div>
        <div class="row">
            <div class="row align-items-center justify-content-between px-4 px-md-4 pt-3 pb-2">
                <div class="col-12 col-md-6 col-lg-5 col-xl-auto">
                    <div class="row align-items-center justify-content-center justify-content-md-start">
                        <div class="col-auto">
                            <i class="icon-addInfracion h1 colorPrimary"></i>
                        </div>
                        <div class="col-auto my-3">
                            <h5 class="px-4 my-4"><b>Datos de la infracción</b></h5>
                            <h6 class="px-4 my-4 text-muted">Completa los datos solicitados.</h6>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-7 col-xl-auto">
                    <div class="row">
                        <div class="col-auto btnOutline btnOutlinePrimary my-2 mx-auto mx-xl-2 p-0">
                            <button href="#" id="btnGuardarInfraccion" onclick="btnGuardarInfraccion()">
                                <h6 class="m-0 d-flex align-items-center"><i class="icon-addInfracion h5 mb-0 me-2"></i><b>Guardar infracción</b></h6>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <nav class="tabCustom">
                    @*navegador tabs*@
                    <div class="nav nav-tabs row mx-0" id="nav-tab" role="tablist">
                        <button class="nav-link active col" id="informacionInfraccion-tab" data-bs-toggle="tab" data-bs-target="#informacionInfraccion-container" type="button" role="tab" aria-controls="informacionInfraccion-container" aria-selected="true">
                            <div class="row justify-content-center align-items-center px-2 py-1">
                                <div class="col-auto radioCustom p-0">
                                    <div class="rounded-circle m-1"></div>
                                </div>
                                <div class="col-auto p-0">
                                    <h6 class="m-0"><b>Información</b></h6>
                                </div>
                            </div>
                        </button>
                        <button class="nav-link col" id="lugar-tab" data-bs-toggle="tab" data-bs-target="#lugar-container" type="button" role="tab" aria-controls="lugar-container" aria-selected="false">
                            <div class="row justify-content-center align-items-center px-2 py-1">
                                <div class="col-auto radioCustom p-0">
                                    <div class="rounded-circle m-1"></div>
                                </div>
                                <div class="col-auto p-0">
                                    <h6 class="m-0"><b>Lugar</b></h6>
                                </div>
                            </div>
                        </button>
                        <button class="nav-link col" id="vehiculo-tab" data-bs-toggle="tab" data-bs-target="#vehiculo-container" type="button" role="tab" aria-controls="vehiculo-container" aria-selected="false">
                            <div class="row justify-content-center align-items-center px-2 py-1">
                                <div class="col-auto radioCustom p-0">
                                    <div class="rounded-circle m-1"></div>
                                </div>
                                <div class="col-auto p-0">
                                    <h6 class="m-0"><b>Vehículo</b></h6>
                                </div>
                            </div>
                        </button>
                        <button class="nav-link col" id="conductor-tab" data-bs-toggle="tab" data-bs-target="#conductor-container" type="button" role="tab" aria-controls="conductor-container" aria-selected="false">
                            <div class="row justify-content-center align-items-center px-2 py-1">
                                <div class="col-auto radioCustom p-0">
                                    <div class="rounded-circle m-1"></div>
                                </div>
                                <div class="col-auto p-0">
                                    <h6 class="m-0"><b>Conductor</b></h6>
                                </div>
                            </div>
                        </button>

                    </div>
                </nav>
                <form id="frmCrearInfraccion">
                    @Html.HiddenFor(m=> m.placasVehiculo)
                    @Html.HiddenFor(m=> m.NumTarjetaCirculacion)
                    @*Contenidos de cada tab*@
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane tabCustomConteiner fade show active" id="informacionInfraccion-container" role="tabpanel" aria-labelledby="informacionInfraccion-tab">
                            <div class="row align-items-center justify-content-between px-4 px-md-4 pt-3 pb-2">
                                <div class="col-12 col-md-6 col-lg-5 col-xl-auto">
                                    <div class="row align-items-center justify-content-center justify-content-md-start">
                                        <div class="col-auto">
                                            <i class="icon-infracion h1 colorPrimary"></i>
                                        </div>
                                        <div class="col-auto my-3">
                                            <h5 class="px-4"><b>Información de infracción</b></h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row my-4 px-4">
                                <div class="form-group col-md-4">
                                    <div class="controlForm">
                                        <label>Fecha infracción:</label>
                                        @(Html.Kendo().DateTimePickerFor(t => t.fechaInfraccion)
                                            .Label(l => l.Content("Fecha: <b>(obligatorio)</b>:"))
                                            .HtmlAttributes(new { style = "width: 100%", required = "required" })
                                            )
                                    </div>
                                </div>
                            </div>
                            <div class="row my-4 px-4">
                                <div class="form-group col-md-4">
                                    <div class="controlForm">
                                        <label>Folio: <b>(obligatorio):</b></label>
                                        @(Html.Kendo().TextBoxFor(t => t.folioInfraccion)
                                            .Placeholder("Ingresa folio")
                                            .HtmlAttributes(new { style = "width: 100%", required = "required" })
                                            )
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    <div class="controlForm">
                                        <label>Oficial:</label>
                                        @(Html.Kendo().DropDownList()
                                            .Name("idOficial")
                                            .BindTo((SelectList)ViewBag.CatOficiales)
                                            .OptionLabel("-- Seleccione --")
                                            .HtmlAttributes(new { style = "width:100%;", required = "required" })
                                            )
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    <div class="controlForm">
                                        <label>Municipio:</label>
                                        @(Html.Kendo().DropDownList()
                                            .Name("idMunicipio")
                                            .BindTo((SelectList)ViewBag.CatMunicipios)
                                            .OptionLabel("-- Seleccione --")
                                            .HtmlAttributes(new { style = "width:100%;", required = "required" })
                                            )
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="tabCustomEnd"></div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane tabCustomConteiner fade show" id="lugar-container" role="tabpanel" aria-labelledby="lugar-tab">
                            <div class="row align-items-center justify-content-between px-4 px-md-4 pt-3 pb-2">
                                <div class="col-12 col-md-6 col-lg-5 col-xl-auto">
                                    <div class="row align-items-center justify-content-center justify-content-md-start">
                                        <div class="col-auto">
                                            <i class="icon-carretera h1 colorPrimary"></i>
                                        </div>
                                        <div class="col-auto my-3">
                                            <h5 class="px-4"><b>Lugar de la infracción</b></h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row my-4 px-4">
                                <div class="form-group col-md-4">
                                    <div class="controlForm">
                                        <label>Carretera:</label>
                                        @(Html.Kendo().DropDownList()
                                            .Name("idCarretera")
                                            .BindTo((SelectList)ViewBag.CatCarreteras)
                                            .OptionLabel("-- Seleccione --")
                                            .HtmlAttributes(new { style = "width:100%;", id = "ddlCarreteras", required = "required" })
                                            )
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    <div class="controlForm">
                                        <label>Tramo:</label>
                                        <div id="divTramo">
                                            @(Html.Kendo().DropDownListFor(f => f.idTramo)
                                                .OptionLabel("-- Seleccione --")
                                                .HtmlAttributes(new { style = "width:100%;", required = "required" })
                                                )
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    <div class="controlForm">
                                        @(Html.Kendo().IntegerTextBoxFor(t => t.kmCarretera)
                                            .Label(l => l.Content("Kilómetro: <b>(obligatorio)</b>:"))
                                            .HtmlAttributes(new { style = "width: 100%; height:58px;", required = "required" })
                                            )
                                    </div>
                                </div>
                            </div>
                            <div class="row my-4 px-4">
                                <div class="form-group col-md-3">
                                    <div class="controlForm">
                                        @(Html.Kendo().TextBoxFor(t => t.lugarCalle)
                                            .Label(l => l.Content("Calle: <b>(obligatorio)</b>:"))
                                            .Placeholder("Ingresa calle")
                                            .HtmlAttributes(new { style = "width: 100%", required = "required" })
                                            )
                                    </div>
                                </div>
                                <div class="form-group col-md-3">
                                    <div class="controlForm">
                                        @(Html.Kendo().TextBoxFor(t => t.lugarNumero)
                                            .Label(l => l.Content("Número: <b>(obligatorio)</b>:"))
                                            .Placeholder("Ingresa número")
                                            .HtmlAttributes(new { style = "width: 100%", required = "required" })
                                            )
                                    </div>
                                </div>
                                <div class="form-group col-md-3">
                                    <div class="controlForm">
                                        @(Html.Kendo().TextBoxFor(t => t.lugarColonia)
                                            .Label(l => l.Content("Colonia: <b>(obligatorio)</b>:"))
                                            .Placeholder("Ingresa colonia")
                                            .HtmlAttributes(new { style = "width: 100%", required = "required" })
                                            )
                                    </div>
                                </div>
                                <div class="form-group col-md-3">
                                    <div class="controlForm">
                                        @(Html.Kendo().TextBoxFor(t => t.lugarEntreCalle)
                                            .Label(l => l.Content("Entre calle: <b>(obligatorio)</b>:"))
                                            .Placeholder("Ingresa entre calle")
                                            .HtmlAttributes(new { style = "width: 100%", required = "required" })
                                            )
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="tabCustomEnd"></div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane tabCustomConteiner fade show" id="vehiculo-container" role="tabpanel" aria-labelledby="vehiculo-tab">
                            <div class="row align-items-center justify-content-between px-4 px-md-4 pt-3 pb-2">
                                <div class="col-12 col-md-6 col-lg-5 col-xl-auto">
                                    <div class="row align-items-center justify-content-center justify-content-md-start">
                                        <div class="col-auto">
                                            <i class="icon-edit-car h1 colorPrimary"></i>
                                        </div>
                                        <div class="col-auto my-3">
                                            <h5 class="px-4"><b>Vehículo de la infracción</b></h5>
                                            @*<h6 class="px-4 text-muted">Marque el vehículo que desea asociar.</h6>*@
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-7 col-xl-auto">
                                    <div class="row">
                                        <div class="col-auto btnOutline btnOutlinePrimary my-2 mx-auto mx-xl-2 p-0">
                                            <button href="#" id="btnNuevoVehiculo" onclick="window.location.href = '@Url.Action("Index","Vehiculos")'">
                                                <h6 class="m-0 d-flex align-items-center"><i class="icon-addCar h5 mb-0 me-2"></i><b>Agregar nuevo vehículo</b></h6>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @Html.HiddenFor(m=> m.idVehiculo)
                            <div id="divIsPropietarioConductor" class="row my-4 px-4" style="display:none">
                                <div class="form-group col-md-8">
                                    <div class="checkbox">
                                        <label>El propietario del vehículo es el conductor: </label>&nbsp;&nbsp;
                                        @(Html.Kendo().SwitchFor(m => m.isPropietarioConductor)
                                            .Messages(c => c.Checked("SI").Unchecked("NO"))
                                            .Events(ev => ev.Change("isPropietarioOnChange"))
                                            )
                                    </div>
                                </div>
                            </div>
                            <div class="row my-4 px-4">
                                <div id="detalleVehiculo">
                                </div>
                            </div>
                            <div class="row my-4 px-4">
                                <div id="listadoVehiculos">
                                    <partial name="_ListadoVehiculos" model="ViewBag.Vehiculos" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="tabCustomEnd"></div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane tabCustomConteiner fade show" id="conductor-container" role="tabpanel" aria-labelledby="conductor-tab">
                            <div class="row align-items-center justify-content-between px-4 px-md-4 pt-3 pb-2">
                                <div class="col-12 col-md-6 col-lg-5 col-xl-auto">
                                    <div class="row align-items-center justify-content-center justify-content-md-start">
                                        <div class="col-auto">
                                            <i class="icon-conductor h1 colorPrimary"></i>
                                        </div>
                                        <div class="col-auto my-3">
                                            <h5 class="px-4"><b>Conductor de la infracción</b></h5>
                                            @*<h6 class="px-4 text-muted">Marque la persona que desea asociar como conductor.</h6>*@
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-7 col-xl-auto">
                                    <div class="row">
                                        <div class="col-auto btnOutline btnOutlinePrimary my-2 mx-auto mx-xl-2 p-0">
                                            <button href="#" id="btnNuevoConductor" onclick="window.location.href = '@Url.Action("Index","Personas")'">
                                                <h6 class="m-0 d-flex align-items-center"><i class="icon-addConductor h5 mb-0 me-2"></i><b>Agregar nuevo conductor</b></h6>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @Html.HiddenFor(m=> m.idPersona)
                            <div class="row my-4 px-4">
                                <div id="detallePersonas">
                                </div>
                            </div>
                            <input type="hidden" id="hdnIdPersonaTemp" value="" />
                            <div class="row my-4 px-4">
                                <div id="listadoPersonas">
                                    <partial name="_ListadoPersonas" model="ViewBag.Personas" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12">
                                    <div class="tabCustomEnd"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </section>
</div>

<script>

    $("#ddlCarreteras").on("change", function () {
        var value = $(this).val();
        if (value == "") {
            $("#idTramo option[value!='']").remove();
        }
        else {
            _set_combo_catalog("CatTramosByFilter", value, "idTramo", "false", "divTramo", "");
            $('#idTramo').kendoDropDownList();
        }
    });

    function btnGuardarInfraccion() {
        var validator = $("#frmCrearInfraccion").kendoValidator().data('kendoValidator');
        validator.validate();
        if ($("#idVehiculo").val() == '') {
            sitteg_info('Debe seleccionar un vehículo');
            return;
        }

        if ($("#idPersona").val() == '') {
            sitteg_info('Debe seleccionar un conductor');
            return;
        }

        if (validator.validate()) {
            var formData = $("#frmCrearInfraccion").serialize();
            //var formData = new FormData();
            //formData.delete('idDelegacion');
            //alert(json);
            $.ajax({
                url: '@Url.Action("ajax_crearInfraccion")',
                type: 'POST',
                data: formData,
                dataType: "json",
                success: function (result) {
                    sitteg_success('Elemento guardado correctamente')
                    window.setTimeout(function () {
                        window.location.href = '/Infracciones/Editar/' + result.id
                    }, 500);
                },
                error: function (xhr, status) {
                    var errmsg = xhr.responseText;
                    console.log(errmsg)
                    sitteg_warning('Lo sentimos, ha ocurrido un error.');
                }
            });
        }
        else {
            sitteg_info('Debe llenar los campos requeridos');
            return;
        }

    }

    function isPropietarioOnChange(e) {
        var isPropietario = e.checked;
        if (isPropietario) {
            $("#listadoPersonas").hide();
            $("#listadoPersonas").html("");
            $("#detallePersonas").show();
            idPersona = $("#hdnIdPersonaTemp").val();
            buscarPersona(idPersona);
        }
        else {
            getListadoPersonasInfracciones();
            $("#listadoPersonas").show();
            $("#detallePersonas").hide();
            $("#idPersona").val('');
        }
    }
    function buscarVehiculo(pidVehiculo) {
        $.ajax({
            type: "GET",
            url: '@Url.Action("ajax_detalleVehiculo")',
            data: {
                "idVehiculo": pidVehiculo,
            },
            success: function (data) {
                $("#detalleVehiculo").html(data);
                $("#idVehiculo").val(pidVehiculo);
            }
            //,
            //error: function (xhr, status) {
            //    var errmsg = msg_err_gral;
            //    semg_error(errmsg);
            //}
        });
    }

    function buscarPersona(pidPersona) {
        $.ajax({
            type: "GET",
            url: '@Url.Action("ajax_detallePersona")',
            data: {
                "idPersona": pidPersona,
            },
            success: function (data) {
                $("#detallePersonas").html(data);
                $("#idPersona").val(pidPersona);
                $("#detallePersonas").show();
            }
            //,
            //error: function (xhr, status) {
            //    var errmsg = msg_err_gral;
            //    semg_error(errmsg);
            //}
        });
    }
    function getListadoPersonasInfracciones() {
        $("#listadoPersonas").show();
        $.ajax({
            type: "GET",
            url: '@Url.Action("ajax_listadoPersonasInfracciones")',
            success: function (data) {
                $("#listadoPersonas").html(data);
            }
            //,
            //error: function (xhr, status) {
            //    var errmsg = msg_err_gral;
            //    semg_error(errmsg);
            //}
        });
    }
</script>