@model InfraccionesModel
@{
    bool esSoloLectura = ViewBag.EsSoloLectura ?? false;
}

@{
    @inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;
    var listaIdsPermitidosJson = @HttpContextAccessor.HttpContext.Session.GetString("IdsPermitidos").ToString();
    var autorizaciones = @HttpContextAccessor.HttpContext.Session.GetString("Autorizaciones").ToString();
    var regreso = ViewBag.Regreso.ToString();
}

<script>

    $(document).ready(function () {
        var access = @listaIdsPermitidosJson;
        var auth = @autorizaciones;

        if (access != undefined && access != '') {
            if (!access.toString().includes(localStorage.getItem("menuId"))) {
                Swal.fire({
                    icon: "error",
                    title: "¡El usuario no tiene acceso a esta opción!"
                });
                setTimeout(() => {
                    window.location.href = "/Principal";
                }, 200);
            } else {
                // GUARDAR - EDITAR
                if (!auth.toString().includes("475")) {
                    $("#btnEditarInfraccion").prop('disabled', true).css({ "opacity": "0.3" });
                }
            }
        } else {
            Swal.fire({
                icon: "error",
                title: "¡El usuario no tiene acceso a esta opción!"
            });
            setTimeout(() => {
                window.location.href = "/Principal";
            }, 200);
        }
    });

</script>

<div class="mainContainer bg-light">
    <section class="mx-md-3 mx-lg-4 mx-xl-5 bg-white boxShadow my-5 rounded">
        <div class="row align-items-center justify-content-between px-4 px-md-4 pt-3 pb-2">
            <div class="col-12 col-md-auto">
                <div class="row align-items-center justify-content-center justify-content-md-start">
                    <div class="col-auto p-0">
                        <i class="icon-infracion h1 colorPrimary"></i>
                    </div>
                    <div class="col-auto my-3">
                        <h2 class="m-0 h3"><b>Infracción</b></h2>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-5 pe-0">
                <div class="bgSuccess py-1"></div>
            </div>
            <div class="col-7 ps-0">
                <div class="bg-light py-1"></div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-7 col-xl-auto">
            <div class="row">
                <div class="col-auto btnOutline my-2 mx-auto mx-xl-2 p-0" onclick="goBack()">
                    @(Html.Kendo().Button()
                        .Name("backAccidentes3")
                        .HtmlAttributes(new { @class = "px-5" })
                        .Content("<h6 class=\"m-0\"><i class=\"icon-back me-2\" data-bs-dismiss=\"modal\" aria - label = \"Close\" ></i><b>Regresar</b></h6>"))
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 my-4">
                <h5 class="px-4 my-4"><b>Datos de la infracción</b></h5>
                <h6 class="px-4 my-4 text-muted">Completa los datos solicitados.</h6>
            </div>
            <div class="col-md-4 auto">
                <div class="row">
                    <div class="col-auto btnOutline btnOutlinePrimary my-2 mx-auto mx-xl-2 p-0">
                        <button href="#" id="btnEditarInfraccion" onclick="btnEditarInfraccion()" @(ViewBag.EsSoloLectura ? "disabled" : "")>
                            <h6 class="m-0 d-flex align-items-center"><i class="icon-addInfracion h5 mb-0 me-2"></i><b>Guardar infracción</b></h6>
                        </button>
                    </div>
                </div>
            </div>
            <div>
                <nav class="tabCustom">
                    @*navegador tabs*@
                    <div class="nav nav-tabs row mx-0" id="nav-tab" role="tablist">
                        <button class="nav-link active col" id="informacionInfraccion-tab" data-bs-toggle="tab" data-bs-target="#informacionInfraccion-container" type="button" role="tab" aria-controls="informacionInfraccion-container" aria-selected="true">
                            <div class="row justify-content-center align-items-center px-2 py-1">
                                <div class="col-auto radioCustom p-0">
                                    <div class="rounded-circle m-1"></div>
                                </div>
                                @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
                                {
                                    <div class="alert alert-danger">
                                        @ViewBag.ErrorMessage
                                    </div>
                                }
                                <div class="col-auto p-0">
                                    <h6 class="m-0"><b>Información</b></h6>
                                </div>
                            </div>
                        </button>
                        <button class="nav-link col" id="lugar-tab" data-bs-toggle="tab" data-bs-target="#lugar-container"  href="#lugar" type="button" role="tab" aria-controls="lugar-container" aria-selected="false">
                            <div class="row justify-content-center align-items-center px-2 py-1">
                                <div class="col-auto radioCustom p-0">
                                    <div class="rounded-circle m-1"></div>
                                </div>
                                <div class="col-auto p-0">
                                    <h6 class="m-0"><b>Lugar</b></h6>
                                </div>
                            </div>
                        </button>
                        <button class="nav-link col" id="vehiculo-tab" data-bs-toggle="tab" data-bs-target="#vehiculo-container" type="button" role="tab" aria-controls="vehiculo-container" aria-selected="false">
                            <div class="row justify-content-center align-items-center px-2 py-1">
                                <div class="col-auto radioCustom p-0">
                                    <div class="rounded-circle m-1"></div>
                                </div>
                                <div class="col-auto p-0">
                                    <h6 class="m-0"><b>Vehículo</b></h6>
                                </div>
                            </div>
                        </button>
                        <button class="nav-link col" id="conductor-tab" data-bs-toggle="tab" data-bs-target="#conductor-container" type="button" role="tab" aria-controls="conductor-container" aria-selected="false">
                            <div class="row justify-content-center align-items-center px-2 py-1">
                                <div class="col-auto radioCustom p-0">
                                    <div class="rounded-circle m-1"></div>
                                </div>
                                <div class="col-auto p-0">
                                    <h6 class="m-0"><b>Conductor</b></h6>
                                </div>
                            </div>
                        </button>
                        <button class="nav-link col" id="infraccionAplicada-tab" data-bs-toggle="tab" data-bs-target="#infraccionAplicada-container" type="button" role="tab" aria-controls="infraccionAplicada-container" aria-selected="false">
                            <div class="row justify-content-center align-items-center px-2 py-1">
                                <div class="col-auto radioCustom p-0">
                                    <div class="rounded-circle m-1"></div>
                                </div>
                                <div class="col-auto p-0">
                                    <h6 class="m-0"><b>Infracción aplicada</b></h6>
                                </div>
                            </div>
                        </button>
                        <button class="nav-link col" id="motivos-tab" data-bs-toggle="tab" data-bs-target="#motivos-container" type="button" role="tab" aria-controls="motivos-container" aria-selected="false">
                            <div class="row justify-content-center align-items-center px-2 py-1">
                                <div class="col-auto radioCustom p-0">
                                    <div class="rounded-circle m-1"></div>
                                </div>
                                <div class="col-auto p-0">
                                    <h6 class="m-0"><b>Motivos</b></h6>
                                </div>
                            </div>
                        </button>
                        <button class="nav-link col" id="garantia-tab" data-bs-toggle="tab" data-bs-target="#garantia-container" type="button" role="tab" aria-controls="garantia-container" aria-selected="false">
                            <div class="row justify-content-center align-items-center px-2 py-1">
                                <div class="col-auto radioCustom p-0">
                                    <div class="rounded-circle m-1"></div>
                                </div>
                                <div class="col-auto p-0">
                                    <h6 class="m-0"><b>Garantía</b></h6>
                                </div>
                            </div>
                        </button>


                    </div>
                </nav>
                <form id="frmEditarInfraccion">
                    @Html.HiddenFor(m=> m.Garantia.numLicencia)

                    @Html.HiddenFor(m=> m.idInfraccion)
                    @Html.HiddenFor(m=> m.placasVehiculo)
                    @Html.HiddenFor(m=> m.NumTarjetaCirculacion)
                    @Html.HiddenFor(m=> m.idGarantia)
                    @Html.HiddenFor(m=> m.idPersonaInfraccion)
                    @Html.HiddenFor(m=> m.idPersona)
                    @Html.HiddenFor(m=> m.idVehiculo)
                    @*Contenidos de cada tab*@
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane tabCustomConteiner fade show active" id="informacionInfraccion-container" role="tabpanel" aria-labelledby="informacionInfraccion-tab">
                            <div class="row align-items-center justify-content-between px-4 px-md-4 pt-3 pb-2">
                                <div class="col-12 col-md-6 col-lg-5 col-xl-auto">
                                    <div class="row align-items-center justify-content-center justify-content-md-start">
                                        <div class="col-auto">
                                            <i class="icon-infracion h1 colorPrimary"></i>
                                        </div>
                                        <div class="col-auto my-3">
                                            <h5 class="px-4"><b>Información de infracción</b></h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row my-4 px-4">
                                <div class="form-group col-md-4">
                                    <div class="controlForm">
                                        <label>Fecha infracción <b>(obligatorio)</b>:</label>
                                        @(Html.Kendo().DateTimePickerFor(t => t.fechaInfraccion).Max(DateTime.Now)
                                            .Label(l => l.Content("Fecha: <b>(obligatorio)</b>:"))
                                            .Format("dd/MM/yyyy HH:mm")
                                            .Enable(!ViewBag.EsSoloLectura)
                                            .HtmlAttributes(new { style = "width: 100%", required = "required" })
                                            )
                                    </div>
                                </div>
                            </div>
                            <div class="row my-4 px-4">
                                <div class="form-group col-md-4">
                                    <div class="controlForm">
                                        @(Html.Kendo().TextBoxFor(t => t.folioInfraccion)
                                            .Label(l => l.Content("Folio: <b>(obligatorio)</b>:"))
                                            .Placeholder("Ingresa folio")
                                            .Enable(!ViewBag.EsSoloLectura)
                                            .HtmlAttributes(new { style = "width: 100%", required = "required" })
                                            )
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    <div class="controlForm">
                                        <label>Oficial <b>(obligatorio)</b>:</label>
                                        @(Html.Kendo().DropDownListFor(m => m.idOficial).Filter(FilterType.Contains)
                                            .BindTo((SelectList)ViewBag.CatOficiales)
                                            .OptionLabel("-- Seleccione --")
                                            .Enable(!ViewBag.EsSoloLectura)
                                            .HtmlAttributes(new { style = "width:100%;", required = "required" })
                                            )
                                        @Html.ValidationMessageFor(x => x.idOficial)
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    <div class="controlForm">
                                        <label>Municipio <b>(obligatorio)</b>:</label>
                                        @(Html.Kendo().DropDownListFor(m => m.idMunicipio).Filter(FilterType.Contains)
                                            .BindTo((SelectList)ViewBag.CatMunicipios)
                                            .OptionLabel("-- Seleccione --")
                                            .Enable(!ViewBag.EsSoloLectura)
                                            .HtmlAttributes(new { style = "width:100%;", required = "required" })
                                            )
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12">
                                    <div class="tabCustomEnd"></div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane tabCustomConteiner fade show" id="lugar-container" role="tabpanel" aria-labelledby="lugar-tab">
                            <div class="row align-items-center justify-content-between px-4 px-md-4 pt-3 pb-2">
                                <div class="col-12 col-md-6 col-lg-5 col-xl-auto">
                                    <div class="row align-items-center justify-content-center justify-content-md-start">
                                        <div class="col-auto">
                                            <i class="icon-carretera h1 colorPrimary"></i>
                                        </div>
                                        <div class="col-auto my-3">
                                            <h5 class="px-4"><b>Lugar de la infracción</b></h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row my-4 px-4">
                                <div class="form-group col-md-4">
                                    <div class="controlForm">
                                        <label>Carretera <b>(obligatorio)</b>:</label>
                                        @(Html.Kendo().DropDownListFor(m => m.idCarretera).Filter(FilterType.Contains)
                                            .BindTo((SelectList)ViewBag.CatCarreteras)
                                            .OptionLabel("-- Seleccione --")
                                            .Enable(!ViewBag.EsSoloLectura)
                                            .HtmlAttributes(new { style = "width:100%;", id = "ddlCarreteras", required = "required" })
                                            )
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    <div class="controlForm">
                                        <label>Tramo <b>(obligatorio)</b>:</label>
                                        <div id="divTramo">
                                            @(Html.Kendo().DropDownListFor(f => f.idTramo).Filter(FilterType.Contains)
                                                .BindTo((SelectList)ViewBag.CatTramos)
                                                .OptionLabel("-- Seleccione --")
                                                .Enable(!ViewBag.EsSoloLectura)
                                                .HtmlAttributes(new { style = "width:100%;", required = "required" })
                                                )
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    <div class="controlForm">
                                        @(Html.Kendo().TextBoxFor(t => t.kmCarretera)
                                            .Label(l => l.Content("Kilómetro: <b>(obligatorio)</b>:"))
                                            .Enable(!ViewBag.EsSoloLectura)
                                            .HtmlAttributes(new { style = "width: 100%; height:58px;" })
                                            )
                                    </div>
                                </div>
                            </div>
                            <div class="row my-4 px-4">
                                <div class="form-group col-md-3">
                                    <div class="controlForm">
                                        @(Html.Kendo().TextBoxFor(t => t.lugarCalle)
                                            .Label(l => l.Content("Calle: "))
                                            .Placeholder("Ingresa calle")
                                            .Enable(!ViewBag.EsSoloLectura)
                                            .HtmlAttributes(new { style = "width: 100%" })
                                            )
                                    </div>
                                </div>
                                <div class="form-group col-md-3">
                                    <div class="controlForm">
                                        @(Html.Kendo().TextBoxFor(t => t.lugarNumero)
                                            .Label(l => l.Content("Número:"))
                                            .Placeholder("Ingresa número")
                                            .Enable(!ViewBag.EsSoloLectura)
                                            .HtmlAttributes(new { style = "width: 100%" })
                                            )
                                    </div>
                                </div>
                                <div class="form-group col-md-3">
                                    <div class="controlForm">
                                        @(Html.Kendo().TextBoxFor(t => t.lugarColonia)
                                            .Label(l => l.Content("Colonia:"))
                                            .Placeholder("Ingresa colonia")
                                            .Enable(!ViewBag.EsSoloLectura)
                                            .HtmlAttributes(new { style = "width: 100%" })
                                            )
                                    </div>
                                </div>
                                <div class="form-group col-md-3">
                                    <div class="controlForm">
                                        @(Html.Kendo().TextBoxFor(t => t.lugarEntreCalle)
                                            .Label(l => l.Content("Entre calle: "))
                                            .Placeholder("Ingresa entre calle")
                                            .Enable(!ViewBag.EsSoloLectura)
                                            .HtmlAttributes(new { style = "width: 100%" })
                                            )
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="tabCustomEnd"></div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane tabCustomConteiner fade show" id="vehiculo-container" role="tabpanel" aria-labelledby="vehiculo-tab">
                            <div class="row align-items-center justify-content-between px-4 px-md-4 pt-3 pb-2">
                                <div class="col-12 col-md-6 col-lg-5 col-xl-auto">
                                    <div class="row align-items-center justify-content-center justify-content-md-start">
                                        <div class="col-auto">
                                            <i class="icon-edit-car h1 colorPrimary"></i>
                                        </div>
                                        <div class="col-auto my-3">
                                            <h5 class="px-4"><b>Vehículo de la infracción</b></h5>
                                            @*<h6 class="px-4 text-muted">Marque el vehículo que desea asociar.</h6>*@
                                        </div>
                                    </div>
                                </div>
                                @*<div class="col-12 col-md-6 col-lg-7 col-xl-auto">
                                <div class="row">
                                <div class="col-auto btnOutline btnOutlinePrimary my-2 mx-auto mx-xl-2 p-0">
                                <button href="#" id="btnNuevoVehiculo" onclick="mostrarModal()">
                                <h6 class="m-0 d-flex align-items-center"><i class="icon-addCar h5 mb-0 me-2"></i><b>Agregar nuevo vehículo</b></h6>
                                </button>
                                </div>
                                </div>
                                </div>*@
                            </div>
                            <div id="divIsPropietarioConductor" class="row my-4 px-4">
                                <div class="form-group col-md-8">
                                    <div class="checkbox">
                                        <label>El propietario del vehículo es el conductor: </label>&nbsp;&nbsp;
                                        @{
                                            if (Model.isPropietarioConductor)
                                            {
                                                <text>SI</text>
                                            }
                                            else
                                            {
                                                <text>NO</text>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="row my-4 px-4">
                                <div id="detalleVehiculo">
                                    <partial name="_EditarDetalleVehiculo.cshtml" model="Model.Vehiculo" />
                                </div>
                            </div>
                            @*<div class="row my-4 px-4">
                            <div id="listadoVehiculos">
                            <partial name="_ListadoVehiculos" model="ViewBag.Vehiculos" />
                            </div>
                            </div>*@
                            <div class="row">
                                <div class="col-12">
                                    <div class="tabCustomEnd"></div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane tabCustomConteiner fade show" id="conductor-container" role="tabpanel" aria-labelledby="conductor-tab">
                            <div class="row align-items-center justify-content-between px-4 px-md-4 pt-3 pb-2">
                                <div class="col-12 col-md-6 col-lg-5 col-xl-auto">
                                    <div class="row align-items-center justify-content-center justify-content-md-start">
                                        <div class="col-auto">
                                            <i class="icon-conductor h1 colorPrimary"></i>
                                        </div>
                                        <div class="col-auto my-3">
                                            <h5 class="px-4"><b>Conductor de la infracción</b></h5>
                                            @*<h6 class="px-4 text-muted">Marque la persona que desea asociar como conductor.</h6>*@
                                        </div>
                                    </div>
                                </div>
                                @*<div class="col-12 col-md-6 col-lg-7 col-xl-auto">
                                <div class="row">
                                <div class="col-auto btnOutline btnOutlinePrimary my-2 mx-auto mx-xl-2 p-0">
                                <button href="#" id="btnNuevoConductor" onclick="mostrarModal()">
                                <h6 class="m-0 d-flex align-items-center"><i class="icon-addConductor h5 mb-0 me-2"></i><b>Agregar nuevo conductor</b></h6>
                                </button>
                                </div>
                                </div>
                                </div>*@
                            </div>
                            <div class="row my-4 px-4">
                                <div id="detallePersonas">
                                    <partial name="_DetallePersona" model="Model.PersonaInfraccion2" />
                                </div>
                            </div>
                            <input type="hidden" id="hdnIdPersonaTemp" value="" />
                            @*<div class="row my-4 px-4">
                            <div id="listadoPersonas">
                            <partial name="_ListadoPersonas" model="ViewBag.Personas" />
                            </div>
                            </div>*@

                            <div class="row">
                                <div class="col-12">
                                    <div class="tabCustomEnd"></div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane tabCustomConteiner fade show" id="infraccionAplicada-container" role="tabpanel" aria-labelledby="infraccionAplicada-tab">
                            <div class="row align-items-center justify-content-between px-4 px-md-4 pt-3 pb-2">
                                <div class="col-12 col-md-6 col-lg-5 col-xl-auto">
                                    <div class="row align-items-center justify-content-center justify-content-md-start">
                                        <div class="col-auto">
                                            <i class="icon-infracion h1 colorPrimary"></i>
                                        </div>
                                        <div class="col-auto my-3">
                                            <h5 class="px-4"><b>Infracción aplicada a</b></h5>
                                        </div>
                                        <div class="row my-4 px-4">
                                            <div class="form-group col-md-4">
                                                <div class="controlForm">
                                                    <div class="checkbox">
                                                        <label>Infracción de cortesía: </label>
                                                        <div class="btnToggleActive">
                                                            @if (ViewBag.EsSoloLectura != null && ViewBag.EsSoloLectura)
                                                            {

                                                                @Html.HiddenFor(m => m.cortesiaInt, new { id = "idCortesia" })
                                                                @(Html.Kendo().SwitchFor(m => m.infraccionCortesia)
                                                                    .HtmlAttributes(new { id = "cortesiaSwitch", @readonly = "readonly" })
                                                                    .Messages(c => c.Checked("SI").Unchecked("NO"))
                                                                    )
                                                            }
                                                            else
                                                            {
                                                                @Html.HiddenFor(m => m.cortesiaInt, new { id = "idCortesia" })
                                                                @(Html.Kendo().SwitchFor(m => m.infraccionCortesia)
                                                                    .HtmlAttributes(new { id = "cortesiaSwitch" })
                                                                    .Messages(c => c.Checked("SI").Unchecked("NO"))
                                                                    )
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <div class="controlForm">
                                                    <label>Infracción aplicada a: </label>
                                                    @(Html.Kendo().DropDownListFor(m => m.idAplicacion).Filter(FilterType.Contains)
                                                        .BindTo((SelectList)ViewBag.CatAplicadoA)
                                                        .OptionLabel("-- Seleccione --")
                                                        .Enable(!ViewBag.EsSoloLectura)
                                                        .HtmlAttributes(new { style = "width:100%;", required = "required" })
                                                        )
                                                    @Html.ValidationMessageFor(x => x.idAplicacion)
                                                </div>
                                            </div>
                                            <div class="form-group col-md-8">
                                                <div class="controlForm">
                                                    @(Html.Kendo().TextAreaFor(t => t.observaciones)
                                                        .Resizable("none")
                                                        .Rows(4)
                                                        .Label(l => l.Content("Concepto de Infracción"))
                                                        .Placeholder("Ingresa Concepto")
                                                        .Enable(!ViewBag.EsSoloLectura)
                                                        .HtmlAttributes(new { style = "width: 100%" })
                                                        )
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="tabCustomEnd"></div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane tabCustomConteiner fade show" id="motivos-container" role="tabpanel" aria-labelledby="motivos-tab">
                            <div class="row align-items-center justify-content-between px-4 px-md-4 pt-3 pb-2">
                                <div class="col-12 col-md-6 col-lg-5 col-xl-auto">
                                    <div class="row align-items-center justify-content-center justify-content-md-start">
                                        <div class="col-auto">
                                            <i class="icon-infracion h1 colorPrimary"></i>
                                        </div>
                                        <div class="col-auto my-3">
                                            <h5 class="px-4"><b>Motivos de la infracción</b></h5>
                                            @*<h6 class="px-4 text-muted">Marque la persona que desea asociar como conductor.</h6>*@
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-7 col-xl-auto">
                                    <div class="row">
                                        <div class="col-auto btnOutline btnOutlinePrimary my-2 mx-auto mx-xl-2 p-0">
                                            <button type="button" id="btnNuevoMotivo" onclick="btnModalCrearMotivo()" @(ViewBag.EsSoloLectura ? "disabled" : "")>
                                                <h6 class="m-0 d-flex align-items-center"><i class="icon-addCausas h5 mb-0 me-2"></i><b>Agregar nuevo motivo</b></h6>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row my-4 px-4">
                                <div id="listadoMotivos">
                                    <partial name="_ListadoMotivos" model="Model.MotivosInfraccion" esSoloLectura="@ViewBag.EsSoloLectura" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12">
                                    <div class="tabCustomEnd"></div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane tabCustomConteiner fade show" id="garantia-container" role="tabpanel" aria-labelledby="garantia-tab">
                            <div class="row align-items-center justify-content-between px-4 px-md-4 pt-3 pb-2">
                                <div class="col-12 col-md-6 col-lg-5 col-xl-auto">
                                    <div class="row align-items-center justify-content-center justify-content-md-start">
                                        <div class="col-auto">
                                            <i class="icon-infracion h1 colorPrimary"></i>
                                        </div>
                                        <div class="col-auto my-3">
                                            <h5 class="px-4"><b>Garantía de la infracción</b></h5>
                                            @*<h6 class="px-4 text-muted">Marque la persona que desea asociar como conductor.</h6>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @Html.HiddenFor(m=> m.idGarantia)
                            <div class="row my-4 px-4">
                                <div class="col-12 col-md-4">
                                    <div class="controlForm">
                                        <label>Concepto <b>(obligatorio)</b>:</label>
                                        @(Html.Kendo().DropDownListFor(m => m.Garantia.idCatGarantia).Filter(FilterType.Contains)
                                            .BindTo((SelectList)ViewBag.CatGarantias)
                                            .OptionLabel("-- Seleccione --")
                                            .Enable(!ViewBag.EsSoloLectura)
                                            .HtmlAttributes(new { style = "width:100%;", id = "ddlTipoGarantia", required = "required" }))
                                    </div>
                                </div>
                            </div>

                            <div class="row px-4 mt-4 py-5 align-items-end">
                                <div class="col-12 col-md-10 mx-md-auto text-center">
                                    <h3><b>Adjunta archivo</b></h3>
                                    <div class="row justify-content-center">
                                        <div class="drop-zone" ondrop="drophadler(event)" ondragover="dragOver(event)" ondragleave="gragend()">
                                            <div class="drop-zone__prompt">
                                                <svg id="svgImage" class="svg-image" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="106.791" height="87.148" viewBox="0 0 106.791 87.148" onclick="document.getElementById('fileInput').click();">
                                                    <defs>
                                                        <clipPath id="clip-path">
                                                            <rect id="Rectángulo_2602" data-name="Rectángulo 2602" width="106.791" height="87.148" fill="none" />
                                                        </clipPath>
                                                    </defs>
                                                    <g id="Grupo_1206" data-name="Grupo 1206" clip-path="url(#clip-path)">
                                                        <path id="Trazado_720" data-name="Trazado 720" d="M44.9,0C28.864,0,17.567,13.843,18.165,28.177A20.889,20.889,0,0,0,0,48.541C0,61.113,9.68,70.385,20.63,70.385H35.192a2.427,2.427,0,1,0,0-4.854H20.63c-8.224,0-15.776-6.878-15.776-16.99,0-8.142,7.119-15.776,15.776-15.776A2.427,2.427,0,0,0,23.018,30C21.3,17.739,30.906,4.856,44.9,4.856A21.8,21.8,0,0,1,58.022,9.065,2.427,2.427,0,1,0,60.9,5.159,26.783,26.783,0,0,0,44.9,0ZM73.419,11.718a18.018,18.018,0,0,0-7.774,1.859,2.442,2.442,0,0,0,2.2,4.361,13.4,13.4,0,0,1,12.817.493c3.844,2.306,6.713,6.581,6.713,13.121a2.426,2.426,0,0,0,2.01,2.389c7.292,1.224,12.553,8.5,12.553,15.814,0,8.781-6.924,15.776-18.2,15.776H71.6a2.427,2.427,0,1,0,0,4.854H83.734c13.4,0,23.057-9.195,23.057-20.63,0-8.993-5.879-17.7-14.79-20.137-.58-7.025-4.028-12.436-8.835-15.32a18.263,18.263,0,0,0-8.609-2.579c-.377-.016-.758-.006-1.138,0ZM53.112,41.42a2.587,2.587,0,0,0-1.539.729L41.2,52.521a2.593,2.593,0,1,0,3.646,3.687L50.8,50.252V84.518a2.593,2.593,0,1,0,5.186,0V50.252l5.956,5.956a2.593,2.593,0,1,0,3.647-3.687L55.219,42.149a2.592,2.592,0,0,0-2.107-.729Z" />
                                                    </g>
                                                </svg>
                                                <h2 id="NameFile"></h2>
                                                <h5>Arrastra o adjunta el</h5>
                                                <h5 class="fw-bold">Archivo</h5>
                                            </div>
                                            <input type="file" name="myFile" id="fileInput" class="drop-zone__input">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-md-8 mx-md-auto col-lg-5 btnOutline btnOutlinePrimary">
                                            <button type="button" class="btnPrimary px-3" id="btnNuevoMotivo" onclick="enviarImagen()" @(ViewBag.EsSoloLectura ? "disabled" : "")>
                                                <h5><b>Subir</b></h5>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="row my-4 px-4">
                                <div id="divGarantiaPlaca" style="display:none">
                                    <div class="row align-items-start my-4">
                                        <div class="col-12 col-md-4">
                                            <div class="controlForm">
                                                <label>Tipo placa:</label>
                                                @(Html.Kendo().DropDownListFor(m => m.Garantia.idTipoPlaca).Filter(FilterType.Contains)
                                                    .BindTo((SelectList)ViewBag.CatTipoPlaca)
                                                    .OptionLabel("-- Seleccione --")
                                                    .Enable(!ViewBag.EsSoloLectura)
                                                    .HtmlAttributes(new { style = "width:100%;" }))
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <div class="controlForm">
                                                <label>No. de placa:</label>
                                                @Html.Kendo().TextBoxFor(m=> m.placasVehiculo).HtmlAttributes(new { style = "width: 100%;height:50px;" ,id="test",disabled="disabled" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="divGarantiaTarjeta" style="display:none">
                                    <div class="row align-items-start  my-4">
                                        <div class="col-12 col-md-4">
                                            <div class="controlForm">
                                                <label>Tarjeta de circulación:</label>
                                                <span>
                                                    @Html.DisplayFor(m=> m.NumTarjetaCirculacion)
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="divGarantiaLicencia" style="display:none">
                                    <div class="row my-4">
                                        <div class="col-12 col-md-4">
                                            <div class="controlForm">
                                                <label>Licencia:</label>
                                                @(Html.Kendo().DropDownListFor(m => m.Garantia.idTipoLicencia).Filter(FilterType.Contains)
                                                    .BindTo((SelectList)ViewBag.CatTipoLicencia)
                                                    .OptionLabel("-- Seleccione --")
                                                    .Enable(!ViewBag.EsSoloLectura)
                                                    .HtmlAttributes(new { style = "width:100%;" }))
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <div class="controlForm">
                                                @(Html.Kendo().TextBoxFor(t => t.Garantia.numLicencia)
                                                    .Label(l => l.Content("Número licencia:"))
                                                    .Placeholder("Ingresa licencia")
                                                    .Events(s => s.Change("updateNumLic"))
                                                    .Enable(!ViewBag.EsSoloLectura)
                                                    .HtmlAttributes(new { style = "width: 100%", id = "numLicGar" })
                                                    )
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="divGarantiaVehiculo" style="display:none">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="tabCustomEnd"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>

<div class="modal fade modalCustom" id="modalCrearMotivo" aria-labelledby="modalCrearMotivo" aria-hidden="true">
    <div class="modal-dialog modal-xl boxShadow modal-dialog-centered">
        <div class="modal-content">
            <div class="row align-items-center justify-content-between px-4 px-md-4 pt-3 pb-2">
                <div class="col-auto pe-0">
                    <div class="row align-items-center justify-content-center justify-content-md-start">
                        <div class="col-auto pe-0">
                            <i class="icon-addConcecionario h1 colorPrimary"></i>
                        </div>
                        <div class="col-auto my-3">
                            <h2 class="m-0 h3"><b>Agregar motivo de la infracción</b></h2>
                        </div>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="row">
                        <div class="col-auto my-3">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="bg-light py-1"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 my-4">
                    <h5 class="px-4"><b>Datos de nuevo motivo</b></h5>
                    <h6 class="px-4 text-muted">Completa los datos obligatorios para guardar.</h6>
                </div>
            </div>
            <div class="modal-body" id="modalBodyCrearMotivo">
            </div>
        </div>
    </div>
</div>



<!--MODAL ANEXAR INVENTARIO-->
<div class="modal fade modalCustom" id="anexarInventarioModal" aria-labelledby="anexarInventarioLabel" aria-hidden="true">
    <div class="modal-dialog modal-l" role="document">
        <div class="modal-content">
            <div class="modal-body" id="ModalBodyanexarInventario">
            </div>
        </div>
    </div>
</div>
<script>
    

    function updateNumLic() {

        var numvalue = $("#numLicGar").val()

        $("#Garantia_numLicencia").val(numvalue)


    }



    $(document).ready(function () {
        initialCharge();

        $("#tarjeta").removeClass("activeData");
        $("#Persona_nombreCompleto").removeClass("activeData");
        $("#motor").removeClass("activeData");
        $("#numeroEconomico").removeClass("activeData");
        $("#otros").removeClass("activeData");
        $("#poliza").removeClass("activeData");
        $("#capacidad").removeClass("activeData");
        $("#placas").removeClass("activeData");
        $("#vigenciaTarjeta").removeClass("activeData");
        $("#idEntidad").closest('.k-dropdown').removeClass("activeData");
        $("#idColor").closest('.k-dropdown').removeClass("activeData");

        $("#btnSelect").prop("disabled",true);
    });



    function initialCharge() {
        var idCatGarantia = '@(Model.Garantia.idCatGarantia ?? 0)';
        // Se inhabilita folio de infracción.
        var folioInfraccion = '@(Model.folioInfraccion)';
        if (folioInfraccion != null || folioInfraccion != undefined)
            $("#folioInfraccion").prop('readonly', true);

        if (idCatGarantia == 1) { $("#divGarantiaPlaca").show(); }
        if (idCatGarantia == 2) { $("#divGarantiaLicencia").show(); }
        if (idCatGarantia == 3) { $("#divGarantiaTarjeta").show(); }
        if (idCatGarantia == 4) { $("#divGarantiaVehiculo").show(); }

        $("#lblUmas").text('@string.Format("{0:C2}", Model.umas)')
        $("#lblTotales").text('@string.Format("{0:C2}", Model.totalInfraccion)')

    }

    $("#ddlTipoGarantia").on("change", function () {
        var idCatGarantia = $(this).val();
        $("#divGarantiaPlaca").hide();
        $("#divGarantiaTarjeta").hide();
        $("#divGarantiaLicencia").hide();
        $("#divGarantiaVehiculo").hide();
        if (idCatGarantia == 1) { $("#divGarantiaPlaca").show(); }
        if (idCatGarantia == 2) { $("#divGarantiaLicencia").show(); }
        if (idCatGarantia == 3) { $("#divGarantiaTarjeta").show(); }
        if (idCatGarantia == 4) { $("#divGarantiaVehiculo").show(); }
    });

    function btnModalCrearMotivo() {
        $.ajax({
            url: '@Url.Action("ajax_ModalCrearMotivo")',
            type: 'GET',
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            success: function (data) {
                $('#modalBodyCrearMotivo').html(data);
                $('#modalCrearMotivo').modal('show');
            }
        });
    }

    $("#ddlCarreteras").on("change", function () {
        var value = $(this).val();
        if (value == "") {
            $("#idConcesionario option[value!='']").remove();
        }
        else {
            _set_combo_catalog("CatTramosByFilter", value, "idTramo", "false", "divTramo", "");
            $('#idTramo').kendoDropDownList();
        }
    });

    function btnEditarInfraccion() {
        var validator = $("#frmEditarInfraccion").kendoValidator().data('kendoValidator');
        var idVehiculo = $("#idVehiculo").val();
        var idPersona = $("#idPersonaInfraccion").val();
        var cortesia = $("#cortesiaSwitch").prop("checked");
        var controlsValidate = [];
        var isValid = true;

        controlsValidate.push({ 'controlName': 'folioInfraccion' });
        controlsValidate.push({ 'controlName': 'kmCarretera' });

        // INPUTS
        if (!isControlsValid(controlsValidate)) { isValid = false; }

        if (!isValid) {
            sitteg_warning('Hacen falta datos o existen datos incorrectos, favor de verificar.');
            return;
        }

        $("#idCortesia").val(cortesia ? 2 : 1);
        if (!idVehiculo) {
            sitteg_info('Debe seleccionar un vehículo');
            return;
        }

        if (!idPersona) {
            sitteg_info('Debe seleccionar un conductor');
            return;
        }

        if (isValid) {
            var formData = $("#frmEditarInfraccion").serialize();
            var vehiculo =  {   tarjeta: $("#tarjeta").val(),
                                placas: $("#placas").val(),
                                vigenciaTarjeta: $("#vigenciaTarjeta").val()
            };


            console.log(formData);
            showLoading();
            $.ajax({
                url: '@Url.Action("ajax_editarInfraccion")',
                type: 'POST',
                data: JSON.stringify({ model: formData, vehiculo: vehiculo }),
                success: function (response) {
                    if (response.success) {
                        var idInfraccion = response.idInfraccion;
                        sitteg_success("Informacion Actualizada");
                        serviceCrearInfraccion(idInfraccion);
                    } else {
                        sitteg_warning(response.message);
                    }
                    hideLoading();
                },
                error: function (error) {
                    sitteg_warning('Lo sentimos, ha ocurrido un error.');
                    hideLoading();
                }
            });
        } else {
            sitteg_info('Debe llenar los campos requeridos');
        }
    }

    function serviceCrearInfraccion(idInfraccion) {
        var shouldGoBack = false;
        showLoading();
        $.ajax({
            url: '@Url.Action("ServiceCrearInfraccion", "Infracciones")',
            type: 'POST',
            data: { idInfraccion: idInfraccion },
            success: function (response) {
                if (response.success) {
                    sitteg_success("Infracción actualizada en secretaría de finanzas.");
                    shouldGoBack = true;
                } else if (response.success === false && response.message === "Registro actualizado en RIAG") {
                    sitteg_info("El registro fue actualizado en RIAG.");
                    shouldGoBack = true;
                } else if (response.success === false && response.message === "Infraccion Guardada, no enviada") {
                    sitteg_warning("El número de placa excede la longitud máxima, la infracción no se envió a finanzas.");
                    shouldGoBack = true;
                }
                else if (response.success === false && response.message === "Infracción guardada, no enviada a finanzas") {
                    sitteg_warning("La infracción no fue enviada a Secretaría de Finanzas.");
                    shouldGoBack = true;
                }
                else {
                    sitteg_warning(response.message);
                }

                var redirectTo = sessionStorage.getItem('redirectTo');
                console.log("RED", redirectTo);
                if (shouldGoBack && redirectTo) {
                    if (@regreso == "1")
                        window.location.href = "/Infracciones/Crear";
                    else
                    setTimeout(function () {
                        window.location.href = '/CapturaAccidentes/CapturaAccidenteC';
                    }, 2000);
                }

                hideLoading();
            },
            error: function (error) {
                sitteg_warning('Lo sentimos, ha ocurrido un error.');
                hideLoading();
            }
        });
    }

    function isPropietarioOnChange(e) {
        var isPropietario = e.checked;
        if (isPropietario) {
            $("#listadoPersonas").hide();
            $("#listadoPersonas").html("");
            $("#detallePersonas").show();
            idPersona = $("#hdnIdPersonaTemp").val();
            buscarPersona(idPersona);
        }
        else {
            getListadoPersonasInfracciones();
            $("#listadoPersonas").show();
            $("#detallePersonas").hide();
            $("#idPersona").val('');
        }
    }

    function buscarVehiculo(pidVehiculo) {
        showLoading();
        $.ajax({
            type: "GET",
            url: '@Url.Action("ajax_detalleVehiculo")',
            data: {
                "idVehiculo": pidVehiculo,
            },
            success: function (data) {
                $("#detalleVehiculo").html(data);
                $("#idVehiculo").val(pidVehiculo);
                hideLoading();
            }, error: function () {
                sitteg_warning("Ocurrio un error al procesar su solicitud.");
                hideLoading();
            }

        });
    }

    function buscarPersona(pidPersona) {
        showLoading();
        var editarVehiculo = '@ViewBag.EditarVehiculo';

        $.ajax({
            type: "GET",
            url: '@Url.Action("ajax_detallePersona")',
            data: {
                "idPersona": pidPersona,
            },
            success: function (data) {
                $("#detallePersonas").html(data);
                $("#idPersona").val(pidPersona);
                 
                if (editarVehiculo==false)
                    $("#detallePersonas").show();
                else {
                     $('#listadoPersonas').css('display', 'none');
                }
                hideLoading();
            }, error: function () {
                sitteg_warning("Ocurrio un error al procesar su solicitud.");
                hideLoading();
            }

        });
    }

    function getListadoPersonasInfracciones() {
        $("#listadoPersonas").show();
        showLoading();
        $.ajax({
            type: "GET",
            url: '@Url.Action("ajax_listadoPersonasInfracciones")',
            success: function (data) {
                $("#listadoPersonas").html(data);
                hideLoading();
            }, error: function () {
                sitteg_warning("Ocurrio un error al procesar su solicitud.");
                hideLoading();
            }

        });
    }

    function modalAnexar() {
        $.ajax({
            url: "/Infracciones/MostrarModalAnexar",
            type: "POST",
            success: function (response) {
                $('#ModalBodyanexarInventario').html(response);
                $('#anexarInventarioModal').modal('show');
            },
            error: function (xhr, textStatus, errorThrown) {
                console.error(textStatus, errorThrown);
            }
        });
    }
    var dropZone = document.querySelector('.drop-zone');
    var fileInput = document.getElementById('fileInput');
    var svgImage = document.getElementById('svgImage');
    var file

    function drophadler(ev) {
        ev.preventDefault();

        if (ev.dataTransfer.items) {
            // Usar la interfaz DataTransferItemList para acceder a el/los archivos)

            if (ev.dataTransfer.items[0].kind === "file") {
                file = ev.dataTransfer.items[0].getAsFile();
                svgImage.classList.add("ready")
                $("#NameFile").empty().append(file.name)
            }

        } else {
            // Usar la interfaz DataTransfer para acceder a el/los archivos


            file = ev.dataTransfer.files[0]
            svgImage.classList.add("ready")
            $("#NameFile").empty().append(file.name)

        }
        dropZone.style.background = "white"

        // Pasar el evento a removeDragData para limpiar
        removeDragData(ev);



    }


    function removeDragData(ev) {

        if (ev.dataTransfer.items) {
            // Use DataTransferItemList interface to remove the drag data
            ev.dataTransfer.items.clear();
        } else {
            // Use DataTransfer interface to remove the drag data
            ev.dataTransfer.clearData();
        }
    }

    function gragend(event) {
        //dropZone.style.backgroundColor = "inerit"
        dropZone.style.background = "white"


    }

    function dragOver(e) {
        //dropZone.style.backgroundColor = "ligthgray"
        e.preventDefault();
        dropZone.style.background = "lightgray"
        console.log("esta dentro")

    }

    document.getElementById('fileInput').onchange = function (event) {
        var file = event.target.files[0];
        var reader = new FileReader();

        reader.onload = function (e) {
            /*    dropZone.style.backgroundImage = 'url(' + reader.result + ')';
                dropZone.style.backgroundSize = 'cover';
                dropZone.style.backgroundPosition = 'center';
                dropZone.style.backgroundRepeat = 'no-repeat';*/
            svgImage.classList.add("ready")
            $("#NameFile").empty().append(file.name)
        };

        reader.readAsDataURL(file);
    };

    function enviarImagen() {
        var Data = $("#frmEditarInfraccion").serialize();

        var idInfraccion = obtenerValorIdInfraccion(Data);
        file = fileInput.files[0];
        var formData = new FormData();
        formData.append('file', file);
        formData.append('idInfraccion', idInfraccion);
        showLoading();
        $.ajax({
            url: '/Infracciones/SubirImagen',
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            success: function (response) {
                hideLoading();
                if (response.success)
                    sitteg_success(response.message);
                else
                    sitteg_error(response.message);

                console.log(response);
            },
            error: function (xhr, status, error) {
                // Manejo de errores
                console.log(error);
                hideLoading();
            }
        });
    }

    function obtenerValorIdInfraccion(data) {
        var parametroIdInfraccion = "idInfraccion=";
        var index = data.indexOf(parametroIdInfraccion);
        if (index !== -1) {
            var startIndex = index + parametroIdInfraccion.length;
            var endIndex = data.indexOf("&", startIndex);
            if (endIndex === -1) {
                endIndex = data.length;
            }
            return data.substring(startIndex, endIndex);
        }
        return null;
    }

	

	function onChange() {
    var min = parseInt($("#calificacionMinima").val() || "0");
    var currentval = parseInt($("#calificacion").val() || "0");

    if (currentval >= min) {
    } else {
        $("#calificacion").val(min);
        sitteg_info("La calificación es menor");
    }
}

	function goBack() {
        console.log("regreso: " + @regreso)
        if(@regreso == "1")
            window.location.href = "/Infracciones/Crear";
        else
		window.history.back();
	}




    function UpdatePlaca() {


        var newValue = $("#test").val()


        $("#placasVehiculo").val(newValue)


    }

    //$(document).ready(function () {
        
    //});

    function EditarVehiculo() {
        $("#tarjeta").addClass("activeData");
        $('#tarjeta').data("kendoTextBox").enable();

        //$("#Persona_nombreCompleto").addClass("activeData");
        //$('#Persona_nombreCompleto').data("kendoTextBox").enable();

        $("#motor").addClass("activeData");
        $("#motor").data("kendoTextBox").enable();

        $("#numeroEconomico").addClass("activeData");
        $("#numeroEconomico").data("kendoTextBox").enable();
        
        $("#otros").addClass("activeData");
        $("#otros").data("kendoTextBox").enable();
        
        $("#poliza").addClass("activeData");
        $("#poliza").data("kendoTextBox").enable();
        //
        $("#capacidad").addClass("activeData");
        $("#capacidad").data("kendoTextBox").enable();

        $("#placas").addClass("activeData");
        $("#placas").data("kendoTextBox").enable()

        $("#vigenciaTarjeta").addClass("activeData");
        $("#vigenciaTarjeta").data("kendoDateTimePicker").enable();

        $("#idEntidad").closest('.k-dropdown').addClass("activeData");
        $("#idEntidad").data("kendoDropDownList").enable();
        
        $("#idColor").closest('.k-dropdown').addClass("activeData");
        $("#idColor").data("kendoDropDownList").enable();    
        
        $("#btnSelect").prop("disabled",false);       
        $("#placas").focus();
    }

    function btnEditarPersona() {
		
        var idPersona = $("#idPersona").val();
        var isValid = false;

        if (!idPersona) {
			sitteg_info('Debe haber preestablecido un conductor');
			return;
		} else {
            isValid = true;
        }

		if (isValid) {
            //console.log("entra");
            var curp = $("#CURP").val();
            var rfc = $("#RFC").val();
            var fechaNacimiento = $("#fechaNacimiento").val();
            var personaDireccionCalle = $("#PersonaDireccion_calle").val();
            var personaDireccionNumero = $("#PersonaDireccion_numero").val();
            var colonia = $("#PersonaDireccion_colonia").val();
            var telefono = $("#PersonaDireccion_telefono").val();
            var correo = $("#PersonaDireccion_correo").val();
            var licencia = $("#numeroLicencia").val();
            var vigenciaLicencia = $("#vigenciaLicencia").val();
            var serial = {curp,rfc,fechaNacimiento,personaDireccionCalle,personaDireccionNumero,colonia,telefono,correo,licencia,vigenciaLicencia};
            //console.log("serial",serial);
			
			showLoading();
            
			$.ajax({
				url: '@Url.Action("ajax_EditarConductor")',
				type: 'POST',
				data: serial,
				success: function (response) {
					if (response.success) {
						sitteg_success("Información Actualizada");
					} else {
						sitteg_warning(response.message);
					}
					hideLoading();
				},
				error: function (error) {
					sitteg_warning('Lo sentimos, ha ocurrido un error.' );
					hideLoading();
				}
			});
		} else {
			sitteg_info('No se encontró al condutor');
		}
	}
    function SeleccionarPropietario() {
         $('#listadoPersonas').css('display', 'block');
    }
</script>




<style>

    .svg-image {
        color: black;
        transition: fill ease-out 0.5s;
    }

        .svg-image.hidden {
            display: none;
        }

        .svg-image.ready {
            color: green;
            fill: green;
        }

</style>