@model List<GuanajuatoAdminUsuarios.Controllers.PDFExampleController.Customer>
<style>
    .text-align-center {
        text-align: center;
    }

    .text-align-right {
        text-align: right;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <h5 class="text-align-center">Customers Detail</h5>
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th>CustomerName</th>
                    <th>Address</th>
                    <th>Email</th>
                    <th>ZipCode</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.CustomerName</td>
                        <td>@item.Address</td>
                        <td>@item.Email</td>
                        <td>@item.ZipCode</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-12 text-align-right">
        <button class="btn btn-success" type="button">@Html.ActionLink("Create PDF", "CreatePdf", "PDFExample", null)</button>
    </div>
</div>