@model Concesionarios2Model

@{
}

@*<div class="col-12 col-lg-5 my-4">
    <div class="row justify-content-center">
        <div class="btnToggle col-8">
            <div style="z-index:0" class="position-relative d-flex align-items-center">
                <input class="toggle toggle-left" id="activo" name="toggle-state" value="false"
                       type="radio" checked="" />
                <label class="btn" for="activo">Activo</label>
                <input class="toggle toggle-right" id="inactivo" name="toggle-state" value="true"
                       type="radio" />
                <label class="btn" for="inactivo">Inactivo</label>
            </div>
        </div>
    </div>
</div>*@
<form id="frmEditarConcesionario" class="row px-4 mb-4 align-items-end justify-content-center">
   @Html.HiddenFor(m=> m.idConcesionario)
    <div class="col-12 col-md-6">
        <div class="controlForm my-3">
            @(Html.Kendo().TextBoxFor(m=> m.nombre)
                .Label(l => l.Content("Nombre <b>(obligatorio)</b>:"))
                .Placeholder("Ingresa un nombre")
                .HtmlAttributes(new { style = "width: 100%" })

                )
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="controlForm my-3">
            <label for="shipTo">Delegación <b>(obligatorio):</b> </label>
            @(Html.Kendo().DropDownListFor(f => f.idDelegacion)
                .BindTo((SelectList)ViewBag.CatDelegaciones)
                .OptionLabel("-- Seleccione --")
                .HtmlAttributes(new { style = "width:100%;" }))
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="controlForm my-3">
            <label for="shipTo">Municipio <b>(obligatorio):</b> </label>
            @(Html.Kendo().DropDownListFor(f => f.idMunicipio)
                .BindTo((SelectList)ViewBag.CatMunicipios)
                .OptionLabel("-- Seleccione --")
                .HtmlAttributes(new { style = "width:100%;" }))
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="controlForm my-3">
            @(Html.Kendo().TextBoxFor(m=> m.alias)
                .Label(l => l.Content("Alias <b>(obligatorio)</b>:"))
                .Placeholder("Ingresa un alias")
                .HtmlAttributes(new { style = "width: 100%" })
                )
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="controlForm my-3">
            @(Html.Kendo().TextBoxFor(m=> m.razonSocial)
                .Label(l => l.Content("Razón Social <b>(obligatorio)</b>:"))
                .Placeholder("Ingresa una razón social")
                .HtmlAttributes(new { style = "width: 100%" })

                )
        </div>
    </div>
</form>
<div class="row my-4">
    <div class="col-12 col-md-6 mx-md-auto">
        <div class="row justify-content-around">
            <div class="col-auto btnOutline my-2 mx-auto mx-xl-2 p-0">
                <button type="button" data-bs-dismiss="modal" aria-label="Close">
                    <h6 class="m-0 px-3"><b>Cerrar</b></h6>
                </button>
            </div>
            <div class="col-auto btnOutline btnOutlinePrimary my-2 mx-auto mx-xl-2 p-0">
                <div class="controlButton">
                    <button class="btnPrimary px-3" onclick="btnEditarConcesionario()">
                        <h5 class="m-0"><b>Guardar</b></h5>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function btnEditarConcesionario() {
        var formData = $("#frmEditarConcesionario").serialize();
        $.ajax({
            url: '@Url.Action("ajax_EditarConcesionario")',
            type: 'POST',
            data: formData,
            success: function (result) {
                $("#listadoConcesionarios").html(result);
                $('#modalEditarConcesionario').modal('hide');
                sitteg_success('Elemento guardado correctamente')
            },
            error: function (xhr, status) {
                var errmsg = xhr.responseText;
                console.log(errmsg)
                sitteg_warning('Lo sentimos, ha ocurrido un error.');
            }
        });
    }
</script>
