@model GuanajuatoAdminUsuarios.Models.SolicitudDepositoOtraDependenciaModel
@{
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;
    string listaIdsPermitidosJson = @HttpContextAccessor.HttpContext.Session.GetString("IdsPermitidos")==null?"undefined":@HttpContextAccessor.HttpContext.Session.GetString("IdsPermitidos");
}

<script>
    var depositControlsValidate=[];
        $(document).ready(function () {
            var access = @listaIdsPermitidosJson;
            if (access != undefined && access != '') {
                if (!access.toString().includes(localStorage.getItem("menuId"))) {
                    Swal.fire({
                        icon: "error",
                        title: "¡EL usuario no tiene acceso a esta opción!"
                    });
                    setTimeout(() => {
                        window.location.href = "/Principal";
                    }, 200);
                }
            } else {
                Swal.fire({
                    icon: "error",
                    title: "¡EL usuario no tiene acceso a esta opción!"
                });
                setTimeout(() => {
                    window.location.href = "/Principal";
                }, 200);
            }
        });

         function filtroCarretera() {
             
        var idMunicipio = $("#ddlMunicipiUbicacion").val();
        console.log("idMunicipio", idMunicipio)

        return {
            idMunicipio: idMunicipio,
        };
    }
    function onChangeCarretera() {
        var ddlidCarretera = $("#IdCarretera").data("kendoDropDownList");
        ddlidCarretera.dataSource.read();

    }

    function validacionHora() {
        var fechaSeleccionadaString = $("#FechaSolicitud").val();
		var horaSeleccionada = $("#dateTime").val();

		var fechaActual = new Date();
		var fechaSeleccionada = kendo.parseDate(fechaSeleccionadaString, "dd/MM/yyyy");

		var horaMaxima = fechaActual.getHours().toString().padStart(2, '0') + ':' + fechaActual.getMinutes().toString().padStart(2, '0');
		var horaActual = kendo.parseDate(horaMaxima, "HH:mm");

		console.log('Fecha seleccionada (string):', fechaSeleccionadaString);
		console.log('Hora seleccionada (string):', horaSeleccionada);
		console.log('Fecha actual:', fechaActual);
		console.log('Fecha seleccionada (objeto):', fechaSeleccionada);
		console.log('Hora máxima permitida:', horaMaxima);
		console.log('Hora actual (objeto):', horaActual);

		if (fechaSeleccionada && horaSeleccionada) {
			var fechaSeleccionadaSinHora = new Date(fechaSeleccionada);
			fechaSeleccionadaSinHora.setHours(0, 0, 0, 0);

			if (fechaSeleccionadaSinHora.getTime() === fechaActual.setHours(0, 0, 0, 0)) {
				console.log('Estableciendo límite máximo de hora:', horaMaxima);
				$("#dateTime").data("kendoTimePicker").max(horaMaxima);
			} else {
				console.log('Removiendo límite máximo de hora.');
				var horaLejana = "23:59";
				$("#dateTime").data("kendoTimePicker").max(horaLejana);
			}

			if (fechaSeleccionadaSinHora.getTime() === fechaActual.setHours(0, 0, 0, 0) && kendo.parseDate(horaSeleccionada, "HH:mm") > horaActual) {
				console.log('Ajustando hora seleccionada a la hora actual:', horaActual);
				$("#dateTime").data("kendoTimePicker").value(horaActual);
			}
		} else {
			console.log('Fecha o hora no seleccionada.');
			var horaLejana = "23:59";
			$("#dateTime").data("kendoTimePicker").max(horaLejana);
		}
	}
</script>
<div class="mainContainer bg-light">
    <section id="seccionPrincipal" class="mx-md-3 mx-lg-4 mx-xl-5 bg-white boxShadow my-5 rounded">
                <div class="row align-items-center justify-content-between px-4 px-md-4 pt-3 pb-2">
            <div class="col-12 col-md-6 col-lg-5 col-xl-auto pe-0">
                <div class="row align-items-center justify-content-center justify-content-md-start">
                    <div class="col-auto">
                        <div class="border border-2 border-dark rounded-circle">
                            <h5 class="m-0 numberCard d-flex align-items-center justify-content-center">
                                <b>1</b>
                            </h5>
                        </div>
                    </div>
                    <div class="col-auto p-0">
                        <i class="icon-deposito h1 colorPrimary"></i>
                    </div>
                    <div class="col-auto my-3">
                        <h2 class="m-0 h3"><b>Registro de solicitud de depósito para Otra Dependencia</b></h2>
                    </div>
                </div>
            </div>    
        </div>
            <div class="row">
            <div class="col-7 pe-0">
                <div class="bgSuccess py-1"></div>
            </div>
            <div class="col-5 ps-0">
                <div class="bg-light py-1"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 my-4">
                <h5 class="px-4"><b>Solicitud de depósito</b></h5>
                <h6 class="px-4 text-muted">Se capturan los datos referentes al evento como fecha, motivo de ingreso.</h6>
            </div>
        </div>
         <form id="frmDepositoOtraDependencia">
        @Html.HiddenFor(m=> m.Vehiculo.idVehiculo, new { @id = "IdVehiculoAsignado" })
        <div class="row px-4 mt-3 mb-2 align-items-end">
            
            <div class="col-12 col-md-6  col-lg-4">
                <div class="controlForm my-3">
                    <label>Fecha (obligatorio):</label>
                        @(Html.Kendo().DatePickerFor(t => t.FechaSolicitud)
                        .Value("")
                        .Max(DateTime.Now).Format("dd/MM/yyyy")
                            .Culture("es-ES")
                            .Events(e =>
                           {
												e.Change("validacionHora");
											})
                        .HtmlAttributes(new { style = "width: 100%", 
                            title = "datepicker", 
                            required = "required" })
                    )
                </div>
            </div>

                <div class="col-12 col-md-6  col-lg-4">
                    <div class="controlForm my-3">
                        <label>Hora (obligatorio):</label>
                        @(Html.Kendo().TimePickerFor(t => t.HoraSolicitud).Interval(1)
                            .Label(l => l.Content("Hora:"))
                            .Format("HH:mm")
                            .Events(e =>
                            {
                                e.Change("validacionHora");
                            })
                            .Culture("es-ES")
                            .HtmlAttributes(new
                            {
                                style = "width: 100%",
                                required = "required",
                                 id = "dateTime"
                            })
                            )
                    </div>
                </div>




            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                <div class="controlForm my-3">
                    <label>Envía vehículo (obligatorio):</label>
                    <span>
                            @(Html.Kendo().DropDownListFor(t => t.IdDependenciaEnvia)
                                .Filter(FilterType.Contains)
                                .DataTextField("Text")
                                .DataValueField("Value")
                                .OptionLabel("Selecciona una opción")
                                .DataSource(source =>
                                {
                                    source.Read(read =>
                                    {
                                        read.Action("DependenciaEnvia_Drop", "DepositosOtraDependencia");
                                    });
                                })
                                .HtmlAttributes(new { style = "width:100%;" })
                                .Events(e =>
                                {
                                    e.Change("showHideMunicipioEnviaDropdown");
                                })
                                )
                    </span>

                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                <div class="controlForm my-3">
                    <label>Motivo de ingreso (obligatorio):</label>
                    <span>
                            @(Html.Kendo().DropDownListFor(t => t.IdTipoMotivoIngreso).Filter(FilterType.Contains)
                            .DataTextField("Text")
                            .DataValueField("Value")
                            .OptionLabel("Selecciona una opción")
                            .DataSource(source =>
                            {
                                source.Read(read =>
                                {
                                    read.Action("TipoMotivoIngreso_Drop", "DepositosOtraDependencia");
                                });
                            })
                                .HtmlAttributes(new { style = "width:100%;" })
                            )
                    </span>

                </div>
            </div>
                <div id="municipioEnviaDropdownContainer" class="col-12 col-md-6 col-lg-4 col-xl-3" style="display:none;">
                    <div class="controlForm my-3">
                        <label>Municipio que envía (obligatorio):</label>
                        <span>
                            @(Html.Kendo().DropDownListFor(t => t.IdMunicipoEnvia)
                                .Filter(FilterType.Contains)
                                .DataTextField("Text")
                                .DataValueField("Value")
                                .OptionLabel("Selecciona una opción")
                                .DataSource(source =>
                                {
                                    source.Read(read =>
                                    {
                                        read.Action("Municipios_Drop2", "DepositosOtraDependencia");
                                    });
                                })
                                .HtmlAttributes(new { style = "width:100%;" })
                                )
                        </span>
                    </div>
                </div>
        </div>
          <div class="row align-items-center justify-content-between px-4 px-md-4 pt-3 pb-2 my-4">
            <div class="col-12 col-md-auto">
                <div class="row align-items-center justify-content-center justify-content-md-start">
                    <div class="col-auto">
                        <div class="border border-2 border-dark rounded-circle">
                            <h5 class="m-0 numberCard d-flex align-items-center justify-content-center">
                                <b>2</b>
                            </h5>
                        </div>
                    </div>
                    <div class="col-auto p-0">
                        <i class="icon-ubicacion h1 colorPrimary"></i>
                    </div>
                    <div class="col-auto my-3">
                        <h2 class="m-0 h3"><b>Ubicación donde se recoge el vehículo</b></h2>
                    </div>
                </div>
            </div>

        </div>
         <div class="row">
            <div class="col-8 pe-0">
                <div class="bgSuccess py-1"></div>
            </div>
            <div class="col-4 ps-0">
                <div class="bg-light py-1"></div>
            </div>
        </div>
            <div class="row">
            <div class="col-12 my-4">
                <h5 class="px-4"><b>Datos de recolección</b></h5>
                <h6 class="px-4 text-muted">Completa los datos solicitados de la recolección del vehículo.</h6>
            </div>
        </div>
          <div class="row  justify-content-start px-4">
        <div class="col-6 col-md-6 col-lg-3">
                    <div class="controlForm my-3">
                        <label>Municipio <b>(obligatorio)</b>:</label>
                        <span>
                            @(Html.Kendo().DropDownListFor(t => t.IdMunicipioUbicacion).Filter(FilterType.Contains)
                                .DataTextField("Text")
                                .DataValueField("Value")
                                .OptionLabel("Selecciona un Municipio")
                                .Events(e => e.Change("onChangeCarretera"))
                                .DataSource(source =>
                                {
                                    source.Read(read =>
                                    {
                                        read.Action("Municipios_Drop2", "DepositosOtraDependencia");
                                    });
                                })
                                .HtmlAttributes(new { style = "width:100%;", id = "ddlMunicipiUbicacion" })
                                )
                        </span>

                    </div>
                </div>
                 <div class="col-12 col-md-6 col-lg-4">
                    <div class="controlForm my-3">
                        <label>Carretera (obligatorio):</label>
                        <span>
                            @(Html.Kendo().DropDownListFor(t => t.IdCarretera).Filter(FilterType.Contains)
                                .DataTextField("Text")
                                .DataValueField("Value")
                                .OptionLabel("Selecciona una Carretera")
                                .Events(e => e.Change("carreteraDropDownChange"))
                                .HtmlAttributes(new { style = "width: 100%" })
                                .DataSource(source =>
                                {
                                    source.Read(read =>
                                    {
                                        read.Action("Carreteras_Drop", "DepositosOtraDependencia").Data("filtroCarretera"); 
                                    });
                                })
                                )
                        </span>

                    </div>
                </div>
                  <div class="col-12 col-md-6 col-lg-4">
                    <div class="controlForm my-3">
                        <label>Tramo (obligatorio):</label>
                        <span>
                            @(Html.Kendo().DropDownListFor(t => t.IdTramo).Filter(FilterType.Contains)
                                .DataTextField("Text")
                                .DataValueField("Value")
                                .OptionLabel("Selecciona un Tramo")
                                .DataSource(source =>
                                {
                                    source.Read(read =>
                                    {
                                        read.Action("Tramos_Drop", "DepositosOtraDependencia");
                                    });
                                })
                                .HtmlAttributes(new { style = "width:100%;" })
                                .Filter(FilterType.Contains)
                                )
                        </span>
                    </div>
                </div>
                 <div class="col-6 col-lg-2">
                    <div class="controlForm my-3">
                        @(Html.Kendo().TextBoxFor(t => t.KilometroUbicacion)
                            .Label(l => l.Content("Kilómetro:"))
                            .Placeholder("Km.")
                            .HtmlAttributes(new { style = "width: 100%" })
                            )

                    </div>
                </div>

 <div class="col-10 col-md-6 col-lg-4">
                    <div class="controlForm my-3">
                        @(Html.Kendo().TextBoxFor(t => t.ColoniaUbicacion)
                            .Label(l => l.Content("Colonia:"))
                            .Placeholder("Ingresa la colonia")
                            .HtmlAttributes(new { style = "width: 100%" })
                            )

                    </div>
                </div>
                  <div class="col-12 col-md-6 col-lg-4">
                    <div class="controlForm my-3">
                        @(Html.Kendo().TextBoxFor(t => t.CalleUbicacion)
                            .Label(l => l.Content("Calle:"))
                            .Placeholder("Ingresa la calle")
                            .HtmlAttributes(new { style = "width: 100%" })
                            )

                    </div>
                </div>
                   <div class="col-8 col-md-4 col-lg-2">
                    <div class="controlForm my-3">
                        @(Html.Kendo().TextBoxFor(t => t.NumeroUbicacion)
                            .Label(l => l.Content("Número:"))
                            .Placeholder("Ingresa el número")
                            .HtmlAttributes(new { style = "width: 100%" })
                            )

                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="controlForm my-3">
                        @(Html.Kendo().TextBoxFor(t => t.InterseccionUbicacion)
                            .Label(l => l.Content("Intersección:"))
                            .Placeholder("Ingrese la intersección")
                            .HtmlAttributes(new { style = "width: 100%" })
                            )

                    </div>
                </div>
  
              </div>
                      <div class="row align-items-center justify-content-between px-4 px-md-4 pt-3 pb-2 my-4">
            <div class="col-12 col-md-auto pe-0">
                <div class="row align-items-center justify-content-center justify-content-md-start">
                    <div class="col-auto">
                        <div class="border border-2 border-dark rounded-circle">
                            <h5 class="m-0 numberCard d-flex align-items-center justify-content-center">
                                <b>3</b>
                            </h5>
                        </div>
                    </div>
                    <div class="col-auto p-0">
                        <i class="icon-car h1 colorPrimary"></i>
                    </div>
                    <div class="col-auto my-3">
                        <h2 class="m-0 h3"><b>Asignación de vehículo</b></h2>
                    </div>
                </div>
            </div>
        </div>
          <div class="row">
            <div class="col-6 pe-0">
                <div class="bgSuccess py-1"></div>
            </div>
            <div class="col-6 ps-0">
                <div class="bg-light py-1"></div>
            </div>
        </div>
                    <div class="row align-items-center">
            <div class="col-8 my-4">
                <h5 class="px-4"><b>Asignación de vehículo</b></h5>
                <h6 class="px-4 text-muted">Realiza una búsqueda del vehículo para conocer si ya está capturado en Registro de Infracciones y Accidentes de Guanajuato o de lo contrario podrá capturarlo.</h6>
            </div>
             <div class="col-12 col-md-6 col-lg-3 col-xl-auto">
				   <div class="col-auto btnOutline btnOutlinePrimary my-3">
                     @(Html.Kendo().Button()
                    .Name("btnBuscarVehiculo")
                    .HtmlAttributes(new { type = "button" })
                    .Content(" <h6 class='m-0 d-flex align-items-center'><i class='icon-addCar h5 mb-0 me-2'></i><b>Buscar vehículo</b></h6>")
                    .Events(e => e.Click("mostrarBusquedaVehiculo")))
                   </div>				
				</div>
        </div>
              <div class="row" id="vehiculoPropietarioDatosContainer" style="display:none">
            <div class="col-12 my-4 mx-4">
                <div id="vehiculoPropietarioDatos"> </div>
            </div>
              </div>
         </form>
            <div class="row">
            <div class="col-12 col-md-8 mx-md-auto col-lg-5 ">
                <div class="controlButton my-3" onclick="guardarDeposito()">
                    @(Html.Kendo().Button()
                        .Name("addVehiculoBtn")
                        .HtmlAttributes(new { @class = "btnPrimary" })
                        .Content("<h5 class=\"m-0\"><b>Finalizar registro</b></h5>"))
                </div>
            </div>
        </div>
    </section>
    <div class="modal fade modalCustom" id="agregarVehiculoModal"  aria-labelledby="VehiculoServiceLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl" role="document">
                    <div class="modal-content">
                        <div class="modal-body bg-light" id="agregarVehiculoBodyModal">
                        </div>
                    </div>
                </div>
            </div>
</div>

<script>
          var depositoOtraDependenciaControlsValidate = [];
     $(document).ready(function() {
        //Se configuran la validacion de los campos
            depositoOtraDependenciaControlsValidate.push({ 'controlName': 'FechaSolicitud', 'isInput': true });
            depositoOtraDependenciaControlsValidate.push({ 'controlName': 'IdDependenciaEnvia', 'isDropDown': true });
            depositoOtraDependenciaControlsValidate.push({ 'controlName': 'IdTipoMotivoIngreso', 'isDropDown': true });
        depositoOtraDependenciaControlsValidate.push({ 'controlName': 'ddlMunicipiUbicacion', 'isDropDown': true });
            depositoOtraDependenciaControlsValidate.push({ 'controlName': 'IdCarretera', 'isDropDown': true });
            depositoOtraDependenciaControlsValidate.push({ 'controlName': 'IdTramo', 'isDropDown': true });

             //Se agrega a los controles requeridos el evento de perdida de foco para remover el estilo de requerido
            addOnLostFocusRequiredControls(depositoOtraDependenciaControlsValidate);

            //Si hay un cambio en el id de vehiculo se muestra los datos
            $("#IdVehiculoAsignado").bind("change", function() {
                if($(this).val()==='' || $(this).val()==0 || $(this).val()===undefined){
                 $('#vehiculoPropietarioDatosContainer').hide();
                    $('#ModalBodyVehiculos').hide();
                    concole.log("cierra modales 0");
                 
                } else {
                        $.ajax({
                                url: '@Url.Action("MostrarDatosVehiculo","DepositosOtraDependencia")',
                                type: "GET",
                                data: { 'idVehiculo': $(this).val() },
                                success: function (result) {
                                            $('#vehiculoPropietarioDatosContainer').show();
                                            $("#vehiculoPropietarioDatos").html(result);
                                            hideLoading();
                                           
                                },
                                error: function (xhr, status, error) {
                                            hideLoading();
                                            console.log(error);
                                }
                        });
                    
                     }
            });

        });
    function carreteraDropDownChange() {
        var carreteraDDValue = $("#IdCarretera").data("kendoDropDownList").value();
        showLoading();
        $.ajax({
            url: "/DepositosOtraDependencia/Tramos_Drop",
            type: "POST",
            data: { carreteraDDValue: carreteraDDValue },
            success: function (data) {
                var TramosDropDown = $("#IdTramo").data("kendoDropDownList");
                TramosDropDown.dataSource.data(data);
                hideLoading();
                $("#IdTramo").trigger("onFinishLoading");
            },
            error: function (xhr, status, error) {
                hideLoading();
            }
        });
    }

    function mostrarBusquedaVehiculo(){
         showLoading();
         $.ajax({
            url: '@Url.Action("MostrarBusquedaVehiculo")',
            type: "POST",
            data: {},
            success: function (result) {
                 $('#agregarVehiculoBodyModal').html(result);
				 $('#agregarVehiculoModal').modal('show');
                  hideLoading();
            },
            error: function (xhr, status, error) {
                sitteg_error("Ocurrio un error al procesar su solicitud.");
                hideLoading();
            }
        });
    }
    function guardarDeposito(){
        //Se validan los campos del formulario
        if (!isControlsValidWithFocus(depositoOtraDependenciaControlsValidate).isValid) {
            sitteg_warning('Hacen falta datos o existen datos incorrectos, favor de verificar.');
            return;
        }

        //Se valida que se haya asignado un vehículo
        var idVehiculo = $('#IdVehiculoAsignado').val();

        if(idVehiculo==='' || idVehiculo===0 || idVehiculo===undefined){
             sitteg_info('Debes asignar un vehículo');
             return;
        }

      
         showLoading();
         
         $.ajax({
            url: '@Url.Action("GuardarDeposito")',
            type: "POST",
            data: $("#frmDepositoOtraDependencia").serialize(),
            success: function (result) {
                if(result.success){
                    sitteg_success("Se guardó el registro exitosamente");
                    setTimeout(() => { window.location.href = result.redirectTo; },1000)
                      
                }
                else{
                     sitteg_error("Ocurrio un error al guardar el registro.");
                }
              
                  hideLoading();
            },
            error: function (xhr, status, error) {
                sitteg_error("Ocurrio un error al procesar su solicitud.");
                hideLoading();
            }
        });
    }

    function showHideMunicipioEnviaDropdown() {
        var selectedValue = $("#IdDependenciaEnvia").val();
        var municipioEnviaDropdownContainer = $("#municipioEnviaDropdownContainer");

        if (selectedValue == 12) { 
            municipioEnviaDropdownContainer.show();
        } else {
            municipioEnviaDropdownContainer.hide();
        }
    }

    function cambiaFecha() {
        var timepickerControl = $("#dateTime").data("kendoTimePicker");
        var varFechaInfraccion = kendo.toString(this.value(), 'd');
        var dia = varFechaInfraccion.slice(0, varFechaInfraccion.indexOf("/"));
        varFechaInfraccion = varFechaInfraccion.slice(varFechaInfraccion.indexOf("/") + 1, varFechaInfraccion.length);
        var mes = varFechaInfraccion.slice(0, varFechaInfraccion.indexOf("/"));
        varFechaInfraccion = varFechaInfraccion.slice(varFechaInfraccion.indexOf("/") + 1, varFechaInfraccion.length);
        let date = new Date();

        if (varFechaInfraccion == date.getFullYear() && mes == (date.getMonth() + 1) && dia == date.getDate()) {
            timepickerControl.max(date.getHours() + ":" + date.getMinutes());

            timepickerControl.bind("change", function (e) {
                var hora = timepickerControl.value();
                if (hora != null && hora.getHours() > date.getHours()) {
                    if (hora.getMinutes() > date.getMinutes()) {
                        timepickerControl.value("");
                    }
                }
            });
        } else {
            timepickerControl.max("23:59");
        }
    }

</script>