@model GuanajuatoAdminUsuarios.Models.IngresoVehiculosModel
<script>
    function validacionHora() {
        var fechaSeleccionadaString = $("#ingreso").val();
        var horaSeleccionada = $("#horaIngreso").val();

        var fechaActual = new Date();
        var fechaSeleccionada = kendo.parseDate(fechaSeleccionadaString, "dd/MM/yyyy");

        var horaMaxima = fechaActual.getHours().toString().padStart(2, '0') + ':' + fechaActual.getMinutes().toString().padStart(2, '0');
        var horaActual = kendo.parseDate(horaMaxima, "HH:mm");

        console.log('Fecha seleccionada (string):', fechaSeleccionadaString);
        console.log('Hora seleccionada (string):', horaSeleccionada);
        console.log('Fecha actual:', fechaActual);
        console.log('Fecha seleccionada (objeto):', fechaSeleccionada);
        console.log('Hora máxima permitida:', horaMaxima);
        console.log('Hora actual (objeto):', horaActual);

        if (fechaSeleccionada && horaSeleccionada) {
            var fechaSeleccionadaSinHora = new Date(fechaSeleccionada);
            fechaSeleccionadaSinHora.setHours(0, 0, 0, 0);

            if (fechaSeleccionadaSinHora.getTime() === fechaActual.setHours(0, 0, 0, 0)) {
                console.log('Estableciendo límite máximo de hora:', horaMaxima);
                $("#horaIngreso").data("kendoTimePicker").max(horaMaxima);
            } else {
                console.log('Removiendo límite máximo de hora.');
                var horaLejana = "23:59";
                $("#horaIngreso").data("kendoTimePicker").max(horaLejana);
            }

            if (fechaSeleccionadaSinHora.getTime() === fechaActual.setHours(0, 0, 0, 0) && kendo.parseDate(horaSeleccionada, "HH:mm") > horaActual) {
                console.log('Ajustando hora seleccionada a la hora actual:', horaActual);
                $("#horaIngreso").data("kendoTimePicker").value(horaActual);
            }
        } else {
            console.log('Fecha o hora no seleccionada.');
            var horaLejana = "23:59";
            $("#horaIngreso").data("kendoTimePicker").max(horaLejana);
        }
    }
    </script>
<div class="mainContainer bg-light">

    <section class="mx-md-3 mx-lg-4 mx-xl-5 bg-white boxShadow my-5 rounded">
        <div class="row align-items-center justify-content-between px-4 px-md-4 pt-3 pb-2">
            <div class="col-12 col-md-6 col-lg-5 col-xl-auto">
                <div class="row align-items-center justify-content-center justify-content-md-start">
                    <div class="col-auto">
                        <div class="border border-2 border-dark rounded-circle">
                          
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="icon-deposito h1 colorPrimary"></i>
                    </div>
                    <div class="col-auto my-3">
                        <h2 class="m-0 h3"><b>Ingreso de Vehículos</b></h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-8 pe-0">
                <div class="bgSuccess py-1"></div>
            </div>
            <div class="col-4 ps-0">
                <div class="bg-light py-1"></div>
            </div>
        </div>
        <div class="col-12 col-md-auto mt-4 mb-2">
            <h5 class="px-4"><b>Busqueda de vehículos</b></h5>
        </div>
        <form id="busquedaIngresoForm" class="row px-4 mb-4 align-items-end">
            <div class="col-12">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                        <div class="controlForm my-3">
                            <label>Marca:</label>
                            @(Html.Kendo().DropDownListFor(t => t.idMarca).Filter(FilterType.Contains)
                                .Label(l => l.Content("Marca:"))
                                .HtmlAttributes(new { style = "width: 100%" })
                                .DataTextField("Text")
                                .DataValueField("Value")
                                .OptionLabel("Selecciona una Marca")
                                .DataSource(source =>
                                {
                                    source.Read(read =>
                                    {
                                        read.Action("Marcas_Drop", "IngresarVehiculo");
                                    });
                                })
                                .Filter(FilterType.Contains)
                                )
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                        <div class="controlForm my-3">
                            @(Html.Kendo().TextBoxFor(t => t.serie)
                                .Label(l => l.Content("No. de serie:"))
                                .Placeholder("Ingresa el número de serie")
                                .HtmlAttributes(new { style = "width: 100%" })
                                )
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                        <div class="controlForm mb-3">
                            <div class="controlForm my-3">
                                @(Html.Kendo().TextBoxFor(t => t.folioInventario)
                                    .Label(l => l.Content("Folio de inventario:"))
                                    .Placeholder("Ingresa el número folio")
                                    .HtmlAttributes(new { style = "width: 100%" })
                                    )
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                <div class="controlForm mb-3">
                    <label>Placas:</label>
                    <span>
                        @(Html.Kendo().DropDownListFor(t => t.placa).Filter(FilterType.Contains)
                            .DataTextField("Text")
                            .DataValueField("Text")
                            .OptionLabel("Seleccione Placa...")
                            .HtmlAttributes(new { style = "width:100%;" })
                            .Filter(FilterType.Contains)
                            .DataSource(source =>
                            {
                                source.Read(read =>
                                {
                                    read.Action("Placas_Read", "IngresarVehiculo");
                                });
                            }))
                    </span>
                </div>
            </div>
        </form>
        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
            <div class="controlButton my-3" onclick="buscarVehiculo()">
                @(Html.Kendo().Button()
                    .Name("buscarVehiculo")
                    .HtmlAttributes(new { @class = "btnPrimary" })
                    .Content("<h5 class=\"m-0\"><b>Buscar</b></h5>"))
            </div>

        </div>
        <partial name="_ListadoDepositos" model="Model" />

    </section>
    <form id="fechaForm">

    <section class="mx-md-3 mx-lg-4 mx-xl-5 bg-white boxShadow my-5 rounded">
        <div class="row">
            <div class="col-12 col-md-7">
                <div class="controlForm my-3 selecciondeFecha">
                    <label>Fecha Ingreso(obligatorio):</label>
                        @(Html.Kendo().DatePickerFor(t => t.fechaIngreso).Max(DateTime.Now)
                        .Label(l => l.Content("Fecha Ingreso:"))
                            .Value("")
                            .Culture("es-ES")
                            .Events(e =>
                            {
                                e.Change("validacionHora");
                            })
                        .Format("dd/MM/yyyy") 
                        .HtmlAttributes(new { style = "width: 45%", id="ingreso" })
                        )            
                </div>
            </div>

                <div class="col-12 col-md-6  col-lg-4">
                    <div class="controlForm my-3">
                        <label>Hora (obligatorio):</label>
                        @(Html.Kendo().TimePickerFor(t => t.horaIngreso).Interval(1)
                            .Label(l => l.Content("Hora:"))
                            .Format("HH:mm")
                            .Events(e =>
											{
												e.Change("validacionHora");
											})
                            .Culture("es-ES")
                            .HtmlAttributes(new
                            {
                                style = "width: 100%",
                                required = "required",
                                id= "horaIngreso"
                            })
                            )
                    </div>
                </div>
        </div>
    </section>
    <section>
        <div id="datosContainer">
            <div style="width: 50%; float: left;">
                <h4 class="colorPrimary"><b>Vehículo</b></h4>
                <p><b>Folio Inventario:</b> <span id="folioInventario">-</span></p>
                <p><b>Modelo:</b> <span id="modelo">-</span></p>
                <p><b>Marca:</b> <span id="marca">-</span></p>
                <p><b>Tipo de Vehículo:</b> <span id="tipoVehiculo">-</span></p>
                <p><b>Color:</b> <span id="color">-</span></p>
            </div>
            <div style="width: 50%; float: left;">
                <h4 class="colorPrimary"><b>Propietario</b></h4>
                <p><b>Nombre:</b> <span id="propietario">-</span></p>
                <h5 class="colorPrimary"><b>Solicitante</b></h5>
                <p><b>Nombre solicitante:</b> <span id="solicitante">-</span></p>
            </div>
            <div style="width: 50%; float: left;">
                <h4 class="colorPrimary"><b>Evento</b></h4>
                <p><b>Servicio:</b> <span id="evento">-</span></p>
                <p><b>Propietario Grua:</b> <span id="propietarioGrua">-</span></p>
                <p><b>Hora Solicitud:</b> <span id="horaSolicitud">-</span></p>
                <p><b>Hora de término:</b> <span id="horaTermino">-</span></p>
            </div>
            <div style="width: 50%; float: left;">
                <h4 class="colorPrimary"><b>Ubicación</b></h4>
                <p><b>Tramo:</b> <span id="tramo">-</span></p>
                <p><b>Carretera:</b> <span id="carretera">-</span></p>
                <p><b>Kilometro:</b> <span id="kilometro">-</span></p>
                <p><b>Colonia:</b> <span id="colonia">-</span></p>
                <p><b>Calle:</b> <span id="calle">-</span></p>
                <p><b>Número:</b> <span id="numero">-</span></p>
                <p><b>Municipio:</b> <span id="municipio">-</span></p>
                <p><b>Intersección:</b> <span id="interseccion">-</span></p>
            </div>
            <div style="clear: both;"></div>
        </div>
        <div id="idDepositoContainer" style="display:none"></div>

    </section>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="controlForm mb-3">
                <label>Anexar Imagenes:</label>
                <span>
                    <input type="file" name="AnexarImagen1" id="AnexarImagen1" required>
                </span>
            </div>
        </div>
    </form>
    <section>

        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
            <div class="controlButton my-3" onclick="guardarDatos()">
                @(Html.Kendo().Button()
                    .Name("guardarData")
                    .HtmlAttributes(new { @class = "btnPrimary" })
                    .Content("<h5 class=\"m-0\"><b>Guardar</b></h5>"))
            </div>

        </div>
    </section>
</div>
<script>

    function buscarVehiculo() {
        var Mydata = $("#busquedaIngresoForm").serialize();
        console.log(Mydata);
        showLoading();
        $.ajax({
            url: '@Url.Action("ajax_BusquedaDepositos", "IngresarVehiculo")',
            type: 'POST',
            data: Mydata,
            success: (data) => {
                var grid = $("#gridBusquedIngresos").data("kendoGrid");
                grid.dataSource.data(data);
                grid.dataSource.page(1);
                hideLoading();
            }, error: function () {
                sitteg_warning("Ocurrio un error al procesar su solicitud.");
                hideLoading();
            }
        });
    }

    function guardarDatos() {
        var fechaIngresoPicker = $("#ingreso").data("kendoDatePicker");
        var horaIngresoPicker = $("#horaIngreso").data("kendoTimePicker");

        var fechaIngreso = fechaIngresoPicker.value();
        var fechaIngresoValidat = fechaIngresoPicker.value();
        var horaIngreso = horaIngresoPicker.value();

        fechaIngreso = fechaIngreso + horaIngreso;

        var dateObj = new Date(fechaIngreso);
        var dateObj2 = new Date(fechaIngreso);

        fechaIngreso = new Date(dateObj.getFullYear() + "-" + dateObj.getMonth() + "-" + dateObj.getDay() + " " + dateObj2.getHours() + ":" + dateObj2.getMinutes() + ":00");


        console.log("fechaIngresoValidat", fechaIngreso);
        console.log("horaIngreso", horaIngreso);

        if (!fechaIngresoValidat && !horaIngreso) {
           // alert("Por favor, seleccione una fecha y hora válida.");
            sitteg_warning("Por favor, seleccione una fecha y hora válida.");
            return;
        }

        var idDepositoText = $("#idDepositoContainer").text();
        var idDeposito = parseInt(idDepositoText, 10);

        var data = {
            idDeposito: idDeposito,
            fechaIngreso: fechaIngreso.toISOString(),
        };

        var formData = new FormData();
        formData.append("data", JSON.stringify(data));  // Aquí se agrega "data" como nombre del campo

        // Obtiene el archivo seleccionado por el usuario
        var fileInput = document.getElementById("AnexarImagen1");
        var file = fileInput.files[0];

        formData.append("AnexarImagen1", file);
        showLoading();
        $.ajax({
            url: '/IngresarVehiculo/ajax_GuardarDatos',
            method: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            success: function (response) {
                sitteg_success("Se ha guardado la información correctamente");
                location.reload();
                hideLoading();
            },
            error: function (error) {
                sitteg_error("Lo sentimos, ha sucedido un error");
                hideLoading();
            }
        });
    }
    function cambiaFecha() {
        var timepickerControl = $("#horaIngreso").data("kendoTimePicker");
        var varFechaInfraccion = kendo.toString(this.value(), 'd');
        var dia = varFechaInfraccion.slice(0, varFechaInfraccion.indexOf("/"));
        varFechaInfraccion = varFechaInfraccion.slice(varFechaInfraccion.indexOf("/") + 1, varFechaInfraccion.length);
        var mes = varFechaInfraccion.slice(0, varFechaInfraccion.indexOf("/"));
        varFechaInfraccion = varFechaInfraccion.slice(varFechaInfraccion.indexOf("/") + 1, varFechaInfraccion.length);
        let date = new Date();

        if (varFechaInfraccion == date.getFullYear() && mes == (date.getMonth() + 1) && dia == date.getDate()) {
            timepickerControl.max(date.getHours() + ":" + date.getMinutes());

            timepickerControl.bind("change", function (e) {
                var hora = timepickerControl.value();
                if (hora != null && hora.getHours() > date.getHours()) {
                    if (hora.getMinutes() > date.getMinutes()) {
                        timepickerControl.value("");
                    }
                }
            });
        } else {
            timepickerControl.max("23:59");
        }
    }

</script>