@model PDFAccidenteDetalladoModel

@{
	Layout = null;
	int contadorVehiculo = 0;
	bool validaPaginas = Model.VehiculosInvolucrados.Count() > 1;
}
<html>
<head>
</head>
<body>
	<div id="accidenteDetallado" class="col-xl-11 col-lg-12 col-md-12 container center">
		<table class="table">
			<thead>
				<tr style="background-color:#e7e7e7">
					<td colspan="8">
						<p class="s3">
							PARTE DE ACCIDENTE
						</p>
					</td>
				</tr>
			</thead>
			@*DATOS*@
			<tr style="background-color:#e7e7e7">
				<td colspan="6"><p class="s1">@Model.ParteNombre</p></td>
				<td colspan="2"><p class="s1">ACC. No.: @Model.ParteAccidente.NumeroReporte</p></td>
			</tr>
			<tr style="background-color:#e7e7e7">
				<td colspan="6"><p class="s1">@Model.PartePuesto</p></td>
				<td colspan="2"><p class="s1">@Model.ParteAccidente.DelegacionOficina LAT: @Model.ParteAccidenteComplemento.Latitud ° LONG: @Model.ParteAccidenteComplemento.Longitud °</p></td>
			</tr>
			<tr style="background-color:#e7e7e7">
				<td colspan="6"><p class="s1">CARR. @Model.ParteAccidente.Carretera KM. @Model.ParteAccidente.Kilometro</p></td>
				<td colspan="2"><p class="s1">HUMBERTO TORRES PESCADOR</p></td>
			</tr>
			<tr style="background-color:#e7e7e7">
				<td colspan="6"><p class="s1">@Model.ParteAccidente.DelegacionOficina , GTO.</p></td>
				<td colspan="2"><p class="s1">DELEGADO DE: @Model.ParteAccidente.DelegacionOficina</p></td>
			</tr>
			@*Columnas*@
			<tr>
				<td><p class="s5">HORA</p></td>
				<td><p class="s5">DÍA</p></td>
				<td><p class="s5">MES</p></td>
				<td><p class="s5">AÑO</p></td>
				<td><p class="s5">DIA DE LA SEMANA</p></td>
				<td><p class="s5">KM.</p></td>
				<td><p class="s5">CAMINO ESTATAL</p></td>
				<td><p class="s5">TRAMO</p></td>
			</tr>
			@*DATOS*@
			<tr>
				<td><p class="s2">@Model.ParteAccidente.Fecha.Value.ToString("hh:ss")</p></td>
				<td><p class="s2">@Model.ParteAccidente.Fecha.Value.ToString("dd")</p></td>
				<td><p class="s2">@Model.ParteAccidente.Fecha.Value.ToString("MM")</p></td>
				<td><p class="s2">@Model.ParteAccidente.Fecha.Value.ToString("yyyy")</p></td>
				<td><p class="s2">@Model.ParteAccidente.Fecha.Value.ToString("dddd").ToUpper()</p></td>
				<td><p class="s2">@Model.ParteAccidente.Kilometro</p></td>
				<td><p class="s2"></p></td>
				<td><p class="s2">@Model.ParteAccidente.Tramo</p></td>
			</tr>
		</table>
		<br /><br />
		@*VEHICULOS*@
		<table class="table">
			<thead>
				<tr style="background-color:#e7e7e7">
					<td colspan="8">
						<p class="s3">
							VEHÍCULOS
						</p>
					</td>
				</tr>
			</thead>
			@foreach (var item in Model.VehiculosInvolucrados)
			{
				contadorVehiculo++;
				@*Columnas*@
				<tr>
					<td style="background-color:azure" rowspan="2"><p class="s3">VEH.@contadorVehiculo</p></td>
					<td><p class="s5">TIPO</p></td>
					<td><p class="s5">MARCA</p></td>
					<td><p class="s5">SUBMARCA</p></td>
					<td><p class="s5">MODEL</p></td>
					<td><p class="s5">COLOR</p></td>
					<td><p class="s5">No. DE SERIE</p></td>
					<td><p class="s5">PLACAS</p></td>
				</tr>
				@*Datos*@
				<tr>
					<td><p class="s2">@item.Tipo</p></td>
					<td><p class="s2">@item.Marca</p></td>
					<td><p class="s2">@item.Submarca</p></td>
					<td><p class="s2">@item.Modelo</p></td>
					<td><p class="s2">@item.Color</p></td>
					<td><p class="s2">@item.Serie</p></td>
					<td><p class="s2">@item.Placa</p></td>
				</tr>
				@*Columnas*@
				<tr>
					<td colspan="3"><p class="s5">TARJETA CIRCULACIÓN</p></td>
					<td><p class="s5">VIGENCIA</p></td>
					<td><p class="s5">ENTIDAD</p></td>
					<td><p class="s5">CAPACIDAD</p></td>
					<td><p class="s5">No. ECON.</p></td>
					<td><p class="s5">PÓLIZA CARGA</p></td>
				</tr>
				@*Datos*@
				<tr>
					<td colspan="3"><p class="s2">@item.Tarjeta</p></td>
					<td><p class="s2">@item.vigenciaLicencia.ToString("dd/MM/yyyy")</p></td>
					<td><p class="s2">@item.Entidad</p></td>
					<td><p class="s2">@item.Capacidad</p></td>
					<td><p class="s2">@item.NumeroEconomico</p></td>
					<td><p class="s2">@item.Poliza</p></td>
				</tr>
				@*Columnas*@
				<tr>
					<td colspan="3"><p class="s5">TIPO DE SERVICIO</p></td>
					<td><p class="s5">PROPIETARIO O EMPRESA</p></td>
					<td colspan="4"><p class="s5">DOMICILIO PROP.</p></td>
				</tr>
				@*Datos*@
				<tr>
					<td colspan="3"><p class="s2">@item.TipoServicio</p></td>
					<td><p class="s2">@item.Propietario</p></td>
					<td colspan="4"><p class="s2">@item.Direccion</p></td>
				</tr>
				@*Columnas*@
				<tr>
					<td colspan="3"><p class="s5">CONDUCTOR</p></td>
					<td colspan="3"><p class="s5">DOMICILIO COND.</p></td>
					<td><p class="s5">EDAD</p></td>
					<td><p class="s5">SEXO</p></td>
				</tr>
				@*Datos*@
				<tr>
					<td colspan="3"><p class="s2">@item.ConductorInvolucrado</p></td>
					<td colspan="3"><p class="s2">-------</p></td>
					<td><p class="s2">@(DateTime.Now.Year - item.dateNacimiento.Year)</p></td>
					<td><p class="s2">@item.Sexo</p></td>
				</tr>
				@*Columnas*@
				<tr>
					<td colspan="2"><p class="s5">FECHA DE NAC.</p></td>
					<td colspan="2"><p class="s5">TIPO DE LICENCIA</p></td>
					<td><p class="s5">No. DE LICENCIA</p></td>
					<td colspan="3"><p class="s5">VENCIMIENTO DE LIC.</p></td>
				</tr>
				@*Datos*@
				<tr>
					<td colspan="2"><p class="s2">@item.FechaNacimientoFormateada</p></td>
					<td colspan="2"><p class="s2">@item.TipoLicencia</p></td>
					<td><p class="s2">@item.numeroLicencia</p></td>
					<td colspan="3"><p class="s2">@item.vigenciaLicencia.ToString("dd/MM/yyyy")</p></td>
				</tr>
			}
		</table>
		<br /><br />
		<table class="table">
			<thead>
				<tr style="background-color:#e7e7e7">
					<td>
						<p class="s3">
							CLASIFICACIÓN DEL ACCIDENTE
						</p>
					</td>
				</tr>
			</thead>
			@*Datos*@
			@foreach (var item in Model.Clasificaciones)
			{
				<tr>
					<td><p class="s2">@item.NombreClasificacion</p></td>
				</tr>
			}
		</table>
		<br /><br />
		<table class="table">
			<thead>
				<tr style="background-color:#e7e7e7">
					<td colspan="2">
						<p class="s3">
							FACTORES QUE INTERVINIERON
						</p>
					</td>
				</tr>
			</thead>
			<tr>
				<td><p class="s5">FACTOR</p></td>
				<td>
					<p class="s5">OPCIÓN</p>
				</td>
			</tr>
			@foreach (var item in Model.Factores)
			{
				<tr>
					<td><p class="s2">@item.FactorAccidente</p></td>
					<td><p class="s2">@item.FactorOpcionAccidente</p></td>
				</tr>
			}
		</table>
		<br /><br />
		<table class="table">
			<thead>
				<tr style="background-color:#e7e7e7">
					<td>
						<p class="s3">
							CAUSAS DETERMINANTES
						</p>
					</td>
				</tr>
			</thead>
			<tbody>
			@foreach (var item in Model.CausasDeterminantes)
			{
				<tr>
					<td><p class="s5">@item.CausaAccidente</p></td>
				</tr>
				<tr>
					<td><p class="s2">@(string.IsNullOrEmpty(item.DescripcionCausa) ? "S/C" : item.DescripcionCausa)</p></td>
				</tr>
			}
			</tbody>
		</table>
		<br /><br />
		<table class="table">
			<thead>
				<tr style="background-color:#e7e7e7">
					<td colspan="8">
						<p class="s3">
							VICTIMAS
						</p>
					</td>
				</tr>
			</thead>
			<tr>
				<td><p class="s5">VEH.</p></td>
				<td><p class="s5">TIPO</p></td>
				<td><p class="s5">NOMBRE</p></td>
				<td><p class="s5">SEXO</p></td>
				<td><p class="s5">EDAD</p></td>
				<td><p class="s5">DOMICILIO</p></td>
				<td><p class="s5">ESTADO</p></td>
				<td><p class="s5">LLEVADO A</p></td>
			</tr>
			@{
				contadorVehiculo = 0;
			}
			@foreach (var item in Model.VehiculosInvolucrados)
			{
				contadorVehiculo++;
				<tr>
					<td><p class="s2">@contadorVehiculo</p></td>
					<td><p class="s2">@item.Tipo</p></td>
					<td><p class="s2">@item.ConductorInvolucrado</p></td>
					<td><p class="s2">@item.Sexo</p></td>
					<td><p class="s2">@(DateTime.Now.Year - item.dateNacimiento.Year)</p></td>
					<td><p class="s2">@item.Direccion</p></td>
					<td><p class="s2">@item.Estado</p></td>
					<td><p class="s2">@item.LLevadoA</p></td>
				</tr>
			}
			<tr>
				<td><p class="s5">TOTAL DE LESIONADOS</p></td>
				<td><p class="s2">0</p></td>
				<td colspan="2"><p class="s5">TOTAL DE MUERTOS</p></td>
				<td><p class="s2">0</p></td>
				<td><p class="s5">TOTAL SIN LESIÓN</p></td>
				<td><p class="s2">0</p></td>
			</tr>
		</table>
		<br /><br />
		<table class="table">
			<thead>
				<tr style="background-color:#e7e7e7">
					<td colspan="8">
						<p class="s3">
							DAÑOS MATERIALES
						</p>
					</td>
				</tr>
			</thead>
			<tr>
				<td><p class="s5">VEH.</p></td>
				<td><p class="s5">PLACAS</p></td>
				<td><p class="s5">SERIE</p></td>
				<td><p class="s5">MARCA</p></td>
				<td><p class="s5">SUBMARCA</p></td>
				<td><p class="s5">TIPO</p></td>
				<td><p class="s5">COLOR</p></td>
				<td><p class="s5">MONTO DAÑOS</p></td>
			</tr>
			@{
				contadorVehiculo = 0;
			}
			@foreach (var item in Model.VehiculosInvolucrados)
			{
				contadorVehiculo++;
				<tr>
					<td><p class="s2">@contadorVehiculo</p></td>
					<td><p class="s2">@item.Placa</p></td>
					<td><p class="s2">@item.Serie</p></td>
					<td><p class="s2">@item.Marca</p></td>
					<td><p class="s2">@item.Submarca</p></td>
					<td><p class="s2">@item.Tipo</p></td>
					<td><p class="s2">@item.Color</p></td>
					<td><p class="s2">@(String.Format("{0:C}", item.montoVehiculo))</p></td>
				</tr>
			}
			<tr>
				<td colspan="6"><p><br /><br /></p></td>
				<td><p class="s5">TOTAL DE DAÑOS A VEHÍCULOS:</p></td>
				<td><p class="s2">@(String.Format("{0:C}", Model.VehiculosInvolucrados.Sum(s => s.montoVehiculo)))</p></td>
			</tr>
			<tr>
				<td><p class="s5">DAÑOS AL CAMINO:</p></td>
				<td><p class="s2">@(String.Format("{0:C}", Model.ParteAccidente.montoCamino))</p></td>
				<td><p class="s5">DAÑOS A LA CARGA:</p></td>
				<td><p class="s2">@(String.Format("{0:C}", Model.ParteAccidente.montoCarga))</p></td>
				<td><p class="s5">DAÑOS PROPIETARIOS:</p></td>
				<td><p class="s2">@(String.Format("{0:C}", Model.ParteAccidente.montoPropietarios))</p></td>
				<td><p class="s5">OTROS DAÑOS:</p></td>
				<td><p class="s2">@(String.Format("{0:C}", Model.ParteAccidente.montoOtros))</p></td>
			</tr>
		</table>
		<br /><br />
		<table class="table">
			<thead>
				<tr style="background-color:#e7e7e7">
					<td colspan="3">
						<p class="s3">
							INFRACCIONES
						</p>
					</td>
				</tr>
			</thead>
			@{
				contadorVehiculo = 0;
			}
			@foreach (var item in Model.Infracciones)
			{
				contadorVehiculo++;
				<tr>
					<td><p class="s5">VEH.</p></td>
					<td><p class="s5">No. DE FOLIO Y GARANTÍA</p></td>
					<td><p class="s5">CONCEPTO</p></td>
				</tr>
				<tr>
					<td><p class="s2">@contadorVehiculo</p></td>
					<td><p class="s2">@item.folioInfraccion</p></td>
					<td><p class="s2">---</p></td>
				</tr>
			}
		</table>
		<br /><br />
		<table class="table">
			<thead>
				<tr style="background-color:#e7e7e7">
					<td colspan="8">
						<p class="s3">
							COMPETENCIA MINISTERIAL
						</p>
					</td>
				</tr>
			</thead>
			<tr>
				<td colspan="2"><p class="text-start s5">A DISPOSICIÓN DE:</p></td>
				<td colspan="2"><p class="s2">@Model.ADisposicion</p></td>
				<td colspan="2"><p class="text-start s5">ENTREGADO A:</p></td>
				<td colspan="2"><p class="s2">-</p></td>
			</tr>
			<tr>
				<td colspan="2"><p class="text-start s5">PROCEDE LA CONSIGNACIÓN DE LOS HECHOS AL C:</p></td>
				<td colspan="2"><p class="s2">-</p></td>
				<td colspan="2"><p class="text-start s5">CON SEDE:</p></td>
				<td colspan="2"><p class="s2">-</p></td>
			</tr>
			<tr>
				<td colspan="2"><p class="text-start s5">CONVENIO:</p></td>
				<td colspan="2"><p class="s2">NO</p></td>
				<td colspan="2"><p class="text-start s5">OBSERVACIONES CONVENIO:</p></td>
				<td colspan="2"><p><br /><br /></p></td>
			</tr>
		</table>
		<br /><br />
		<table class="table">
			<thead>
				<tr style="background-color:#e7e7e7">
					<td colspan="4">
						<p class="s3">
							CONSIGNACIÓN
						</p>
					</td>
				</tr>
			</thead>
			<tr>
				<td><p class="s5">ELABORA CONSIGNACIÓN:</p></td>
				<td><p class="s2">-</p></td>
				<td><p class="s5">No. DE OFICIO:</p></td>
				<td><p class="s2">-</p></td>
			</tr>
			<tr>
				<td><p class="s5">AGENCIA DE MINISTERIO QUE RECIBE:</p></td>
				<td><p class="s2">-</p></td>
				<td><p class="s5">RECIBE:</p></td>
				<td><p class="s2">-</p></td>
			</tr>
		</table>
		<br /><br />
		<table class="table">
			<thead>
				<tr style="background-color:#e7e7e7">
					<td colspan="2">
						<p class="s3">
							VALIDACIÓN DEL PARTE DE ACCIDENTE
						</p>
					</td>
				</tr>
			</thead>
			<tr>
				<td><p class="text-end s5">ELABORA:</p></td>
				<td><p class="s2">ADRIAN LÓPEZ CARDONA</p></td>
			</tr>
			<tr>
				<td><p class="text-end s5">SUPERVISOR:</p></td>
				<td><p class="s2">JORGE RODRIGUEZ SANTIBAÑEZ</p></td>
			</tr>
			<tr>
				<td><p class="text-end s5">AUTORIZA:</p></td>
				<td><p class="s2">JORGE RODRIGUEZ SANTIBAÑEZ</p></td>
			</tr>
		</table>
		<br /><br />
		<div class="text-center">
			<h1>RESPETUOSAMENTE OFICIAL DE TRANSITO DEL ESTADO</h1>
			<br /><br />
			<div class="d-flex justify-content-center middle"><hr /></div>
		</div>
		<div class="row">
			<div class="col-md-6 col-md-offset-2">
				<div class="text-end">
					<div class="text-center">
						<h1>SUPERVISÓ </h1>
						<h1>JEFE DE SERVICIOS</h1>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-md-offset-2">
				<div class="text-end">
					<div class="text-center">
						<h1>Vo. Bo. </h1>
						<h1>EL DELEGADO</h1>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<br /><br />
				<div class="d-flex justify-content-center lateral"><hr /></div>
			</div>
			<div class="col-md-6">
				<br /><br />
				<div class="d-flex justify-content-center lateral"><hr /></div>
			</div>
		</div>
	</div>
</body>
</html>