@model GuanajuatoAdminUsuarios.Models.SolicitudDepositoModel
        
<div class="mainContainer bg-light">
    <section class="mx-md-3 mx-lg-4 mx-xl-5 bg-white boxShadow my-5 rounded">
            @if (Model?.idSolicitud > 0)
            {
                <input type="hidden" name="Isol" value="@Model.idSolicitud" />
            }

        <div class="row align-items-center justify-content-between px-4 px-md-4 pt-3 pb-2">
            <div class="col-12 col-md-6 col-lg-5 col-xl-auto pe-0">
                <div class="row align-items-center justify-content-center justify-content-md-start">
                    <div class="col-auto">
                        <div class="border border-2 border-dark rounded-circle">
                            <h5 class="m-0 numberCard d-flex align-items-center justify-content-center">
                                <b>1</b>
                            </h5>
                        </div>
                    </div>
                    <div class="col-auto p-0">
                        <i class="icon-deposito h1 colorPrimary"></i>
                    </div>
                    <div class="col-auto my-3">
                        <h2 class="m-0 h3"><b>Registro de solicitud de depósito</b></h2>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="row">
            <div class="col-7 pe-0">
                <div class="bgSuccess py-1"></div>
            </div>
            <div class="col-5 ps-0">
                <div class="bg-light py-1"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 my-4">
                <h5 class="px-4"><b>Solicitud de depósito</b></h5>
                <h6 class="px-4 text-muted">Se registran los datos referentes al evento como fecha,  tipo de servicio y pensión.</h6>
            </div>
        </div>
        <div class="row px-4 mb-2 align-items-start">
            <div class="col-12 col-sm-12 col-md-4 col-lg-auto">
                <div class="controlForm mb-3 my-3">
                    <label class="text-muted">Folio de depósito:</label>
                    <label>-</label>
                </div>
            </div>
<div class="col border bg-light rounded">
                <div class="row align-items-end justify-content-center">
                    <div class="col-12 col-md-12 col-lg-12 col-xl-4 align-self-center mt-4 mb-1">
                        <h5><b>Importa datos iniciales desde una infracción ya existente</b></h5>
                    </div>
                        <div class="col-12 col-md-6 col-lg-6 col-xl-4">
                        <form id="busquedaInfForm">
                            <div class="controlForm my-3">
                                @(Html.Kendo().TextBoxFor(t=> t.folioBusquedaInfraccion)
                                .Label(l => l.Content("Folio de infracción:"))
                                .Placeholder("Ingrese el folio de la infracción")
                                .HtmlAttributes(new { style = "width: 100%" })
                                )
                            </div>
                        </form>
                        </div>
                    <div class="col-12 col-md-6 col-lg-6 col-xl-4 btnOutline btnOutlinePrimary my-3 text-center">
                        <button  data-bs-toggle="modal" data-bs-target="#"onclick="buscarInfraccion()">
                            <h6 class="m-0"><i class="icon-infracion me-2"></i><b>Importar datos de infración</b></h6>
                        </button>
                    </div>
                </div>
                
            </div>            </div>
      <form id="solicitudForm">
        <div class="row px-4 mt-3 mb-2 align-items-end">
            <div class="col-12 col-md-6 col-lg-6 col-xl-3">
                <div class="controlForm my-3">
                    <label>Fecha <b>(obligatorio)</b>:</label>
                    @(Html.Kendo().DateTimePickerFor(t=>t.fechaSolicitud)
                        .Value(DateTime.Now)
                            .HtmlAttributes(new { style = "width: 100%", title = "datepicker", required = "required" })
                        .DateInput()
                    )
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                <div class="controlForm my-3">
                    <label>Tipo de vehículo <b>(obligatorio)</b>:</label>
                    <span>
                        @(Html.Kendo().DropDownListFor(t => t.idTipoVehiculo)
                            .Label(l => l.Content("Tipo Vehículo:"))
                            .DataTextField("Text")
                            .DataValueField("Value")
                            .OptionLabel("Selecciona el tipo de Vehículo")
                            .DataSource(source =>
                            {
                                source.Read(read =>
                                {
                                    read.Action("TiposVehiculos_Drop", "Depositos");
                                });
                            })
                                .HtmlAttributes(new { style = "width:100%;", Id = "ddlDelegaciones", required = "required" })
                            )
                    </span>

                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                <div class="controlForm my-3">
                    <label>Propietario de grúa:</label>
                    <span>
                        @(Html.Kendo().DropDownListFor(t=>t.idConcecionario)
                                    .Label(l => l.Content("Propietario Grúa:"))
                                    .DataTextField("Text")
                                    .DataValueField("Value")
                                    .OptionLabel("Selecciona un propietario")
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                        read.Action("Concecionarios_Drop", "Depositos");
                                        });
                                    })
                                    .HtmlAttributes(new { style = "width:100%;", Id = "ddlPropietarios" })
                                    )
                    </span>

                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                <div class="controlForm my-3">
                    <label>Oficial/Inspector <b>(obligatorio)</b>:</label>
                    <span>
                        @(Html.Kendo().DropDownListFor(m => m.idOficial)
                            .DataTextField("Text")
                            .DataValueField("Value")
                            .OptionLabel("Selecciona una opción")
                            .DataSource(source =>
                            {
                                source.Read(read =>
                                {
                                    read.Action("Oficiales_Drop", "Depositos");
                                });
                            })
                                .HtmlAttributes(new { style = "width:100%;", required = "required" })
                            )
                    </span>

                </div>
            </div>

        </div>
     <div class="row px-4 mt-3 mb-2 align-items-end">
            <div class="col-6">
                <div class="controlForm">
                    <label>Descripción del evento <b>(obligatorio)</b>:</label>
                        <span>
                            @(Html.Kendo().DropDownListFor(t => t.idDescripcionEvento)
                                .DataTextField("Text")
                            .DataValueField("Value")
                            .OptionLabel("Selecciona una opción")
                            .DataSource(source =>
                            {
                                source.Read(read =>
                                {
                            read.Action("Descripcion_Drop", "Depositos");
                                });
                            })
                        .HtmlAttributes(new { style = "width:40%;", required = "required" })
                            )
                        </span>

                 </div>
             </div>                   
            <div class="col-6">
                <div class="controlForm my-3">
                    <label>Tipo de usuario <b>(obligatorio)</b>:</label>
                        <span>
                            @(Html.Kendo().DropDownListFor(m => m.idTipoUsuario)
                                .DataTextField("Text")
                                .DataValueField("Value")
                                .OptionLabel("Selecciona una opción")
                                .DataSource(source =>
                                {
                                    source.Read(read =>
                                    {
                                        read.Action("TiposUsuario_Drop", "Depositos");
                                    });
                                })
                                .HtmlAttributes(new { style = "width:40%;", required = "required" })
                                )
                        </span>
                </div>   
            </div>
        </div>
        <div class="row px-4 align-items-end">
            <div class="col-12 mt-4 controlForm">
                <label>Solicita:</label>
            </div>
        </div>
            <nav class="tabCustom">
                <div class="nav nav-tabs row mx-0" id="nav-tab" role="tablist">
                    <button class="nav-link active col" id="usuario-tab" data-bs-toggle="tab" data-bs-target="#usuario" type="button" role="tab" aria-controls="usuario-moral" aria-selected="true">
                        <div class="row justify-content-center align-items-center px-3 py-2">
                            <div class="col-auto radioCustom p-0">
                                <div class="rounded-circle m-2"></div>
                            </div>
                            <div class="col-auto p-0">
                                <h5 class="m-0"><i class="icon-fisica h4 m-0"></i> <b>Usuario</b></h5>
                            </div>
                        </div>
                    </button>
                    <button class="nav-link col" id="oficial-tab" data-bs-toggle="tab" data-bs-target="#oficial" type="button" role="tab" aria-controls="oficial" aria-selected="false">
                        <div class="row justify-content-center align-items-center px-3 py-2">
                            <div class="col-auto radioCustom p-0">
                                <div class="rounded-circle m-2"></div>
                            </div>
                            <div class="col-auto p-0">
                                <h5 class="m-0"><i class="icon-oficial h4 m-0"></i> <b>Oficial</b></h5>
                            </div>
                        </div>
                    </button>

                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">

                <div class="tab-pane tabCustomConteiner fade show active" id="usuario" role="tabpanel" aria-labelledby="-tab">
                    <div class="row px-4 mt-4 py-5 justify-content-center">
                        <div class="col-12 col-md-10 mx-md-auto text-center">
                            <h3><b>Datos del solicitante</b></h3>
                            <div class="row mt-4 justify-content-around align-items-end">
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="controlForm my-3">
                                        @(Html.Kendo().TextBoxFor(t=>t.nombreUsuario)
                                                        .Label(l => l.Content("Nombre(s) solicitante <b>(obligatorio)</b>:"))
                                                        .Placeholder("Ingrese el nombre(s) del solicitante")
                                                        .HtmlAttributes(new { style = "width: 100%" })
                                                    )

                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="controlForm my-3">
                                        @(Html.Kendo().TextBoxFor(t=>t.apellidoPaternoUsuario)
                                                        .Label(l => l.Content("Apellido paterno <b>(obligatorio)</b>:"))
                                                        .Placeholder("Ingresa el apellido paterno del solicitante")
                                                        .HtmlAttributes(new { style = "width: 100%" })
                                                    )

                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="controlForm my-3">
                                        @(Html.Kendo().TextBoxFor(t => t.apellidoMaternoUsuario)
                                                        .Label(l => l.Content("Apellido materno <b>(obligatorio)</b>:"))
                                                        .Placeholder("Ingresa el apellido materno del solicitante")
                                                        .HtmlAttributes(new { style = "width: 100%" })
                                                    )

                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="controlForm my-3">
                                        @(Html.Kendo().TextBoxFor(t=>t.coloniaUsuario)
                                                        .Label(l => l.Content("Colonia/Localidad:"))
                                                        .Placeholder("Ingresa la colonia / localidad del solicitante")
                                                        .HtmlAttributes(new { style = "width: 100%" })
                                                    )

                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="controlForm my-3">
                                        @(Html.Kendo().TextBoxFor(t=>t.calleUsuario)
                                                        .Label(l => l.Content("Calle:"))
                                                        .Placeholder("Ingresa la calle del solicitante")
                                                        .HtmlAttributes(new { style = "width: 100%" })
                                                    )

                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="controlForm my-3">
                                        @(Html.Kendo().TextBoxFor(t=>t.numeroUsuario)
                                                        .Label(l => l.Content("Número:"))
                                                        .Placeholder("Ingresa el número del solicitante")
                                                        .HtmlAttributes(new { style = "width: 100%" })
                                                    )

                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="controlForm my-3">
                                        <label>Entidad:</label>
                                        <span>
                                            @(Html.Kendo().DropDownListFor(m => m.idEntidad)
                                                .DataTextField("Text")
                                                .DataValueField("Value")
                                                .OptionLabel("Selecciona una opción")
                                                .Events(e => e.Change("EntidadDropDownChange"))
                                                .DataSource(source =>
                                                {
                                                    source.Read(read =>
                                                    {
                                                      read.Action("Entidades_Drop", "Depositos");
                                                    });
                                                })
                                                .HtmlAttributes(new { style = "width:100%;" })
                                                )
                                        </span>

                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="controlForm my-3">
                                        <label>Municipio <b>(obligatorio)</b>:</label>
                                        <span>
                                            @(Html.Kendo().DropDownListFor(t => t.idMunicipio)
                                                .DataTextField("Text")
                                                .DataValueField("Value")
                                                .OptionLabel("Selecciona un Municipio")
                                                .DataSource(source =>
                                                {
                                                    source.Read(read =>
                                                    {
                                                        read.Action("Municipios_Drop", "Depositos");
                                                    });
                                                })
                                                .HtmlAttributes(new { style = "width:100%;" })
                                                )
                                        </span>

                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="controlForm my-3">
                                        @(Html.Kendo().TextBoxFor(t=>t.telefonoUsuario)
                                                        .Label(l => l.Content("Teléfono:"))
                                                        .Placeholder("Ingresa el teléfono del solicitante")
                                                        .HtmlAttributes(new { style = "width: 100%" })
                                                    )

                                    </div>
                                </div>
                                
                            </div>
                          </div>
                        </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="tabCustomEnd"></div>
                        </div>
                    </div>
                </div>


                <div class="tab-pane tabCustomConteiner fade" id="oficial" role="tabpanel" aria-labelledby="oficial-tab">
                    <div class="row px-4 mt-4 py-5 align-items-end">
                        <div class="col-12 col-md-10 mx-md-auto text-center">
                            <h3><b>Selecciona un motivo de asignación</b></h3>
                            <div class="row px-4 mb-4 align-items-center justify-content-center">
                                <div class="col-12 col-md-8 col-xl-4">
                                    <div class="controlForm my-3">
                                        <label>Motivo de asignación <b>(obligatorio)</b>:</label>
                                        <span>
                                            @(Html.Kendo().DropDownListFor(t=>t.idMotivoAsignacion)
                                                      .DataTextField("Text")
                                                .DataValueField("Value")
                                                .OptionLabel("Selecciona un Motivo de asignación")
                                                .DataSource(source =>
                                                {
                                                    source.Read(read =>
                                                    {
                                                        read.Action("Motivos_Drop", "Depositos");
                                                    });
                                                })
                                                .HtmlAttributes(new { style = "width:100%;" })
                                                )
                                        </span>
                                    </div>
                                </div>
                            </div>

                           
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="tabCustomEnd"></div>
                        </div>
                    </div>
                </div>
            </div>

        <div class="row align-items-center justify-content-between px-4 px-md-4 pt-3 pb-2">
            <div class="col-12 col-md-auto">
                <div class="row align-items-center justify-content-center justify-content-md-start">
                    <div class="col-auto">
                        <div class="border border-2 border-dark rounded-circle">
                            <h5 class="m-0 numberCard d-flex align-items-center justify-content-center">
                                <b>2</b>
                            </h5>
                        </div>
                    </div>
                    <div class="col-auto p-0">
                        <i class="icon-ubicacion h1 colorPrimary"></i>
                    </div>
                    <div class="col-auto my-3">
                        <h2 class="m-0 h3"><b>Ubicación donde se recoge el vehículo</b></h2>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-8 pe-0">
                <div class="bgSuccess py-1"></div>
            </div>
            <div class="col-4 ps-0">
                <div class="bg-light py-1"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 my-4">
                <h5 class="px-4"><b>Datos complementarios</b></h5>
                <h6 class="px-4 text-muted">Completa los datos solicitados para la ubicación de recolección.</h6>
            </div>
        </div>
            <div class="row justify-content-around align-items-end px-4">
                <div class="col-12 col-md-6 col-lg-2">
                    <div class="controlForm my-3">
                        @Html.HiddenFor(t=>t.idSolicitud)
                        @(Html.Kendo().TextBoxFor(t => t.numeroUbicacion)
                            .Label(l => l.Content("Número:"))
                            .Placeholder("Número de recoleción")
                            .HtmlAttributes(new { style = "width: 100%" })
                            )

                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="controlForm my-3">
                        @(Html.Kendo().TextBoxFor(t => t.calleUbicacion)
                            .Label(l => l.Content("Calle:"))
                            .Placeholder("Ingrese la calle de recoleción")
                            .HtmlAttributes(new { style = "width: 100%" })
                            )

                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4">
                    <div class="controlForm my-3">
                        @(Html.Kendo().TextBoxFor(t => t.coloniaUbicacion)
                            .Label(l => l.Content("Colonia:"))
                            .Placeholder("Ingrese la colonia de recoleción")
                            .HtmlAttributes(new { style = "width: 100%" })
                            )

                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-2">
                    <div class="controlForm my-3">
                        @(Html.Kendo().TextBoxFor(t => t.kilometroUbicacion)
                            .Label(l => l.Content("Kilómetro:"))
                            .Placeholder("Kilómetro de recoleción")
                            .HtmlAttributes(new { style = "width: 100%" })
                            )

                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="controlForm my-3">
                        <label>Carretera <b>(obligatorio)</b>:</label>
                        <span>
                            @(Html.Kendo().DropDownListFor(t => t.IdCarretera)
                                .Label(l => l.Content("Carretera <b>(obligatorio)</b>:"))
                                .DataTextField("Text")
                                .DataValueField("Value")
                                .OptionLabel("Selecciona una Carretera")
                                .Events(e => e.Change("carreteraDropDownChange"))
                                .DataSource(source =>
                                {
                                    source.Read(read =>
                                    {
                                        read.Action("Carreteras_Drop", "Depositos");
                                    });
                                })
                                )
                        </span>

                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4">
                    <div class="controlForm my-3">
                        <label>Tramo <b>(obligatorio)</b>:</label>
                        <span>
                            @(Html.Kendo().DropDownListFor(t => t.IdTramo)
                                .Label(l => l.Content("Tramo <b>(obligatorio)</b>:"))
                                .DataTextField("Text")
                                .DataValueField("Value")
                                .OptionLabel("Selecciona un Tramo")
                                .DataSource(source =>
                                {
                                    source.Read(read =>
                                    {
                                        read.Action("Tramos_Drop", "Depositos");
                                    });
                                })
                                .HtmlAttributes(new { style = "width:100%;" })
                                .Filter(FilterType.Contains)
                                )
                        </span>

                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4">
                    <div class="controlForm my-3">
                        <label>Entidad:</label>
                        <span>
                            @(Html.Kendo().DropDownListFor(m => m.idEntidadUbicacion)
                                .DataTextField("Text")
                                .DataValueField("Value")
                                .OptionLabel("Selecciona una opción")
                                .Events(e => e.Change("EntidadDropDownChange2"))
                                .DataSource(source =>
                                {
                                    source.Read(read =>
                                    {
                                        read.Action("Entidades_Drop", "Depositos");
                                    });
                                })
                                .HtmlAttributes(new { style = "width:100%;" })
                                )
                        </span>

                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4">
                    <div class="controlForm my-3">
                        <label>Municipio <b>(obligatorio)</b>:</label>
                        <span>
                            @(Html.Kendo().DropDownListFor(t => t.idMunicipioUbicacion)
                                .DataTextField("Text")
                                .DataValueField("Value")
                                .OptionLabel("Selecciona un Municipio")
                                .DataSource(source =>
                                {
                                    source.Read(read =>
                                    {
                                        read.Action("Municipios_Drop", "Depositos");
                                    });
                                })
                                .HtmlAttributes(new { style = "width:100%;" })
                                )
                        </span>

                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="controlForm my-3">
                        <label>Pensión <b>(obligatorio)</b>:</label>
                        <span>
                            @(Html.Kendo().DropDownListFor(t => t.idPensionUbicacion)
                                .DataTextField("Text")
                                .DataValueField("Value")
                                .OptionLabel("Selecciona una Pensión")
                                .DataSource(source =>
                                {
                                    source.Read(read =>
                                    {
                                        read.Action("Pensiones_Drop", "Depositos");
                                    });
                                })
                                .HtmlAttributes(new { style = "width:100%;" })
                                )
                        </span>

                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="controlForm my-3">
                        @(Html.Kendo().TextBoxFor(t => t.interseccion)
                            .Label(l => l.Content("Intersección:"))
                            .Placeholder("Ingrese la intersección de recoleción")
                            .HtmlAttributes(new { style = "width: 100%" })
                            )

                    </div>
                </div>
            </div>
        </form>
        <div class="row ">
            <div class="col-12 col-md-8 mx-md-auto col-lg-5 ">
                <div class="controlButton my-3" onclick="enviarSolicitud()">
                    @(Html.Kendo().Button()
                        .Name("addVehiculoBtn")
                        .HtmlAttributes(new { @class = "btnPrimary" })
                        .Content("<h5 class=\"m-0\"><b>Finalizar registro</b></h5>"))
                </div>
            </div>
        </div>


    </section>
    <div class="modal fade" id="solicitudModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Nueva solicitud guardada</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Solicitud guardada correctamente con el folio <span id="folioPlaceholder"></span>.</p> 
                    <br />
                    <br />
                    <p><b>Para completar la solicitud de depósito debe llenar información del vehículo depositado y grúas asignadas si las hubo.</b></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="goToAsignacion">Ir a asignación de grúas</button>
                </div>
            </div>
        </div>
    </div>

</div>


<script>

    function EntidadDropDownChange() {
        var entidadDDlValue = $("#idEntidad").data("kendoDropDownList").value();


        $.ajax({
            url: "/Depositos/Municipios_Drop",
            type: "POST",
            data: { entidadDDlValue: entidadDDlValue },
            success: function (data) {
                var MunicipiosDropDown = $("#idMunicipio").data("kendoDropDownList");
                MunicipiosDropDown.dataSource.data(data);
            },
            error: function (xhr, status, error) {
            }
        });
    }

    function enviarSolicitud(){
        var validator = $("#solicitudForm").kendoValidator().data('kendoValidator');
        validator.validate();

        if (validator.validate()) {
            var Mydata = $("#solicitudForm").serialize();
            console.log(Mydata);

            $.ajax({
                url: '/Depositos/ajax_EnviarSolicitudDeposito',
                type: 'GET',
                data: Mydata,
                success: function (data) {
                    $("#folioPlaceholder").text(data);
                    $("#solicitudModal").modal('show');
                },
                error: function () {
                    sitteg_warning("Ocurrió un error, inténtelo de nuevo más tarde");
                }
            });
        } else {
            sitteg_info('Debe llenar los campos requeridos');
            return;

        }
     }
    $("#goToAsignacion").on("click", function () {
        window.location.href = "/AsignacionGruas/Index";
    });

    function carreteraDropDownChange() {
        var carreteraDDValue = $("#IdCarretera").data("kendoDropDownList").value();


        $.ajax({
            url: "/Depositos/Tramos_Drop",
            type: "POST",
            data: { carreteraDDValue: carreteraDDValue },
            success: function (data) {
                var TramosDropDown = $("#IdTramo").data("kendoDropDownList");
                TramosDropDown.dataSource.data(data);
            },
            error: function (xhr, status, error) {
            }
        });
    }

    function EntidadDropDownChange2() {
        var entidadDDlValue = $("#idEntidadUbicacion").data("kendoDropDownList").value();


        $.ajax({
            url: "/Depositos/Municipios_Drop",
            type: "POST",
            data: { entidadDDlValue: entidadDDlValue },
            success: function (data) {
                var MunicipiosDropDown = $("#idMunicipioUbicacion").data("kendoDropDownList");
                MunicipiosDropDown.dataSource.data(data);
            },
            error: function (xhr, status, error) {
            }
        });
    }

    function editarSolicitud(elementoBoton) {
        var idSolicitud = elementoBoton.getAttribute('data-idSolicitud');

        window.location.href = "/Depositos/Depositos?Isol=" + idSolicitud;
    }

    function enviarComplemento() {
        var Mydata = $("#complementoSolicitudForm").serialize();
        console.log(Mydata);

        $.ajax({
            url: '/Depositos/ajax_EnviarComplementoSolicitud',
            type: 'POST',
            data: Mydata,
            success: function (data) {
                $("#folioPlaceholder").text(data.numeroDeFolio);
                $("#solicitudModal").modal('show');
            },
            error: function () {
                sitteg_warning("Ocurrioun error intente mas tarde");
            }
        });
    }

    function buscarInfraccion() {
        var folioBusquedaInfraccion = $("#folioBusquedaInfraccion").val(); 
        console.log(folioBusquedaInfraccion);

        $.ajax({
            url: '/Depositos/ajax_ImportarInfoInfraccion',
            type: 'POST',
            data: {
                folioBusquedaInfraccion: folioBusquedaInfraccion 
            },
            success: function (data) {
                console.log("JJ", data)
                var selectedValueCar = data.IdCarretera;
                var selectedValueTramo = data.IdTramo;
                var selectedValueMun = data.idMunicipioUbicacion;

                $("#numeroUbicacion").val(data.numeroUbicacion); 
                $("#calleUbicacion").val(data.calleUbicacion);
                $("#coloniaUbicacion").val(data.coloniaUbicacion); kilometroUbicacion
                $("#kilometroUbicacion").val(data.kilometroUbicacion);

                $("#IdCarretera").data("kendoDropDownList").value(selectedValueCar);
                $("#IdCarretera").data("kendoDropDownList").trigger("change");

                $("#IdTramo").data("kendoDropDownList").value(selectedValueTramo);
                $("#IdTramo").data("kendoDropDownList").trigger("change");

                $("#idMunicipioUbicacion").data("kendoDropDownList").value(selectedValueMun);
                $("#idMunicipioUbicacion").data("kendoDropDownList").trigger("change");

                $("#interseccion").val(data.interseccion);
            },
            error: function () {
                sitteg_warning("Ocurrió un error, inténtelo más tarde");
            }
        });
    }
    $(document).ready(function () {
        $("#kilometroUbicacion").on("input", function () {
            var value = this.value;
            if (value !== "") {
                this.value = value.replace(/[^\d.]/g, "");
            }
        });

        $("#kilometroUbicacion").on("paste", function (e) {
            e.preventDefault();
            var clipboardData = e.originalEvent.clipboardData.getData('text/plain');
            if (/^\d+$/.test(clipboardData)) {
                document.execCommand('insertText', false, clipboardData);
            }
        });
    });


  </script>
