        <div class="mainContainer bg-light">
    <section class="mx-md-3 mx-lg-4 mx-xl-5 bg-white boxShadow my-5 rounded">
        <div class="row align-items-center justify-content-between px-4 px-md-4 pt-3 pb-2">
            <div class="col-12 col-md-6 col-lg-5 col-xl-auto pe-0">
                <div class="row align-items-center justify-content-center justify-content-md-start">
                    <div class="col-auto">
                        <div class="border border-2 border-dark rounded-circle">
                            <h5 class="m-0 numberCard d-flex align-items-center justify-content-center">
                                <b>1</b>
                            </h5>
                        </div>
                    </div>
                    <div class="col-auto p-0">
                        <i class="icon-deposito h1 colorPrimary"></i>
                    </div>
                    <div class="col-auto my-3">
                        <h2 class="m-0 h3"><b>Registro de solicitud de depósito</b></h2>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="row">
            <div class="col-7 pe-0">
                <div class="bgSuccess py-1"></div>
            </div>
            <div class="col-5 ps-0">
                <div class="bg-light py-1"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 my-4">
                <h5 class="px-4"><b>Solicitud de depósito</b></h5>
                <h6 class="px-4 text-muted">Se registran los datos referentes al evento como fecha,  tipo de servicio y pensión.</h6>
            </div>
        </div>
        <div class="row px-4 mb-2 align-items-start">
            <div class="col-12 col-sm-12 col-md-4 col-lg-auto">
                <div class="controlForm mb-3 my-3">
                    <label class="text-muted">Folio de depósito:</label>
                    <label>GU-G00001/15-TTO</label>
                </div>
            </div>
            <div class="col border bg-light rounded">
                <div class="row align-items-end justify-content-center">
                    <div class="col-12 col-md-12 col-lg-12 col-xl-4 align-self-center mt-4 mb-1">
                        <h5><b>Importa datos iniciales desde una infracción ya existente</b></h5>
                    </div>
                    <div class="col-12 col-md-6 col-lg-6 col-xl-4">
                        <div class="controlForm my-3">
                            @(Html.Kendo().TextBox()
                            .Name("addFolioInfracion")
                            .Label(l => l.Content("Folio de infracción:"))
                            .Placeholder("Ingrese el folio de la ingracción")
                            .HtmlAttributes(new { style = "width: 100%" })
                            )
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-6 col-xl-4 btnOutline btnOutlinePrimary my-3 text-center">
                        <button  data-bs-toggle="modal" data-bs-target="#">
                            <h6 class="m-0"><i class="icon-infracion me-2"></i><b>Importar datos de infración</b></h6>
                        </button>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="row px-4 mt-3 mb-2 align-items-end">
            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                <div class="controlForm my-3">
                    <label>Fecha y hora <b>(obligatorio)</b>:</label>
                    @(Html.Kendo().DateTimePicker()
                        .Name("addDateTimePicker")
                        .Value(DateTime.Now)
                        .HtmlAttributes(new { style = "width: 100%", title = "datetimepicker" })
                        .DateInput()
                    )
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                <div class="controlForm my-3">
                    <label>Tipo de vehículo <b>(obligatorio)</b>:</label>
                    <span>
                        @(Html.Kendo().DropDownList()
                                    .Name("addTipoVehiculo")
                                    .DataTextField("")
                                    .DataValueField("")
                                    .HtmlAttributes(new { style = "width:100%;" })
                                    .Filter(FilterType.Contains)
                                    .DataSource(source => source
                                        .Read(read => read.Action("GetProducts", "Home"))
                                     )
                              )
                    </span>

                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                <div class="controlForm my-3">
                    <label>Propietario de grua:</label>
                    <span>
                        @(Html.Kendo().DropDownList()
                                    .Name("addPropietarioGrua")
                                    .DataTextField("")
                                    .DataValueField("")
                                    .HtmlAttributes(new { style = "width:100%;" })
                                    .Filter(FilterType.Contains)
                                    .DataSource(source => source
                                        .Read(read => read.Action("GetProducts", "Home"))
                                     )
                              )
                    </span>

                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                <div class="controlForm my-3">
                    <label>Oficial / Inspector <b>(obligatorio)</b>:</label>
                    <span>
                        @(Html.Kendo().DropDownList()
                                    .Name("addOficialInspector")
                                    .DataTextField("")
                                    .DataValueField("")
                                    .HtmlAttributes(new { style = "width:100%;" })
                                    .Filter(FilterType.Contains)
                                    .DataSource(source => source
                                        .Read(read => read.Action("GetProducts", "Home"))
                                     )
                              )
                    </span>

                </div>
            </div>

        </div>

        <div class="row px-4 mt-4 mb-4 align-items-center justify-content-around">
            <div class="col-12">
                <div class="controlForm">
                    <label>Descripción del evento <b>(obligatorio)</b></label>
                </div>
            </div>
            <div class="radioCustomTelerik">
                @(Html.Kendo().RadioGroup()
                            .Name("addRadiogroup")
                            .Items(i =>
                            {
                                i.Add().Label("Accidente").Value("1");
                                i.Add().Label("Consignación").Value("2");
                                i.Add().Label("Infracción").Value("3");
                                i.Add().Label("Mandato administrativo").Value("4");
                                i.Add().Label("Mandato judicial").Value("5");
                                i.Add().Label("Ministerio público").Value("6");
                                i.Add().Label("Robo").Value("7");
                            })
                        )
            </div>


        </div>

        <div class="col-12 mt-2 mb-4">
            <div class="bg-light pt-1 mx-2"></div>
        </div>

        <div class="row px-4 mb-4 align-items-center justify-content-around">
            <div class="col-12">
                <div class="controlForm">
                    <label>Tipo de usuario <b>(obligatorio)</b></label>
                </div>
            </div>
            <div class="radioCustomTelerik">
                @(Html.Kendo().RadioGroup()
                            .Name("addTipoUsuario")
                            .Items(i =>
                            {
                                i.Add().Label("Ajustador").Value("1");
                                i.Add().Label("Conductor").Value("2");
                                i.Add().Label("Dueño").Value("3");
                                i.Add().Label("Otra dependencia ").Value("4");
                                i.Add().Label("Representante legal").Value("5");

                            })
                        )
            </div>


        </div>

        <div class="row px-4 align-items-end">
            <div class="col-12 mt-4 controlForm">
                <label>Solicita:</label>
            </div>
        </div>
        <div>
            <nav class="tabCustom">
                <div class="nav nav-tabs row mx-0" id="nav-tab" role="tablist">
                    <button class="nav-link active col" id="usuario-tab" data-bs-toggle="tab" data-bs-target="#usuario" type="button" role="tab" aria-controls="usuario-moral" aria-selected="true">
                        <div class="row justify-content-center align-items-center px-3 py-2">
                            <div class="col-auto radioCustom p-0">
                                <div class="rounded-circle m-2"></div>
                            </div>
                            <div class="col-auto p-0">
                                <h5 class="m-0"><i class="icon-fisica h4 m-0"></i> <b>Usuario</b></h5>
                            </div>
                        </div>
                    </button>
                    <button class="nav-link col" id="oficial-tab" data-bs-toggle="tab" data-bs-target="#oficial" type="button" role="tab" aria-controls="oficial" aria-selected="false">
                        <div class="row justify-content-center align-items-center px-3 py-2">
                            <div class="col-auto radioCustom p-0">
                                <div class="rounded-circle m-2"></div>
                            </div>
                            <div class="col-auto p-0">
                                <h5 class="m-0"><i class="icon-oficial h4 m-0"></i> <b>Oficial</b></h5>
                            </div>
                        </div>
                    </button>

                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">

                <div class="tab-pane tabCustomConteiner fade show active" id="usuario" role="tabpanel" aria-labelledby="-tab">
                    <div class="row px-4 mt-4 py-5 justify-content-center">
                        <div class="col-12 col-md-10 mx-md-auto text-center">
                            <h3><b>Datos del solicitante</b></h3>
                            <div class="row mt-4 justify-content-around align-items-end">
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="controlForm my-3">
                                        @(Html.Kendo().TextBox()
                                                        .Name("addnombreUsuario")
                                                        .Label(l => l.Content("Nombre(s) solicitante <b>(obligatorio)</b>:"))
                                                        .Placeholder("Ingrese el nombre(s) del solicitante")
                                                        .HtmlAttributes(new { style = "width: 100%" })
                                                    )

                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="controlForm my-3">
                                        @(Html.Kendo().TextBox()
                                                        .Name("addApellidoPaternoUsuario")
                                                        .Label(l => l.Content("Apellido paterno <b>(obligatorio)</b>:"))
                                                        .Placeholder("Ingresa el apellido paterno del solicitante")
                                                        .HtmlAttributes(new { style = "width: 100%" })
                                                    )

                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="controlForm my-3">
                                        @(Html.Kendo().TextBox()
                                                        .Name("addApellidoMaternoUsuario")
                                                        .Label(l => l.Content("Apellido materno <b>(obligatorio)</b>:"))
                                                        .Placeholder("Ingresa el apellido materno del solicitante")
                                                        .HtmlAttributes(new { style = "width: 100%" })
                                                    )

                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="controlForm my-3">
                                        @(Html.Kendo().TextBox()
                                                        .Name("addColoniaUsuario")
                                                        .Label(l => l.Content("Colonia / Localidad:"))
                                                        .Placeholder("Ingresa la colonia / localidad del solicitante")
                                                        .HtmlAttributes(new { style = "width: 100%" })
                                                    )

                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="controlForm my-3">
                                        @(Html.Kendo().TextBox()
                                                        .Name("addCalleUsuario")
                                                        .Label(l => l.Content("Calle:"))
                                                        .Placeholder("Ingresa la calle del solicitante")
                                                        .HtmlAttributes(new { style = "width: 100%" })
                                                    )

                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="controlForm my-3">
                                        @(Html.Kendo().TextBox()
                                                        .Name("AddNumeroUsuario")
                                                        .Label(l => l.Content("Número:"))
                                                        .Placeholder("Ingresa el número del solicitante")
                                                        .HtmlAttributes(new { style = "width: 100%" })
                                                    )

                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="controlForm my-3">
                                        <label>Entidad:</label>
                                        <span>
                                            @(Html.Kendo().DropDownList()
                                                          .Name("addEntidadUsuario")
                                                          .DataTextField("")
                                                          .DataValueField("")
                                                          .HtmlAttributes(new { style = "width:100%;" })
                                                          .Filter(FilterType.Contains)
                                                          .DataSource(source => source
                                                              .Read(read => read.Action("GetProducts", "Home"))
                                                          )
                                                        )
                                        </span>

                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="controlForm my-3">
                                        <label>Municipio <b>(obligatorio)</b>:</label>
                                        <span>
                                            @(Html.Kendo().DropDownList()
                                                          .Name("addMunicipioUsuario")
                                                          .DataTextField("")
                                                          .DataValueField("")
                                                          .HtmlAttributes(new { style = "width:100%;" })
                                                          .Filter(FilterType.Contains)
                                                          .DataSource(source => source
                                                              .Read(read => read.Action("GetProducts", "Home"))
                                                          )
                                                        )
                                        </span>

                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="controlForm my-3">
                                        @(Html.Kendo().TextBox()
                                                        .Name("addTelefonoUsuario")
                                                        .Label(l => l.Content("Teléfono:"))
                                                        .Placeholder("Ingresa el teléfono del solicitante")
                                                        .HtmlAttributes(new { style = "width: 100%" })
                                                    )

                                    </div>
                                </div>
                                <div class="row ">
                                    <div class="col-12 col-md-8 mx-md-auto col-lg-5 ">
                                        <div class="controlButton my-3">
                                            @(Html.Kendo().Button()
                                                .Name("addTarjetaBtn")
                                                .HtmlAttributes(new { @class = "btnPrimary" })
                                                .Content("<h5 class=\"m-0\"><b>Finalizar registro</b></h5>"))
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="tabCustomEnd"></div>
                        </div>
                    </div>
                </div>


                <div class="tab-pane tabCustomConteiner fade" id="oficial" role="tabpanel" aria-labelledby="oficial-tab">
                    <div class="row px-4 mt-4 py-5 align-items-end">
                        <div class="col-12 col-md-10 mx-md-auto text-center">
                            <h3><b>Selecciona un motivo de asignación</b></h3>
                            <div class="row px-4 mb-4 align-items-center justify-content-center">
                                <div class="col-12 col-md-8 col-xl-4">
                                    <div class="controlForm my-3">
                                        <label>Motivo de asignación <b>(obligatorio)</b>:</label>
                                        <span>
                                            @(Html.Kendo().DropDownList()
                                                      .Name("addMotivoAsignacion")
                                                      .DataTextField("")
                                                      .DataValueField("")
                                                      .HtmlAttributes(new { style = "width:100%;" })
                                                      .Filter(FilterType.Contains)
                                                      .DataSource(source => source
                                                          .Read(read => read.Action("GetProducts", "Home"))
                                                      )
                                                    )
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-12 col-md-8 mx-md-auto col-lg-5 ">
                                    <div class="controlButton my-3">
                                        @(Html.Kendo().Button()
                                                .Name("addVehiculoBtn")
                                                .HtmlAttributes(new { @class = "btnPrimary" })
                                                .Content("<h5 class=\"m-0\"><b>Finalizar registro</b></h5>"))
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="tabCustomEnd"></div>
                        </div>
                    </div>
                </div>


            </div>
        </div>



    </section>


    <section class="mx-md-3 mx-lg-4 mx-xl-5 bg-white boxShadow my-5 rounded">
        <div class="row align-items-center justify-content-between px-4 px-md-4 pt-3 pb-2">
            <div class="col-12 col-md-6 col-lg-5 col-xl-auto pe-0">
                <div class="row align-items-center justify-content-center justify-content-md-start">
                    <div class="col-auto">
                        <div class="border border-2 border-dark rounded-circle">
                            <h5 class="m-0 numberCard d-flex align-items-center justify-content-center">
                                <b>1</b>
                            </h5>
                        </div>
                    </div>
                    <div class="col-auto p-0">
                        <i class="icon-deposito h1 colorPrimary"></i>
                    </div>
                    <div class="col-auto my-3">
                        <h2 class="m-0 h3"><b>Registro de solicitud de depósito</b></h2>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-7 col-xl-auto">
                <div class="row">
                    <div class="col-auto btnOutline my-2 mx-auto mx-xl-2 p-0">
                        @(Html.Kendo().Button()
                                  .Name("editBusqueda")
                                  .HtmlAttributes(new { @class = "btnPrimary" })
                                  .Content("<h6 class=\"m-0\"><i class=\"icon-back me-2\"></i><b>Regresar a captura de infracción</b></h6>"))

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-8 pe-0">
                <div class="bgWarning py-1"></div>
            </div>
            <div class="col-4 ps-0">
                <div class="bg-light py-1"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 my-4">
                <h5 class="px-4 colorWarning d-flex align-items-center"><b class="text-white bgWarning mb-1 me-2 rounded-circle px-2 h6">i</b><b>Datos importados de infracción</b></h5>
                <h6 class="px-4 text-muted">El vehículo ya cuenta con una infracción en la plataforma. Favor de revisar y agregar lo que hace falta.</h6>
            </div>
        </div>
        <div class="row px-4 mb-2 align-items-start">
            <div class="col-12 col-sm-6 col-md-auto">
                <div class="controlForm mb-3 mt-1">
                    <label class="text-muted">Folio de depósito:</label>
                    <label>GU-G00001/15-TTO</label>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-auto">
                <div class="controlForm mb-3 mt-1">
                    <label class="text-muted">Fecha y hora:</label>
                    <label>18/10/23 - 10:00 am</label>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-auto">
                <div class="controlForm mb-3 mt-1">
                    <label class="text-muted">Tipo de vehículo:</label>
                    <label>Sedan</label>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-auto">
                <div class="controlForm mb-3 mt-1">
                    <label class="text-muted">Propietario de grua:</label>
                    <label>Gilverto Lopez Lopez</label>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-auto">
                <div class="controlForm mb-3 mt-1">
                    <label class="text-muted">Oficial / Inspector:</label>
                    <label>Josefina Alvarado Rendón</label>
                </div>
            </div>
        </div>
        <div class="row px-4 mb-4 align-items-center justify-content-around">
            <div class="col-12">
                <div class="controlForm">
                    <label>Descripción del evento <b>(obligatorio)</b></label>
                </div>
            </div>
            <div class="radioCustomTelerik">
                @(Html.Kendo().RadioGroup()
                            .Name("radiogroup")
                            .Items(i =>
                            {
                                i.Add().Label("Accidente").Value("1");
                                i.Add().Label("Consignación").Value("2");
                                i.Add().Label("Infracción").Value("3");
                                i.Add().Label("Mandato administrativo").Value("4");
                                i.Add().Label("Mandato judicial").Value("5");
                                i.Add().Label("Ministerio público").Value("6");
                                i.Add().Label("Robo").Value("7");
                            })
                        )
            </div>


        </div>

        <div class="col-12 mt-2 mb-4">
            <div class="bg-light pt-1 mx-2"></div>
        </div>

        <div class="row px-4 mb-4 align-items-center justify-content-around">
            <div class="col-12">
                <div class="controlForm">
                    <label>Tipo de usuario <b>(obligatorio)</b></label>
                </div>
            </div>
            <div class="radioCustomTelerik">
                @(Html.Kendo().RadioGroup()
                            .Name("tipoUsuario")
                            .Items(i =>
                            {
                                i.Add().Label("Ajustador").Value("1");
                                i.Add().Label("Conductor").Value("2");
                                i.Add().Label("Dueño").Value("3");
                                i.Add().Label("Otra dependencia ").Value("4");
                                i.Add().Label("Representante legal").Value("5");

                            })
                        )
            </div>


        </div>

        <div class="row px-4 align-items-end">
            <div class="col-12 mt-4 controlForm">
                <label>Solicita:</label>
            </div>
        </div>
        <div>
            <nav class="tabCustom">
                <div class="nav nav-tabs row mx-0" id="nav-tab" role="tablist">
                    <button class="nav-link active col" id="usuario-tab" data-bs-toggle="tab" data-bs-target="#usuario" type="button" role="tab" aria-controls="usuario-moral" aria-selected="true">
                        <div class="row justify-content-center align-items-center px-3 py-2">
                            <div class="col-auto radioCustom p-0">
                                <div class="rounded-circle m-2"></div>
                            </div>
                            <div class="col-auto p-0">
                                <h5 class="m-0"><i class="icon-fisica h4 m-0"></i> <b>Usuario</b></h5>
                            </div>
                        </div>
                    </button>
                    <button class="nav-link col" id="oficial-tab" data-bs-toggle="tab" data-bs-target="#oficial" type="button" role="tab" aria-controls="oficial" aria-selected="false">
                        <div class="row justify-content-center align-items-center px-3 py-2">
                            <div class="col-auto radioCustom p-0">
                                <div class="rounded-circle m-2"></div>
                            </div>
                            <div class="col-auto p-0">
                                <h5 class="m-0"><i class="icon-oficial h4 m-0"></i> <b>Oficial</b></h5>
                            </div>
                        </div>
                    </button>

                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">

                <div class="tab-pane tabCustomConteiner fade show active" id="usuario" role="tabpanel" aria-labelledby="-tab">
                    <div class="row px-4 mt-4 py-5 justify-content-center">
                        <div class="col-12 col-md-10 mx-md-auto text-center">
                            <h3><b>Datos del solicitante</b></h3>
                            <div class="row mt-4 justify-content-around align-items-end">
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="controlForm my-3">
                                        @(Html.Kendo().TextBox()
                                                        .Name("nombreUsuario")
                                                        .Label(l => l.Content("Nombre(s) solicitante <b>(obligatorio)</b>:"))
                                                        .Placeholder("Ingrese el nombre(s) del solicitante")
                                                        .HtmlAttributes(new { style = "width: 100%" })
                                                    )

                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="controlForm my-3">
                                        @(Html.Kendo().TextBox()
                                                        .Name("apellidoPaternoUsuario")
                                                        .Label(l => l.Content("Apellido paterno <b>(obligatorio)</b>:"))
                                                        .Placeholder("Ingresa el apellido paterno del solicitante")
                                                        .HtmlAttributes(new { style = "width: 100%" })
                                                    )

                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="controlForm my-3">
                                        @(Html.Kendo().TextBox()
                                                        .Name("apellidoMaternoUsuario")
                                                        .Label(l => l.Content("Apellido materno <b>(obligatorio)</b>:"))
                                                        .Placeholder("Ingresa el apellido materno del solicitante")
                                                        .HtmlAttributes(new { style = "width: 100%" })
                                                    )

                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="controlForm my-3">
                                        @(Html.Kendo().TextBox()
                                                        .Name("coloniaUsuario")
                                                        .Label(l => l.Content("Colonia / Localidad:"))
                                                        .Placeholder("Ingresa la colonia / localidad del solicitante")
                                                        .HtmlAttributes(new { style = "width: 100%" })
                                                    )

                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="controlForm my-3">
                                        @(Html.Kendo().TextBox()
                                                        .Name("calleUsuario")
                                                        .Label(l => l.Content("Calle:"))
                                                        .Placeholder("Ingresa la calle del solicitante")
                                                        .HtmlAttributes(new { style = "width: 100%" })
                                                    )

                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="controlForm my-3">
                                        @(Html.Kendo().TextBox()
                                                        .Name("numeroUsuario")
                                                        .Label(l => l.Content("Número:"))
                                                        .Placeholder("Ingresa el número del solicitante")
                                                        .HtmlAttributes(new { style = "width: 100%" })
                                                    )

                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="controlForm my-3">
                                        <label>Entidad:</label>
                                        <span>
                                            @(Html.Kendo().DropDownList()
                                                          .Name("entidadUsuario")
                                                          .DataTextField("")
                                                          .DataValueField("")
                                                          .HtmlAttributes(new { style = "width:100%;" })
                                                          .Filter(FilterType.Contains)
                                                          .DataSource(source => source
                                                              .Read(read => read.Action("GetProducts", "Home"))
                                                          )
                                                        )
                                        </span>

                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="controlForm my-3">
                                        <label>Municipio <b>(obligatorio)</b>:</label>
                                        <span>
                                            @(Html.Kendo().DropDownList()
                                                          .Name("municipioUsuario")
                                                          .DataTextField("")
                                                          .DataValueField("")
                                                          .HtmlAttributes(new { style = "width:100%;" })
                                                          .Filter(FilterType.Contains)
                                                          .DataSource(source => source
                                                              .Read(read => read.Action("GetProducts", "Home"))
                                                          )
                                                        )
                                        </span>

                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="controlForm my-3">
                                        @(Html.Kendo().TextBox()
                                                        .Name("telefonoUsuario")
                                                        .Label(l => l.Content("Teléfono:"))
                                                        .Placeholder("Ingresa el teléfono del solicitante")
                                                        .HtmlAttributes(new { style = "width: 100%" })
                                                    )

                                    </div>
                                </div>
                                <div class="row ">
                                    <div class="col-12 col-md-8 mx-md-auto col-lg-5 ">
                                        <div class="controlButton my-3">
                                            @(Html.Kendo().Button()
                                                .Name("tarjetaBtn")
                                                .HtmlAttributes(new { @class = "btnPrimary" })
                                                .Content("<h5 class=\"m-0\"><b>Finalizar registro</b></h5>"))
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="tabCustomEnd"></div>
                        </div>
                    </div>
                </div>


                <div class="tab-pane tabCustomConteiner fade" id="oficial" role="tabpanel" aria-labelledby="oficial-tab">
                    <div class="row px-4 mt-4 py-5 align-items-end">
                        <div class="col-12 col-md-10 mx-md-auto text-center">
                            <h3><b>Selecciona un motivo de asignación</b></h3>
                            <div class="row px-4 mb-4 align-items-center justify-content-center">
                                <div class="col-12 col-md-8 col-xl-4">
                                    <div class="controlForm my-3">
                                        <label>Motivo de asignación <b>(obligatorio)</b>:</label>
                                        <span>
                                            @(Html.Kendo().DropDownList()
                                                      .Name("motivoAsignacion")
                                                      .DataTextField("")
                                                      .DataValueField("")
                                                      .HtmlAttributes(new { style = "width:100%;" })
                                                      .Filter(FilterType.Contains)
                                                      .DataSource(source => source
                                                          .Read(read => read.Action("GetProducts", "Home"))
                                                      )
                                                    )
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-12 col-md-8 mx-md-auto col-lg-5 ">
                                    <div class="controlButton my-3">
                                        @(Html.Kendo().Button()
                                                .Name("vehiculoBtn")
                                                .HtmlAttributes(new { @class = "btnPrimary" })
                                                .Content("<h5 class=\"m-0\"><b>Finalizar registro</b></h5>"))
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="tabCustomEnd"></div>
                        </div>
                    </div>
                </div>


            </div>
        </div>



    </section>

    <section class="opacity-50 mx-md-3 mx-lg-4 mx-xl-5 bg-white boxShadow my-5 rounded">
        <div class="row align-items-center justify-content-between px-4 px-md-4 pt-3 pb-2">
            <div class="col-12 col-md-auto">
                <div class="row align-items-center justify-content-center justify-content-md-start">
                    <div class="col-auto">
                        <div class="border border-2 border-dark rounded-circle">
                            <h5 class="m-0 numberCard d-flex align-items-center justify-content-center">
                                <b>2</b>
                            </h5>
                        </div>
                    </div>
                    <div class="col-auto p-0">
                        <i class="icon-ubicacion h1 colorPrimary"></i>
                    </div>
                    <div class="col-auto my-3">
                        <h2 class="m-0 h3"><b>Ubicación donde se recoge el vehículo</b></h2>
                    </div>
                </div>
            </div>
        </div>



    </section>

    <section class="mx-md-3 mx-lg-4 mx-xl-5 bg-white boxShadow my-5 rounded">
        <div class="row align-items-center justify-content-between px-4 px-md-4 pt-3 pb-2">
            <div class="col-12 col-md-6 col-lg-5 col-xl-auto pe-0">
                <div class="row align-items-center justify-content-center justify-content-md-start">
                    <div class="col-auto">
                        <div class="border border-2 border-dark rounded-circle">
                            <h5 class="m-0 numberCard d-flex align-items-center justify-content-center">
                                <b>1</b>
                            </h5>
                        </div>
                    </div>
                    <div class="col-auto p-0">
                        <i class="icon-deposito h1 colorPrimary"></i>
                    </div>
                    <div class="col-auto my-3">
                        <h2 class="m-0 h3"><b>Registro de solicitud de depósito</b></h2>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-7 col-xl-auto">
                <div class="row">
                    <div class="col-auto btnOutline btnOutlinePrimary my-2 mx-auto mx-xl-2 p-0">
                        <button data-bs-toggle="modal" data-bs-target="#editCar">
                            <h6 class="m-0"><i class="icon-edit me-2"></i><b>Editar solicitud de depósito</b></h6>
                        </button>
                    </div>
                    <div class="col-auto btnOutline my-2 mx-auto mx-xl-2 p-0">
                        @(Html.Kendo().Button()
                                  .Name("backInfraccion")
                                  .HtmlAttributes(new { @class = "btnPrimary" })
                                  .Content("<h6 class=\"m-0\"><i class=\"icon-back me-2\"></i><b>Regresar a captura de infracción</b></h6>"))

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="bgSuccess py-1"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 my-4">
                <h5 class="px-4 colorSuccess d-flex align-items-center"><b class="d-flex align-items-center justify-content-center bgSuccess mb-1 me-2 rounded-circle px-1"><i style="font-size: 10px; padding: 7px 2px;" class="icon-correct text-white"></i></b><b>Solicitud de depósito registrado en SITTEG</b></h5>
                <h6 class="px-4 text-muted">El depósito ya está registrado en la plataforma. Puede actualizar o corregir la información del depósito.</h6>
            </div>
        </div>
        <div class="row px-4 mb-2 align-items-start">
            <div class="col-12 col-sm-6 col-md-auto">
                <div class="controlForm mb-3 mt-1">
                    <label class="text-muted">Folio de depósito:</label>
                    <label>GU-G00001/15-TTO</label>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-auto">
                <div class="controlForm mb-3 mt-1">
                    <label class="text-muted">Fecha y hora:</label>
                    <label>18/10/23 - 10:00 am</label>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-auto">
                <div class="controlForm mb-3 mt-1">
                    <label class="text-muted">Tipo de vehículo:</label>
                    <label>Sedan</label>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-auto">
                <div class="controlForm mb-3 mt-1">
                    <label class="text-muted">Propietario de grua:</label>
                    <label>Gilverto Lopez Lopez</label>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-auto">
                <div class="controlForm mb-3 mt-1">
                    <label class="text-muted">Oficial / Inspector:</label>
                    <label>Josefina Alvarado Rendón</label>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-auto">
                <div class="controlForm mb-3 mt-1">
                    <label class="text-muted">Descripción del evento</label>
                    <label>Accidente</label>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-auto">
                <div class="controlForm mb-3 mt-1">
                    <label class="text-muted">Tipo de usuario</label>
                    <label>Ajustador</label>
                </div>
            </div>
            <div class="col-12 mt-2 mb-4">
                <div class="bg-light pt-1 mx-2"></div>
            </div>

            <div class="col-12 col-sm-6 col-md-auto">
                <div class="controlForm mb-3 mt-1">
                    <label class="text-muted">Tipo de usuario</label>
                    <label>Usuario</label>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-auto">
                <div class="controlForm mb-3 mt-1">
                    <label class="text-muted">Nombre(s) solicitante</label>
                    <label>Juan Carlos</label>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-auto">
                <div class="controlForm mb-3 mt-1">
                    <label class="text-muted">Apellido paterno</label>
                    <label>López</label>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-auto">
                <div class="controlForm mb-3 mt-1">
                    <label class="text-muted">Apellido materno</label>
                    <label>López</label>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-auto">
                <div class="controlForm mb-3 mt-1">
                    <label class="text-muted">Número</label>
                    <label>-</label>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-auto">
                <div class="controlForm mb-3 mt-1">
                    <label class="text-muted">Colonia / Localidad</label>
                    <label>-</label>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-auto">
                <div class="controlForm mb-3 mt-1">
                    <label class="text-muted">Calle</label>
                    <label>-</label>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-auto">
                <div class="controlForm mb-3 mt-1">
                    <label class="text-muted">Entidad</label>
                    <label>-</label>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-auto">
                <div class="controlForm mb-3 mt-1">
                    <label class="text-muted">Municipio</label>
                    <label>-</label>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-auto">
                <div class="controlForm mb-3 mt-1">
                    <label class="text-muted">Teléfono</label>
                    <label>-</label>
                </div>
            </div>

        </div>










    </section>



    <section class="mx-md-3 mx-lg-4 mx-xl-5 bg-white boxShadow my-5 rounded">
        <div class="row align-items-center justify-content-between px-4 px-md-4 pt-3 pb-2">
            <div class="col-12 col-md-auto">
                <div class="row align-items-center justify-content-center justify-content-md-start">
                    <div class="col-auto">
                        <div class="border border-2 border-dark rounded-circle">
                            <h5 class="m-0 numberCard d-flex align-items-center justify-content-center">
                                <b>2</b>
                            </h5>
                        </div>
                    </div>
                    <div class="col-auto p-0">
                        <i class="icon-ubicacion h1 colorPrimary"></i>
                    </div>
                    <div class="col-auto my-3">
                        <h2 class="m-0 h3"><b>Ubicación donde se recoge el vehículo</b></h2>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-8 pe-0">
                <div class="bgSuccess py-1"></div>
            </div>
            <div class="col-4 ps-0">
                <div class="bg-light py-1"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 my-4">
                <h5 class="px-4"><b>Datos complementarios</b></h5>
                <h6 class="px-4 text-muted">Completa los datos solicitados para la ubicación de recolección.</h6>
            </div>
        </div>
        <div class="row justify-content-around align-items-end px-4">
            <div class="col-12 col-md-6 col-lg-2">
                <div class="controlForm my-3">
                    @(Html.Kendo().TextBox()
                                .Name("numeroUbicacion")
                                .Label(l => l.Content("Número:"))
                                .Placeholder("Número de recoleción")
                                .HtmlAttributes(new { style = "width: 100%" })
                            )

                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="controlForm my-3">
                    @(Html.Kendo().TextBox()
                                 .Name("calleUbicacion")
                                 .Label(l => l.Content("Calle:"))
                                 .Placeholder("Ingrese la calle de recoleción")
                                 .HtmlAttributes(new { style = "width: 100%" })
                            )

                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
                <div class="controlForm my-3">
                    @(Html.Kendo().TextBox()
                                .Name("coloniaUbicacion")
                                .Label(l => l.Content("Colonia:"))
                                .Placeholder("Ingrese la colonia de recoleción")
                                .HtmlAttributes(new { style = "width: 100%" })
                            )

                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-2">
                <div class="controlForm my-3">
                    @(Html.Kendo().TextBox()
                                .Name("kilómetroUbicacion")
                                .Label(l => l.Content("Kilómetro:"))
                                .Placeholder("Kilómetro de recoleción")
                                .HtmlAttributes(new { style = "width: 100%" })
                            )

                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="controlForm my-3">
                    <label>Carretera <b>(obligatorio)</b>:</label>
                    <span>
                        @(Html.Kendo().DropDownList()
                                    .Name("carreteraUbicacion")
                                    .DataTextField("")
                                    .DataValueField("")
                                    .HtmlAttributes(new { style = "width:100%;" })
                                    .Filter(FilterType.Contains)
                                    .DataSource(source => source
                                        .Read(read => read.Action("GetProducts", "Home"))
                                     )
                              )
                    </span>

                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
                <div class="controlForm my-3">
                    <label>Tramo <b>(obligatorio)</b>:</label>
                    <span>
                        @(Html.Kendo().DropDownList()
                                    .Name("tramoUbicacion")
                                    .DataTextField("")
                                    .DataValueField("")
                                    .HtmlAttributes(new { style = "width:100%;" })
                                    .Filter(FilterType.Contains)
                                    .DataSource(source => source
                                        .Read(read => read.Action("GetProducts", "Home"))
                                     )
                              )
                    </span>

                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
                <div class="controlForm my-3">
                    <label>Entidad:</label>
                    <span>
                        @(Html.Kendo().DropDownList()
                                    .Name("entidadUbicacion")
                                    .DataTextField("")
                                    .DataValueField("")
                                    .HtmlAttributes(new { style = "width:100%;" })
                                    .Filter(FilterType.Contains)
                                    .DataSource(source => source
                                        .Read(read => read.Action("GetProducts", "Home"))
                                     )
                              )
                    </span>

                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
                <div class="controlForm my-3">
                    <label>Municipio <b>(obligatorio)</b>:</label>
                    <span>
                        @(Html.Kendo().DropDownList()
                                    .Name("municipioUbicacion")
                                    .DataTextField("")
                                    .DataValueField("")
                                    .HtmlAttributes(new { style = "width:100%;" })
                                    .Filter(FilterType.Contains)
                                    .DataSource(source => source
                                        .Read(read => read.Action("GetProducts", "Home"))
                                     )
                              )
                    </span>

                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="controlForm my-3">
                    <label>Pensión <b>(obligatorio)</b>:</label>
                    <span>
                        @(Html.Kendo().DropDownList()
                                    .Name("pensionUbicacion")
                                    .DataTextField("")
                                    .DataValueField("")
                                    .HtmlAttributes(new { style = "width:100%;" })
                                    .Filter(FilterType.Contains)
                                    .DataSource(source => source
                                        .Read(read => read.Action("GetProducts", "Home"))
                                     )
                              )
                    </span>

                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="controlForm my-3">
                    @(Html.Kendo().TextBox()
                                .Name("intersecciónUbicacion")
                                .Label(l => l.Content("Intersección:"))
                                .Placeholder("Ingrese la intersección de recoleción")
                                .HtmlAttributes(new { style = "width: 100%" })
                            )

                </div>
            </div>

            <div class="row ">
                <div class="col-12 col-md-8 mx-md-auto col-lg-5 mb-4">
                    <div class="controlButton my-3">
                        @(Html.Kendo().Button()
                                                .Name("ubicacionEnd")
                                                .HtmlAttributes(new { @class = "btnPrimary" })
                                                .Content("<h5 class=\"m-0\"><b>Finalizar registro</b></h5>"))
                    </div>
                </div>
            </div>
        </div>


    </section>





</div>
    </div>





</main>

<script>
document.querySelectorAll(".drop-zone__input").forEach((inputElement) => {
        const dropZoneElement = inputElement.closest(".drop-zone");

        dropZoneElement.addEventListener("click", (e) => {
            inputElement.click();
        });

        inputElement.addEventListener("change", (e) => {
            if (inputElement.files.length) {
                updateThumbnail(dropZoneElement, inputElement.files[0]);
            }
        });

        dropZoneElement.addEventListener("dragover", (e) => {
            e.preventDefault();
            dropZoneElement.classList.add("drop-zone--over");
        });

        ["dragleave", "dragend"].forEach((type) => {
            dropZoneElement.addEventListener(type, (e) => {
                dropZoneElement.classList.remove("drop-zone--over");
            });
        });

        dropZoneElement.addEventListener("drop", (e) => {
            e.preventDefault();

            if (e.dataTransfer.files.length) {
                inputElement.files = e.dataTransfer.files;
                updateThumbnail(dropZoneElement, e.dataTransfer.files[0]);
            }

            dropZoneElement.classList.remove("drop-zone--over");
        });
    });

    function updateThumbnail(dropZoneElement, file) {
        let thumbnailElement = dropZoneElement.querySelector(".drop-zone__thumb");

        // First time - remove the prompt
        if (dropZoneElement.querySelector(".drop-zone__prompt")) {
            dropZoneElement.querySelector(".drop-zone__prompt").remove();
        }

        // First time - there is no thumbnail element, so lets create it
        if (!thumbnailElement) {
            thumbnailElement = document.createElement("div");
            thumbnailElement.classList.add("drop-zone__thumb");
            dropZoneElement.appendChild(thumbnailElement);
        }

        thumbnailElement.dataset.label = file.name;

        // Show thumbnail for image files
        if (file.type.startsWith("image/")) {
            const reader = new FileReader();

            reader.readAsDataURL(file);
            reader.onload = () => {
                thumbnailElement.style.backgroundImage = `url('${reader.result}')`;
            };
        } else {
            thumbnailElement.style.backgroundImage = null;
        }
    }</script>
