@model GuanajuatoAdminUsuarios.Models.SeleccionGruaModel
@{
    var abanderamiento = Model.AbanderamientoBool;
    var arrastre = Model.ArrastreBool;
    var salvamento = Model.SalvamentoBool;
}
<script>
    function validacionHoraFinalEdit(){
    var fechaSeleccionadaString = $("#fechaFinalEdit").val();
    var horaSeleccionada = $("#horaTerminoInsertEdit").val();

        var fechaActual = new Date();
        var fechaSeleccionada = kendo.parseDate(fechaSeleccionadaString, "dd/MM/yyyy");

        var horaMaxima = fechaActual.getHours().toString().padStart(2, '0') + ':' + fechaActual.getMinutes().toString().padStart(2, '0');
        var horaActual = kendo.parseDate(horaMaxima, "HH:mm");

        console.log('Fecha seleccionada (string):', fechaSeleccionadaString);
        console.log('Hora seleccionada (string):', horaSeleccionada);
        console.log('Fecha actual:', fechaActual);
        console.log('Fecha seleccionada (objeto):', fechaSeleccionada);
        console.log('Hora máxima permitida:', horaMaxima);
        console.log('Hora actual (objeto):', horaActual);

        if (fechaSeleccionada && horaSeleccionada) {
            var fechaSeleccionadaSinHora = new Date(fechaSeleccionada);
            fechaSeleccionadaSinHora.setHours(0, 0, 0, 0);

            if (fechaSeleccionadaSinHora.getTime() === fechaActual.setHours(0, 0, 0, 0)) {
                console.log('Estableciendo límite máximo de hora:', horaMaxima);
                $("#horaTerminoInsertEdit").data("kendoTimePicker").max(horaMaxima);
            } else {
                console.log('Removiendo límite máximo de hora.');
                var horaLejana = "23:59";
                $("#horaTerminoInsertEdit").data("kendoTimePicker").max(horaLejana);
            }

            if (fechaSeleccionadaSinHora.getTime() === fechaActual.setHours(0, 0, 0, 0) && kendo.parseDate(horaSeleccionada, "HH:mm") > horaActual) {
                console.log('Ajustando hora seleccionada a la hora actual:', horaActual);
                $("#horaTerminoInsertEdit").data("kendoTimePicker").value(horaActual);
            }
        } else {
            console.log('Fecha o hora no seleccionada.');
            var horaLejana = "23:59";
            $("#horaTerminoInsertEdit").data("kendoTimePicker").max(horaLejana);
        }
    }
        function validacionHoraInicioEdit(){
        var fechaSeleccionadaString = $("#fechaInicioInsertEdit").val();
        var horaSeleccionada = $("#horaInicioInsertEdit").val();

        var fechaActual = new Date();
        var fechaSeleccionada = kendo.parseDate(fechaSeleccionadaString, "dd/MM/yyyy");

        var horaMaxima = fechaActual.getHours().toString().padStart(2, '0') + ':' + fechaActual.getMinutes().toString().padStart(2, '0');
        var horaActual = kendo.parseDate(horaMaxima, "HH:mm");

        console.log('Fecha seleccionada (string):', fechaSeleccionadaString);
        console.log('Hora seleccionada (string):', horaSeleccionada);
        console.log('Fecha actual:', fechaActual);
        console.log('Fecha seleccionada (objeto):', fechaSeleccionada);
        console.log('Hora máxima permitida:', horaMaxima);
        console.log('Hora actual (objeto):', horaActual);

        if (fechaSeleccionada && horaSeleccionada) {
            var fechaSeleccionadaSinHora = new Date(fechaSeleccionada);
            fechaSeleccionadaSinHora.setHours(0, 0, 0, 0);

            if (fechaSeleccionadaSinHora.getTime() === fechaActual.setHours(0, 0, 0, 0)) {
                console.log('Estableciendo límite máximo de hora:', horaMaxima);
                $("#horaInicioInsertEdit").data("kendoTimePicker").max(horaMaxima);
            } else {
                console.log('Removiendo límite máximo de hora.');
                var horaLejana = "23:59";
                $("#horaInicioInsertEdit").data("kendoTimePicker").max(horaLejana);
            }

            if (fechaSeleccionadaSinHora.getTime() === fechaActual.setHours(0, 0, 0, 0) && kendo.parseDate(horaSeleccionada, "HH:mm") > horaActual) {
                console.log('Ajustando hora seleccionada a la hora actual:', horaActual);
                $("#horaInicioInsertEdit").data("kendoTimePicker").value(horaActual);
            }
        } else {
            console.log('Fecha o hora no seleccionada.');
            var horaLejana = "23:59";
            $("#horaInicioInsertEdit").data("kendoTimePicker").max(horaLejana);
        }
    }
    function validacionHoraArriboEdit(){
        var fechaSeleccionadaString = $("#fechaArriboInsertEdit").val();
        var horaSeleccionada = $("#horaArriboInsertEdit").val();

    var fechaActual = new Date();
    var fechaSeleccionada = kendo.parseDate(fechaSeleccionadaString, "dd/MM/yyyy");

    var horaMaxima = fechaActual.getHours().toString().padStart(2, '0') + ':' + fechaActual.getMinutes().toString().padStart(2, '0');
    var horaActual = kendo.parseDate(horaMaxima, "HH:mm");

    console.log('Fecha seleccionada (string):', fechaSeleccionadaString);
    console.log('Hora seleccionada (string):', horaSeleccionada);
    console.log('Fecha actual:', fechaActual);
    console.log('Fecha seleccionada (objeto):', fechaSeleccionada);
    console.log('Hora máxima permitida:', horaMaxima);
    console.log('Hora actual (objeto):', horaActual);

    if (fechaSeleccionada && horaSeleccionada) {
        var fechaSeleccionadaSinHora = new Date(fechaSeleccionada);
        fechaSeleccionadaSinHora.setHours(0, 0, 0, 0);

        if (fechaSeleccionadaSinHora.getTime() === fechaActual.setHours(0, 0, 0, 0)) {
            console.log('Estableciendo límite máximo de hora:', horaMaxima);
                $("#horaArriboInsertEdit").data("kendoTimePicker").max(horaMaxima);
        } else {
            console.log('Removiendo límite máximo de hora.');
            var horaLejana = "23:59";
            $("#horaArriboInsertEdit").data("kendoTimePicker").max(horaLejana);
        }

        if (fechaSeleccionadaSinHora.getTime() === fechaActual.setHours(0, 0, 0, 0) && kendo.parseDate(horaSeleccionada, "HH:mm") > horaActual) {
            console.log('Ajustando hora seleccionada a la hora actual:', horaActual);
            $("#horaArriboInsertEdit").data("kendoTimePicker").value(horaActual);
        }
    } else {
        console.log('Fecha o hora no seleccionada.');
        var horaLejana = "23:59";
        $("#horaArriboInsertEdit").data("kendoTimePicker").max(horaLejana);
    }
        }

</script>
<div class="modal-dialog modal-xl boxShadow modal-dialog-centered">
    <div class="modal-content">
        <section class=" bg-white rounded">
            <div class="row align-items-center justify-content-between px-4 px-md-4 pt-3 pb-2">
                <div class="col-12 col-md-auto">
                    <div class="row align-items-center justify-content-center justify-content-md-start">
                        <div class="col-auto p-0">
                            <i class="icon-addGrua me-2  h1 colorPrimary"></i>
                        </div>
                        <div class="col-auto my-3">
                            <h2 class="m-0 h3"><b>Datos de Grúa Asignada</b></h2>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-7 col-xl-auto">
                    <div class="row">
                        <div class="col-auto btnOutline my-2 mx-auto mx-xl-2 p-0" onclick="goBack()">
                            @(Html.Kendo().Button()
                                .Name("backVehiculo")
                                .HtmlAttributes(new { @class = "px-5" })
                                .Content("<h6 class=\"m-0\"><i class=\"icon-back me-2\" data-bs-dismiss=\"modal\" aria - label = \"Close\" ></i><b>Regresar</b></h6>"))
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-5 pe-0">
                    <div class="bgSuccess py-1"></div>
                </div>
                <div class="col-7 ps-0">
                    <div class="bg-light py-1"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 my-4">
                    <h5 class="px-4"><b>Datos de grúa asignada</b></h5>
                    <h6 class="px-4 text-muted">Completa los datos obligatorios para guardar.</h6>
                </div>
            </div>
            <div class="row justify-content-start align-items-center py-2">
              
            </div>
            <form id="datosEditGruaForm">
                <input type="hidden" id="Accion" value="Update" />
                <div class="row px-4" id="contenedor">
                    <div class="col-12">
                        <div class="controlForm my-3">
                            <label>Número económico <b>(obligatorio)</b>:</label>
                              @Html.HiddenFor(m=>m.idAsignacion)

                            @(Html.Kendo().DropDownListFor(d => d.idGrua)
                                .DataTextField("Text")
                                .DataValueField("Value")
                                .OptionLabel("Seleccione una opción")

                                .DataSource(source =>
                                {
                                    source.Read(read =>
                                    {
                                        read.Action("Gruas_Drop", "AsignacionGruas");
                                    });
                                })
                                .HtmlAttributes(new { style = "width:100%;", id = "idGrua2" })
                                )

                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="controlForm my-3">
                            <label for="datepicker1">Fecha de arribo <b>(obligatorio)</b>:</label>
                            @(Html.Kendo().DatePickerFor(t => t.fechaArribo).Max(DateTime.Now)
                                .Format("dd/MM/yyyy")
                                .Events(events =>
                                {


                                    events.Change("validacionHoraArriboEdit");
                                })
                                .HtmlAttributes(new { style = "width: 90%", id = "fechaArriboInsertEdit", required = "required" })
                                )
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">

                        <div class="controlForm my-3">
                            <label for="timepicker1">Hora de arribo <b>(obligatorio)</b>:</label>
                            @(Html.Kendo().TimePickerFor(t => t.horaArribo)
                                .Format("HH:mm")
                                 .Events(events =>
                                {


                                    events.Change("validacionHoraArriboEdit");
                                })
                                .HtmlAttributes(new { style = "width: 90%", id = "horaArriboInsertEdit", required = "required" })
                                )
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="controlForm my-3">
                            <label for="datepicker2">Fecha de inicio <b>(obligatorio)</b>:</label>
                            @(Html.Kendo().DatePickerFor(t => t.fechaInicio).Max(DateTime.Now)
                                .Format("dd/MM/yyyy")
                                .Events(e =>
                                {
                                    e.Change("validacionHoraInicioEdit");
                                })
                                .HtmlAttributes(new { style = "width: 90%", id = "fechaInicioInsertEdit", required = "required" })
                                )
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="controlForm my-3">
                            <label for="timepicker2">Hora de inicio <b>(obligatorio)</b>:</label>
                            @(Html.Kendo().TimePickerFor(t => t.horaInicio)
                             .Events(e =>
                                {
                                    e.Change("validacionHoraInicioEdit");
                                })
                                .Format("HH:mm")
                                .HtmlAttributes(new { style = "width: 90%", id = "horaInicioInsertEdit", required = "required" })

                                )
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="controlForm my-3">
                            <label for="datepicker3">Fecha de término <b>(obligatorio)</b>:</label>
                            @(Html.Kendo().DatePickerFor(t => t.fechaFinal).Max(DateTime.Now)
                                .Format("dd/MM/yyyy")
                                .HtmlAttributes(new { style = "width: 90%", id = "fechaFinalEdit", required = "required" })
                                 .Events(e =>
                                {
                                    e.Change("validacionHoraFinalEdit");
                                })
                                )
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="controlForm my-3">
                            <label for="timepicker3">Hora de término <b>(obligatorio)</b>:</label>
                            @(Html.Kendo().TimePickerFor(t => t.horaTermino)
                                .Format("HH:mm")
                                .Events(e =>
                                {
                                    e.Change("validacionHoraFinalEdit");
                                })
                                .HtmlAttributes(new { style = "width: 90%", id = "horaTerminoInsertEdit", required = "required" })

                                )
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="controlForm my-3">
                            <label for="timeDifference">Diferencia en minutos <b>(obligatorio)</b>:</label>
                            @(Html.Kendo().TextBoxFor(t => t.tiempoManiobras)
                                .HtmlAttributes(new { style = "width: 100%", @readonly = "readonly", id = "tiempoManiobrasInsertEdit" }) // Marcar como solo lectura
                                )
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="controlForm row justify-content-center btnToggleActive my-3">
                            <label>Abanderamiento:</label>
                            <div class="btnToggleActive">
                            @(Html.Kendo().SwitchFor(t => t.AbanderamientoBool)
                                .Name("abanderamientoSwitch")
                                .Checked(abanderamiento)
                                .Messages(c => c.Checked("Si").Unchecked("No"))
                                .HtmlAttributes(new { data_checked = "true" })
                                )
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="controlForm row justify-content-center btnToggleActive my-3">
                            <label for="switch2">Salvamento:</label>
                            <div class="btnToggleActive">
                            @(Html.Kendo().SwitchFor(t => t.SalvamentoBool)
                                .Name("salvamentoSwitch")
                                .Checked(salvamento)
                                .Messages(c => c.Checked("Si").Unchecked("No"))
                                .HtmlAttributes(new { data_valor = "true" })
                                )
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="controlForm row justify-content-center btnToggleActive my-3">
                            <label for="switch3">Arrastre:</label>
                            <div class="btnToggleActive">
                            @(Html.Kendo().SwitchFor(t => t.ArrastreBool)
                                .Name("arrastreSwitch")
                                .Checked(arrastre)
                                .Messages(c => c.Checked("Si").Unchecked("No"))
                                .HtmlAttributes(new { data_checked = "true" })
                                )
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="controlForm my-3">
                            @(Html.Kendo().TextBoxFor(t => t.operadorGrua)
                                .Label(label => label.Content("Operador de la grúa <b>(obligatorio)</b>:"))
                                .Placeholder("Escribe el operador de la grúa")
                                .HtmlAttributes(new { style = "width: 100%", required = "required" })
                                )
                        </div>
                    </div>
                </div>
            </form>
            <!-- Botones -->
            <div class="row my-4">
                <div class="col-12 col-md-6 mx-md-auto">
                    <div class="row justify-content-around">
                        <div class="col-auto btnOutline my-2 mx-auto mx-xl-2 p-0">
                            <button type="button" data-bs-dismiss="modal" aria-label="Close">
                                <h6 class="m-0 px-3"><b>Cerrar</b></h6>
                            </button>
                        </div>
                        <div class="col-auto btnOutline btnOutlinePrimary my-2 mx-auto mx-xl-2 p-0">
                            <div class="controlButton" onclick="enviarDatos()">
                                @(Html.Kendo().Button()
                                    .Name("AddFactor")
                                    .HtmlAttributes(new { @class = "btnPrimary px-3" })
                                    .Content("<h5 class=\"m-0\"><b>Guardar</b></h5>"))
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<script>
    function enviarDatos() {
        var validator = $("#datosEditGruaForm").kendoValidator().data('kendoValidator');
   
        validator.validate();
        if (validator.validate()) {
        
            var formDataEdit = new FormData($("#datosEditGruaForm")[0]);

            var abanderamientoValue = $("#abanderamientoSwitch").prop("checked") ? 1 : 0;
            var arrastreValue = $("#arrastreSwitch").prop("checked") ? 1 : 0;
            var salvamentoValue = $("#salvamentoSwitch").prop("checked") ? 1 : 0;

            formDataEdit.append("abanderamiento", abanderamientoValue);
            formDataEdit.append("arrastre", arrastreValue);
            formDataEdit.append("salvamento", salvamentoValue);
            formDataEdit.append("horaInicioInsertEdit", $("#horaInicioInsertEdit").data("kendoTimePicker").value());
            formDataEdit.append("horaArriboInsertEdit", $("#horaArriboInsertEdit").data("kendoTimePicker").value());
            formDataEdit.append("horaTerminoInsertEdit", $("#horaTerminoInsertEdit").data("kendoTimePicker").value());

         
            console.log("formDataEdit:", formDataEdit);
            showLoading();
            $.ajax({
                url: '/AsignacionGruas/ActualizarDatos2',
                type: 'POST',
                data: formDataEdit,
                processData: false,
                contentType: false,
                success: function (data) {
                    sitteg_success("Se ha actualizado la información");
                    $('#modalAgregarGrua').modal('hide');
                    $('#editarGruaModal').modal('hide');
                    var grid = $("#gridGruas").data("kendoGrid");
                    grid.dataSource.data(data);
                    grid.refresh();
                    hideLoading();
                },
                error: function (error) {
                    sitteg_warning("!Sucedió un error, inténtalo de nuevo más tarde...");
                    hideLoading();
                }
            });
        } else {
            sitteg_info('Debe llenar los campos requeridos');
            hideLoading();
            return;
        }
    }

    function updateDifference() {
        var fechaInicio = $("#fechaInicioInsertEdit").data("kendoDatePicker").value();
        var fechaFinal = $("#fechaFinalEdit").data("kendoDatePicker").value();
        var horaInicio = $("#horaInicioInsertEdit").data("kendoTimePicker").value();
        var horaFinal = $("#horaTerminoInsertEdit").data("kendoTimePicker").value();

        // Convertir las fechas y horas a objetos Date para calcular la diferencia
        var startDateTime = new Date(fechaInicio.getFullYear(), fechaInicio.getMonth(), fechaInicio.getDate(), horaInicio.getHours(), horaInicio.getMinutes());
        var endDateTime = new Date(fechaFinal.getFullYear(), fechaFinal.getMonth(), fechaFinal.getDate(), horaFinal.getHours(), horaFinal.getMinutes());

        // Calcular la diferencia en milisegundos
        var timeDifferenceMilliseconds = Math.abs(endDateTime - startDateTime);

        // Convertir la diferencia a minutos
        var timeDifferenceMinutes = Math.round(timeDifferenceMilliseconds / 60000);

        if (isNaN(timeDifferenceMinutes)) {
            timeDifferenceMinutes = 0;
        }

        $("#tiempoManiobrasInsertEdit").val(timeDifferenceMinutes);
    }

    // Llamar a la función cuando cambie alguna de las fechas o horas
    $("input[name='horaInicio'], input[name='horaTermino'], #fechaInicioInsertEdit, #fechaFinalEdit").on("change", function () {
        updateDifference();
    });

    // Inicializar la diferencia al cargar la página
    $(document).ready(function () {
        updateDifference();
    });


        function goBack() {

        $('#editarGruaModal').modal('hide');
        $('#ModalBodyEditarGrua').modal('');

    }
</script>

