@model CatHospitalesDTO
@{
    @inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;
    var listaIdsPermitidosJson = @HttpContextAccessor.HttpContext.Session.GetString("IdsPermitidos").ToString();
    var autorizaciones = @HttpContextAccessor.HttpContext.Session.GetString("Autorizaciones").ToString();
}

<script>
    $(document).ready(function () {
        var access = @listaIdsPermitidosJson;
        if (access != undefined && access != '') {
            if (!access.toString().includes(localStorage.getItem("menuId"))) {
                Swal.fire({
                    icon: "error",
                    title: "¡EL usuario no tiene acceso a esta opción!"
                });
                setTimeout(() => {
                    window.location.href = "/Principal";
                }, 200);
            }
        } else {
            Swal.fire({
                icon: "error",
                title: "¡EL usuario no tiene acceso a esta opción!"
            });
            setTimeout(() => {
                window.location.href = "/Principal";
            }, 200);
        }
    });

</script>
<div class="mainContainer bg-light">

    <section class="mx-md-3 mx-lg-4 mx-xl-5 bg-white boxShadow my-5 rounded">
        <div class="row align-items-center justify-content-between px-4 px-md-4 pt-3 pb-2">
            <div class="col-12 col-md-6 col-lg-5 col-xl-auto">
                <div class="row align-items-center justify-content-center justify-content-md-start">
                    <div class="col-auto">
                        <i class="icon-hospital h1 colorPrimary"></i>
                    </div>
                    <div class="col-auto my-3">
                        <h2 class="m-0 h3"><b>Catálogo de hospitales</b></h2>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-7 col-xl-auto">
                <div class="row">
                    <div class="col-auto btnOutline btnOutlinePrimary my-2 mx-auto mx-xl-2 p-0">
                        <button href="#" id="btnNuevoHoapital" onclick="mostrarModal()">
                            <h6 class="m-0 d-flex align-items-center"><i class="icon-addHospital h5 mb-0 me-2"></i><b>Agregar nuevo hospital</b></h6>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="bg-light py-1"></div>
            </div>
        </div>
        <form id="frm">
            <div class="row">
                <div class="col-12 col-md-4">
                    <div class="controlForm my-3">
                        <label>Entidad:</label>
                        @(Html.Kendo().DropDownListFor(m => m.idEntidad2).Filter(FilterType.Contains)
                            .BindTo((SelectList)ViewBag.Entidades)
                            .OptionLabel("- Todos -")
                            .Events(e => e.Change("Municipios_DropChange2"))
                            .HtmlAttributes(new { style = "width:100%;", Id = "idEntidad2" })
                            .Filter(FilterType.Contains)
                            )
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="controlForm my-3">
                        <label>Municipio <b>(obligatorio)</b>:</label>
                        <span>
                            @(Html.Kendo().DropDownListFor(t => t.idMunicipio2)
                                .DataTextField("Text")
                                .DataValueField("Value")
                                .OptionLabel("Selecciona un Municipio").Filter(FilterType.Contains)
                                .HtmlAttributes(new { style = "width:100%;", Id = "IdMunicipio2" })
                                @*                           .DataSource(source =>
                            {
                            source.Read(read =>
                            {
                            read.Action("Municipios_Drop", "CatHospitales");
                            });
                            })*@

                                )

                        </span>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="controlForm my-5">
                        <div class="controlButton">
                            <button class="btnPrimary" id="btnBuscar" type="button" onclick="submitSearch()">  <h5 class="m-0"><b>Buscar</b></h5></button>
                        </div>
                    </div>
                </div>


                <div class="col-12 mb-4 px-4 rounded gridCustom">
                    <div class="row justify-content-between mb-1 titleCustom">
                        <div class="col-12 col-md-auto mt-4 mb-2">
                            <h5 class="px-4"><b>Listado de hospitales</b></h5>
                            <h6 class="px-4 text-muted">Edita o elimina los hospitales.</h6>
                        </div>
                    </div>
                    <div id="tablaHospitales">
                        <partial name="_ListaHospitales" model="Model.HospitalesModel" />
                    </div>


                    <div class="modal fade modalCustom" id="agregarHospital" aria-labelledby="agregarHospitalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg boxShadow modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-body" id="ModalBodyaAgregarHospital">
                                </div>
                            </div>
                        </div>
                    </div>



                    <!-----------------------------------------------------------UPDATE--------------------------------------------------------------------------------------------->
                    <div class="modal fade modalCustom" id="editarHospital" aria-labelledby="editarHospitalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg boxShadow modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-body" id="ModalBodEditarHospital">
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-----------------------------------------------------------DELETE--------------------------------------------------------------------------------------------->
                    <div class="modal fade modalCustom" id="eliminarHospital" aria-labelledby="eliminarHospitalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg boxShadow modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-body" id="ModalBodyEliminarHospital">
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </form>
    </section>

</div>


<script>

    function mostrarModal() {
        $.ajax({
            url: '@Url.Action("AgregarHospitalModal")',
            type: 'POST',
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            success: function (data) {
                $('#ModalBodyaAgregarHospital').html(data);
                $('#agregarHospital').modal('show');
            }
        });
    }


    function Municipios_DropChange2() {
        var idEntidad = $("#idEntidad2").data("kendoDropDownList").value();
        showLoading();
        $.ajax({
            url: "/CatHospitales/Municipios_DropChange",
            type: "POST",
            data: { idEntidad: idEntidad },
            success: function (data) {
                var IdMunicipio2 = $("#IdMunicipio2").data("kendoDropDownList");
                //console.log(data);
                IdMunicipio2.dataSource.data(data);
                hideLoading();
                //$("#IdMunicipio2").trigger("onFinishLoading");
            },
            error: function (xhr, status, error) {
                hideLoading();
            }
        });
    }

    function Municipios_DropChange() {
        var idEntidad = $("#idEntidad").data("kendoDropDownList").value();
        showLoading();
        $.ajax({
            url: "/CatHospitales/Municipios_DropChange",
            type: "POST",
            data: { idEntidad: idEntidad },
            success: function (data) {
                var IdMunicipio = $("#IdMunicipio").data("kendoDropDownList");
                console.log(data);
                IdMunicipio.dataSource.data(data);
                hideLoading();
                $("#IdMunicipio").trigger("onFinishLoading");
            },
            error: function (xhr, status, error) {
                hideLoading();
            }
        });
    }

    function submitSearch() {
        var grid = $("#gridCatHospitales").data("kendoGrid").dataSource;
        grid.read();

        ////var año1 = $("#año1").val()
        ////var año2 = document.getElementById("año2").value

        ////if (año1 === "" && año2 === "") {

        ////    sitteg_warning("Debe ingresar años de busqueda.");
        ////    return
        ////}

        //var Mydata = $("#frm").serialize();
        ////console.log(Mydata);
        //showLoading();
        //$.ajax({
        //    url: '@Url.Action("BusquedaHospitales")',
        //    type: 'POST',
        //    data: Mydata,
        //    success: function (result) {
        //        $("#tablaHospitales").html(result);
        //        console.log(result);
        //        hideLoading();
        //    }, error: function () {
        //        sitteg_warning("Ocurrio un error al procesar su solicitud.");
        //        hideLoading();
        //    }
        //});
    }


</script>