@model PadronDepositosGruasBusquedaModel

<head>
    <script>
        function submitSearch() {

            var Mydata = $("#frmSearch").serialize();
            //console.log(Mydata);
            $.ajax({
                url: '@Url.Action("ajax_BuscarPadron")',
                type: 'POST',
                data: Mydata,
                success: function (result) {
                    $("#listadoPadron").html(result);
                }
            });
        }

    </script>
</head>
<div class="mainContainer bg-light">
    <section class="mx-md-3 mx-lg-4 mx-xl-5 bg-white boxShadow my-5 rounded">
        <div class="row align-items-center justify-content-between px-4 px-md-4 pt-3 pb-2">
            <div class="col-12 col-md-6 col-lg-5 col-xl-auto">
                <div class="row align-items-center justify-content-center justify-content-md-start">
                    <div class="col-auto">
                        <i class="icon-edit-car h1 colorPrimary"></i>
                    </div>
                    <div class="col-auto my-3">
                        <h2 class="m-0 h3"><b>Padrón de depósitos y grúas</b></h2>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-12">
                <div class="bg-light py-1"></div>
            </div>
        </div>
        <div class="col-12 col-md-auto mt-4 mb-2">
            <h5 class="px-4"><b>Búsqueda de Padrón</b></h5>
            <h6 class="px-4 text-muted">Realiza una búsqueda del padrón de depósitos y grúas.</h6>
        </div>
        <form id="frmSearch" class="row px-4 mb-4 align-items-end" method="post">

            <div class="col-12 col-md-6 col-lg-4">
                <div class="controlForm mb-3">
                    <label>Municipios:</label>
                    <span>
                        @(Html.Kendo().DropDownListFor(d => d.IdMunicipio)
                            .DataTextField("Text")
                            .DataValueField("Value")
                            .OptionLabel("Seleccione Municipio...")
                            .HtmlAttributes(new { style = "width:100%;" })
                            .Filter(FilterType.Contains)
                            .DataSource(source =>
                            {
                                source.Read(read =>
                                {
                                    read.Action("Municipios_Read", "PadronDepositosGruas");
                                });
                            }))
                    </span>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="controlForm my-3">
                    <label>Concesionario:</label>
                    @(Html.Kendo().DropDownListFor(d => d.IdConcesionario)
                        .DataTextField("Text")
                        .DataValueField("Value")
                        .OptionLabel("Seleccione Concesionario...")
                        .HtmlAttributes(new { style = "width:100%;" })
                        .Filter(FilterType.Contains)
                        .DataSource(source =>
                        {
                            source.Read(read =>
                            {
                                read.Action("Concesionarios_Read", "PadronDepositosGruas");
                            });
                        })
                        )

                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
                <div class="controlForm my-3">
                    <label>Depósitos:</label>
                    @(Html.Kendo().DropDownListFor(d => d.IdPension)
                        .DataTextField("Text")
                        .DataValueField("Value")
                        .OptionLabel("Seleccione Depósito...")
                        .HtmlAttributes(new { style = "width:100%;" })
                        .Filter(FilterType.Contains)
                        .DataSource(source =>
                        {
                            source.Read(read =>
                            {
                                read.Action("Deposito_Read", "PadronDepositosGruas");
                            });
                        })
                        )

                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
                <div class="controlForm my-3">
                    <label>Tipo de grúa:</label>
                    @(Html.Kendo().DropDownListFor(d => d.IdTipoGrua)
                        .DataTextField("Text")
                        .DataValueField("Value")
                        .OptionLabel("Seleccione tipo...")
                        .HtmlAttributes(new { style = "width:100%;" })
                        .Filter(FilterType.Contains)
                        .DataSource(source =>
                        {
                            source.Read(read =>
                            {
                                read.Action("TipoGrua_Read", "PadronDepositosGruas");
                            });
                        })
                        )

                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3">
                <div class="controlButton my-3">
                    <button class="btnPrimary" type="button" onclick="submitSearch()">  <h5 class="m-0"><b>Buscar</b></h5></button>

                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-5">
              
            </div>

        </form>

        <div id="listadoPadron">
            <partial name="_ListadoPadron" model="Model.ListPadronDepositosGruas" />
        </div>
    </section>
</div>





