@model ModalEnvioModel

<div class="modal-dialog modal-xl boxShadow modal-dialog-centered">
    <div class="modal-content">

        <section class=" bg-white rounded">
            <div class="row align-items-center justify-content-between px-4 px-md-4 pt-3 pb-2">
                <div class="col-auto pe-0">
                    <div class="row align-items-center justify-content-center justify-content-md-start">
                        <div class="col-auto pe-0">
                            <i class="icon-addCortesia h1 colorPrimary"></i>
                        </div>
                        <div class="col-auto my-3">
                            <h2 class="m-0 h3"><b>Agregar cortesías</b></h2>
                        </div>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="row">
                        <div class="col-auto my-3">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="bg-light py-1"></div>
                </div>

            </div>
            <div class="row">
                <div class="col-12 my-4">
                    <h5 class="px-4"><b>Envío de infracciones</b></h5>
                    <h6 class="px-4 text-muted">Agrega datos de envío.</h6>
                </div>
            </div>
            <form id="dataEnvioInfraccionForm" class="row px-4 mb-4 align-items-end justify-content-center">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="controlForm my-3">
                        <input type="hidden" id="SelectedIds" name="idInfraccionSeleccionados" value="@string.Join(",", Model.SelectedIds)" />
                        @(Html.Kendo().TextBoxFor(m => m.Oficio)
                            .Label(l => l.Content("No. de oficio donde se envío <b>(obligatorio)</b>:"))
                            .Placeholder("Ingresa el número del oficio")
                            .HtmlAttributes(new { style = "width: 100%", id = "oficio" })
                            )

                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-3">
                    <div class="controlForm my-3">
                        <label>Fecha de envío <b>(obligatorio)</b>:</label>
                        <span>
                           @(Html.Kendo().DatePickerFor(m => m.FechaEnvio)
                            .Label(l => l.Content("Fecha:"))
                                .HtmlAttributes(new { style = "width: 100%", title = "please enter date", id = "fechaEnvio" })
)

                        </span>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="controlForm my-3">
                        <label>Lugar a donde se envía <b>(obligatorio):</b></label>
                        <span>
                            @(Html.Kendo().DropDownListFor(m => m.IdLugarEnvio)
                                .DataTextField("Text")
                                .DataValueField("Value")
                                .OptionLabel("Selecciona una Oficina")
                                .DataSource(source =>
                                {
                                    source.Read(read =>
                                    {
                                        read.Action("OficinasRenta_Drop", "EnvioInfracciones");
                                    });
                                })
                                .HtmlAttributes(new { style = "width:100%;", id = "idLugarEnvio" })
                                )
                        </span>
                    </div>
                </div>

            </form>
            <div class="row my-4">
                <div class="col-12 col-md-6 mx-md-auto">
                    <div class="row justify-content-around">
                        <div class="col-auto btnOutline my-2 mx-auto mx-xl-2 p-0">
                            <button type="button" data-bs-dismiss="modal" aria-label="Close">
                                <h6 class="m-0 px-3"><b>Cerrar</b></h6>
                            </button>
                        </div>
                        <div class="col-auto btnOutline btnOutlinePrimary my-2 mx-auto mx-xl-2 p-0">
                            <div class="controlButton" onclick="enviarInfracciones()">
                                @(Html.Kendo().Button()
                                    .Name("AddCortesia")
                                    .HtmlAttributes(new { @class = "btnPrimary px-3" })
                                    .Content("<h5 class=\"m-0\"><b>Enviar</b></h5>"))
                            </div>
                        </div>
                    </div>
                </div>
             </div>
         </section>
       </div>
  </div>
  <script>
    function enviarInfracciones() {
        var formSerialized = $("#dataEnvioInfraccionForm").serialize();
        var selectedIds = idInfraccionesSeleccionados; // idInfraccionesSeleccionados es el array de IDs seleccionados
        var oficioValue = $("#oficio").val(); // Obtén el valor del campo "Oficio" del formulario
        var fechaEnvioValue = $("#fechaEnvio").val(); // Obtén el valor del campo "FechaEnvio" del formulario
        var idLugarEnvioValue = $("#idLugarEnvio").val(); // Obtén el valor del campo "IdLugarEnvio" del formulario

        var data = {
            model: {
                SelectedIds: selectedIds,
                Oficio: oficioValue,
                FechaEnvio: fechaEnvioValue,
                IdLugarEnvio: idLugarEnvioValue,
                // Agrega otras propiedades del modelo según sea necesario
            },
            form: formSerialized
        };

        $.ajax({
            url: "/EnvioInfracciones/ajax_GuardarInfraccionesEnviadas",
            type: 'POST',
            data: data,
            success: function (result) {
                if (result.success) {
                    sitteg_success('Infracciones enviadas correctamente');
                    $('#enviarInfraccionesModal').modal('hide');

                    if (result.processedInfraccionIds && result.processedInfraccionIds.length > 0) {
                        var processedIds = result.processedInfraccionIds.join(', ');
                        alert('Las siguientes infracciones fueron procesadas exitosamente: ' + processedIds);
                    }
                } else {
                    sitteg_warning('Uno o más registros no pudieron ser enviados. Inténtalo nuevamente.');
                }
            },
            error: function (error) {
                sitteg_warning('Lo sentimos, ha ocurrido un error.');
            }
        });


</script>
